src/vbg.net/console/projects/Backoffice/SIGePro.Manager/Service References/VerificaPagamentiLivorno/ws_dia1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.comune.livorno.it/aida" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://www.comune.livorno.it/aida" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.comune.livorno.it/aida">
      <s:element name="wm_dia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codiceDia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wm_diaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wm_diaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wm_diaSoapIn">
    <wsdl:part name="parameters" element="tns:wm_dia" />
  </wsdl:message>
  <wsdl:message name="wm_diaSoapOut">
    <wsdl:part name="parameters" element="tns:wm_diaResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_diaSoap">
    <wsdl:operation name="wm_dia">
      <wsdl:input message="tns:wm_diaSoapIn" />
      <wsdl:output message="tns:wm_diaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_diaSoap" type="tns:ws_diaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wm_dia">
      <soap:operation soapAction="http://www.comune.livorno.it/aida/wm_dia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_dia">
    <wsdl:port name="ws_diaSoap" binding="tns:ws_diaSoap">
      <soap:address location="http://192.168.1.16:8080/axis2/services/ws_dia/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>