src/VBG.net/projects/Backoffice/SIGePro.Manager/Service References/RegoleService/regole.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://gruppoinit.it/sigepro/definitions/regole" xmlns:sch="http://gruppoinit.it/sigepro/schemas/messages/regole" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:p="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gruppoinit.it/sigepro/definitions/regole" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <p:schema xmlns="http://www.w3.org/2001/XMLSchema">
      <p:import schemaLocation="http://vmdevdesk03:8080/backend/services/regole?xsd=regole.xsd" namespace="http://gruppoinit.it/sigepro/schemas/messages/regole" />
    </p:schema>
  </wsdl:types>
  <wsdl:message name="GetRegolaResponse">
    <wsdl:part name="GetRegolaResponse" element="sch:GetRegolaResponse" />
  </wsdl:message>
  <wsdl:message name="GetParametroRegolaResponse">
    <wsdl:part name="GetParametroRegolaResponse" element="sch:GetParametroRegolaResponse" />
  </wsdl:message>
  <wsdl:message name="GetParametroRegolaRequest">
    <wsdl:part name="GetParametroRegolaRequest" element="sch:GetParametroRegolaRequest" />
  </wsdl:message>
  <wsdl:message name="GetRegolaRequest">
    <wsdl:part name="GetRegolaRequest" element="sch:GetRegolaRequest" />
  </wsdl:message>
  <wsdl:portType name="Regole">
    <wsdl:operation name="GetRegola">
      <wsdl:input name="GetRegolaRequest" message="tns:GetRegolaRequest" />
      <wsdl:output name="GetRegolaResponse" message="tns:GetRegolaResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetParametroRegola">
      <wsdl:input name="GetParametroRegolaRequest" message="tns:GetParametroRegolaRequest" />
      <wsdl:output name="GetParametroRegolaResponse" message="tns:GetParametroRegolaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegoleWs" type="tns:Regole">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRegola">
      <soap:operation soapAction="GetRegola" />
      <wsdl:input name="GetRegolaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRegolaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParametroRegola">
      <soap:operation soapAction="GetParametroRegola" />
      <wsdl:input name="GetParametroRegolaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetParametroRegolaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegoleWsService">
    <wsdl:port name="RegoleWs" binding="tns:RegoleWs">
      <soap:address location="http://vmdevdesk03:8080/backend/services/regole" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>