src/vbg.net/areariservata/projects/Backoffice/SIGePro.Manager/Service References/AdrierService/RicercaImprese.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://adrigate.lepida.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://adrigate.lepida.it" targetNamespace="http://adrigate.lepida.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="DettaglioCompletoImpresaRequest">
    <wsdl:part name="sgl_prv_sede" type="xsd:string" />
    <wsdl:part name="n_rea_sede" type="xsd:string" />
    <wsdl:part name="switch_control" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNReaResponse">
    <wsdl:part name="RicercaImpreseNReaReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioImpresaNReaRequest">
    <wsdl:part name="sgl_prv_sede" type="xsd:string" />
    <wsdl:part name="n_rea_sede" type="xsd:string" />
    <wsdl:part name="switch_control" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioRidottoImpresaRequest">
    <wsdl:part name="sgl_prv_sede" type="xsd:string" />
    <wsdl:part name="n_rea_sede" type="xsd:string" />
    <wsdl:part name="switch_control" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioPersoneConCaricaRequest">
    <wsdl:part name="fk_pri_cciaa_regz" type="xsd:string" />
    <wsdl:part name="fk_pri_n_rea" type="xsd:string" />
    <wsdl:part name="switch_control" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNonCessatePerDenominazioneRequest">
    <wsdl:part name="denominazione_sede" type="xsd:string" />
    <wsdl:part name="switch_control" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioRidottoImpresaResponse">
    <wsdl:part name="DettaglioRidottoImpresaReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNonCessatePerCodiceFiscaleResponse">
    <wsdl:part name="RicercaImpreseNonCessatePerCodiceFiscaleReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerDenominazioneResponse">
    <wsdl:part name="RicercaImpresePerDenominazioneReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerDenominazioneRequest">
    <wsdl:part name="denominazione_sede" type="xsd:string" />
    <wsdl:part name="switch_control" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerCodiceFiscaleRequest">
    <wsdl:part name="codice_fiscale" type="xsd:string" />
    <wsdl:part name="switch_control" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerCodiceFiscaleResponse">
    <wsdl:part name="RicercaImpresePerCodiceFiscaleReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNReaRequest">
    <wsdl:part name="sgl_prv_sede" type="xsd:string" />
    <wsdl:part name="n_rea_sede" type="xsd:string" />
    <wsdl:part name="switch_control" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioImpresaNReaResponse">
    <wsdl:part name="DettaglioImpresaNReaReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNonCessatePerDenominazioneResponse">
    <wsdl:part name="RicercaImpreseNonCessatePerDenominazioneReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioPersoneConCaricaResponse">
    <wsdl:part name="DettaglioPersoneConCaricaReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioCompletoImpresaResponse">
    <wsdl:part name="DettaglioCompletoImpresaReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNonCessatePerCodiceFiscaleRequest">
    <wsdl:part name="codice_fiscale" type="xsd:string" />
    <wsdl:part name="switch_control" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="RicercaImprese">
    <wsdl:operation name="DettaglioPersoneConCarica" parameterOrder="fk_pri_cciaa_regz fk_pri_n_rea switch_control user password">
      <wsdl:input name="DettaglioPersoneConCaricaRequest" message="impl:DettaglioPersoneConCaricaRequest" />
      <wsdl:output name="DettaglioPersoneConCaricaResponse" message="impl:DettaglioPersoneConCaricaResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerCodiceFiscale" parameterOrder="codice_fiscale switch_control user password">
      <wsdl:input name="RicercaImpresePerCodiceFiscaleRequest" message="impl:RicercaImpresePerCodiceFiscaleRequest" />
      <wsdl:output name="RicercaImpresePerCodiceFiscaleResponse" message="impl:RicercaImpresePerCodiceFiscaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerDenominazione" parameterOrder="denominazione_sede switch_control user password">
      <wsdl:input name="RicercaImpresePerDenominazioneRequest" message="impl:RicercaImpresePerDenominazioneRequest" />
      <wsdl:output name="RicercaImpresePerDenominazioneResponse" message="impl:RicercaImpresePerDenominazioneResponse" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioImpresaNRea" parameterOrder="sgl_prv_sede n_rea_sede switch_control user password">
      <wsdl:input name="DettaglioImpresaNReaRequest" message="impl:DettaglioImpresaNReaRequest" />
      <wsdl:output name="DettaglioImpresaNReaResponse" message="impl:DettaglioImpresaNReaResponse" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioRidottoImpresa" parameterOrder="sgl_prv_sede n_rea_sede switch_control user password">
      <wsdl:input name="DettaglioRidottoImpresaRequest" message="impl:DettaglioRidottoImpresaRequest" />
      <wsdl:output name="DettaglioRidottoImpresaResponse" message="impl:DettaglioRidottoImpresaResponse" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioCompletoImpresa" parameterOrder="sgl_prv_sede n_rea_sede switch_control user password">
      <wsdl:input name="DettaglioCompletoImpresaRequest" message="impl:DettaglioCompletoImpresaRequest" />
      <wsdl:output name="DettaglioCompletoImpresaResponse" message="impl:DettaglioCompletoImpresaResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaImpreseNRea" parameterOrder="sgl_prv_sede n_rea_sede switch_control user password">
      <wsdl:input name="RicercaImpreseNReaRequest" message="impl:RicercaImpreseNReaRequest" />
      <wsdl:output name="RicercaImpreseNReaResponse" message="impl:RicercaImpreseNReaResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaImpreseNonCessatePerCodiceFiscale" parameterOrder="codice_fiscale switch_control user password">
      <wsdl:input name="RicercaImpreseNonCessatePerCodiceFiscaleRequest" message="impl:RicercaImpreseNonCessatePerCodiceFiscaleRequest" />
      <wsdl:output name="RicercaImpreseNonCessatePerCodiceFiscaleResponse" message="impl:RicercaImpreseNonCessatePerCodiceFiscaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaImpreseNonCessatePerDenominazione" parameterOrder="denominazione_sede switch_control user password">
      <wsdl:input name="RicercaImpreseNonCessatePerDenominazioneRequest" message="impl:RicercaImpreseNonCessatePerDenominazioneRequest" />
      <wsdl:output name="RicercaImpreseNonCessatePerDenominazioneResponse" message="impl:RicercaImpreseNonCessatePerDenominazioneResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RicercaImpreseSoapBinding" type="impl:RicercaImprese">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="DettaglioPersoneConCarica">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioPersoneConCaricaRequest">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioPersoneConCaricaResponse">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerCodiceFiscale">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpresePerCodiceFiscaleRequest">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpresePerCodiceFiscaleResponse">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerDenominazione">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpresePerDenominazioneRequest">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpresePerDenominazioneResponse">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioImpresaNRea">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioImpresaNReaRequest">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioImpresaNReaResponse">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioRidottoImpresa">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioRidottoImpresaRequest">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioRidottoImpresaResponse">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioCompletoImpresa">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioCompletoImpresaRequest">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioCompletoImpresaResponse">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaImpreseNRea">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpreseNReaRequest">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpreseNReaResponse">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaImpreseNonCessatePerCodiceFiscale">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpreseNonCessatePerCodiceFiscaleRequest">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpreseNonCessatePerCodiceFiscaleResponse">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaImpreseNonCessatePerDenominazione">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpreseNonCessatePerDenominazioneRequest">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpreseNonCessatePerDenominazioneResponse">
        <wsdlsoap:body use="encoded" namespace="http://adrigate.lepida.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RicercaImpreseService">
    <wsdl:port name="RicercaImprese" binding="impl:RicercaImpreseSoapBinding">
      <wsdlsoap:address location="https://adrier.lepida.it/AdriGate/services/RicercaImprese" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>