src/vbg.net/console/projects/Backoffice/SIGePro.SIT/Service References/SitBariReferences.RicercaCivicoService/ricercacivicoep_schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://toponomastica.project.sinergis/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://toponomastica.project.sinergis/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eseguiRichiesta" type="tns:eseguiRichiesta" />
  <xs:element name="eseguiRichiestaResponse" type="tns:eseguiRichiestaResponse" />
  <xs:complexType name="eseguiRichiesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eseguiRichiestaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception" />
</xs:schema>