src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloItCityService/Protocollo1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:itcity.it:protocollo" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:itcity.it:protocollo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:itcity.it:protocollo/Imports">
      <xsd:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd0" namespace="urn:itcity.it:protocollo" />
      <xsd:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" />
      <xsd:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto" />
      <xsd:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" />
      <xsd:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Protocollazione_Protocolla_InputMessage">
    <wsdl:part name="parameters" element="tns:Protocolla" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_Protocolla_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProtocollaResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_ProtocollaAllegati_InputMessage">
    <wsdl:part name="parameters" element="tns:ProtocollaAllegati" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_ProtocollaAllegati_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProtocollaAllegatiResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_CreaFascicoloOSottofascicolo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaFascicoloOSottofascicolo" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_CreaFascicoloOSottofascicolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaFascicoloOSottofascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_RicercaProtocollo_InputMessage">
    <wsdl:part name="parameters" element="tns:RicercaProtocollo" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_RicercaProtocollo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RicercaProtocolloResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_RicercaFascicolo_InputMessage">
    <wsdl:part name="parameters" element="tns:RicercaFascicolo" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_RicercaFascicolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RicercaFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_RicercaFascicoloByStruttura_InputMessage">
    <wsdl:part name="parameters" element="tns:RicercaFascicoloByStruttura" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_RicercaFascicoloByStruttura_OutputMessage">
    <wsdl:part name="parameters" element="tns:RicercaFascicoloByStrutturaResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_RicercaUO_InputMessage">
    <wsdl:part name="parameters" element="tns:RicercaUO" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_RicercaUO_OutputMessage">
    <wsdl:part name="parameters" element="tns:RicercaUOResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_Completamento_InputMessage">
    <wsdl:part name="parameters" element="tns:Completamento" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_Completamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompletamentoResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_CreaInviaCopia_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaInviaCopia" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_CreaInviaCopia_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaInviaCopiaResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_Ambiente_InputMessage">
    <wsdl:part name="parameters" element="tns:Ambiente" />
  </wsdl:message>
  <wsdl:message name="Protocollazione_Ambiente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AmbienteResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="Protocollazione">
    <wsdl:operation name="Protocolla">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/Protocolla" message="tns:Protocollazione_Protocolla_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/ProtocollaResponse" message="tns:Protocollazione_Protocolla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProtocollaAllegati">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/ProtocollaAllegati" message="tns:Protocollazione_ProtocollaAllegati_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/ProtocollaAllegatiResponse" message="tns:Protocollazione_ProtocollaAllegati_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaFascicoloOSottofascicolo">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/CreaFascicoloOSottofascicolo" message="tns:Protocollazione_CreaFascicoloOSottofascicolo_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/CreaFascicoloOSottofascicoloResponse" message="tns:Protocollazione_CreaFascicoloOSottofascicolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RicercaProtocollo">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/RicercaProtocollo" message="tns:Protocollazione_RicercaProtocollo_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/RicercaProtocolloResponse" message="tns:Protocollazione_RicercaProtocollo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RicercaFascicolo">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/RicercaFascicolo" message="tns:Protocollazione_RicercaFascicolo_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/RicercaFascicoloResponse" message="tns:Protocollazione_RicercaFascicolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RicercaFascicoloByStruttura">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/RicercaFascicoloByStruttura" message="tns:Protocollazione_RicercaFascicoloByStruttura_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/RicercaFascicoloByStrutturaResponse" message="tns:Protocollazione_RicercaFascicoloByStruttura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RicercaUO">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/RicercaUO" message="tns:Protocollazione_RicercaUO_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/RicercaUOResponse" message="tns:Protocollazione_RicercaUO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Completamento">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/Completamento" message="tns:Protocollazione_Completamento_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/CompletamentoResponse" message="tns:Protocollazione_Completamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaInviaCopia">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/CreaInviaCopia" message="tns:Protocollazione_CreaInviaCopia_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/CreaInviaCopiaResponse" message="tns:Protocollazione_CreaInviaCopia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/Echo" message="tns:Protocollazione_Echo_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/EchoResponse" message="tns:Protocollazione_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ambiente">
      <wsdl:input wsaw:Action="urn:itcity.it:protocollo/Protocollazione/Ambiente" message="tns:Protocollazione_Ambiente_InputMessage" />
      <wsdl:output wsaw:Action="urn:itcity.it:protocollo/Protocollazione/AmbienteResponse" message="tns:Protocollazione_Ambiente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>