src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloItCityService/Protocollo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto" />
  <xs:complexType name="IdentificativoUtente">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUnitaOperativa" type="xs:int" />
      <xs:element minOccurs="0" name="IdUtente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentificativoUtente" nillable="true" type="tns:IdentificativoUtente" />
  <xs:complexType name="CoordinateArchivio">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChiaveArchivioDwh" nillable="true" type="tns:ChiaveArchivioDwh" />
      <xs:element minOccurs="0" name="ChiaveFascicolo" nillable="true" type="tns:ChiaveFascicolo" />
      <xs:element minOccurs="0" name="FlagFascicolazione" type="tns:FlagFascicolazione" />
      <xs:element minOccurs="0" name="IdFascicolo" type="xs:int" />
      <xs:element minOccurs="0" name="IdIndice" type="xs:int" />
      <xs:element minOccurs="0" name="IdTitolazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSottofascicolo" type="xs:int" />
      <xs:element minOccurs="0" name="OggettoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OggettoFascicolazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SottotipoLogico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoFisico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoLogico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRepertorio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoordinateArchivio" nillable="true" type="tns:CoordinateArchivio" />
  <xs:complexType name="ChiaveArchivioDwh">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodiceProcedimento" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipologiaProcedimento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChiaveArchivioDwh" nillable="true" type="tns:ChiaveArchivioDwh" />
  <xs:complexType name="ChiaveFascicolo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnoFascicolo" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroFascicolo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChiaveFascicolo" nillable="true" type="tns:ChiaveFascicolo" />
  <xs:simpleType name="FlagFascicolazione">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FlagFascicolazione" nillable="true" type="tns:FlagFascicolazione" />
  <xs:complexType name="RecapitoInterno">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChiaveComposta" nillable="true" type="tns:RecapitoInterno.ChiaveAlternativa" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUnitaOperativa" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecapitoInterno" nillable="true" type="tns:RecapitoInterno" />
  <xs:complexType name="RecapitoInterno.ChiaveAlternativa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Postazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Servizio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrutturaOperativa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ufficio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecapitoInterno.ChiaveAlternativa" nillable="true" type="tns:RecapitoInterno.ChiaveAlternativa" />
  <xs:complexType name="Anagrafica">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodiceFiscalePartitaIva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RagioneSociale" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anagrafica" nillable="true" type="tns:Anagrafica" />
  <xs:complexType name="ChiaveAnagraficaDwh">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodInd" type="xs:int" />
      <xs:element minOccurs="0" name="Progressivo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChiaveAnagraficaDwh" nillable="true" type="tns:ChiaveAnagraficaDwh" />
  <xs:complexType name="Indirizzo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cap" type="xs:int" />
      <xs:element minOccurs="0" name="Civico" type="xs:int" />
      <xs:element minOccurs="0" name="Comune" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Esponente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Indirizzo" nillable="true" type="tns:Indirizzo" />
  <xs:complexType name="ArrayOfDestinatarioInterno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinatarioInterno" nillable="true" type="tns:DestinatarioInterno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestinatarioInterno" nillable="true" type="tns:ArrayOfDestinatarioInterno" />
  <xs:complexType name="DestinatarioInterno">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnoFacicolo" type="xs:int" />
      <xs:element minOccurs="0" name="CopiaConoscenza" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdIndice" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroFascicolo" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroSottoFascicolo" type="xs:int" />
      <xs:element minOccurs="0" name="Originale" type="xs:boolean" />
      <xs:element minOccurs="0" name="Recapito" nillable="true" type="tns:RecapitoInterno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DestinatarioInterno" nillable="true" type="tns:DestinatarioInterno" />
  <xs:complexType name="ArrayOfDestinatarioEsterno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinatarioEsterno" nillable="true" type="tns:DestinatarioEsterno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestinatarioEsterno" nillable="true" type="tns:ArrayOfDestinatarioEsterno" />
  <xs:complexType name="DestinatarioEsterno">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto" base="q1:RecapitoEsterno">
        <xs:sequence>
          <xs:element minOccurs="0" name="Originale" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DestinatarioEsterno" nillable="true" type="tns:DestinatarioEsterno" />
  <xs:complexType name="ArrayOfRecapitoInterno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecapitoInterno" nillable="true" type="tns:RecapitoInterno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecapitoInterno" nillable="true" type="tns:ArrayOfRecapitoInterno" />
</xs:schema>