src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloItCityService/Protocollo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:itcity.it:protocollo" elementFormDefault="qualified" targetNamespace="urn:itcity.it:protocollo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" />
  <xs:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto" />
  <xs:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" />
  <xs:import schemaLocation="http://webservicestesthttp.comune.parma.it/WSPROTOCOLLAZIONE/svc/Protocollo.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Protocolla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="idutente" nillable="true" type="q1:IdentificativoUtente" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="coordinate" nillable="true" type="q2:CoordinateArchivio" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="mittenteInterno" nillable="true" type="q3:RecapitoInterno" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto" minOccurs="0" name="mittentiEsterni" nillable="true" type="q4:ArrayOfRecapitoEsterno" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="destinatariInterni" nillable="true" type="q5:ArrayOfDestinatarioInterno" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="destinatariEsterni" nillable="true" type="q6:ArrayOfDestinatarioEsterno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtocollaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" minOccurs="0" name="ProtocollaResult" nillable="true" type="q7:ProtocolloOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtocollaAllegati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="idutente" nillable="true" type="q8:IdentificativoUtente" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="coordinate" nillable="true" type="q9:CoordinateArchivio" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="mittenteInterno" nillable="true" type="q10:RecapitoInterno" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto" minOccurs="0" name="mittentiEsterni" nillable="true" type="q11:ArrayOfRecapitoEsterno" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="destinatariInterni" nillable="true" type="q12:ArrayOfDestinatarioInterno" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="destinatariEsterni" nillable="true" type="q13:ArrayOfDestinatarioEsterno" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto" minOccurs="0" name="fascicoloDiRiferimento" nillable="true" type="q14:FascicoloDiRiferimento" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto" minOccurs="0" name="allegati" nillable="true" type="q15:ArrayOfAllegato" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="files" nillable="true" type="q16:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtocollaAllegatiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" minOccurs="0" name="ProtocollaAllegatiResult" nillable="true" type="q17:ProtocolloOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaFascicoloOSottofascicolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="idutente" nillable="true" type="q18:IdentificativoUtente" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="coordinate" nillable="true" type="q19:CoordinateArchivio" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="assegnatario" nillable="true" type="q20:IdentificativoUtente" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto" minOccurs="0" name="fascicoloDiRiferimento" nillable="true" type="q21:FascicoloDiRiferimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaFascicoloOSottofascicoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" minOccurs="0" name="CreaFascicoloOSottofascicoloResult" nillable="true" type="q22:RicercaFascicoloOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaProtocollo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="idutente" nillable="true" type="q23:IdentificativoUtente" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="protocolloDa" type="xs:int" />
        <xs:element minOccurs="0" name="protocolloA" type="xs:int" />
        <xs:element minOccurs="0" name="sigla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaProtocolloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" minOccurs="0" name="RicercaProtocolloResult" nillable="true" type="q24:RicercaProtocolloOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaFascicolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="idutente" nillable="true" type="q25:IdentificativoUtente" />
        <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sottoclasse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anno" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="numeroFascicolo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="numeroSottofascicolo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="escludiChiusi" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaFascicoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" minOccurs="0" name="RicercaFascicoloResult" nillable="true" type="q26:RicercaFascicoloOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaFascicoloByStruttura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="idutente" nillable="true" type="q27:IdentificativoUtente" />
        <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sottoclasse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anno" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="numeroFascicolo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="numeroSottofascicolo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="escludiChiusi" type="xs:boolean" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="UOPresso" nillable="true" type="q28:RecapitoInterno" />
        <xs:element minOccurs="0" name="includiSottoUO" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaFascicoloByStrutturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" minOccurs="0" name="RicercaFascicoloByStrutturaResult" nillable="true" type="q29:RicercaFascicoloOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaUO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="idutente" nillable="true" type="q30:IdentificativoUtente" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="UO" nillable="true" type="q31:RecapitoInterno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaUOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" minOccurs="0" name="RicercaUOResult" nillable="true" type="q32:RicercaUOOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Completamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="idutente" nillable="true" type="q33:IdentificativoUtente" />
        <xs:element minOccurs="0" name="idDocumento" type="xs:int" />
        <xs:element minOccurs="0" name="numCopia" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idIndiceNew" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idFascicoloNew" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="numSottofascicoloNew" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idUODest" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="noteInvio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompletamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" minOccurs="0" name="CompletamentoResult" nillable="true" type="q34:BaseOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaInviaCopia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="idutente" nillable="true" type="q35:IdentificativoUtente" />
        <xs:element minOccurs="0" name="idDocumento" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="protocollo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="annoProtocollo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="sigla" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="coordinate" nillable="true" type="q36:CoordinateArchivio" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/protocollo.shared.contract.dto" minOccurs="0" name="assegnatario" nillable="true" type="q37:IdentificativoUtente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaInviaCopiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/protocollo.service.contract.dto.output" minOccurs="0" name="CreaInviaCopiaResult" nillable="true" type="q38:RicercaProtocolloOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="echo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ambiente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AmbienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AmbienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>