src/vbg.net/console/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/StcService/stc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sch1="http://sigepro.init.it/rte/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sigepro.init.it/rte/definitions" xmlns:sch0="http://sigepro.init.it/rte" targetNamespace="http://sigepro.init.it/rte/definitions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema xmlns:tns="http://sigepro.init.it/rte" xmlns:types="http://sigepro.init.it/rte/types" xmlns:sch1="http://sigepro.init.it/rte/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sigepro.init.it/rte/elements" xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://devel9:8080/ibcstc/services/stc?xsd=stc.xsd" namespace="http://sigepro.init.it/rte" />
    </schema>
  </wsdl:types>
  <wsdl:message name="RichiestaPraticheListaResponse">
    <wsdl:part name="RichiestaPraticheListaResponse" element="sch0:RichiestaPraticheListaResponse" />
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="LoginResponse" element="sch0:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="RichiestaPraticaRequest">
    <wsdl:part name="RichiestaPraticaRequest" element="sch0:RichiestaPraticaRequest" />
  </wsdl:message>
  <wsdl:message name="AggiungiDocumentiResponse">
    <wsdl:part name="AggiungiDocumentiResponse" element="sch0:AggiungiDocumentiResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTokenResponse">
    <wsdl:part name="CheckTokenResponse" element="sch0:CheckTokenResponse" />
  </wsdl:message>
  <wsdl:message name="AllegatoBinarioResponse">
    <wsdl:part name="AllegatoBinarioResponse" element="sch0:AllegatoBinarioResponse" />
  </wsdl:message>
  <wsdl:message name="AggiungiDocumentiRequest">
    <wsdl:part name="AggiungiDocumentiRequest" element="sch0:AggiungiDocumentiRequest" />
  </wsdl:message>
  <wsdl:message name="AllegatoBinarioRequest">
    <wsdl:part name="AllegatoBinarioRequest" element="sch0:AllegatoBinarioRequest" />
  </wsdl:message>
  <wsdl:message name="RichiestaPraticaCollegataRequest">
    <wsdl:part name="RichiestaPraticaCollegataRequest" element="sch0:RichiestaPraticaCollegataRequest" />
  </wsdl:message>
  <wsdl:message name="DirezioneSportelloRequest">
    <wsdl:part name="DirezioneSportelloRequest" element="sch0:DirezioneSportelloRequest" />
  </wsdl:message>
  <wsdl:message name="InserimentoPraticaResponse">
    <wsdl:part name="InserimentoPraticaResponse" element="sch0:InserimentoPraticaResponse" />
  </wsdl:message>
  <wsdl:message name="InserimentoPraticaRequest">
    <wsdl:part name="InserimentoPraticaRequest" element="sch0:InserimentoPraticaRequest" />
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="LoginRequest" element="sch0:LoginRequest" />
  </wsdl:message>
  <wsdl:message name="DirezioneSportelloResponse">
    <wsdl:part name="DirezioneSportelloResponse" element="sch0:DirezioneSportelloResponse" />
  </wsdl:message>
  <wsdl:message name="RichiestaPraticaResponse">
    <wsdl:part name="RichiestaPraticaResponse" element="sch0:RichiestaPraticaResponse" />
  </wsdl:message>
  <wsdl:message name="RichiestaPraticaCollegataResponse">
    <wsdl:part name="RichiestaPraticaCollegataResponse" element="sch0:RichiestaPraticaCollegataResponse" />
  </wsdl:message>
  <wsdl:message name="RichiestaPraticheListaRequest">
    <wsdl:part name="RichiestaPraticheListaRequest" element="sch0:RichiestaPraticheListaRequest" />
  </wsdl:message>
  <wsdl:message name="CheckTokenRequest">
    <wsdl:part name="CheckTokenRequest" element="sch0:CheckTokenRequest" />
  </wsdl:message>
  <wsdl:message name="NotificaAttivitaResponse">
    <wsdl:part name="NotificaAttivitaResponse" element="sch0:NotificaAttivitaResponse" />
  </wsdl:message>
  <wsdl:message name="NotificaAttivitaRequest">
    <wsdl:part name="NotificaAttivitaRequest" element="sch0:NotificaAttivitaRequest" />
  </wsdl:message>
  <wsdl:portType name="Stc">
    <wsdl:operation name="CheckToken">
      <wsdl:input name="CheckTokenRequest" message="tns:CheckTokenRequest" />
      <wsdl:output name="CheckTokenResponse" message="tns:CheckTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input name="LoginRequest" message="tns:LoginRequest" />
      <wsdl:output name="LoginResponse" message="tns:LoginResponse" />
    </wsdl:operation>
    <wsdl:operation name="DirezioneSportello">
      <wsdl:input name="DirezioneSportelloRequest" message="tns:DirezioneSportelloRequest" />
      <wsdl:output name="DirezioneSportelloResponse" message="tns:DirezioneSportelloResponse" />
    </wsdl:operation>
    <wsdl:operation name="RichiestaPraticheLista">
      <wsdl:input name="RichiestaPraticheListaRequest" message="tns:RichiestaPraticheListaRequest" />
      <wsdl:output name="RichiestaPraticheListaResponse" message="tns:RichiestaPraticheListaResponse" />
    </wsdl:operation>
    <wsdl:operation name="NotificaAttivita">
      <wsdl:input name="NotificaAttivitaRequest" message="tns:NotificaAttivitaRequest" />
      <wsdl:output name="NotificaAttivitaResponse" message="tns:NotificaAttivitaResponse" />
    </wsdl:operation>
    <wsdl:operation name="RichiestaPraticaCollegata">
      <wsdl:input name="RichiestaPraticaCollegataRequest" message="tns:RichiestaPraticaCollegataRequest" />
      <wsdl:output name="RichiestaPraticaCollegataResponse" message="tns:RichiestaPraticaCollegataResponse" />
    </wsdl:operation>
    <wsdl:operation name="AllegatoBinario">
      <wsdl:input name="AllegatoBinarioRequest" message="tns:AllegatoBinarioRequest" />
      <wsdl:output name="AllegatoBinarioResponse" message="tns:AllegatoBinarioResponse" />
    </wsdl:operation>
    <wsdl:operation name="InserimentoPratica">
      <wsdl:input name="InserimentoPraticaRequest" message="tns:InserimentoPraticaRequest" />
      <wsdl:output name="InserimentoPraticaResponse" message="tns:InserimentoPraticaResponse" />
    </wsdl:operation>
    <wsdl:operation name="RichiestaPratica">
      <wsdl:input name="RichiestaPraticaRequest" message="tns:RichiestaPraticaRequest" />
      <wsdl:output name="RichiestaPraticaResponse" message="tns:RichiestaPraticaResponse" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiDocumenti">
      <wsdl:input name="AggiungiDocumentiRequest" message="tns:AggiungiDocumentiRequest" />
      <wsdl:output name="AggiungiDocumentiResponse" message="tns:AggiungiDocumentiResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StcSoap11" type="tns:Stc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckToken">
      <soap:operation soapAction="" />
      <wsdl:input name="CheckTokenRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CheckTokenResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="" />
      <wsdl:input name="LoginRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DirezioneSportello">
      <soap:operation soapAction="" />
      <wsdl:input name="DirezioneSportelloRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DirezioneSportelloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiestaPraticheLista">
      <soap:operation soapAction="" />
      <wsdl:input name="RichiestaPraticheListaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RichiestaPraticheListaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificaAttivita">
      <soap:operation soapAction="" />
      <wsdl:input name="NotificaAttivitaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="NotificaAttivitaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiestaPraticaCollegata">
      <soap:operation soapAction="" />
      <wsdl:input name="RichiestaPraticaCollegataRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RichiestaPraticaCollegataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllegatoBinario">
      <soap:operation soapAction="" />
      <wsdl:input name="AllegatoBinarioRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AllegatoBinarioResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserimentoPratica">
      <soap:operation soapAction="" />
      <wsdl:input name="InserimentoPraticaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InserimentoPraticaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiestaPratica">
      <soap:operation soapAction="" />
      <wsdl:input name="RichiestaPraticaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RichiestaPraticaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiDocumenti">
      <soap:operation soapAction="" />
      <wsdl:input name="AggiungiDocumentiRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AggiungiDocumentiResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StcService">
    <wsdl:port name="StcSoap11" binding="tns:StcSoap11">
      <soap:address location="http://devel9:8080/ibcstc/services/stc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>