src/vbg.net/console/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/StcService/stc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:types="http://sigepro.init.it/rte/types" xmlns:tns="http://sigepro.init.it/rte" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://sigepro.init.it/rte" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="http://devel9:8080/ibcstc/services/stc?xsd=types.xsd" namespace="http://sigepro.init.it/rte/types" />
  <simpleType name="XsdStcVersion">
    <annotation>
      <documentation>
#####################################################################
			MODIFICHE VERSIONE V_1_12:
#####################################################################        	

Aggiunti elementi:
DETTAGLIOPRATICATYPE
			&lt;element name="naturaFo" type="tns:NaturaFoType" minOccurs="0" maxOccurs="1"&gt;
				&lt;annotation&gt;
					&lt;documentation&gt;
						la natura del procedimento che viene impostato dal frontend
					&lt;/documentation&gt;
				&lt;/annotation&gt;			
			&lt;/element&gt;
di tipo
	&lt;simpleType name="NaturaFoType"&gt;
		&lt;restriction base="string"&gt;
			&lt;enumeration value="comunicazione" /&gt;
			&lt;enumeration value="ordinario" /&gt;
			&lt;enumeration value="scia" /&gt;
		&lt;/restriction&gt;
	&lt;/simpleType&gt;   

PROCURATYPE	
&lt;element name="documentoIdentita" type="tns:DocumentiType"
				minOccurs="0" maxOccurs="1"&gt;&lt;/element&gt;	
	     	
        	
#####################################################################
			MODIFICHE VERSIONE V_1_11:
#####################################################################        	

Aggiunti elementi:

Aggiunto campo data(opzionale) a &lt;complexType name="DocumentiType"&gt;

&lt;element name="data" type="date" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;  

        	
#####################################################################
			MODIFICHE VERSIONE V_1_10:
#####################################################################
Rimossi elementi: 

&lt;complexType name="TipoDocumentoType" /&gt;

Modificati elementi:

&lt;element name="tipoDocumento" type="string" minOccurs="0" maxOccurs="1" /&gt;

&lt;element name="documentiDaSostituire" type="tns:SostituzioniDocumentaliType" minOccurs="0" maxOccurs="unbounded"&gt;&lt;/element&gt;

Aggiunti elementi:

   &lt;complexType name="SostituzioniDocumentaliType"&gt;
		&lt;annotation&gt;
			&lt;documentation&gt;Sono i documenti che devono andare a sostituire quelli presenti 
			in fase di integrazione.L'oggetto conterrà sia il codice del docuemnto da sostituire che quello che deve essere
			sostituito.
			&lt;/documentation&gt;
		&lt;/annotation&gt;
		&lt;sequence&gt;
		    &lt;element name="tipoDocumentoPratica"&gt;
				&lt;simpleType&gt;
					&lt;restriction base="string"&gt;
						&lt;enumeration value="DOC_ISTANZA"&gt;&lt;/enumeration&gt;
						&lt;enumeration value="DOC_ENDO"&gt;&lt;/enumeration&gt;
					&lt;/restriction&gt;
				&lt;/simpleType&gt;
			&lt;/element&gt;
			&lt;element name="documentoDaSostituire" type="string" minOccurs="1" maxOccurs="1"&gt;&lt;/element&gt;
			&lt;element name="nuovoDocumento" type="tns:AllegatiType" minOccurs="1" maxOccurs="1"&gt;&lt;/element&gt;
		&lt;/sequence&gt;
	&lt;/complexType&gt;
	
	
	Aggiunto nuovo elemento in OneriType
	
	&lt;complexType name="OneriType"&gt;
		&lt;sequence&gt;
			...............
			&lt;element name="nonDovuto" type="boolean" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			...............
		&lt;/sequence&gt;
	&lt;/complexType&gt;
	
	
	
#####################################################################
			MODIFICHE VERSIONE V_1_9:
#####################################################################
Modificati Elementi:

	&lt;complexType name="DettaglioAttivitaType"&gt;
		&lt;sequence&gt;
			....
			&lt;element name="oraDataAttivita" type="string" minOccurs="0"&gt;
				&lt;simpleType&gt;
					&lt;restriction base="string"&gt;
						&lt;pattern value="[0-2][0-9]:[0-5][0-9]"&gt;&lt;/pattern&gt;
					&lt;/restriction&gt;
				&lt;/simpleType&gt;
			&lt;/element&gt;
			....
	&lt;/complexType name="DettaglioAttivitaType"&gt;		
	
	
	&lt;complexType name="RiferimentiPraticaType"&gt;
		&lt;sequence&gt;
			....
			&lt;element name="oraDataPratica" type="string" minOccurs="0"&gt;
				&lt;simpleType&gt;
					&lt;restriction base="string"&gt;
						&lt;pattern value="[0-2][0-9]:[0-5][0-9]"&gt;&lt;/pattern&gt;
					&lt;/restriction&gt;
				&lt;/simpleType&gt;
			&lt;/element&gt;
		    ....
 	&lt;/complexType name="RiferimentiPraticaType"&gt;   
 	
 	
 	
 	&lt;complexType name="DettaglioPraticaBreveType"&gt;
		....
		&lt;element name="oraDataPratica" type="string" minOccurs="0"&gt;
				&lt;simpleType&gt;
					&lt;restriction base="string"&gt;
						&lt;pattern value="[0-2][0-9]:[0-5][0-9]"&gt;&lt;/pattern&gt;
					&lt;/restriction&gt;
				&lt;/simpleType&gt;		
		&lt;/element&gt;
		....
	&lt;/complexType name="DettaglioPraticaBreveType"&gt;
			
			
			
        	
#####################################################################
			MODIFICHE VERSIONE V_1_8:
#####################################################################
Modificati Elementi
PersonaFisicaType
			&lt;element name="telefonoCellulare" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="datiIscrizioneAlbo" type="tns:DatiIscrizioneAlboType" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
		
PersonaGiuridicaType
			&lt;element name="telefonoCellulare" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="datiInps" type="tns:DatiInpsType" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="datiInail" type="tns:DatiInailType" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="datiCassaEdile" type="tns:DatiCassaEdileType" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="datiIscrizioneAlbo" type="tns:DatiIscrizioneAlboType" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;

DocumentiType
			&lt;element name="annotazioni" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
		
DettaglioPraticaVisuraType
			&lt;element name="tempisticaProcedimento" type="tns:TempisticaProcedimentoType" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;

OneriType
			&lt;element name="annotazioni" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
		
aggiunti elementi		
		
	&lt;complexType name="TempisticaProcedimentoType"&gt;
		&lt;sequence&gt;
			&lt;element name="dataInizio" type="date" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="dataFine" type="date" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="durataGG" type="int" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
		&lt;/sequence&gt;
	&lt;/complexType&gt;

	&lt;complexType name="DatiInpsType"&gt;
		&lt;sequence&gt;
			&lt;element name="numero" type="string"&gt;&lt;/element&gt;
			&lt;element name="sedeIscrizione" type="tns:CodiceDescrizioneType"&gt;&lt;/element&gt;
		&lt;/sequence&gt;
	&lt;/complexType&gt;

	&lt;complexType name="DatiInailType"&gt;
		&lt;sequence&gt;
			&lt;element name="numero" type="string"&gt;&lt;/element&gt;
			&lt;element name="sedeIscrizione" type="tns:CodiceDescrizioneType"&gt;&lt;/element&gt;
		&lt;/sequence&gt;
	&lt;/complexType&gt;

	&lt;complexType name="DatiCassaEdileType"&gt;
		&lt;sequence&gt;
			&lt;element name="numero" type="string"&gt;&lt;/element&gt;
			&lt;element name="cassaEdile" type="tns:CodiceDescrizioneType"&gt;&lt;/element&gt;
		&lt;/sequence&gt;
	&lt;/complexType&gt;

	&lt;complexType name="CodiceDescrizioneType"&gt;
		&lt;sequence&gt;
			&lt;element name="codice" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="descrizione" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
		&lt;/sequence&gt;
	&lt;/complexType&gt;

	&lt;complexType name="DatiIscrizioneAlboType"&gt;
		&lt;sequence&gt;
			&lt;element name="numeroIscrizione" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="siglaProvincia" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="tipoOrdineProfessionisti" type="tns:CodiceDescrizioneType" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
		&lt;/sequence&gt;
	&lt;/complexType&gt;	


        	
        	
#####################################################################
			MODIFICHE VERSIONE V_1_7:
#####################################################################
	
	Aggiunti elementi:
	
		&lt;complexType name="ElementoValoreCampoDinamicoType"&gt;
			&lt;complexContent&gt;
				&lt;extension base="tns:ValoreParametroType"&gt;
					&lt;sequence&gt;
						&lt;element name="indice" minOccurs="0" maxOccurs="1" type="int"&gt;&lt;/element&gt;
						&lt;element name="indiceMolteplicita" type="int" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;				
					&lt;/sequence&gt;
				&lt;/extension&gt;
			&lt;/complexContent&gt;	
		&lt;/complexType&gt;
	
	
		&lt;complexType name="ValoreCampoDinamicoType"&gt;		
			&lt;sequence&gt;
				&lt;element name="nome" type="string"&gt;&lt;/element&gt;
				&lt;element name="valore" type="tns:ElementoValoreCampoDinamicoType" minOccurs="1" maxOccurs="unbounded"&gt;&lt;/element&gt;
			&lt;/sequence&gt;
		&lt;/complexType&gt;
		&lt;complexType name="MetaDatoType"&gt;
			&lt;sequence&gt;
				&lt;element name="codice" type="string" maxOccurs="1" minOccurs="1"&gt;&lt;/element&gt;
				&lt;element name="valore" type="string" maxOccurs="1" minOccurs="1"&gt;&lt;/element&gt;
			&lt;/sequence&gt;
		&lt;/complexType&gt;
	
	Modificati gli elementi:
	
		&lt;complexType name="AllegatiType"&gt;
			&lt;sequence&gt;
				&lt;element name="id" type="string"&gt;&lt;/element&gt;
				&lt;element name="allegato" type="string"&gt;&lt;/element&gt;
				&lt;element name="file" type="tns:AllegatoBinarioType" minOccurs="0" maxOccurs="1"&gt;&lt;/element&gt;
				&lt;element name="metaDati" type="tns:MetaDatoType" maxOccurs="unbounded" minOccurs="0"&gt;&lt;/element&gt;
			&lt;/sequence&gt;
		&lt;/complexType&gt;
	
	
		&lt;complexType name="CampoDinamicoType"&gt;
			&lt;sequence&gt;
				&lt;element name="proprieta" type="tns:ProprietaCampoDinamicoType" minOccurs="0" maxOccurs="1" /&gt;
				&lt;element name="valoreUtente" type="tns:ValoreCampoDinamicoType" minOccurs="1" maxOccurs="1" /&gt;
			&lt;/sequence&gt;
		&lt;/complexType&gt;

	LocalizzazioneNelComuneType: aggiunto elemento non obbligatorio  cap
			&lt;element name="cap" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			
        	
#####################################################################
			MODIFICHE VERSIONE V_1_6:
#####################################################################
	
	LocalizzazioneNelComuneType: aggiunti elementi non obbligatori  coordinate, tipo, uuid
			&lt;element name="coordinate" type="tns:CoordinateType" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="tipo" type="tns:TipoLocalizzazioneType" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="uuid" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			
			
	Aggiunti elementi:
	
		&lt;complexType name="CoordinateType"&gt;
			&lt;sequence&gt;
				&lt;element name="latitudine" type="string" maxOccurs="1" minOccurs="1"&gt;&lt;/element&gt;
				&lt;element name="longitudine" type="string" maxOccurs="1" minOccurs="1"&gt;&lt;/element&gt;
			&lt;/sequence&gt;
		&lt;/complexType&gt;
		
		&lt;complexType name="TipoLocalizzazioneType"&gt;
			&lt;sequence&gt;
				&lt;element name="codice" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
				&lt;element name="descrizione" type="string" maxOccurs="1" minOccurs="1"&gt;&lt;/element&gt;
			&lt;/sequence&gt;
		&lt;/complexType&gt;        	
        	
#####################################################################
			MODIFICHE VERSIONE V_1_5:
#####################################################################
	Aggiunti elementi:
	&lt;element name="AggiungiDocumentiRequest"&gt;
		&lt;complexType&gt;
			&lt;sequence&gt;
				&lt;element name="token" type="string"&gt;&lt;/element&gt;
				&lt;element name="sportelloMittente" type="types:SportelloType"&gt;&lt;/element&gt;
				&lt;element name="sportelloDestinatario" type="types:SportelloType"&gt;&lt;/element&gt;
				&lt;element name="idPraticaDest" type="string"&gt;&lt;/element&gt;
				&lt;element name="documenti" type="types:DocumentiType" minOccurs="1" maxOccurs="unbounded"&gt;&lt;/element&gt;
			&lt;/sequence&gt;
		&lt;/complexType&gt;
	&lt;/element&gt;
	&lt;element name="AggiungiDocumentiResponse"&gt;
		&lt;complexType&gt;
			&lt;sequence&gt;
				&lt;element name="dettaglioErrore" type="types:ErroreType" minOccurs="0" maxOccurs="unbounded"&gt;&lt;/element&gt;
			&lt;/sequence&gt;
		&lt;/complexType&gt;
	&lt;/element&gt;
	
	EstremiAttoType: non obbligatori riferimento e data
			&lt;element name="riferimento" type="string" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			&lt;element name="data" type="date" maxOccurs="1" minOccurs="0"&gt;&lt;/element&gt;
			
	
#####################################################################
			MODIFICHE VERSIONE V_1_4:
#####################################################################

	RiferimentoCatastaleType:
		&lt;element name="sezione" type="string" minOccurs="0" maxOccurs="1"/&gt;
		&lt;element name="unitaImobiliare" type="string" minOccurs="0" maxOccurs="1"/&gt;
				
		Aggiunti su campi di tipo binario aggiungere notazione {xmlns:xmime="http://www.w3.org/2005/05/xmlmime"}expectedContentTypes="application/octet-stream" per la gestione con datahandler dei file

	DettaglioPraticaType:
			&lt;element name="codiceAccreditamentoSUAP" type="string" minOccurs="0" maxOccurs="1"/&gt;
			&lt;element name="codicePraticaTelematica" type="string" minOccurs="0" maxOccurs="1"/&gt;
			&lt;element name="insegna" type="string" minOccurs="0" maxOccurs="1"/&gt;
				
				
	TipoDocumentoType: Aggiunti all'enumeration i valori (derivati da Impresa in un Giorno)
		&lt;xs:enumeration value="SUAP-PDF"&gt;
		&lt;xs:enumeration value="SUAP-XML"&gt;
		&lt;xs:enumeration value="MDA-PDF"/&gt;
		&lt;xs:enumeration value="MDA-XML"/&gt;			

#####################################################################
			MODIFICHE VERSIONE V_1_3:
#####################################################################
	PersonaGiuridicaType
	 modificata partitaiva
		da
			&lt;element name="partitaIva" type="string"&gt;&lt;/element&gt;
		a	
			&lt;element name="partitaIva" type="string" minOccurs="0"&gt;&lt;/element&gt;

	PersonaFisicaType
		aggiunto elemento corrispondenza di tipo tns:LocalizzazioneType.
			&lt;element name="corrispondenza" type="tns:LocalizzazioneType" 
					minOccurs="0" maxOccurs="1"&gt;
            	    &lt;annotation&gt;
                		&lt;documentation&gt;Le informazioni dell'indirizzo dove inviare le comunicazioni. 
				La sezione viene di solito compilata se diversa dalla sezione resid&lt;/documentation&gt;
                	&lt;/annotation&gt;
			&lt;/element&gt;	

	DettaglioPraticaType
		modificata minoccurence di richiedente da 1 (obbligatoria) a 0 non obbligatoria	
			&lt;element name="richiedente" type="tns:RichiedenteType" minOccurs="0"&gt;	     	
	
		aggiunto dopo codiceComune
			&lt;element name="domicilioElettronico" type="string" minOccurs="0" maxOccurs="1"&gt;
				&lt;annotation&gt;
					&lt;documentation&gt;E' il domicilio elettronico di riferimento (tipicamente PEC) per ricevere comunicazioni in merito 
					alla pratica da parte dei richiedenti/professionisti.&lt;/documentation&gt;
				&lt;/annotation&gt;	
			&lt;/element&gt;
			
		aggiunto elemento annotazioni
			&lt;element name="annotazioni" type="string" minOccurs="0"&gt;
				&lt;annotation&gt;
					&lt;documentation&gt;Eventuali informazioni aggiuntive o note sulla pratica.&lt;/documentation&gt;
				&lt;/annotation&gt;
	     	&lt;/element&gt;

	DettaglioPraticaBreveType
		modificata minoccurence di richiedente da 1 (obbligatoria) a 0 non obbligatoria	
			&lt;element name="richiedente" type="tns:RichiedenteType" minOccurs="0"&gt;

	DettaglioPraticaType	
	     	
	OneriType 	    
		aggiunto elemento obbligatorio
	 		&lt;element name="segno" type="tns:segnoType" maxOccurs="1" minOccurs="1"&gt;
				&lt;annotation&gt;
					&lt;documentation&gt;Determina se l'onere è in entrata o uscita&lt;/documentation&gt;
				&lt;/annotation&gt;	 		
	 		&lt;/element&gt;


		aggiunto il tipo "segnoType" enumeration (entrata/uscita) 

		&lt;simpleType name="segnoType"&gt;
			&lt;restriction base="string"&gt;
				&lt;enumeration value="ENTRATA" /&gt;
				&lt;enumeration value="USCITA" /&gt;
			&lt;/restriction&gt;
		&lt;/simpleType&gt;
	OneriPagamentiType
		modificato l'elemento "modalita"
			da 
				&lt;element name="modalita"&gt;
					&lt;simpleType&gt;
						&lt;restriction base="string"&gt;
							&lt;enumeration value="Contanti"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="Bollettino postale"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="Carta credito"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="Bancomat"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="VCY"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="Altro"&gt;&lt;/enumeration&gt;
						&lt;/restriction&gt;
					&lt;/simpleType&gt;
				&lt;/element&gt;
			a
				&lt;element name="modalita" minOccurs="0" maxOccurs="1" type="string"&gt;&lt;/element&gt;
		eliminato elemento "altraModalita"		
        
     LocalizzazioneNelComuneType
             aggiunti
                     &lt;element name="fabbricato" type="string" minOccurs="0" maxOccurs="1"&gt;&lt;/element&gt;
                     &lt;element name="km" type="string" minOccurs="0" maxOccurs="1"&gt;&lt;/element&gt;
                         
 
</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="V_1_0" />
      <enumeration value="V_1_1" />
      <enumeration value="V_1_2" />
      <enumeration value="V_1_3" />
      <enumeration value="V_1_4" />
      <enumeration value="V_1_5" />
      <enumeration value="V_1_6" />
      <enumeration value="V_1_7" />
      <enumeration value="V_1_8" />
      <enumeration value="V_1_9" />
      <enumeration value="V_1_10" />
      <enumeration value="V_1_11" />
      <enumeration value="V_1_12" />
    </restriction>
  </simpleType>
  <element name="LoginRequest">
    <complexType>
      <sequence>
        <element name="username" type="string" />
        <element name="password" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="LoginResponse">
    <complexType>
      <sequence>
        <element name="result" type="boolean" />
        <element name="token" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="CheckTokenRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="CheckTokenResponse">
    <complexType>
      <sequence>
        <element name="result" type="boolean" />
      </sequence>
    </complexType>
  </element>
  <element name="DirezioneSportelloRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportello" type="types:SportelloType" />
      </sequence>
    </complexType>
  </element>
  <element name="DirezioneSportelloResponse">
    <complexType>
      <sequence>
        <element name="direzione" type="types:DirezioneType" />
      </sequence>
    </complexType>
  </element>
  <element name="NotificaAttivitaRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="datiAttivita" type="types:DettaglioAttivitaType" />
        <element minOccurs="0" maxOccurs="1" name="rifPraticaDestinatario" type="types:RiferimentiPraticaType" />
      </sequence>
    </complexType>
  </element>
  <element name="NotificaAttivitaResponse">
    <complexType>
      <choice minOccurs="1">
        <element minOccurs="0" maxOccurs="1" name="dettaglioattivita" type="types:RiferimentiAttivitaType" />
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </choice>
    </complexType>
  </element>
  <element name="AllegatoBinarioRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="riferimentiAllegato" type="types:RiferimentiAllegatoType" />
      </sequence>
    </complexType>
  </element>
  <element name="AllegatoBinarioResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="mimeType" type="string" />
        <element xmime:expectedContentTypes="application/octet-stream" name="binaryData" type="base64Binary" />
        <element name="fileName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticaRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="rifPratica" type="types:RiferimentiPraticaType" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticaResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="dettaglioPratica" type="types:DettaglioPraticaVisuraType" />
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticaCollegataRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="idPraticaMitt" type="string" />
        <element minOccurs="0" maxOccurs="1" name="idProcedimentoMitt" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticaCollegataResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="dettaglio">
          <complexType>
            <sequence>
              <element name="sportello" type="types:SportelloType" />
              <element name="dettaglioPratica" type="types:DettaglioPraticaType" />
            </sequence>
          </complexType>
        </element>
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </sequence>
    </complexType>
  </element>
  <element name="InserimentoPraticaRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="dettaglioPratica" type="types:DettaglioPraticaType" />
      </sequence>
    </complexType>
  </element>
  <element name="InserimentoPraticaResponse">
    <complexType>
      <choice minOccurs="1">
        <element minOccurs="0" name="dettaglioPratica" type="types:RiferimentiPraticaType" />
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </choice>
    </complexType>
  </element>
  <element name="RichiestaPraticheListaRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element minOccurs="0" maxOccurs="1" name="filtriUtenteConnesso" type="types:FiltriUtenteType" />
        <element minOccurs="1" maxOccurs="1" name="filtriPratica" type="types:FiltriPraticaType" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticheListaResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioPratica" type="types:DettaglioPraticaBreveType" />
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </sequence>
    </complexType>
  </element>
  <element name="AggiungiDocumentiRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="idPraticaDest" type="string" />
        <element minOccurs="1" maxOccurs="unbounded" name="documenti" type="types:DocumentiType" />
      </sequence>
    </complexType>
  </element>
  <element name="AggiungiDocumentiResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </sequence>
    </complexType>
  </element>
</schema>