src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloMicrosisServiceProxy/ws_protocollo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsis.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsis.it/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsis.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsis.it/">
      <s:element name="Versione">
        <s:complexType />
      </s:element>
      <s:element name="VersioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersioneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Configurazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfigurazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfigurazioneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Trasmetti_Allegato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="File_allegato" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Nomefile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroProtocollo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoProtocollo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USER_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Trasmetti_AllegatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Trasmetti_AllegatoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lista_Titolario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USER_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lista_TitolarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lista_TitolarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lista_ModTrasmissione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USER_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lista_ModTrasmissioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lista_ModTrasmissioneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_Connessione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USER_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_ConnessioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test_ConnessioneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inserisci_Protocollo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USER_Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo_Documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Codice_Titolario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ufficio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data_Documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mod_Trasmissione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Riservatezza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Originale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PartitaIva_Mittente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RagioneSociale_Mittente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale_Mittente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome_Mittente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cognome_Mittente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Protocollo_Mittente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data_ProtocolloMittente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Servizio_Destinatario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo_Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inserisci_ProtocolloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Inserisci_ProtocolloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lista_Protocolli">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USER_Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Anno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lista_ProtocolliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lista_ProtocolliResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://microsis.it/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VersioneSoapIn">
    <wsdl:part name="parameters" element="tns:Versione" />
  </wsdl:message>
  <wsdl:message name="VersioneSoapOut">
    <wsdl:part name="parameters" element="tns:VersioneResponse" />
  </wsdl:message>
  <wsdl:message name="ConfigurazioneSoapIn">
    <wsdl:part name="parameters" element="tns:Configurazione" />
  </wsdl:message>
  <wsdl:message name="ConfigurazioneSoapOut">
    <wsdl:part name="parameters" element="tns:ConfigurazioneResponse" />
  </wsdl:message>
  <wsdl:message name="Trasmetti_AllegatoSoapIn">
    <wsdl:part name="parameters" element="tns:Trasmetti_Allegato" />
  </wsdl:message>
  <wsdl:message name="Trasmetti_AllegatoSoapOut">
    <wsdl:part name="parameters" element="tns:Trasmetti_AllegatoResponse" />
  </wsdl:message>
  <wsdl:message name="Lista_TitolarioSoapIn">
    <wsdl:part name="parameters" element="tns:Lista_Titolario" />
  </wsdl:message>
  <wsdl:message name="Lista_TitolarioSoapOut">
    <wsdl:part name="parameters" element="tns:Lista_TitolarioResponse" />
  </wsdl:message>
  <wsdl:message name="Lista_ModTrasmissioneSoapIn">
    <wsdl:part name="parameters" element="tns:Lista_ModTrasmissione" />
  </wsdl:message>
  <wsdl:message name="Lista_ModTrasmissioneSoapOut">
    <wsdl:part name="parameters" element="tns:Lista_ModTrasmissioneResponse" />
  </wsdl:message>
  <wsdl:message name="Test_ConnessioneSoapIn">
    <wsdl:part name="parameters" element="tns:Test_Connessione" />
  </wsdl:message>
  <wsdl:message name="Test_ConnessioneSoapOut">
    <wsdl:part name="parameters" element="tns:Test_ConnessioneResponse" />
  </wsdl:message>
  <wsdl:message name="Inserisci_ProtocolloSoapIn">
    <wsdl:part name="parameters" element="tns:Inserisci_Protocollo" />
  </wsdl:message>
  <wsdl:message name="Inserisci_ProtocolloSoapOut">
    <wsdl:part name="parameters" element="tns:Inserisci_ProtocolloResponse" />
  </wsdl:message>
  <wsdl:message name="Lista_ProtocolliSoapIn">
    <wsdl:part name="parameters" element="tns:Lista_Protocolli" />
  </wsdl:message>
  <wsdl:message name="Lista_ProtocolliSoapOut">
    <wsdl:part name="parameters" element="tns:Lista_ProtocolliResponse" />
  </wsdl:message>
  <wsdl:message name="VersioneHttpGetIn" />
  <wsdl:message name="VersioneHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConfigurazioneHttpGetIn">
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfigurazioneHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Trasmetti_AllegatoHttpGetIn">
    <wsdl:part name="File_allegato" type="s1:StringArray" />
    <wsdl:part name="Nomefile" type="s:string" />
    <wsdl:part name="NumeroProtocollo" type="s:string" />
    <wsdl:part name="AnnoProtocollo" type="s:string" />
    <wsdl:part name="User_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Trasmetti_AllegatoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lista_TitolarioHttpGetIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lista_TitolarioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lista_ModTrasmissioneHttpGetIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lista_ModTrasmissioneHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Test_ConnessioneHttpGetIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Test_ConnessioneHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Inserisci_ProtocolloHttpGetIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
    <wsdl:part name="Tipo_Documento" type="s:string" />
    <wsdl:part name="Oggetto" type="s:string" />
    <wsdl:part name="Codice_Titolario" type="s:string" />
    <wsdl:part name="Ufficio" type="s:string" />
    <wsdl:part name="Data_Documento" type="s:string" />
    <wsdl:part name="Mod_Trasmissione" type="s:string" />
    <wsdl:part name="Riservatezza" type="s:string" />
    <wsdl:part name="Originale" type="s:string" />
    <wsdl:part name="PartitaIva_Mittente" type="s:string" />
    <wsdl:part name="RagioneSociale_Mittente" type="s:string" />
    <wsdl:part name="CodiceFiscale_Mittente" type="s:string" />
    <wsdl:part name="Nome_Mittente" type="s:string" />
    <wsdl:part name="Cognome_Mittente" type="s:string" />
    <wsdl:part name="Protocollo_Mittente" type="s:string" />
    <wsdl:part name="Data_ProtocolloMittente" type="s:string" />
    <wsdl:part name="Note" type="s:string" />
    <wsdl:part name="Servizio_Destinatario" type="s:string" />
    <wsdl:part name="Tipo_Date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Inserisci_ProtocolloHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lista_ProtocolliHttpGetIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
    <wsdl:part name="Anno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lista_ProtocolliHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="VersioneHttpPostIn" />
  <wsdl:message name="VersioneHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConfigurazioneHttpPostIn">
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfigurazioneHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Trasmetti_AllegatoHttpPostIn">
    <wsdl:part name="File_allegato" type="s1:StringArray" />
    <wsdl:part name="Nomefile" type="s:string" />
    <wsdl:part name="NumeroProtocollo" type="s:string" />
    <wsdl:part name="AnnoProtocollo" type="s:string" />
    <wsdl:part name="User_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Trasmetti_AllegatoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lista_TitolarioHttpPostIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lista_TitolarioHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lista_ModTrasmissioneHttpPostIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lista_ModTrasmissioneHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Test_ConnessioneHttpPostIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Test_ConnessioneHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Inserisci_ProtocolloHttpPostIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
    <wsdl:part name="Tipo_Documento" type="s:string" />
    <wsdl:part name="Oggetto" type="s:string" />
    <wsdl:part name="Codice_Titolario" type="s:string" />
    <wsdl:part name="Ufficio" type="s:string" />
    <wsdl:part name="Data_Documento" type="s:string" />
    <wsdl:part name="Mod_Trasmissione" type="s:string" />
    <wsdl:part name="Riservatezza" type="s:string" />
    <wsdl:part name="Originale" type="s:string" />
    <wsdl:part name="PartitaIva_Mittente" type="s:string" />
    <wsdl:part name="RagioneSociale_Mittente" type="s:string" />
    <wsdl:part name="CodiceFiscale_Mittente" type="s:string" />
    <wsdl:part name="Nome_Mittente" type="s:string" />
    <wsdl:part name="Cognome_Mittente" type="s:string" />
    <wsdl:part name="Protocollo_Mittente" type="s:string" />
    <wsdl:part name="Data_ProtocolloMittente" type="s:string" />
    <wsdl:part name="Note" type="s:string" />
    <wsdl:part name="Servizio_Destinatario" type="s:string" />
    <wsdl:part name="Tipo_Date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Inserisci_ProtocolloHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lista_ProtocolliHttpPostIn">
    <wsdl:part name="USER_ID" type="s:string" />
    <wsdl:part name="USER_Password" type="s:string" />
    <wsdl:part name="Anno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lista_ProtocolliHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WS_ProtocolloSoap">
    <wsdl:operation name="Versione">
      <wsdl:input message="tns:VersioneSoapIn" />
      <wsdl:output message="tns:VersioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Configurazione">
      <wsdl:input message="tns:ConfigurazioneSoapIn" />
      <wsdl:output message="tns:ConfigurazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Trasmetti_Allegato">
      <wsdl:input message="tns:Trasmetti_AllegatoSoapIn" />
      <wsdl:output message="tns:Trasmetti_AllegatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_Titolario">
      <wsdl:input message="tns:Lista_TitolarioSoapIn" />
      <wsdl:output message="tns:Lista_TitolarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_ModTrasmissione">
      <wsdl:input message="tns:Lista_ModTrasmissioneSoapIn" />
      <wsdl:output message="tns:Lista_ModTrasmissioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test_Connessione">
      <wsdl:input message="tns:Test_ConnessioneSoapIn" />
      <wsdl:output message="tns:Test_ConnessioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inserisci_Protocollo">
      <wsdl:input message="tns:Inserisci_ProtocolloSoapIn" />
      <wsdl:output message="tns:Inserisci_ProtocolloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_Protocolli">
      <wsdl:input message="tns:Lista_ProtocolliSoapIn" />
      <wsdl:output message="tns:Lista_ProtocolliSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_ProtocolloHttpGet">
    <wsdl:operation name="Versione">
      <wsdl:input message="tns:VersioneHttpGetIn" />
      <wsdl:output message="tns:VersioneHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Configurazione">
      <wsdl:input message="tns:ConfigurazioneHttpGetIn" />
      <wsdl:output message="tns:ConfigurazioneHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Trasmetti_Allegato">
      <wsdl:input message="tns:Trasmetti_AllegatoHttpGetIn" />
      <wsdl:output message="tns:Trasmetti_AllegatoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_Titolario">
      <wsdl:input message="tns:Lista_TitolarioHttpGetIn" />
      <wsdl:output message="tns:Lista_TitolarioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_ModTrasmissione">
      <wsdl:input message="tns:Lista_ModTrasmissioneHttpGetIn" />
      <wsdl:output message="tns:Lista_ModTrasmissioneHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test_Connessione">
      <wsdl:input message="tns:Test_ConnessioneHttpGetIn" />
      <wsdl:output message="tns:Test_ConnessioneHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Inserisci_Protocollo">
      <wsdl:input message="tns:Inserisci_ProtocolloHttpGetIn" />
      <wsdl:output message="tns:Inserisci_ProtocolloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_Protocolli">
      <wsdl:input message="tns:Lista_ProtocolliHttpGetIn" />
      <wsdl:output message="tns:Lista_ProtocolliHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_ProtocolloHttpPost">
    <wsdl:operation name="Versione">
      <wsdl:input message="tns:VersioneHttpPostIn" />
      <wsdl:output message="tns:VersioneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Configurazione">
      <wsdl:input message="tns:ConfigurazioneHttpPostIn" />
      <wsdl:output message="tns:ConfigurazioneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Trasmetti_Allegato">
      <wsdl:input message="tns:Trasmetti_AllegatoHttpPostIn" />
      <wsdl:output message="tns:Trasmetti_AllegatoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_Titolario">
      <wsdl:input message="tns:Lista_TitolarioHttpPostIn" />
      <wsdl:output message="tns:Lista_TitolarioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_ModTrasmissione">
      <wsdl:input message="tns:Lista_ModTrasmissioneHttpPostIn" />
      <wsdl:output message="tns:Lista_ModTrasmissioneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test_Connessione">
      <wsdl:input message="tns:Test_ConnessioneHttpPostIn" />
      <wsdl:output message="tns:Test_ConnessioneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Inserisci_Protocollo">
      <wsdl:input message="tns:Inserisci_ProtocolloHttpPostIn" />
      <wsdl:output message="tns:Inserisci_ProtocolloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista_Protocolli">
      <wsdl:input message="tns:Lista_ProtocolliHttpPostIn" />
      <wsdl:output message="tns:Lista_ProtocolliHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_ProtocolloSoap" type="tns:WS_ProtocolloSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Versione">
      <soap:operation soapAction="http://microsis.it/Versione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Configurazione">
      <soap:operation soapAction="http://microsis.it/Configurazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trasmetti_Allegato">
      <soap:operation soapAction="http://microsis.it/Trasmetti_Allegato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_Titolario">
      <soap:operation soapAction="http://microsis.it/Lista_Titolario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_ModTrasmissione">
      <soap:operation soapAction="http://microsis.it/Lista_ModTrasmissione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Connessione">
      <soap:operation soapAction="http://microsis.it/Test_Connessione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inserisci_Protocollo">
      <soap:operation soapAction="http://microsis.it/Inserisci_Protocollo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_Protocolli">
      <soap:operation soapAction="http://microsis.it/Lista_Protocolli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_ProtocolloSoap12" type="tns:WS_ProtocolloSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Versione">
      <soap12:operation soapAction="http://microsis.it/Versione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Configurazione">
      <soap12:operation soapAction="http://microsis.it/Configurazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trasmetti_Allegato">
      <soap12:operation soapAction="http://microsis.it/Trasmetti_Allegato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_Titolario">
      <soap12:operation soapAction="http://microsis.it/Lista_Titolario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_ModTrasmissione">
      <soap12:operation soapAction="http://microsis.it/Lista_ModTrasmissione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Connessione">
      <soap12:operation soapAction="http://microsis.it/Test_Connessione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inserisci_Protocollo">
      <soap12:operation soapAction="http://microsis.it/Inserisci_Protocollo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_Protocolli">
      <soap12:operation soapAction="http://microsis.it/Lista_Protocolli" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_ProtocolloHttpGet" type="tns:WS_ProtocolloHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Versione">
      <http:operation location="/Versione" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Configurazione">
      <http:operation location="/Configurazione" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trasmetti_Allegato">
      <http:operation location="/Trasmetti_Allegato" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_Titolario">
      <http:operation location="/Lista_Titolario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_ModTrasmissione">
      <http:operation location="/Lista_ModTrasmissione" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Connessione">
      <http:operation location="/Test_Connessione" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inserisci_Protocollo">
      <http:operation location="/Inserisci_Protocollo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_Protocolli">
      <http:operation location="/Lista_Protocolli" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_ProtocolloHttpPost" type="tns:WS_ProtocolloHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Versione">
      <http:operation location="/Versione" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Configurazione">
      <http:operation location="/Configurazione" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trasmetti_Allegato">
      <http:operation location="/Trasmetti_Allegato" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_Titolario">
      <http:operation location="/Lista_Titolario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_ModTrasmissione">
      <http:operation location="/Lista_ModTrasmissione" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Connessione">
      <http:operation location="/Test_Connessione" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inserisci_Protocollo">
      <http:operation location="/Inserisci_Protocollo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista_Protocolli">
      <http:operation location="/Lista_Protocolli" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Protocollo">
    <wsdl:port name="WS_ProtocolloSoap" binding="tns:WS_ProtocolloSoap">
      <soap:address location="http://195.94.188.74/ws_protocollo/ws_protocollo.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_ProtocolloSoap12" binding="tns:WS_ProtocolloSoap12">
      <soap12:address location="http://195.94.188.74/ws_protocollo/ws_protocollo.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_ProtocolloHttpGet" binding="tns:WS_ProtocolloHttpGet">
      <http:address location="http://195.94.188.74/ws_protocollo/ws_protocollo.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_ProtocolloHttpPost" binding="tns:WS_ProtocolloHttpPost">
      <http:address location="http://195.94.188.74/ws_protocollo/ws_protocollo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>