src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/LivornoServiziDrupal/DrupalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSchedaByNID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchedaByNIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchedaByNIDResult" type="tns:GetSchedaByNIDResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetSchedaByNIDResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Scheda" type="tns:DrupalScheda" />
          <s:element minOccurs="0" maxOccurs="1" name="Moduli" type="tns:ArrayOfDrupalModulo" />
          <s:element minOccurs="0" maxOccurs="1" name="Allegati" type="tns:ArrayOfDrupalAllegato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DrupalScheda">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uri" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDrupalModulo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DrupalModulo" nillable="true" type="tns:DrupalModulo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DrupalModulo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Obbligatorio" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RichiedeFirma" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDrupalAllegato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DrupalAllegato" nillable="true" type="tns:DrupalAllegato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DrupalAllegato">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Obbligatorio" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RichiedeFirma" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSchedaByNIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchedaByNID" />
  </wsdl:message>
  <wsdl:message name="GetSchedaByNIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchedaByNIDResponse" />
  </wsdl:message>
  <wsdl:portType name="DrupalServiceSoap">
    <wsdl:operation name="GetSchedaByNID">
      <wsdl:input message="tns:GetSchedaByNIDSoapIn" />
      <wsdl:output message="tns:GetSchedaByNIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DrupalServiceSoap" type="tns:DrupalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchedaByNID">
      <soap:operation soapAction="http://tempuri.org/GetSchedaByNID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DrupalServiceSoap12" type="tns:DrupalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchedaByNID">
      <soap12:operation soapAction="http://tempuri.org/GetSchedaByNID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DrupalService">
    <wsdl:port name="DrupalServiceSoap" binding="tns:DrupalServiceSoap">
      <soap:address location="http://localhost:52882/www/DrupalService.asmx" />
    </wsdl:port>
    <wsdl:port name="DrupalServiceSoap12" binding="tns:DrupalServiceSoap12">
      <soap12:address location="http://localhost:52882/www/DrupalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>