src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloApSystemsService/serviceprotocollo1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.apsystems.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.apsystems.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.apsystems.it/">
      <s:element name="GetComune">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceIstat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siglaProvincia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceStato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComuneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComuneResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationDetails" type="tns:AuthenticationDetails" />
      <s:complexType name="AuthenticationDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetCorrispondente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indirizzo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizioneComune" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizioneUfficio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceIPA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorrispondenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorrispondenteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorrispondente1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indirizzo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizioneComune" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizioneUfficio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceIPA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipologia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorrispondente1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorrispondente1Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCorrispondente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indirizzo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceComune" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCorrispondenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCorrispondenteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProcedimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProcedimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProcedimentoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProtocolloGenerale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="daNumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aNumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="daData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipologia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizioneCorrispondente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceProcedimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classificazione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fascicolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="annoFascicolo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProtocolloGeneraleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProtocolloGeneraleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProtocolloGenerale1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="daNumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aNumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="daData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipologia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceCorrispondente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizioneCorrispondente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceProcedimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classificazione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fascicolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="annoFascicolo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProtocolloGenerale1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProtocolloGenerale1Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProtocolloGeneraleDaOrigine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceBozza" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProtocolloGeneraleDaOrigineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProtocolloGeneraleDaOrigineResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProtocolloGenerale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsDati">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProtocolloGeneraleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertProtocolloGeneraleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInputStructInsertProtocolloGenerale">
        <s:complexType />
      </s:element>
      <s:element name="GetInputStructInsertProtocolloGeneraleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInputStructInsertProtocolloGeneraleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProtocolloInterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="daNumeroProtocolloGenerale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aNumeroProtocolloGenerale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="daData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipologia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizioneCorrispondente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceProcedimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classificazione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fascicolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="annoFascicolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceUfficio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginUtente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="principale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProtocolloInternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProtocolloInternoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBozzaProtocolloInterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsDati">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBozzaProtocolloInternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertBozzaProtocolloInternoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBozzaProtocolloInterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBozzaProtocolloInternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendBozzaProtocolloInternoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInputStructInsertBozzaProtocolloInterno">
        <s:complexType />
      </s:element>
      <s:element name="GetInputStructInsertBozzaProtocolloInternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInputStructInsertBozzaProtocolloInternoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllegato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sbustaAllegatiFirmati" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllegatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllegatoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAllegatoProtocolloGenerale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileBytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAllegatoProtocolloGeneraleResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertAllegatoProtocolloInterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileBytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAllegatoProtocolloInternoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetComuneSoapIn">
    <wsdl:part name="parameters" element="tns:GetComune" />
  </wsdl:message>
  <wsdl:message name="GetComuneSoapOut">
    <wsdl:part name="parameters" element="tns:GetComuneResponse" />
  </wsdl:message>
  <wsdl:message name="GetComuneAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetCorrispondenteSoapIn">
    <wsdl:part name="parameters" element="tns:GetCorrispondente" />
  </wsdl:message>
  <wsdl:message name="GetCorrispondenteSoapOut">
    <wsdl:part name="parameters" element="tns:GetCorrispondenteResponse" />
  </wsdl:message>
  <wsdl:message name="GetCorrispondenteAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetCorrispondente1SoapIn">
    <wsdl:part name="parameters" element="tns:GetCorrispondente1" />
  </wsdl:message>
  <wsdl:message name="GetCorrispondente1SoapOut">
    <wsdl:part name="parameters" element="tns:GetCorrispondente1Response" />
  </wsdl:message>
  <wsdl:message name="GetCorrispondente1AuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="InsertCorrispondenteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCorrispondente" />
  </wsdl:message>
  <wsdl:message name="InsertCorrispondenteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCorrispondenteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCorrispondenteAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetProcedimentoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProcedimento" />
  </wsdl:message>
  <wsdl:message name="GetProcedimentoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProcedimentoResponse" />
  </wsdl:message>
  <wsdl:message name="GetProcedimentoAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloGeneraleSoapIn">
    <wsdl:part name="parameters" element="tns:GetProtocolloGenerale" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloGeneraleSoapOut">
    <wsdl:part name="parameters" element="tns:GetProtocolloGeneraleResponse" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloGeneraleAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloGenerale1SoapIn">
    <wsdl:part name="parameters" element="tns:GetProtocolloGenerale1" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloGenerale1SoapOut">
    <wsdl:part name="parameters" element="tns:GetProtocolloGenerale1Response" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloGenerale1AuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloGeneraleDaOrigineSoapIn">
    <wsdl:part name="parameters" element="tns:GetProtocolloGeneraleDaOrigine" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloGeneraleDaOrigineSoapOut">
    <wsdl:part name="parameters" element="tns:GetProtocolloGeneraleDaOrigineResponse" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloGeneraleDaOrigineAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="InsertProtocolloGeneraleSoapIn">
    <wsdl:part name="parameters" element="tns:InsertProtocolloGenerale" />
  </wsdl:message>
  <wsdl:message name="InsertProtocolloGeneraleSoapOut">
    <wsdl:part name="parameters" element="tns:InsertProtocolloGeneraleResponse" />
  </wsdl:message>
  <wsdl:message name="InsertProtocolloGeneraleAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetInputStructInsertProtocolloGeneraleSoapIn">
    <wsdl:part name="parameters" element="tns:GetInputStructInsertProtocolloGenerale" />
  </wsdl:message>
  <wsdl:message name="GetInputStructInsertProtocolloGeneraleSoapOut">
    <wsdl:part name="parameters" element="tns:GetInputStructInsertProtocolloGeneraleResponse" />
  </wsdl:message>
  <wsdl:message name="GetInputStructInsertProtocolloGeneraleAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloInternoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProtocolloInterno" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloInternoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProtocolloInternoResponse" />
  </wsdl:message>
  <wsdl:message name="GetProtocolloInternoAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="InsertBozzaProtocolloInternoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBozzaProtocolloInterno" />
  </wsdl:message>
  <wsdl:message name="InsertBozzaProtocolloInternoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBozzaProtocolloInternoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBozzaProtocolloInternoAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="SendBozzaProtocolloInternoSoapIn">
    <wsdl:part name="parameters" element="tns:SendBozzaProtocolloInterno" />
  </wsdl:message>
  <wsdl:message name="SendBozzaProtocolloInternoSoapOut">
    <wsdl:part name="parameters" element="tns:SendBozzaProtocolloInternoResponse" />
  </wsdl:message>
  <wsdl:message name="SendBozzaProtocolloInternoAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetInputStructInsertBozzaProtocolloInternoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInputStructInsertBozzaProtocolloInterno" />
  </wsdl:message>
  <wsdl:message name="GetInputStructInsertBozzaProtocolloInternoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInputStructInsertBozzaProtocolloInternoResponse" />
  </wsdl:message>
  <wsdl:message name="GetInputStructInsertBozzaProtocolloInternoAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="GetAllegatoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllegato" />
  </wsdl:message>
  <wsdl:message name="GetAllegatoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllegatoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllegatoAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="InsertAllegatoProtocolloGeneraleSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAllegatoProtocolloGenerale" />
  </wsdl:message>
  <wsdl:message name="InsertAllegatoProtocolloGeneraleSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAllegatoProtocolloGeneraleResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAllegatoProtocolloGeneraleAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:message name="InsertAllegatoProtocolloInternoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAllegatoProtocolloInterno" />
  </wsdl:message>
  <wsdl:message name="InsertAllegatoProtocolloInternoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAllegatoProtocolloInternoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAllegatoProtocolloInternoAuthenticationDetails">
    <wsdl:part name="AuthenticationDetails" element="tns:AuthenticationDetails" />
  </wsdl:message>
  <wsdl:portType name="ServiceProtocolloSoap">
    <wsdl:operation name="GetComune">
      <wsdl:input message="tns:GetComuneSoapIn" />
      <wsdl:output message="tns:GetComuneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorrispondente">
      <wsdl:input message="tns:GetCorrispondenteSoapIn" />
      <wsdl:output message="tns:GetCorrispondenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorrispondente">
      <wsdl:input name="GetCorrispondente1" message="tns:GetCorrispondente1SoapIn" />
      <wsdl:output name="GetCorrispondente1" message="tns:GetCorrispondente1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCorrispondente">
      <wsdl:input message="tns:InsertCorrispondenteSoapIn" />
      <wsdl:output message="tns:InsertCorrispondenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProcedimento">
      <wsdl:input message="tns:GetProcedimentoSoapIn" />
      <wsdl:output message="tns:GetProcedimentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloGenerale">
      <wsdl:input message="tns:GetProtocolloGeneraleSoapIn" />
      <wsdl:output message="tns:GetProtocolloGeneraleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloGenerale">
      <wsdl:input name="GetProtocolloGenerale1" message="tns:GetProtocolloGenerale1SoapIn" />
      <wsdl:output name="GetProtocolloGenerale1" message="tns:GetProtocolloGenerale1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloGeneraleDaOrigine">
      <wsdl:input message="tns:GetProtocolloGeneraleDaOrigineSoapIn" />
      <wsdl:output message="tns:GetProtocolloGeneraleDaOrigineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProtocolloGenerale">
      <wsdl:input message="tns:InsertProtocolloGeneraleSoapIn" />
      <wsdl:output message="tns:InsertProtocolloGeneraleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInputStructInsertProtocolloGenerale">
      <wsdl:input message="tns:GetInputStructInsertProtocolloGeneraleSoapIn" />
      <wsdl:output message="tns:GetInputStructInsertProtocolloGeneraleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloInterno">
      <wsdl:input message="tns:GetProtocolloInternoSoapIn" />
      <wsdl:output message="tns:GetProtocolloInternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBozzaProtocolloInterno">
      <wsdl:input message="tns:InsertBozzaProtocolloInternoSoapIn" />
      <wsdl:output message="tns:InsertBozzaProtocolloInternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendBozzaProtocolloInterno">
      <wsdl:input message="tns:SendBozzaProtocolloInternoSoapIn" />
      <wsdl:output message="tns:SendBozzaProtocolloInternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInputStructInsertBozzaProtocolloInterno">
      <wsdl:input message="tns:GetInputStructInsertBozzaProtocolloInternoSoapIn" />
      <wsdl:output message="tns:GetInputStructInsertBozzaProtocolloInternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllegato">
      <wsdl:input message="tns:GetAllegatoSoapIn" />
      <wsdl:output message="tns:GetAllegatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAllegatoProtocolloGenerale">
      <wsdl:input message="tns:InsertAllegatoProtocolloGeneraleSoapIn" />
      <wsdl:output message="tns:InsertAllegatoProtocolloGeneraleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAllegatoProtocolloInterno">
      <wsdl:input message="tns:InsertAllegatoProtocolloInternoSoapIn" />
      <wsdl:output message="tns:InsertAllegatoProtocolloInternoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceProtocolloSoap" type="tns:ServiceProtocolloSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComune">
      <soap:operation soapAction="http://services.apsystems.it/GetComune" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetComuneAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorrispondente">
      <soap:operation soapAction="http://services.apsystems.it/GetCorrispondente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCorrispondenteAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorrispondente">
      <soap:operation soapAction="http://services.apsystems.it/GetCorrispondente1" style="document" />
      <wsdl:input name="GetCorrispondente1">
        <soap:body use="literal" />
        <soap:header message="tns:GetCorrispondente1AuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCorrispondente1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCorrispondente">
      <soap:operation soapAction="http://services.apsystems.it/InsertCorrispondente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertCorrispondenteAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcedimento">
      <soap:operation soapAction="http://services.apsystems.it/GetProcedimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProcedimentoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloGenerale">
      <soap:operation soapAction="http://services.apsystems.it/GetProtocolloGenerale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProtocolloGeneraleAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloGenerale">
      <soap:operation soapAction="http://services.apsystems.it/GetProtocolloGenerale1" style="document" />
      <wsdl:input name="GetProtocolloGenerale1">
        <soap:body use="literal" />
        <soap:header message="tns:GetProtocolloGenerale1AuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProtocolloGenerale1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloGeneraleDaOrigine">
      <soap:operation soapAction="http://services.apsystems.it/GetProtocolloGeneraleDaOrigine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProtocolloGeneraleDaOrigineAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProtocolloGenerale">
      <soap:operation soapAction="http://services.apsystems.it/InsertProtocolloGenerale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertProtocolloGeneraleAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInputStructInsertProtocolloGenerale">
      <soap:operation soapAction="http://services.apsystems.it/GetInputStructInsertProtocolloGenerale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetInputStructInsertProtocolloGeneraleAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloInterno">
      <soap:operation soapAction="http://services.apsystems.it/GetProtocolloInterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBozzaProtocolloInterno">
      <soap:operation soapAction="http://services.apsystems.it/InsertBozzaProtocolloInterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertBozzaProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBozzaProtocolloInterno">
      <soap:operation soapAction="http://services.apsystems.it/SendBozzaProtocolloInterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendBozzaProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInputStructInsertBozzaProtocolloInterno">
      <soap:operation soapAction="http://services.apsystems.it/GetInputStructInsertBozzaProtocolloInterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetInputStructInsertBozzaProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllegato">
      <soap:operation soapAction="http://services.apsystems.it/GetAllegato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAllegatoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAllegatoProtocolloGenerale">
      <soap:operation soapAction="http://services.apsystems.it/InsertAllegatoProtocolloGenerale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertAllegatoProtocolloGeneraleAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAllegatoProtocolloInterno">
      <soap:operation soapAction="http://services.apsystems.it/InsertAllegatoProtocolloInterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertAllegatoProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceProtocolloSoap12" type="tns:ServiceProtocolloSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComune">
      <soap12:operation soapAction="http://services.apsystems.it/GetComune" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetComuneAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorrispondente">
      <soap12:operation soapAction="http://services.apsystems.it/GetCorrispondente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCorrispondenteAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorrispondente">
      <soap12:operation soapAction="http://services.apsystems.it/GetCorrispondente1" style="document" />
      <wsdl:input name="GetCorrispondente1">
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCorrispondente1AuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCorrispondente1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCorrispondente">
      <soap12:operation soapAction="http://services.apsystems.it/InsertCorrispondente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertCorrispondenteAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcedimento">
      <soap12:operation soapAction="http://services.apsystems.it/GetProcedimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProcedimentoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloGenerale">
      <soap12:operation soapAction="http://services.apsystems.it/GetProtocolloGenerale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProtocolloGeneraleAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloGenerale">
      <soap12:operation soapAction="http://services.apsystems.it/GetProtocolloGenerale1" style="document" />
      <wsdl:input name="GetProtocolloGenerale1">
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProtocolloGenerale1AuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProtocolloGenerale1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloGeneraleDaOrigine">
      <soap12:operation soapAction="http://services.apsystems.it/GetProtocolloGeneraleDaOrigine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProtocolloGeneraleDaOrigineAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProtocolloGenerale">
      <soap12:operation soapAction="http://services.apsystems.it/InsertProtocolloGenerale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertProtocolloGeneraleAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInputStructInsertProtocolloGenerale">
      <soap12:operation soapAction="http://services.apsystems.it/GetInputStructInsertProtocolloGenerale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetInputStructInsertProtocolloGeneraleAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocolloInterno">
      <soap12:operation soapAction="http://services.apsystems.it/GetProtocolloInterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBozzaProtocolloInterno">
      <soap12:operation soapAction="http://services.apsystems.it/InsertBozzaProtocolloInterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertBozzaProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBozzaProtocolloInterno">
      <soap12:operation soapAction="http://services.apsystems.it/SendBozzaProtocolloInterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendBozzaProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInputStructInsertBozzaProtocolloInterno">
      <soap12:operation soapAction="http://services.apsystems.it/GetInputStructInsertBozzaProtocolloInterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetInputStructInsertBozzaProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllegato">
      <soap12:operation soapAction="http://services.apsystems.it/GetAllegato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAllegatoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAllegatoProtocolloGenerale">
      <soap12:operation soapAction="http://services.apsystems.it/InsertAllegatoProtocolloGenerale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertAllegatoProtocolloGeneraleAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAllegatoProtocolloInterno">
      <soap12:operation soapAction="http://services.apsystems.it/InsertAllegatoProtocolloInterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertAllegatoProtocolloInternoAuthenticationDetails" part="AuthenticationDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProtocollo">
    <wsdl:port name="ServiceProtocolloSoap" binding="tns:ServiceProtocolloSoap">
      <soap:address location="http://test.hypersic.net/wsprotocollo/serviceprotocollo.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceProtocolloSoap12" binding="tns:ServiceProtocolloSoap12">
      <soap12:address location="http://test.hypersic.net/wsprotocollo/serviceprotocollo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>