src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Web References/ProxyDocsPa/DocsPaWSLite.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.etnoteam.it/docspawslite/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.etnoteam.it/docspawslite/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.etnoteam.it/docspawslite/">
      <s:element name="Protocollazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mittente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProtocollazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProtocollazioneResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="numProto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoProto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="segnatura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataProtocollo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCorrispondenteEsterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codrubrica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_urp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indirizzo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="citta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prov" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCorrispondenteEsternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertCorrispondenteEsternoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ricercaSchedabyChiaveProto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numproto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipodoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codreg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ricercaSchedabyChiaveProtoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ricercaSchedabyChiaveProtoResult" type="tns:SchedaDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SchedaDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataCreazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="oraCreazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="docNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoProto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accessRights" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idPeople" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="appId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="modOggetto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="assegnato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fascicolato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="privato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="personale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoSesso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="autore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numOggetto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="commissioneRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idFasciaEta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="evidenza" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="daAggiornareParoleChiave" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="daAggiornarePrivato" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="predisponiProtocollazione" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="daAggiornareTipoAtto" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="protocollo" type="tns:Protocollo" />
          <s:element minOccurs="0" maxOccurs="1" name="oggetto" type="tns:Oggetto" />
          <s:element minOccurs="0" maxOccurs="1" name="tipologiaAtto" type="tns:TipologiaAtto" />
          <s:element minOccurs="0" maxOccurs="1" name="registro" type="tns:Registro" />
          <s:element minOccurs="0" maxOccurs="1" name="protocollatore" type="tns:Protocollatore" />
          <s:element minOccurs="0" maxOccurs="1" name="creatoreDocumento" type="tns:CreatoreDocumento" />
          <s:element minOccurs="0" maxOccurs="1" name="datiEmergenza" type="tns:DocumentoDatiEmergenza" />
          <s:element minOccurs="0" maxOccurs="1" name="interop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataScadenza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inCestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inArchivio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mezzoSpedizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descMezzoSpedizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="template" type="tns:Templates" />
          <s:element minOccurs="0" maxOccurs="1" name="folder" type="tns:ArrayOfFolder" />
          <s:element minOccurs="0" maxOccurs="1" name="documenti" type="tns:ArrayOfDocumento" />
          <s:element minOccurs="0" maxOccurs="1" name="allegati" type="tns:ArrayOfAllegato" />
          <s:element minOccurs="0" maxOccurs="1" name="paroleChiave" type="tns:ArrayOfDocumentoParolaChiave" />
          <s:element minOccurs="0" maxOccurs="1" name="destinatariModificati" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="destinatariCCModificati" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="checkOutStatus" type="tns:CheckOutStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="noteDocumento" type="tns:ArrayOfInfoNota" />
          <s:element minOccurs="0" maxOccurs="1" name="documentoPrincipale" type="tns:InfoDocumento" />
          <s:element minOccurs="1" maxOccurs="1" name="modificaRispostaDocumento" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="rispostaDocumento" type="tns:InfoDocumento" />
          <s:element minOccurs="0" maxOccurs="1" name="eredita" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_rf_prot" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_rf_prot" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_rf_invio_ricevuta" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Protocollo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataProtocollazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segnatura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="daProtocollare" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="invioConferma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="modMittDest" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="modMittInt" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModUffRef" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="protocolloAnnullato" type="tns:ProtocolloAnnullato" />
          <s:element minOccurs="0" maxOccurs="1" name="descMezzoSpedizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mezzoSpedizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProtocolloAnnullato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="autorizzazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataAnnullamento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProtocolloUscita">
        <s:complexContent mixed="false">
          <s:extension base="tns:Protocollo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="daAggiornareDestinatari" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="daAggiornareDestinatariConoscenza" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="daAggiornareMittente" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="mittente" type="tns:Corrispondente" />
              <s:element minOccurs="0" maxOccurs="1" name="ufficioReferente" type="tns:Corrispondente" />
              <s:element minOccurs="0" maxOccurs="1" name="destinatari" type="tns:ArrayOfCorrispondente" />
              <s:element minOccurs="0" maxOccurs="1" name="destinatariConoscenza" type="tns:ArrayOfCorrispondente" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Corrispondente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codiceCorrispondente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codiceRubrica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idAmministrazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoCorrispondente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoIE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="canalePref" type="tns:Canale" />
          <s:element minOccurs="1" maxOccurs="1" name="dettagli" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="info">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="serverPosta" type="tns:ServerPosta" />
          <s:element minOccurs="0" maxOccurs="1" name="idOld" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fromEmail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="notificaConAllegato" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codiceAOO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codiceAmm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dta_fine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cognome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="indirizzo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="citta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prov" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nazionalita" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codfisc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="inRubricaComune" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Canale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoCanale" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServerPosta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serverPOP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="portaPOP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serverSMTP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="portaSMTP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dominio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UnitaOrganizzativa">
        <s:complexContent mixed="false">
          <s:extension base="tns:Corrispondente">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="livello" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="interoperante" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="codiceIstat" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="parent" type="tns:UnitaOrganizzativa" />
              <s:element minOccurs="0" maxOccurs="1" name="registri" type="tns:ArrayOfRegistro" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfRegistro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Registro" nillable="true" type="tns:Registro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Registro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataApertura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataChiusura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idAmministrazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codAmministrazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataUltimoProtocollo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ultimoNumeroProtocollo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ruoloRiferimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idRuoloAOO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idUtenteAOO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="autoInterop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="chaRF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idAOOCollegata" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="rfDisabled" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diritto_Ruolo_AOO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sospeso" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="idRuoloResp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="invioRicevutaManuale" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCorrispondente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Corrispondente" nillable="true" type="tns:Corrispondente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProtocolloInterno">
        <s:complexContent mixed="false">
          <s:extension base="tns:ProtocolloUscita" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ProtocolloEntrata">
        <s:complexContent mixed="false">
          <s:extension base="tns:Protocollo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="mittente" type="tns:Corrispondente" />
              <s:element minOccurs="0" maxOccurs="1" name="mittenteIntermedio" type="tns:Corrispondente" />
              <s:element minOccurs="0" maxOccurs="1" name="ufficioReferente" type="tns:Corrispondente" />
              <s:element minOccurs="0" maxOccurs="1" name="descrizioneProtocolloMittente" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="dataProtocolloMittente" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="daAggiornareMittente" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="daAggiornareMittenteIntermedio" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Oggetto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="daAggiornare" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="idRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codOggetto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipologiaAtto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Protocollatore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="utente_idPeople" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ruolo_idCorrGlobali" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uo_idCorrGlobali" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uo_codiceCorrGlobali" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CreatoreDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idPeople" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idCorrGlob_Ruolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idCorrGlob_UO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uo_codiceCorrGlobali" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentoDatiEmergenza">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="protocolloEmergenza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataProtocollazioneEmergenza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomeProtocollatoreEmergenza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cognomeProtocollatoreEmergenza" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Templates">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SYSTEM_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOC_NUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_PROJECT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ABILITATO_SI_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IN_ESERCIZIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ELENCO_OGGETTI" type="tns:ArrayOfOggettoCustom" />
          <s:element minOccurs="1" maxOccurs="1" name="OPERATORE_RICERCA_OGGETTI" type="tns:OperatoriRicercaOggettiCustomEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="PATH_MODELLO_1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PATH_MODELLO_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PATH_ALLEGATO_1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_TIPO_ATTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_TIPO_FASC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCADENZA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRE_SCADENZA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRIVATO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPERFASCICOLO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_AMMINISTRAZIONE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOggettoCustom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OggettoCustom" nillable="true" type="tns:OggettoCustom" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OggettoCustom">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SYSTEM_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORIZZONTALE_VERTICALE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO_OBBLIGATORIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MULTILINEA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMERO_DI_LINEE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMERO_DI_CARATTERI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO_DI_RICERCA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALORE_DATABASE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSIZIONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_RUOLO_DEFAULT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_RICERCA_CORR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_OPERAZIONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="tns:TipoOggetto" />
          <s:element minOccurs="0" maxOccurs="1" name="ELENCO_VALORI" type="tns:ArrayOfValoreOggetto" />
          <s:element minOccurs="0" maxOccurs="1" name="VALORI_SELEZIONATI" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="RESETTA_CONTATORE_INIZIO_ANNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FORMATO_CONTATORE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ANNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO_COMUNE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_CONTATORE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONTA_DOPO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPERTORIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_AOO_RF" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CONTATORE_DA_FAR_SCATTARE" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoOggetto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SYSTEM_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE_TIPO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfValoreOggetto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ValoreOggetto" nillable="true" type="tns:ValoreOggetto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ValoreOggetto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SYSTEM_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE_VALORE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALORE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALORE_DI_DEFAULT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ABILITATO" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OperatoriRicercaOggettiCustomEnum">
        <s:restriction base="s:string">
          <s:enumeration value="And" />
          <s:enumeration value="Or" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfFolder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="tns:Folder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Folder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="childs" type="tns:ArrayOfFolder" />
          <s:element minOccurs="0" maxOccurs="1" name="systemID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idFascicolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idParent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Documento">
        <s:complexContent mixed="false">
          <s:extension base="tns:FileRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="daInviare" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="dataArrivo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="tipologia" type="tns:TipologiaCanale" />
              <s:element minOccurs="0" maxOccurs="1" name="dataArchiviazione" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FileRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dataInserimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="docNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="docServerLoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idPeople" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="versionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fNversionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="versionLabel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileSize" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="autore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="daAggiornareFirmatari" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="applicazione" type="tns:Applicazione" />
          <s:element minOccurs="0" maxOccurs="1" name="msgErr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cartaceo" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="firmatari" type="tns:ArrayOfFirmatario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Applicazione">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estensione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mimeType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFirmatario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Firmatario" nillable="true" type="tns:Firmatario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Firmatario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cognome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codiceFiscale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataNascita" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="identificativoCA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="livello" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Allegato">
        <s:complexContent mixed="false">
          <s:extension base="tns:FileRequest">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="numeroPagine" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TipologiaCanale">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAllegato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Allegato" nillable="true" type="tns:Allegato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDocumentoParolaChiave">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentoParolaChiave" nillable="true" type="tns:DocumentoParolaChiave" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentoParolaChiave">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idAmministrazione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CheckOutStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckOutDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDRole" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDDocument" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Segnature" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InConversionePdf" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInfoNota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InfoNota" nillable="true" type="tns:InfoNota" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfoNota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="Tutti" name="TipoVisibilita" type="tns:TipiVisibilitaNotaEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="Testo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCreazione" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UtenteCreatore" type="tns:InfoUtenteCreatoreNota" />
          <s:element minOccurs="1" maxOccurs="1" name="SolaLettura" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DaRimuovere" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DaInserire" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipiVisibilitaNotaEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Tutti" />
          <s:enumeration value="Ruolo" />
          <s:enumeration value="Personale" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="InfoUtenteCreatoreNota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdUtente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrizioneUtente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdRuolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrizioneRuolo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfoDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idProfile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="docNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numProt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="oggetto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataApertura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoProto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segnatura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="daProtocollare" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="evidenza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataAnnullamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mittDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acquisitaImmagine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="privato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="personale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noteCestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="autore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inCestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inADL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idTipoAtto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoAtto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="isRimovibile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inConservazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inArchivio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numSerie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mittDest" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="dataArchiviazione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="allegato" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="protocollazioneEstesa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoProtocollo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="corrispondenti" type="tns:ArrayOfCorrLite" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCorrLite">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorrLite" type="tns:CorrLite" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CorrLite">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoCorrispondente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="indirizzo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="citta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="provincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codiceFiscale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="protocollazioneEstesaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="protocollazioneEstesaResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="numProto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoProto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="segnatura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataProtocollo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="protocollazioneEstesaConClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoProtocollo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="corrispondenti" type="tns:ArrayOfCorrLite" />
            <s:element minOccurs="0" maxOccurs="1" name="codFascicolo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="protocollazioneEstesaConClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="protocollazioneEstesaConClassResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="numProto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnoProto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="segnatura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataProtocollo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ricercaSchedabySegnatura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="segnatura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ricercaSchedabySegnaturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ricercaSchedabySegnaturaResult" type="tns:SchedaDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="putfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileReq" type="tns:FileRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="fileDoc" type="tns:FileDocumento" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estensioneFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LabelPdf" type="tns:labelPdf" />
          <s:element minOccurs="0" maxOccurs="1" name="signatureResult" type="tns:VerifySignatureResult" />
          <s:element minOccurs="0" maxOccurs="1" name="msgErr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cartaceo" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="timestampResult" type="tns:OutputResponseMarca" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="labelPdf">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="font_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="font_color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="font_size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="default_position" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="label_rotation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="positions" type="tns:ArrayOfPosition" />
          <s:element minOccurs="0" maxOccurs="1" name="pdfWidth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pdfHeight" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orientamento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipoLabel" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="position" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sel_font" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sel_color" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPosition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="position" nillable="true" type="tns:position" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="position">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="posName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PosX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PosY" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VerifySignatureResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FinalDocumentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CRLOnlineCheck" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PKCS7Documents" type="tns:ArrayOfPKCS7Document" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPKCS7Document">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PKCS7Document" nillable="true" type="tns:PKCS7Document" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PKCS7Document">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentFileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SignersInfo" type="tns:ArrayOfSignerInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSignerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SignerInfo" type="tns:SignerInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SignerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ParentSignerCertSN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CertificateInfo" type="tns:CertificateInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="SubjectInfo" type="tns:SubjectInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CertificateInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RevocationStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RevocationStatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SignatureAlgorithm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidFromDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidToDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SubjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssuerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbPrint" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubjectInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CommonName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CertId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataDiNascita" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OutputResponseMarca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="descrizioneErrore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="docm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="docm_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dsm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="esito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fhash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sernum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TSA" type="tns:TSARFC2253" />
          <s:element minOccurs="0" maxOccurs="1" name="DecryptedTSR" type="tns:Marca" />
          <s:element minOccurs="0" maxOccurs="1" name="timestampedDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="snCertificato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="algCertificato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="algHash" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TSARFC2253">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TSARFC2253Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="O" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Marca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="putfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="putfileResult" type="tns:FileRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="segnatura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getfileResult" type="tns:FileDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="annullaProtocollo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segnatura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noteAnnullamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="annullaProtocolloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="annullaProtocolloResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificaProtocollo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sch" type="tns:SchedaDocumento" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificaProtocolloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modificaProtocolloResult" type="tns:SchedaDocumento" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="executeTrasm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scheda" type="tns:SchedaDocumento" />
            <s:element minOccurs="0" maxOccurs="1" name="modello" type="tns:ModelloTrasmissione" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ModelloTrasmissione">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SYSTEM_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_AMM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHA_TIPO_OGGETTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_REGISTRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VAR_NOTE_GENERALI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SINGLE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_PEOPLE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEDE_DIRITTI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_PEOPLE_NEW_OWNER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_GROUP_NEW_OWNER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODICE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MITTENTE" type="tns:ArrayOfMittDest" />
          <s:element minOccurs="0" maxOccurs="1" name="RAGIONI_DESTINATARI" type="tns:ArrayOfRagioneDest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMittDest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MittDest" nillable="true" type="tns:MittDest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MittDest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SYSTEM_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_MODELLO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHA_TIPO_MITT_DEST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VAR_COD_RUBRICA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_RAGIONE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHA_TIPO_TRASM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SCADENZA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VAR_NOTE_SING" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIZIONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHA_TIPO_URP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CORR_GLOBALI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UTENTI_NOTIFICA" type="tns:ArrayOfUtentiConNotificaTrasm" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUtentiConNotificaTrasm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UtentiConNotificaTrasm" nillable="true" type="tns:UtentiConNotificaTrasm" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UtentiConNotificaTrasm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID_PEOPLE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODICE_UTENTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOME_COGNOME_UTENTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FLAG_NOTIFICA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRagioneDest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RagioneDest" nillable="true" type="tns:RagioneDest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RagioneDest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RAGIONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHA_TIPO_RAGIONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESTINATARI" type="tns:ArrayOfMittDest" />
        </s:sequence>
      </s:complexType>
      <s:element name="executeTrasmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="executeTrasmResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getModelliPerTrasm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registri" type="tns:ArrayOfRegistro" />
            <s:element minOccurs="0" maxOccurs="1" name="idTipoDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idDiagramma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idStato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cha_tipo_oggetto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getModelliPerTrasmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getModelliPerTrasmResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FiltroRicercaNote">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Visibilita" type="tns:TipiVisibilitaNotaEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="Testo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="30" name="NumeroMassimoCaratteriTesto" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AssociazioneNota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="Documento" name="TipoOggetto" type="tns:OggettiAssociazioniNotaEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OggettiAssociazioniNotaEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Documento" />
          <s:enumeration value="Fascicolo" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ricercaCorrLiteIE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="corrispondente" type="tns:CorrLite" />
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoIE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ricercaCorrLiteIEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ricercaCorrLiteIEResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="corrLiteOut" type="tns:CorrLite" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aggiungiAllegato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scheda" type="tns:SchedaDocumento" />
            <s:element minOccurs="0" maxOccurs="1" name="NumPagine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fd" type="tns:FileDocumento" />
            <s:element minOccurs="0" maxOccurs="1" name="allegato" type="tns:Allegato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aggiungiAllegatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aggiungiAllegatoResult" type="tns:Allegato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aggiungiEtichettaPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fr" type="tns:FileRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="scheda" type="tns:SchedaDocumento" />
            <s:element minOccurs="0" maxOccurs="1" name="position" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fd" type="tns:FileDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aggiungiEtichettaPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aggiungiEtichettaPDFResult" type="tns:FileDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFileAllegato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="allegato" type="tns:FileRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFileAllegatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFileAllegatoResult" type="tns:FileDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ricercaCorrLiteIEbyDescrizione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descRicerca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoIE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ricercaCorrLiteIEbyDescrizioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ricercaCorrLiteIEbyDescrizioneResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="corrLiteOut" type="tns:ArrayOfCorrLite" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProtocollazioneSoapIn">
    <wsdl:part name="parameters" element="tns:Protocollazione" />
  </wsdl:message>
  <wsdl:message name="ProtocollazioneSoapOut">
    <wsdl:part name="parameters" element="tns:ProtocollazioneResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCorrispondenteEsternoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCorrispondenteEsterno" />
  </wsdl:message>
  <wsdl:message name="InsertCorrispondenteEsternoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCorrispondenteEsternoResponse" />
  </wsdl:message>
  <wsdl:message name="ricercaSchedabyChiaveProtoSoapIn">
    <wsdl:part name="parameters" element="tns:ricercaSchedabyChiaveProto" />
  </wsdl:message>
  <wsdl:message name="ricercaSchedabyChiaveProtoSoapOut">
    <wsdl:part name="parameters" element="tns:ricercaSchedabyChiaveProtoResponse" />
  </wsdl:message>
  <wsdl:message name="protocollazioneEstesaSoapIn">
    <wsdl:part name="parameters" element="tns:protocollazioneEstesa" />
  </wsdl:message>
  <wsdl:message name="protocollazioneEstesaSoapOut">
    <wsdl:part name="parameters" element="tns:protocollazioneEstesaResponse" />
  </wsdl:message>
  <wsdl:message name="protocollazioneEstesaConClassSoapIn">
    <wsdl:part name="parameters" element="tns:protocollazioneEstesaConClass" />
  </wsdl:message>
  <wsdl:message name="protocollazioneEstesaConClassSoapOut">
    <wsdl:part name="parameters" element="tns:protocollazioneEstesaConClassResponse" />
  </wsdl:message>
  <wsdl:message name="ricercaSchedabySegnaturaSoapIn">
    <wsdl:part name="parameters" element="tns:ricercaSchedabySegnatura" />
  </wsdl:message>
  <wsdl:message name="ricercaSchedabySegnaturaSoapOut">
    <wsdl:part name="parameters" element="tns:ricercaSchedabySegnaturaResponse" />
  </wsdl:message>
  <wsdl:message name="putfileSoapIn">
    <wsdl:part name="parameters" element="tns:putfile" />
  </wsdl:message>
  <wsdl:message name="putfileSoapOut">
    <wsdl:part name="parameters" element="tns:putfileResponse" />
  </wsdl:message>
  <wsdl:message name="getfileSoapIn">
    <wsdl:part name="parameters" element="tns:getfile" />
  </wsdl:message>
  <wsdl:message name="getfileSoapOut">
    <wsdl:part name="parameters" element="tns:getfileResponse" />
  </wsdl:message>
  <wsdl:message name="annullaProtocolloSoapIn">
    <wsdl:part name="parameters" element="tns:annullaProtocollo" />
  </wsdl:message>
  <wsdl:message name="annullaProtocolloSoapOut">
    <wsdl:part name="parameters" element="tns:annullaProtocolloResponse" />
  </wsdl:message>
  <wsdl:message name="modificaProtocolloSoapIn">
    <wsdl:part name="parameters" element="tns:modificaProtocollo" />
  </wsdl:message>
  <wsdl:message name="modificaProtocolloSoapOut">
    <wsdl:part name="parameters" element="tns:modificaProtocolloResponse" />
  </wsdl:message>
  <wsdl:message name="executeTrasmSoapIn">
    <wsdl:part name="parameters" element="tns:executeTrasm" />
  </wsdl:message>
  <wsdl:message name="executeTrasmSoapOut">
    <wsdl:part name="parameters" element="tns:executeTrasmResponse" />
  </wsdl:message>
  <wsdl:message name="getModelliPerTrasmSoapIn">
    <wsdl:part name="parameters" element="tns:getModelliPerTrasm" />
  </wsdl:message>
  <wsdl:message name="getModelliPerTrasmSoapOut">
    <wsdl:part name="parameters" element="tns:getModelliPerTrasmResponse" />
  </wsdl:message>
  <wsdl:message name="ricercaCorrLiteIESoapIn">
    <wsdl:part name="parameters" element="tns:ricercaCorrLiteIE" />
  </wsdl:message>
  <wsdl:message name="ricercaCorrLiteIESoapOut">
    <wsdl:part name="parameters" element="tns:ricercaCorrLiteIEResponse" />
  </wsdl:message>
  <wsdl:message name="aggiungiAllegatoSoapIn">
    <wsdl:part name="parameters" element="tns:aggiungiAllegato" />
  </wsdl:message>
  <wsdl:message name="aggiungiAllegatoSoapOut">
    <wsdl:part name="parameters" element="tns:aggiungiAllegatoResponse" />
  </wsdl:message>
  <wsdl:message name="aggiungiEtichettaPDFSoapIn">
    <wsdl:part name="parameters" element="tns:aggiungiEtichettaPDF" />
  </wsdl:message>
  <wsdl:message name="aggiungiEtichettaPDFSoapOut">
    <wsdl:part name="parameters" element="tns:aggiungiEtichettaPDFResponse" />
  </wsdl:message>
  <wsdl:message name="getFileAllegatoSoapIn">
    <wsdl:part name="parameters" element="tns:getFileAllegato" />
  </wsdl:message>
  <wsdl:message name="getFileAllegatoSoapOut">
    <wsdl:part name="parameters" element="tns:getFileAllegatoResponse" />
  </wsdl:message>
  <wsdl:message name="ricercaCorrLiteIEbyDescrizioneSoapIn">
    <wsdl:part name="parameters" element="tns:ricercaCorrLiteIEbyDescrizione" />
  </wsdl:message>
  <wsdl:message name="ricercaCorrLiteIEbyDescrizioneSoapOut">
    <wsdl:part name="parameters" element="tns:ricercaCorrLiteIEbyDescrizioneResponse" />
  </wsdl:message>
  <wsdl:portType name="DocsPaWSLiteSoap">
    <wsdl:operation name="Protocollazione">
      <wsdl:input message="tns:ProtocollazioneSoapIn" />
      <wsdl:output message="tns:ProtocollazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCorrispondenteEsterno">
      <wsdl:input message="tns:InsertCorrispondenteEsternoSoapIn" />
      <wsdl:output message="tns:InsertCorrispondenteEsternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ricercaSchedabyChiaveProto">
      <wsdl:input message="tns:ricercaSchedabyChiaveProtoSoapIn" />
      <wsdl:output message="tns:ricercaSchedabyChiaveProtoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="protocollazioneEstesa">
      <wsdl:input message="tns:protocollazioneEstesaSoapIn" />
      <wsdl:output message="tns:protocollazioneEstesaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="protocollazioneEstesaConClass">
      <wsdl:input message="tns:protocollazioneEstesaConClassSoapIn" />
      <wsdl:output message="tns:protocollazioneEstesaConClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ricercaSchedabySegnatura">
      <wsdl:input message="tns:ricercaSchedabySegnaturaSoapIn" />
      <wsdl:output message="tns:ricercaSchedabySegnaturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="putfile">
      <wsdl:input message="tns:putfileSoapIn" />
      <wsdl:output message="tns:putfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getfile">
      <wsdl:input message="tns:getfileSoapIn" />
      <wsdl:output message="tns:getfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="annullaProtocollo">
      <wsdl:input message="tns:annullaProtocolloSoapIn" />
      <wsdl:output message="tns:annullaProtocolloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificaProtocollo">
      <wsdl:input message="tns:modificaProtocolloSoapIn" />
      <wsdl:output message="tns:modificaProtocolloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="executeTrasm">
      <wsdl:input message="tns:executeTrasmSoapIn" />
      <wsdl:output message="tns:executeTrasmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getModelliPerTrasm">
      <wsdl:input message="tns:getModelliPerTrasmSoapIn" />
      <wsdl:output message="tns:getModelliPerTrasmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ricercaCorrLiteIE">
      <wsdl:input message="tns:ricercaCorrLiteIESoapIn" />
      <wsdl:output message="tns:ricercaCorrLiteIESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="aggiungiAllegato">
      <wsdl:input message="tns:aggiungiAllegatoSoapIn" />
      <wsdl:output message="tns:aggiungiAllegatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="aggiungiEtichettaPDF">
      <wsdl:input message="tns:aggiungiEtichettaPDFSoapIn" />
      <wsdl:output message="tns:aggiungiEtichettaPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFileAllegato">
      <wsdl:input message="tns:getFileAllegatoSoapIn" />
      <wsdl:output message="tns:getFileAllegatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ricercaCorrLiteIEbyDescrizione">
      <wsdl:input message="tns:ricercaCorrLiteIEbyDescrizioneSoapIn" />
      <wsdl:output message="tns:ricercaCorrLiteIEbyDescrizioneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocsPaWSLiteSoap" type="tns:DocsPaWSLiteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Protocollazione">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/Protocollazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCorrispondenteEsterno">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/InsertCorrispondenteEsterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaSchedabyChiaveProto">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/ricercaSchedabyChiaveProto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocollazioneEstesa">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/protocollazioneEstesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocollazioneEstesaConClass">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/protocollazioneEstesaConClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaSchedabySegnatura">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/ricercaSchedabySegnatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putfile">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/putfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getfile">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/getfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annullaProtocollo">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/annullaProtocollo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaProtocollo">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/modificaProtocollo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeTrasm">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/executeTrasm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModelliPerTrasm">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/getModelliPerTrasm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaCorrLiteIE">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/ricercaCorrLiteIE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aggiungiAllegato">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/aggiungiAllegato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aggiungiEtichettaPDF">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/aggiungiEtichettaPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileAllegato">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/getFileAllegato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaCorrLiteIEbyDescrizione">
      <soap:operation soapAction="http://www.etnoteam.it/docspawslite/ricercaCorrLiteIEbyDescrizione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocsPaWSLiteSoap12" type="tns:DocsPaWSLiteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Protocollazione">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/Protocollazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCorrispondenteEsterno">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/InsertCorrispondenteEsterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaSchedabyChiaveProto">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/ricercaSchedabyChiaveProto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocollazioneEstesa">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/protocollazioneEstesa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocollazioneEstesaConClass">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/protocollazioneEstesaConClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaSchedabySegnatura">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/ricercaSchedabySegnatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putfile">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/putfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getfile">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/getfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annullaProtocollo">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/annullaProtocollo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaProtocollo">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/modificaProtocollo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeTrasm">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/executeTrasm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModelliPerTrasm">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/getModelliPerTrasm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaCorrLiteIE">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/ricercaCorrLiteIE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aggiungiAllegato">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/aggiungiAllegato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aggiungiEtichettaPDF">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/aggiungiEtichettaPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileAllegato">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/getFileAllegato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaCorrLiteIEbyDescrizione">
      <soap12:operation soapAction="http://www.etnoteam.it/docspawslite/ricercaCorrLiteIEbyDescrizione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocsPaWSLite">
    <wsdl:port name="DocsPaWSLiteSoap" binding="tns:DocsPaWSLiteSoap">
      <soap:address location="http://10.0.0.222/DocsPaWS/DocsPaWSLite.asmx" />
    </wsdl:port>
    <wsdl:port name="DocsPaWSLiteSoap12" binding="tns:DocsPaWSLiteSoap12">
      <soap12:address location="http://10.0.0.222/DocsPaWS/DocsPaWSLite.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>