src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsiel3FilesTransferService/v11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tgen="http://insiel.it/filetransfer/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/filetransfer/schemixsd/tipiGenerali" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AttachmentDataType">
    <xs:sequence>
      <xs:element name="md5Checksum" nillable="true" type="xs:string" />
      <xs:element xmime:expectedContentTypes="application/octet-stream" name="binaryData" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErroreType">
    <xs:sequence>
      <xs:element name="codice" nillable="true" type="xs:string" />
      <xs:element name="descrizione" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>