src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/LeggiProtocolloEGrammata2Service/WSRicercaProtocollo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://195.62.187.39:8080/egrammata/services/WSRicercaProtocollo" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://195.62.187.39:8080/egrammata/services/WSRicercaProtocollo" targetNamespace="http://195.62.187.39:8080/egrammata/services/WSRicercaProtocollo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="ricercaResponse">
    <wsdl:part name="ricercaReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="ricercaNSRequest">
    <wsdl:part name="codEnte" type="soapenc:string" />
    <wsdl:part name="username" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
    <wsdl:part name="indirizzoIP" type="soapenc:string" />
    <wsdl:part name="xml" type="soapenc:string" />
    <wsdl:part name="hash" type="soapenc:string" />
    <wsdl:part name="userApp" type="soapenc:string" />
    <wsdl:part name="postazione" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="ricercaNSResponse">
    <wsdl:part name="ricercaNSReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="ricercaRequest">
    <wsdl:part name="codEnte" type="soapenc:string" />
    <wsdl:part name="username" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
    <wsdl:part name="indirizzoIP" type="soapenc:string" />
    <wsdl:part name="xml" type="soapenc:string" />
    <wsdl:part name="hash" type="soapenc:string" />
    <wsdl:part name="userApp" type="soapenc:string" />
    <wsdl:part name="postazione" type="soapenc:string" />
  </wsdl:message>
  <wsdl:portType name="WSRicercaProtocollo">
    <wsdl:operation name="ricerca" parameterOrder="codEnte username password indirizzoIP xml hash userApp postazione">
      <wsdl:input name="ricercaRequest" message="impl:ricercaRequest" />
      <wsdl:output name="ricercaResponse" message="impl:ricercaResponse" />
    </wsdl:operation>
    <wsdl:operation name="ricercaNS" parameterOrder="codEnte username password indirizzoIP xml hash userApp postazione">
      <wsdl:input name="ricercaNSRequest" message="impl:ricercaNSRequest" />
      <wsdl:output name="ricercaNSResponse" message="impl:ricercaNSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSRicercaProtocolloSoapBinding" type="impl:WSRicercaProtocollo">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ricerca">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ricercaRequest">
        <wsdlsoap:body use="encoded" namespace="http://protocollo.webservices.eng" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="ricercaResponse">
        <wsdlsoap:body use="encoded" namespace="http://195.62.187.39:8080/egrammata/services/WSRicercaProtocollo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ricercaNS">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ricercaNSRequest">
        <wsdlsoap:body use="encoded" namespace="http://protocollo.webservices.eng" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="ricercaNSResponse">
        <wsdlsoap:body use="encoded" namespace="http://195.62.187.39:8080/egrammata/services/WSRicercaProtocollo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSRicercaProtocolloService">
    <wsdl:port name="WSRicercaProtocollo" binding="impl:WSRicercaProtocolloSoapBinding">
      <wsdlsoap:address location="http://195.62.187.39:8080/egrammata/services/WSRicercaProtocollo" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>