src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloProtInfService/ProtocolloWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://servizi.protinf.ifm.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://servizi.protinf.ifm.it" targetNamespace="http://servizi.protinf.ifm.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://servizi.protinf.ifm.it">
      <xsd:element name="protocolla">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="protocolloXML" type="xsd:string" />
            <xsd:element name="mittenteXML" type="xsd:string" />
            <xsd:element name="destinatarioXML" type="xsd:string" />
            <xsd:element name="assegnatarioXML" type="xsd:string" />
            <xsd:element name="allegatiXML" type="xsd:string" />
            <xsd:element name="dirftp" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="protocollaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="protocollaReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="elencoRuoli">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ente" type="xsd:string" />
            <xsd:element name="utente" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="elencoRuoliResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="elencoRuoliReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="elencoRuoliRequest">
    <wsdl:part name="parameters" element="impl:elencoRuoli" />
  </wsdl:message>
  <wsdl:message name="protocollaResponse">
    <wsdl:part name="parameters" element="impl:protocollaResponse" />
  </wsdl:message>
  <wsdl:message name="protocollaRequest">
    <wsdl:part name="parameters" element="impl:protocolla" />
  </wsdl:message>
  <wsdl:message name="elencoRuoliResponse">
    <wsdl:part name="parameters" element="impl:elencoRuoliResponse" />
  </wsdl:message>
  <wsdl:portType name="ProtocolloWebService">
    <wsdl:operation name="protocolla">
      <wsdl:input name="protocollaRequest" message="impl:protocollaRequest" />
      <wsdl:output name="protocollaResponse" message="impl:protocollaResponse" />
    </wsdl:operation>
    <wsdl:operation name="elencoRuoli">
      <wsdl:input name="elencoRuoliRequest" message="impl:elencoRuoliRequest" />
      <wsdl:output name="elencoRuoliResponse" message="impl:elencoRuoliResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProtocolloWebServiceSoapBinding" type="impl:ProtocolloWebService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="protocolla">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="protocollaRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="protocollaResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="elencoRuoli">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="elencoRuoliRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="elencoRuoliResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtocolloWebServiceService">
    <wsdl:port name="ProtocolloWebService" binding="impl:ProtocolloWebServiceSoapBinding">
      <wsdlsoap:address location="http://localhost:8088/protinf2/services/ProtocolloWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>