src/VBG.net/projects/Backoffice/SIGePro.Manager/Service References/WsOggettiService/oggetti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sch="http://gruppoinit.it/sigepro/schemas/messages/oggetti" xmlns:tns="http://gruppoinit.it/sigepro/definitions/oggetti" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://gruppoinit.it/sigepro/definitions/oggetti" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://10.10.45.133:8080/backend/services/oggetti?xsd=oggetti.xsd" namespace="http://gruppoinit.it/sigepro/schemas/messages/oggetti" />
    </schema>
  </wsdl:types>
  <wsdl:message name="OggettiUpdateRequest">
    <wsdl:part name="OggettiUpdateRequest" element="sch:OggettiUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="OggettiFindRequest">
    <wsdl:part name="OggettiFindRequest" element="sch:OggettiFindRequest" />
  </wsdl:message>
  <wsdl:message name="OggettiInsertRequest">
    <wsdl:part name="OggettiInsertRequest" element="sch:OggettiInsertRequest" />
  </wsdl:message>
  <wsdl:message name="OggettiDeleteResponse">
    <wsdl:part name="OggettiDeleteResponse" element="sch:OggettiDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="OggettiUpdateResponse">
    <wsdl:part name="OggettiUpdateResponse" element="sch:OggettiUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="OggettiFindNomeResponse">
    <wsdl:part name="OggettiFindNomeResponse" element="sch:OggettiFindNomeResponse" />
  </wsdl:message>
  <wsdl:message name="OggettiFindNomeRequest">
    <wsdl:part name="OggettiFindNomeRequest" element="sch:OggettiFindNomeRequest" />
  </wsdl:message>
  <wsdl:message name="OggettiFindResponse">
    <wsdl:part name="OggettiFindResponse" element="sch:OggettiFindResponse" />
  </wsdl:message>
  <wsdl:message name="OggettiInsertResponse">
    <wsdl:part name="OggettiInsertResponse" element="sch:OggettiInsertResponse" />
  </wsdl:message>
  <wsdl:message name="OggettiDeleteRequest">
    <wsdl:part name="OggettiDeleteRequest" element="sch:OggettiDeleteRequest" />
  </wsdl:message>
  <wsdl:portType name="Oggetti">
    <wsdl:operation name="OggettiUpdate">
      <wsdl:input name="OggettiUpdateRequest" message="tns:OggettiUpdateRequest" />
      <wsdl:output name="OggettiUpdateResponse" message="tns:OggettiUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="OggettiFind">
      <wsdl:input name="OggettiFindRequest" message="tns:OggettiFindRequest" />
      <wsdl:output name="OggettiFindResponse" message="tns:OggettiFindResponse" />
    </wsdl:operation>
    <wsdl:operation name="OggettiFindNome">
      <wsdl:input name="OggettiFindNomeRequest" message="tns:OggettiFindNomeRequest" />
      <wsdl:output name="OggettiFindNomeResponse" message="tns:OggettiFindNomeResponse" />
    </wsdl:operation>
    <wsdl:operation name="OggettiDelete">
      <wsdl:input name="OggettiDeleteRequest" message="tns:OggettiDeleteRequest" />
      <wsdl:output name="OggettiDeleteResponse" message="tns:OggettiDeleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="OggettiInsert">
      <wsdl:input name="OggettiInsertRequest" message="tns:OggettiInsertRequest" />
      <wsdl:output name="OggettiInsertResponse" message="tns:OggettiInsertResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OggettiSoap11" type="tns:Oggetti">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OggettiUpdate">
      <soap:operation soapAction="oggettiUpdate" />
      <wsdl:input name="OggettiUpdateRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OggettiUpdateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OggettiFind">
      <soap:operation soapAction="oggettiFind" />
      <wsdl:input name="OggettiFindRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OggettiFindResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OggettiFindNome">
      <soap:operation soapAction="oggettiFindNome" />
      <wsdl:input name="OggettiFindNomeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OggettiFindNomeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OggettiDelete">
      <soap:operation soapAction="oggettiDelete" />
      <wsdl:input name="OggettiDeleteRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OggettiDeleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OggettiInsert">
      <soap:operation soapAction="oggettiInsert" />
      <wsdl:input name="OggettiInsertRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OggettiInsertResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OggettiService">
    <wsdl:port name="OggettiSoap11" binding="tns:OggettiSoap11">
      <soap:address location="http://10.10.45.133:8080/backend/services/oggetti" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>