src/vbg.net/console/projects/Backoffice/SIGePro.Manager/Service References/RegoleService/regole2.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://gruppoinit.it/sigepro/schemas/messages/base" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/sigepro/schemas/messages/base" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="AllegatoBaseType">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="id" type="integer" />
      <element minOccurs="0" maxOccurs="1" name="descrizione" type="string" />
      <element name="fileName" type="string" />
      <element minOccurs="0" maxOccurs="1" name="mimeType" type="string" />
      <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" maxOccurs="1" name="binaryData" type="base64Binary" />
    </sequence>
  </complexType>
  <complexType name="EsitoOperazioneType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="esito" type="int" />
      <element minOccurs="0" maxOccurs="unbounded" name="listaErrori" type="tns:ErroreBackofficeType" />
    </sequence>
  </complexType>
  <complexType name="ErroreBackofficeType">
    <sequence>
      <element name="codice" type="string" />
      <element name="descrizione" type="string" />
    </sequence>
  </complexType>
  <simpleType name="CategorieEventiBaseType">
    <restriction base="string">
      <enumeration value="STC">
        <annotation>
          <documentation>Comunicazioni tramite STC</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AVVERTIMENTI">
        <annotation>
          <documentation>Avvertimenti generati da funzionalità di business</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FIRMA">
        <annotation>
          <documentation>Firma del documento</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PROTOCOLLO">
        <annotation>
          <documentation>Protocollazione del documento</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MAIL">
        <annotation>
          <documentation>Mail</documentation>
        </annotation>
      </enumeration>
      <enumeration value="STC-INS-ATT">
        <annotation>
          <documentation>STC: Inserimento Attività</documentation>
        </annotation>
      </enumeration>
      <enumeration value="STC-INS-PRA">
        <annotation>
          <documentation>STC: Inserimento Pratica</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AR-SOTTOS">
        <annotation>
          <documentation>Sottoscrizione</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AR-INVIO">
        <annotation>
          <documentation>Invio</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AR-ALTRO">
        <annotation>
          <documentation>Altro</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AR-ANNULLAMENTO">
        <annotation>
          <documentation>Annullamento</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AR-TRASFERIMENTO">
        <annotation>
          <documentation>Trasferimento della domanda ai soggetti sottoscriventi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AR-SOGGETTOINVIO">
        <annotation>
          <documentation>Invio dell'istanza da parte di un soggetto</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AR-DATI_NLA">
        <annotation>
          <documentation>Ricezione dati da parte di un nodo NLA</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>