src/VBG.net/projects/Frontoffice/Init.Sigepro.FrontEnd.Bari/TASI/wsdl/TasiService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://www.comune.bari.it/serviziTributi" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.comune.bari.it/serviziTributi">

<xs:element name="getDatiImmobiliRequest" type="tns:getDatiImmobiliRequestType"/>

<xs:element name="getDatiImmobiliResponse" type="tns:getDatiImmobiliResponseType"/>

<xs:element name="setAgevolazioneCafRequest" type="tns:setAgevolazioneCafRequestType"/>

<xs:element name="setAgevolazioneCafResponse" type="tns:setAgevolazioneCafResponseType"/>

<xs:complexType name="getDatiImmobiliRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati necessari per una richiesta del servizio Tasi getDatiImmobili</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="datiAutorizzazione" type="tns:datiAutorizzazioneType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati necessari alla verifica dell'autorizzazione del sistema chiamante all'accesso al servizio</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiIdentificativi" type="tns:datiIdentificativiType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiAutorizzazioneType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di autorizzazzione all'accesso di un servizio web Tasi</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="identificativoUtente">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo dell'utente (sistema) richiedente il servizio</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-fA-F0-9]{40}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="password">
<xs:annotation>
<xs:documentation xml:lang="it">Password dell'utente (sistema) richiedente il servizio</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-fA-F0-9]{64}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="identificativoServizio">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo del servizio richiesto: TS01 - getDatiImmobili, TS02 - setAgevolazioneCaf</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="TS01"/>
<xs:enumeration value="TS02"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataRichiesta" type="tns:dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Data di richiesta del servizio, nel formato GG/MM/AAAA</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="oraRichiesta">
<xs:annotation>
<xs:documentation xml:lang="it">Ora di richiesta del servizio, nel formato HH:MM:SS</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9]).[0-9]{3}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="idRichiesta">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo della richiesta</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-fA-F0-9]{64}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per una data nel formato gg/mm/aaaa</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19[0-9]{2}|20[0-9]{2})"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiIdentificativiType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati identificativi di un contribuente per il servizio getDatiImmobili</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="tns:datiTracciamentoCafType">
<xs:choice>
<xs:element name="codiceFiscaleContribuente" type="tns:codiceFiscaleType">
<xs:annotation>
<xs:documentation xml:lang="it">Codice fiscale Contribuente oppure partita IVA Contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="partitaIVAContribuente" type="tns:partitaIVAType">
<xs:annotation>
<xs:documentation xml:lang="it">Codice fiscale Contribuente oppure partita IVA Contribuente</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datiTracciamentoCafType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati utili al tracciamento di una richiesta di un servizio</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:choice>
<xs:element name="codiceFiscaleCAF" type="tns:codiceFiscaleType"/>
<xs:element name="partitaIVACAF" type="tns:partitaIVAType"/>
</xs:choice>
<xs:element name="indirizzoPecCAF">
<xs:annotation>
<xs:documentation xml:lang="it">Indirizzo di Posta Elettronica Certificata del CAF</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="([a-zA-Z0-9]+[\-._+])*[a-zA-Z0-9]+@([\-0-9a-zA-Z]+[.])+[a-zA-Z]{2,6}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="codiceFiscaleType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il codice fiscale di una persona fisica</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]{6}[0-9]{2}[a-zA-Z]{1}[0-9]{2}[a-zA-Z]{1}[0-9]{3}[a-zA-Z]{1}"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="partitaIVAType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la partita IVA</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{11}"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="getDatiImmobiliResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati specifici della risposta del servizio web Tasi getDatiImmobili</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="return" type="tns:datiImmobiliContribuenteResponse"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiImmobiliContribuenteResponse">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati degli immobili posseduti da un contribuente</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="tns:commonResponseType">
<xs:sequence>
<xs:element name="datiImmobiliContribuente" type="tns:datiImmobiliResponseType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Dati di dettaglio degli immobili del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="commonResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati comuni di una risposta di un servizio web Tares</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="idRichiesta">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo della richiesta</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-fA-F0-9]{64}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="code" type="xs:unsignedShort">
<xs:annotation>
<xs:documentation xml:lang="it">Codice di ritorno della risposta del servizio: 100 = Utente e/o password errati, 101 = Utente non abilitato all'uso del servizio, 110 = Richiesta non valida, 111 = Si e' verificato un errore durante la validazione della richiesta, 112 = Richiesta di agevolazione gia' esistente, 120 = L'elaborazione della richiesta non ha prodotto risultati, 999 = Si e' verificato un errore imprevisto nel collegamento con il backend</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="messaggio" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Messaggio di errore. Presente solo se code diverso da 0</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiImmobiliResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di un contribuente ritornati dalla risposta del servizio web Tasi getDatiImmobili</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:choice>
<xs:element name="datiAnagraficiPersonaFisica" type="tns:datiAnagraficiPersonaFisicaType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati anagrafici del contribuente. Specificare datiAnagraficiPersonaFisica se persona fisica altrimenti datiAnagraficiPersonaGiuridica</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiAnagraficiPersonaGiuridica" type="tns:datiAnagraficiPersonaGiuridicaType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati anagrafici del contribuente. Specificare datiAnagraficiPersonaFisica se persona fisica altrimenti datiAnagraficiPersonaGiuridica</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="datiResidenzaContribuente" type="tns:datiIndirizzoType">
<xs:annotation>
<xs:documentation xml:lang="it">Residenza anagrafica del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="elencoImmobili">
<xs:complexType>
<xs:sequence>
<xs:element name="immobile" type="tns:datiImmobileResponseType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation xml:lang="it">Elenco degli immobili (almeno uno) posseduti dal contribuente</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="idContribuente" type="tns:identificativoContribuenteType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="codContribuente" type="tns:codiceContribuenteType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Codice contribuente</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiAnagraficiPersonaFisicaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di un contribuente persona fisica</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="cognome">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="150"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nome">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="156"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="codiceFiscale" type="tns:codiceFiscaleType"/>
<xs:element name="sesso" type="tns:sessoType" minOccurs="0"/>
<xs:element name="comuneNascita" type="tns:codiceIstatComuneType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Comune italiano di nascita del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="provinciaNascita" type="tns:siglaProvinciaType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Provincia di nascita del contribuente. Sarà presente solo se nato in Italia</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="comuneEsteroNascita" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione del comune estero di nascita del contribuente. Sarà presente solo se nato all'estero</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataNascita" type="tns:dataType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="codiceIstatComuneType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il comune di nascita di una persona fisica codificato tramite il codice ISTAT dei comuni italiani</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{6}"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="siglaProvinciaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la sigla di una provincia italiana</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2}"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiAnagraficiPersonaGiuridicaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di un contribuente persona giuridica</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="partitaIva">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="11"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="denominazione">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiIndirizzoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per un indirizzo di residenza di un un contribuente del Comune di Bari</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="cap" type="tns:capType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Codice Avviamento Postale</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="viaCodificata" type="tns:viaCodificataType">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione della via. Specificare viaCodificata se trattasi di via codificata secondo il SIT comunale, altrimenti viaNonCodificata</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="viaNonCodificata" type="tns:viaNonCodificataType">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione della via. Specificare viaCodificata se trattasi di via codificata secondo il SIT comunale, altrimenti viaNonCodificata</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="numeroCivico" type="tns:civicoType" minOccurs="0"/>
<xs:element name="esponente" type="tns:esponenteCivicoType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Esponente del numero civico (es. /H)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="palazzina" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="7"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="scala" type="tns:scalaType" minOccurs="0"/>
<xs:element name="piano" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="9"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="interno" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="9"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="suffisso" type="tns:suffissoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="capType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il Codice di Avviamento Postale (C.A.P.)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{5}"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="viaCodificataType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per una via del comune di Bari codificata secondo il SIT comunale</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,9}"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="viaNonCodificataType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per una via tramite una descrizione testuale</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="120"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="civicoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per un numero civico</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:int">
<xs:maxInclusive value="99999"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="esponenteCivicoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per un esponente di un numero civico</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="scalaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la scala in un indirizzo</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="2"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="suffissoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il suffisso in un indirizzo</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiImmobileResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di un immobile</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="idImmobile" type="tns:identificativoImmobileType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Codice identificativo dell'immobile</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ubicazione" type="tns:indirizzoImmobileType">
<xs:annotation>
<xs:documentation xml:lang="it">Ubicazione dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiCatastali" type="tns:datiCatastaliType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati catastali dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="dataInizioDecorrenza" type="tns:dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Data di inizio detenzione dell'immobile/fabbricato/area, nel formato GG/MM/AAAA</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="percentualePossesso" type="tns:percentualePossessoType">
<xs:annotation>
<xs:documentation xml:lang="it">Categoria catastale dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="identificativoImmobileType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il codice identificativo di un immobile</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:integer">
<xs:maxInclusive value="999999999"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="indirizzoImmobileType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per un indirizzo di un immobile</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:choice>
<xs:element name="viaCodificata" type="tns:viaCodificataType"/>
<xs:element name="viaNonCodificata" type="tns:viaNonCodificataType"/>
</xs:choice>
<xs:element name="civico" type="tns:civicoType" minOccurs="0"/>
<xs:element name="esponente" type="tns:esponenteCivicoType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Esponente del numero civico</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="palazzina" type="tns:palazzinaType" minOccurs="0"/>
<xs:element name="scala" type="tns:scalaType" minOccurs="0"/>
<xs:element name="piano" type="tns:pianoType" minOccurs="0"/>
<xs:element name="interno" type="tns:internoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="palazzinaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la palazzina in un indirizzo</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="2"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="pianoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il piano in un indirizzo</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="internoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per l'interno in un indirizzo</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="3"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiCatastaliType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati catastali di un immobile/fabbricato/area</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="sezione" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="foglio">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,4}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="particella">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,5}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="subalterno" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,4}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="categoriaCatastale" type="tns:categoriaCatastaleType">
<xs:annotation>
<xs:documentation xml:lang="it">Categoria catastale dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="percentualePossessoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la percentuale di possesso di un immobile</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="1"/>
<xs:maxInclusive value="100.0"/>
<xs:minInclusive value="0.0"/>
<xs:totalDigits value="4"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="identificativoContribuenteType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per l'identificativo univoco di un contribuente</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:integer">
<xs:maxInclusive value="999999999"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="codiceContribuenteType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per l'identificativo univoco di un contribuente</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:integer">
<xs:maxInclusive value="9999999999"/>
<xs:minInclusive value="0"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="setAgevolazioneCafRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per la richiesta di agevolazione</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="datiAutorizzazione" type="tns:datiAutorizzazioneType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati necessari alla verifica dell'autorizzazione del sistema chiamante all'accesso al servizio</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiTracciamento" type="tns:datiTracciamentoCafType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati necessari al tracciamento della richiesta da parte di un CAF abilitato: è da riportare il codice fiscale dell'intestatario del CAF o la partita IVA della società</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiRichiesta" type="tns:richiestaAgevolazioneRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati della richiesta di agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="richiestaAgevolazioneRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di una dichiarazione di agevolazione</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="dataPresentazioneDomanda">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="((0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19[0-9]{2}|20[0-9]{2}))?"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="numeroProtocollo">
<xs:annotation>
<xs:documentation xml:lang="it">Numero di protocollo della richiesta di agevolazione</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataProtocollo">
<xs:annotation>
<xs:documentation xml:lang="it">Data di protocollo della richiesta di agevolazione</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="((0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19[0-9]{2}|20[0-9]{2}))?"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="datiContribuente" type="tns:datiContribuenteType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati identificativi del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiImmobili" type="tns:datiImmobiliType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati degli immobili per cui si richiede l'agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="codiceAgevolazione">
<xs:annotation>
<xs:documentation xml:lang="it">Uno tra i seguenti codici di agevolazione: A = Esenzione dal tributo ai sensi degli artt. 46, 47 e 76 del DPR n. 445/2000, B = Detrazione per importo massimo di Euro 100,00 ai sensi degli artt. 46, 47 e 76 del DPR n. 445/2000</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="A"/>
<xs:enumeration value="B"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="numContitolari" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Numero dei contitolari aventi diritto alla detrazione per importo massimo pari ad euro 100,00 (codice agevolazione B)</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:unsignedShort">
<xs:maxInclusive value="999"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataInizioDecorrenza">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="((0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19[0-9]{2}|20[0-9]{2}))?"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataFineDecorrenza" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="((0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19[0-9]{2}|20[0-9]{2}))?"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:choice>
<xs:element name="codiceFiscaleCAF" type="tns:codiceFiscaleType"/>
<xs:element name="partitaIVACAF" type="tns:partitaIVAType"/>
</xs:choice>
<xs:element name="nominativoCAF">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="elencoAttestazioniISEE" type="tns:elencoModelliISEEType">
<xs:annotation>
<xs:documentation xml:lang="it">Elenco delle attestazioni ISEE (almeno una) associabili alla richiesta di agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="presaVisione">
<xs:annotation>
<xs:documentation xml:lang="it">Indicatore dichiarazione di presa visione. Valore costante: 1</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="presenzaDocumentoIdentitaAllegato" type="xs:boolean" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Presenza di documento d'identit&amp;agrave; allegato. Valori possibili: true, false</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="presenzaDocumentoIdentitaDelegatoAllegato" type="xs:boolean" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Presenza di documento d'identit&amp;agrave; allegato della persona delegata. Valori possibili: true, false</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiContribuenteType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati anagrafici di un contribuente</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="idContribuente" type="tns:identificativoContribuenteType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo contribuente rilevabile dalla risposta del servizio getDatiImmobili, tag idContribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="codContribuente" type="tns:codiceContribuenteType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Codice contribuente rilevabile dalla response del servizio Tasi getDatiImmobili, tag codContribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="cognome">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="150"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nome">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="156"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="codiceFiscale" type="tns:codiceFiscaleType"/>
<xs:element name="sesso" type="tns:sessoType" minOccurs="0"/>
<xs:element name="comuneNascita" type="tns:comuneNascitaType">
<xs:annotation>
<xs:documentation xml:lang="it">Comune di nascita codificato tramite il codice ISTAT o se nato all'estero codifica ISTAT dello stato estero</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="provinciaNascita" type="tns:siglaProvinciaType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Provincia italiana di nascita del contribuente. Da specificare solo se nato in Italia</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="comuneEsteroNascita" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione del comune estero di nascita. Da specificare solo se nato all'estero</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataNascita" type="tns:dataType"/>
<xs:element name="datiSocieta" type="tns:datiSocietaType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Dati identificativi della società/ditta individuale nel caso di persona giuridica</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="indirizzoResidenza" type="tns:indirizzoType">
<xs:annotation>
<xs:documentation xml:lang="it">Indirizzo di residenza del firmatario della richiesta di agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="pecContribuente" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Indirizzo PEC mail del firmatario della richiesta</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="100"/>
<xs:pattern value="(([a-zA-Z0-9]+[\-._+])*[a-zA-Z0-9]+@([\-0-9a-zA-Z]+[.])+[a-zA-Z]{2,6})?"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="comuneNascitaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il comune di nascita di una persona fisica codificato tramite il codice ISTAT dei comuni italiani o tramite codice ISTAT degli stati esteri (se nato all'estero)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{6}|[0-9]{3}"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiSocietaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di una societa/ditta individuale</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="caricaGiuridica" type="tns:caricaGiuridicaType">
<xs:annotation>
<xs:documentation xml:lang="it">Carica giuridica di chi sottoscrive la richiesta in caso di persona giuridica (società/ditta individuale)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="denominazioneSocieta">
<xs:annotation>
<xs:documentation xml:lang="it">Denominazione sociale della società/ditta individuale rappresentata dal firmatario della richiesta</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="150"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="partitaIvaCodFiscale">
<xs:annotation>
<xs:documentation xml:lang="it">Partita IVA (se società) o codice fiscale (se ditta individuale) della persona giuridica rappresentata dal firmatario della richiesta</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="[a-zA-Z]{6}[0-9]{2}[a-zA-Z]{1}[0-9]{2}[a-zA-Z]{1}[0-9]{3}[a-zA-Z]{1}"/>
<xs:enumeration value="[0-9]{11}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="indirizzoSedeLegale" type="tns:indirizzoType">
<xs:annotation>
<xs:documentation xml:lang="it">Indirizzo della sede legale della società/ditta individuale</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="indirizzoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per un indirizzo</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="comune" type="tns:codiceIstatComuneType">
<xs:annotation>
<xs:documentation xml:lang="it">Comune codificato tramite il codice ISTAT del comune</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="viaCodificata" type="tns:viaCodificataType"/>
<xs:element name="viaNonCodificata" type="tns:viaNonCodificataType"/>
</xs:choice>
<xs:element name="civico" type="tns:civicoType" minOccurs="0"/>
<xs:element name="esponente" type="tns:esponenteCivicoType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Esponente del numero civico</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="cap" type="tns:capType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiImmobiliType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati degli immobili di un contribuente ai fini di una nuova richiesta di agevolazione TASI. Se contribuente esistente allora specificare idContribuente, altrimenti specificare nuovoContribuente per i dati del nuovo contribuente</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="abitazionePrincipale" type="tns:datiImmobileRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati inerenti l'immobile principale per il quale si richiede l'agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="elencoPertinenze" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="pertinenza" type="tns:datiImmobileRequestType" minOccurs="0" maxOccurs="3">
<xs:annotation>
<xs:documentation xml:lang="it">Dati di una pertinenza dell'abitazione principale per la quale si richiede l'agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiImmobileRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di un immobile ai fini di una nuova richiesta di agevolazione TASI</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="idImmobile" type="tns:identificativoImmobileType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Codice identificativo immobile rilevabile dalla risposta del servizio getDatiImmobili, tag idImmobile</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ubicazione" type="tns:indirizzoImmobileType">
<xs:annotation>
<xs:documentation xml:lang="it">Ubicazione dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiCatastali" type="tns:datiCatastaliType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati catastali dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="percentualePossesso" type="tns:percentualePossessoType">
<xs:annotation>
<xs:documentation xml:lang="it">Percentuale di possesso dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elencoModelliISEEType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati delle attestazioni ISEE associabili ad una richiesta di agevolazione TASI</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="modelloISEE" type="tns:datiModelloISEEType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation xml:lang="it">Elenco delle attestazioni ISEE (almeno una) da associare alla richiesta di agevolazione TASI</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiModelloISEEType">
<xs:sequence>
<xs:element name="datiNucleoFamiliare" type="tns:datiNucleoFamiliareType"/>
<xs:element name="datiPatrimonio" type="tns:datiPatrimonioType"/>
<xs:element name="codiceFiscaleDichiarante" type="tns:codiceFiscaleType"/>
<xs:element name="dataAttestazione" type="tns:dataType"/>
<xs:element name="dataScadenza" type="tns:dataType"/>
<xs:element name="valoreISE" type="tns:importoType"/>
<xs:element name="scalaEquivalenza">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1},[0-9]{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="valoreISEE" type="tns:importoType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiNucleoFamiliareType">
<xs:sequence>
<xs:element name="numComponentiNucleoFamiliare">
<xs:simpleType>
<xs:restriction base="xs:unsignedByte">
<xs:fractionDigits value="0"/>
<xs:maxInclusive value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="numSoggettiHandicap">
<xs:simpleType>
<xs:restriction base="xs:unsignedByte">
<xs:fractionDigits value="0"/>
<xs:maxInclusive value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="presenzaFigliUnGenitore" type="xs:boolean"/>
<xs:element name="presenzaFigliAttivitaGenitori" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiPatrimonioType">
<xs:sequence>
<xs:element name="RC" type="tns:importoNonObbligatorioType" minOccurs="0"/>
<xs:element name="PAG" type="tns:importoNonObbligatorioType" minOccurs="0"/>
<xs:element name="RCPAG" type="tns:importoNonObbligatorioType" minOccurs="0"/>
<xs:element name="RPM" type="tns:importoNonObbligatorioType" minOccurs="0"/>
<xs:element name="DC" type="tns:importoNonObbligatorioType" minOccurs="0"/>
<xs:element name="PMO" type="tns:importoNonObbligatorioType" minOccurs="0"/>
<xs:element name="DPM" type="tns:importoNonObbligatorioType" minOccurs="0"/>
<xs:element name="PIM" type="tns:importoNonObbligatorioType" minOccurs="0"/>
<xs:element name="DPI" type="tns:importoNonObbligatorioType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="importoNonObbligatorioType">
<xs:restriction base="xs:string">
<xs:pattern value="([0-9]+,[0-9]{2})?"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="importoType">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]+,[0-9]{2}"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="setAgevolazioneCafResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di risposta del servizio setAgevolazioneCaf</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="return" type="tns:commonResponseType"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="sessoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il sesso di una persona: M o F</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="M"/>
<xs:enumeration value="F"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="categoriaCatastaleType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la categoria catastale</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="A02"/>
<xs:enumeration value="A03"/>
<xs:enumeration value="A04"/>
<xs:enumeration value="A05"/>
<xs:enumeration value="A06"/>
<xs:enumeration value="A07"/>
<xs:enumeration value="C02"/>
<xs:enumeration value="C06"/>
<xs:enumeration value="C07"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="caricaGiuridicaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la carica giuridica della persona rappresentante legalmente un soggetto passivo del tributo</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="RAPPRESENTANTE_LEGALE_NEGOZIALE"/>
<xs:enumeration value="AMMINISTRATORE_DELEGATO"/>
<xs:enumeration value="AMMINISTRATORE_CONDOMINIALE"/>
<xs:enumeration value="ALTRO"/>
<xs:enumeration value="EREDE"/>
<xs:enumeration value="CURATORE_FALLIMENTARE"/>
<xs:enumeration value="COMMISSARIO_LIQUIDATORE"/>
<xs:enumeration value="SOCIO_AMMINISTRATORE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>