src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/LeggiProtocolloPrismaService/EntiAooUtilitySoapBindingImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://protocolloUtility.ducd.affarigenerali.finmatica.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://protocolloUtility.ducd.affarigenerali.finmatica.it" targetNamespace="http://protocolloUtility.ducd.affarigenerali.finmatica.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://protocolloUtility.ducd.affarigenerali.finmatica.it">
      <xsd:element name="getProtocollo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="anno" type="xsd:int" />
            <xsd:element name="numero" type="xsd:int" />
            <xsd:element name="tipoRegistro" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProtocolloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getProtocolloReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProtocolli">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inputXml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProtocolliResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getProtocolliReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProtocolliDaRicevere">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inputXml" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProtocolliDaRicevereResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getProtocolliDaRicevereReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkDate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="data_input" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkDateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="checkDateReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMailEnte">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codice_amministrazione" type="xsd:string" />
            <xsd:element name="descrizione_amministrazione" type="xsd:string" />
            <xsd:element name="codice_aoo" type="xsd:string" />
            <xsd:element name="descrizione_aoo" type="xsd:string" />
            <xsd:element name="indirizzo_mail" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMailEnteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getMailEnteReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkDateRequest">
    <wsdl:part name="parameters" element="impl:checkDate" />
  </wsdl:message>
  <wsdl:message name="getProtocolliResponse">
    <wsdl:part name="parameters" element="impl:getProtocolliResponse" />
  </wsdl:message>
  <wsdl:message name="getMailEnteRequest">
    <wsdl:part name="parameters" element="impl:getMailEnte" />
  </wsdl:message>
  <wsdl:message name="checkDateResponse">
    <wsdl:part name="parameters" element="impl:checkDateResponse" />
  </wsdl:message>
  <wsdl:message name="getProtocolliRequest">
    <wsdl:part name="parameters" element="impl:getProtocolli" />
  </wsdl:message>
  <wsdl:message name="getProtocolloResponse">
    <wsdl:part name="parameters" element="impl:getProtocolloResponse" />
  </wsdl:message>
  <wsdl:message name="getProtocolloRequest">
    <wsdl:part name="parameters" element="impl:getProtocollo" />
  </wsdl:message>
  <wsdl:message name="getProtocolliDaRicevereResponse">
    <wsdl:part name="parameters" element="impl:getProtocolliDaRicevereResponse" />
  </wsdl:message>
  <wsdl:message name="getMailEnteResponse">
    <wsdl:part name="parameters" element="impl:getMailEnteResponse" />
  </wsdl:message>
  <wsdl:message name="getProtocolliDaRicevereRequest">
    <wsdl:part name="parameters" element="impl:getProtocolliDaRicevere" />
  </wsdl:message>
  <wsdl:portType name="EntiAooUtilitySoapBindingImpl">
    <wsdl:operation name="getProtocollo">
      <wsdl:input name="getProtocolloRequest" message="impl:getProtocolloRequest" />
      <wsdl:output name="getProtocolloResponse" message="impl:getProtocolloResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProtocolli">
      <wsdl:input name="getProtocolliRequest" message="impl:getProtocolliRequest" />
      <wsdl:output name="getProtocolliResponse" message="impl:getProtocolliResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProtocolliDaRicevere">
      <wsdl:input name="getProtocolliDaRicevereRequest" message="impl:getProtocolliDaRicevereRequest" />
      <wsdl:output name="getProtocolliDaRicevereResponse" message="impl:getProtocolliDaRicevereResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkDate">
      <wsdl:input name="checkDateRequest" message="impl:checkDateRequest" />
      <wsdl:output name="checkDateResponse" message="impl:checkDateResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMailEnte">
      <wsdl:input name="getMailEnteRequest" message="impl:getMailEnteRequest" />
      <wsdl:output name="getMailEnteResponse" message="impl:getMailEnteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EntiAooUtilitySoapBindingImplSoapBinding" type="impl:EntiAooUtilitySoapBindingImpl">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProtocollo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getProtocolloRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProtocolloResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProtocolli">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getProtocolliRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProtocolliResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProtocolliDaRicevere">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getProtocolliDaRicevereRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProtocolliDaRicevereResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="checkDateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkDateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailEnte">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getMailEnteRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMailEnteResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntiAooUtilitySoapBindingImplService">
    <wsdl:port name="EntiAooUtilitySoapBindingImpl" binding="impl:EntiAooUtilitySoapBindingImplSoapBinding">
      <wsdlsoap:address location="http://adsprotdb-test:8080/ducd/services/EntiAooUtilitySoapBindingImpl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>