src/vbg.net/areariservata/projects/ComponentiRicerca/Terni/Service References/AnagrafeCiviliaService/WsAnagrafe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://wsanagrafe.ws.pa.dedagroup.it" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsanagrafe.ws.pa.dedagroup.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>WsAnagrafe</wsdl:documentation>
  <wsdl:types>
    <s:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wsanagrafe.ws.pa.dedagroup.it">
      <s:complexType name="Anagrafe">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="CODICEANAGRAFE" type="s:string" />
              <s:element minOccurs="0" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" name="NOMINATIVO" type="s:string" />
              <s:element minOccurs="0" name="REFERENTE" type="s:string" />
              <s:element minOccurs="0" name="FORMAGIURIDICA" type="s:string" />
              <s:element minOccurs="0" name="TIPOLOGIA" type="s:string" />
              <s:element minOccurs="0" name="INDIRIZZO" type="s:string" />
              <s:element minOccurs="0" name="CITTA" type="s:string" />
              <s:element minOccurs="0" name="CAP" type="s:string" />
              <s:element minOccurs="0" name="PROVINCIA" type="s:string" />
              <s:element minOccurs="0" name="TELEFONO" type="s:string" />
              <s:element minOccurs="0" name="TELEFONOCELLULARE" type="s:string" />
              <s:element minOccurs="0" name="FAX" type="s:string" />
              <s:element minOccurs="0" name="PARTITAIVA" type="s:string" />
              <s:element minOccurs="0" name="CODICEFISCALE" type="s:string" />
              <s:element minOccurs="0" name="NOTE" type="s:string" />
              <s:element minOccurs="0" name="EMAIL" type="s:string" />
              <s:element minOccurs="0" name="REGDITTE" type="s:string" />
              <s:element minOccurs="0" name="REGTRIB" type="s:string" />
              <s:element minOccurs="0" name="CODCOMREGDITTE" type="s:string" />
              <s:element minOccurs="0" name="CODCOMREGTRIB" type="s:string" />
              <s:element minOccurs="0" name="CODCOMNASCITA" type="s:string" />
              <s:element name="DATANASCITA" nillable="true" type="s:dateTime" />
              <s:element name="DATAREGDITTE" nillable="true" type="s:dateTime" />
              <s:element name="DATAREGTRIB" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" name="INVIOEMAIL" type="s:string" />
              <s:element minOccurs="0" name="SESSO" type="s:string" />
              <s:element minOccurs="0" name="NOME" type="s:string" />
              <s:element minOccurs="0" name="TITOLO" type="s:string" />
              <s:element minOccurs="0" name="TIPOANAGRAFE" type="s:string" />
              <s:element name="DATANOMINATIVO" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" name="INVIOEMAILTEC" type="s:string" />
              <s:element minOccurs="0" name="CODICECITTADINANZA" type="s:string" />
              <s:element minOccurs="0" name="COMUNERESIDENZA" type="s:string" />
              <s:element minOccurs="0" name="PASSWORD" type="s:string" />
              <s:element minOccurs="0" name="INDIRIZZOCORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" name="CITTACORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" name="CAPCORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" name="PROVINCIACORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" name="COMUNECORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" name="PROVINCIAREA" type="s:string" />
              <s:element minOccurs="0" name="NUMISCRREA" type="s:string" />
              <s:element name="DATAISCRREA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" name="FLAG_NOPROFIT" type="s:string" />
              <s:element minOccurs="0" name="FLAG_DISABILITATO" type="s:string" />
              <s:element name="DATA_DISABILITATO" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" name="Username" type="s:string" />
              <s:element minOccurs="0" name="CODICEELENCOPRO" type="s:string" />
              <s:element minOccurs="0" name="NUMEROELENCOPRO" type="s:string" />
              <s:element minOccurs="0" name="PROVINCIAELENCOPRO" type="s:string" />
              <s:element minOccurs="0" name="Pec" type="s:string" />
              <s:element minOccurs="0" name="TitoloClass" type="tns:Titoli" />
              <s:element minOccurs="0" name="ElencoProfessionale" type="tns:ElenchiProfessionaliBase" />
              <s:element minOccurs="0" name="FormaGiuridicaClass" type="tns:FormeGiuridiche" />
              <s:element minOccurs="0" name="AnagrafeDocumenti" type="tns:ArrayOfAnagrafeDocumenti" />
              <s:element minOccurs="0" name="AnagrafeDyn2ModelliT" type="tns:ArrayOfAnagrafeDyn2ModelliT" />
              <s:element minOccurs="0" name="AnagrafeDyn2Dati" type="tns:ArrayOfAnagrafeDyn2Dati" />
              <s:element minOccurs="0" name="DynDati" type="tns:ArrayOfDynDati" />
              <s:element minOccurs="0" name="ComuneNascita" type="tns:Comuni" />
              <s:element minOccurs="0" name="ComuneRegDitte" type="tns:Comuni" />
              <s:element minOccurs="0" name="ComuneRegTrib" type="tns:Comuni" />
              <s:element minOccurs="0" name="ComuneCorrispondenza" type="tns:Comuni" />
              <s:element minOccurs="0" name="ComuneResidenza" type="tns:Comuni" />
              <s:element minOccurs="0" name="Cittadinanza" type="tns:Cittadinanza" />
              <s:element minOccurs="0" name="PresenzeStoriche" type="tns:ArrayOfMercatiPresenzeStorico" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseDataClass">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataClass" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataClass" />
      <s:complexType name="MercatiPresenzeStorico">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="Idcomune" type="s:string" />
              <s:element name="Fkcodicemercato" nillable="true" type="s:int" />
              <s:element name="Fkidmercatiuso" nillable="true" type="s:int" />
              <s:element name="Codiceanagrafe" nillable="true" type="s:int" />
              <s:element name="Anno" nillable="true" type="s:int" />
              <s:element name="Numeropresenze" nillable="true" type="s:int" />
              <s:element minOccurs="0" name="IdentAut" type="s:string" />
              <s:element name="Id" nillable="true" type="s:int" />
              <s:element minOccurs="0" name="Anagrafe" type="tns:Anagrafe" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Cittadinanza">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element name="Codice" nillable="true" type="s:int" />
              <s:element minOccurs="0" name="Descrizione" type="s:string" />
              <s:element minOccurs="0" name="Cf" type="s:string" />
              <s:element name="Disabilitato" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="VwProvince">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="SiglaProvincia" type="s:string" />
              <s:element minOccurs="0" name="PROVINCIA" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Comuni">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="CODICECOMUNE" type="s:string" />
              <s:element minOccurs="0" name="COMUNE" type="s:string" />
              <s:element minOccurs="0" name="SIGLAPROVINCIA" type="s:string" />
              <s:element minOccurs="0" name="PROVINCIA" type="s:string" />
              <s:element minOccurs="0" name="REGIONE" type="s:string" />
              <s:element minOccurs="0" name="CAP" type="s:string" />
              <s:element minOccurs="0" name="CF" type="s:string" />
              <s:element minOccurs="0" name="CODICEISTAT" type="s:string" />
              <s:element minOccurs="0" name="CODICEISTATREGIONE" type="s:string" />
              <s:element minOccurs="0" name="CODICESTATOESTERO" type="s:string" />
              <s:element minOccurs="0" name="ProvinciaClass" type="tns:VwProvince" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DynDati">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="CODICERECORDCORRELATO" type="s:string" />
              <s:element minOccurs="0" name="CODICECAMPO" type="s:string" />
              <s:element minOccurs="0" name="FKIDTESTATA" type="s:string" />
              <s:element minOccurs="0" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" name="VALORE" type="s:string" />
              <s:element minOccurs="0" name="Oggetto" type="tns:Oggetti" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Oggetti">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="CODICEOGGETTO" type="s:string" />
              <s:element minOccurs="0" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" name="OGGETTO" type="s:base64Binary" />
              <s:element minOccurs="0" name="NOMEFILE" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AnagrafeDyn2Dati">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="Idcomune" type="s:string" />
              <s:element name="Codiceanagrafe" nillable="true" type="s:int" />
              <s:element name="FkD2cId" nillable="true" type="s:int" />
              <s:element name="Indice" nillable="true" type="s:int" />
              <s:element name="IndiceMolteplicita" nillable="true" type="s:int" />
              <s:element minOccurs="0" name="Valore" type="s:string" />
              <s:element minOccurs="0" name="Valoredecodificato" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AnagrafeDyn2ModelliT">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="Idcomune" type="s:string" />
              <s:element name="Codiceanagrafe" nillable="true" type="s:int" />
              <s:element name="FkD2mtId" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AnagrafeDocumenti">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="ID" type="s:string" />
              <s:element minOccurs="0" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" name="CODICEANAGRAFE" type="s:string" />
              <s:element minOccurs="0" name="IDTIPODOCUMENTO" type="s:string" />
              <s:element name="DATAREGISTRAZIONE" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" name="CODICEISTANZA" type="s:string" />
              <s:element minOccurs="0" name="CODICEOGGETTO" type="s:string" />
              <s:element name="DATAINIZIOVALIDITA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" name="RIFDOCUMENTO" type="s:string" />
              <s:element name="DATAFINEVALIDITA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" name="ANNOTAZIONI" type="s:string" />
              <s:element minOccurs="0" name="Oggetto" type="tns:Oggetti" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FormeGiuridiche">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="CODICEFORMAGIURIDICA" type="s:string" />
              <s:element minOccurs="0" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" name="FORMAGIURIDICA" type="s:string" />
              <s:element minOccurs="0" name="CODICECCIAA" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ElenchiProfessionaliBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element name="EpId" nillable="true" type="s:int" />
              <s:element minOccurs="0" name="EpDescrizione" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Titoli">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" name="CODICETITOLO" type="s:string" />
              <s:element minOccurs="0" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" name="TITOLO" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAnagrafeDocumenti">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AnagrafeDocumenti" nillable="true" type="tns:AnagrafeDocumenti" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnagrafeDyn2ModelliT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AnagrafeDyn2ModelliT" nillable="true" type="tns:AnagrafeDyn2ModelliT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnagrafeDyn2Dati">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AnagrafeDyn2Dati" nillable="true" type="tns:AnagrafeDyn2Dati" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDynDati">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DynDati" nillable="true" type="tns:DynDati" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMercatiPresenzeStorico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MercatiPresenzeStorico" nillable="true" type="tns:MercatiPresenzeStorico" />
        </s:sequence>
      </s:complexType>
      <s:element name="ByCodiceFiscaleETipoPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="username" type="s:string" />
            <s:element minOccurs="0" name="password" type="s:string" />
            <s:element minOccurs="0" name="ente" type="s:string" />
            <s:element name="tipoPersona" type="tns:TipoPersona" />
            <s:element minOccurs="0" name="codiceFiscale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="TipoPersona">
        <s:restriction base="s:string">
          <s:enumeration value="PersonaFisica" />
          <s:enumeration value="PersonaGiuridica" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ByCodiceFiscaleETipoPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="ByCodiceFiscaleETipoPersonaResult" type="tns:Anagrafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByPartitaIva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="username" type="s:string" />
            <s:element minOccurs="0" name="password" type="s:string" />
            <s:element minOccurs="0" name="ente" type="s:string" />
            <s:element minOccurs="0" name="partitaIva" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByPartitaIvaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="ByPartitaIvaResult" type="tns:Anagrafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Anagrafe" nillable="true" type="tns:Anagrafe" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ByPartitaIvaSoapIn">
    <wsdl:part name="parameters" element="tns:ByPartitaIva" />
  </wsdl:message>
  <wsdl:message name="ByPartitaIvaSoapOut">
    <wsdl:part name="parameters" element="tns:ByPartitaIvaResponse" />
  </wsdl:message>
  <wsdl:message name="ByCodiceFiscaleETipoPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:ByCodiceFiscaleETipoPersona" />
  </wsdl:message>
  <wsdl:message name="ByCodiceFiscaleETipoPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:ByCodiceFiscaleETipoPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="WsAnagrafePortType">
    <wsdl:operation name="ByPartitaIva">
      <wsdl:input wsaw:Action="http://wsanagrafe.ws.pa.dedagroup.it/ByPartitaIva" message="tns:ByPartitaIvaSoapIn" />
      <wsdl:output wsaw:Action="http://wsanagrafe.ws.pa.dedagroup.it/WsAnagrafeSoap/ByPartitaIvaResponse" message="tns:ByPartitaIvaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ByCodiceFiscaleETipoPersona">
      <wsdl:input wsaw:Action="http://wsanagrafe.ws.pa.dedagroup.it/ByCodiceFiscaleETipoPersona" message="tns:ByCodiceFiscaleETipoPersonaSoapIn" />
      <wsdl:output wsaw:Action="http://wsanagrafe.ws.pa.dedagroup.it/WsAnagrafeSoap/ByCodiceFiscaleETipoPersona" message="tns:ByCodiceFiscaleETipoPersonaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsAnagrafeSoap" type="tns:WsAnagrafePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ByPartitaIva">
      <soap:operation soapAction="http://wsanagrafe.ws.pa.dedagroup.it/ByPartitaIva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByCodiceFiscaleETipoPersona">
      <soap:operation soapAction="http://wsanagrafe.ws.pa.dedagroup.it/ByCodiceFiscaleETipoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsAnagrafe">
    <wsdl:port name="WsAnagrafeSoap" binding="tns:WsAnagrafeSoap">
      <soap:address location="http://civiliaweb.core.it/suap_web/services/WsAnagrafe.WsAnagrafeSoap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>