src/vbg.net/console/projects/Frontoffice/Init.Sigepro.FrontEnd.Bari/Service References/BariConfigServiceReference/BariConfigService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetConfigurazioneCid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="software" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigurazioneCidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigurazioneCidResult" type="tns:ConfigurazioneCidBariDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConfigurazioneCidBariDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UrlServizio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificativoUtente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetConfigurazioneTares">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="software" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigurazioneTaresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigurazioneTaresResult" type="tns:ConfigurazioneTaresBariDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConfigurazioneTaresBariDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UrlServizioAgevolazioniTares" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificativoUtente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndirizzoPec" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlServizioAgevolazioniTasi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlServizioAgevolazioniImu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscaleCafFittizio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailCafFittizio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlServizioFirmaCid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConfigurazioneCidBariDto" nillable="true" type="tns:ConfigurazioneCidBariDto" />
      <s:element name="ConfigurazioneTaresBariDto" nillable="true" type="tns:ConfigurazioneTaresBariDto" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetConfigurazioneCidSoapIn">
    <wsdl:part name="parameters" element="tns:GetConfigurazioneCid" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneCidSoapOut">
    <wsdl:part name="parameters" element="tns:GetConfigurazioneCidResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneTaresSoapIn">
    <wsdl:part name="parameters" element="tns:GetConfigurazioneTares" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneTaresSoapOut">
    <wsdl:part name="parameters" element="tns:GetConfigurazioneTaresResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneCidHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="software" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneCidHttpGetOut">
    <wsdl:part name="Body" element="tns:ConfigurazioneCidBariDto" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneTaresHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="software" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneTaresHttpGetOut">
    <wsdl:part name="Body" element="tns:ConfigurazioneTaresBariDto" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneCidHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="software" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneCidHttpPostOut">
    <wsdl:part name="Body" element="tns:ConfigurazioneCidBariDto" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneTaresHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="software" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConfigurazioneTaresHttpPostOut">
    <wsdl:part name="Body" element="tns:ConfigurazioneTaresBariDto" />
  </wsdl:message>
  <wsdl:portType name="BariConfigServiceSoap">
    <wsdl:operation name="GetConfigurazioneCid">
      <wsdl:input message="tns:GetConfigurazioneCidSoapIn" />
      <wsdl:output message="tns:GetConfigurazioneCidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurazioneTares">
      <wsdl:input message="tns:GetConfigurazioneTaresSoapIn" />
      <wsdl:output message="tns:GetConfigurazioneTaresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BariConfigServiceHttpGet">
    <wsdl:operation name="GetConfigurazioneCid">
      <wsdl:input message="tns:GetConfigurazioneCidHttpGetIn" />
      <wsdl:output message="tns:GetConfigurazioneCidHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurazioneTares">
      <wsdl:input message="tns:GetConfigurazioneTaresHttpGetIn" />
      <wsdl:output message="tns:GetConfigurazioneTaresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BariConfigServiceHttpPost">
    <wsdl:operation name="GetConfigurazioneCid">
      <wsdl:input message="tns:GetConfigurazioneCidHttpPostIn" />
      <wsdl:output message="tns:GetConfigurazioneCidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurazioneTares">
      <wsdl:input message="tns:GetConfigurazioneTaresHttpPostIn" />
      <wsdl:output message="tns:GetConfigurazioneTaresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BariConfigServiceSoap" type="tns:BariConfigServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConfigurazioneCid">
      <soap:operation soapAction="http://tempuri.org/GetConfigurazioneCid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurazioneTares">
      <soap:operation soapAction="http://tempuri.org/GetConfigurazioneTares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BariConfigServiceSoap12" type="tns:BariConfigServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConfigurazioneCid">
      <soap12:operation soapAction="http://tempuri.org/GetConfigurazioneCid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurazioneTares">
      <soap12:operation soapAction="http://tempuri.org/GetConfigurazioneTares" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BariConfigServiceHttpGet" type="tns:BariConfigServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetConfigurazioneCid">
      <http:operation location="/GetConfigurazioneCid" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurazioneTares">
      <http:operation location="/GetConfigurazioneTares" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BariConfigServiceHttpPost" type="tns:BariConfigServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetConfigurazioneCid">
      <http:operation location="/GetConfigurazioneCid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurazioneTares">
      <http:operation location="/GetConfigurazioneTares" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BariConfigService">
    <wsdl:port name="BariConfigServiceSoap" binding="tns:BariConfigServiceSoap">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/WsBari/BariConfigService.asmx" />
    </wsdl:port>
    <wsdl:port name="BariConfigServiceSoap12" binding="tns:BariConfigServiceSoap12">
      <soap12:address location="http://localhost:2640/sigepro.net/WebServices/WsBari/BariConfigService.asmx" />
    </wsdl:port>
    <wsdl:port name="BariConfigServiceHttpGet" binding="tns:BariConfigServiceHttpGet">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsBari/BariConfigService.asmx" />
    </wsdl:port>
    <wsdl:port name="BariConfigServiceHttpPost" binding="tns:BariConfigServiceHttpPost">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsBari/BariConfigService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>