src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsModulisticaFrontoffice/WsModulistica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetModulistica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="software" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModulisticaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModulisticaResult" type="tns:ArrayOfCategoriaModulisticaDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategoriaModulisticaDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CategoriaModulisticaDto" nillable="true" type="tns:CategoriaModulisticaDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoriaModulisticaDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Modulistica" type="tns:ModulisticaDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModulisticaDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Titolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodiceOggetto" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeFile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ordine" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfCategoriaModulisticaDto" nillable="true" type="tns:ArrayOfCategoriaModulisticaDto" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetModulisticaSoapIn">
    <wsdl:part name="parameters" element="tns:GetModulistica" />
  </wsdl:message>
  <wsdl:message name="GetModulisticaSoapOut">
    <wsdl:part name="parameters" element="tns:GetModulisticaResponse" />
  </wsdl:message>
  <wsdl:message name="GetModulisticaHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="software" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetModulisticaHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriaModulisticaDto" />
  </wsdl:message>
  <wsdl:message name="GetModulisticaHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="software" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetModulisticaHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriaModulisticaDto" />
  </wsdl:message>
  <wsdl:portType name="WsModulisticaSoap">
    <wsdl:operation name="GetModulistica">
      <wsdl:input message="tns:GetModulisticaSoapIn" />
      <wsdl:output message="tns:GetModulisticaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsModulisticaHttpGet">
    <wsdl:operation name="GetModulistica">
      <wsdl:input message="tns:GetModulisticaHttpGetIn" />
      <wsdl:output message="tns:GetModulisticaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsModulisticaHttpPost">
    <wsdl:operation name="GetModulistica">
      <wsdl:input message="tns:GetModulisticaHttpPostIn" />
      <wsdl:output message="tns:GetModulisticaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsModulisticaSoap" type="tns:WsModulisticaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetModulistica">
      <soap:operation soapAction="http://tempuri.org/GetModulistica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsModulisticaSoap12" type="tns:WsModulisticaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetModulistica">
      <soap12:operation soapAction="http://tempuri.org/GetModulistica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsModulisticaHttpGet" type="tns:WsModulisticaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetModulistica">
      <http:operation location="/GetModulistica" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsModulisticaHttpPost" type="tns:WsModulisticaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetModulistica">
      <http:operation location="/GetModulistica" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsModulistica">
    <wsdl:port name="WsModulisticaSoap" binding="tns:WsModulisticaSoap">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/WsSIGePro/WsModulistica.asmx" />
    </wsdl:port>
    <wsdl:port name="WsModulisticaSoap12" binding="tns:WsModulisticaSoap12">
      <soap12:address location="http://localhost:2640/sigepro.net/WebServices/WsSIGePro/WsModulistica.asmx" />
    </wsdl:port>
    <wsdl:port name="WsModulisticaHttpGet" binding="tns:WsModulisticaHttpGet">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsSIGePro/WsModulistica.asmx" />
    </wsdl:port>
    <wsdl:port name="WsModulisticaHttpPost" binding="tns:WsModulisticaHttpPost">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsSIGePro/WsModulistica.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>