src/vbg.net/areariservata/projects/ProtocolloSigeproNLA/Service References/STCService/stc.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:types="http://sigepro.init.it/rte/types" xmlns:tns="http://sigepro.init.it/rte" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://sigepro.init.it/rte" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="http://devel9:8080/stc/services/stc?xsd=types.xsd" namespace="http://sigepro.init.it/rte/types" />
  <simpleType name="XsdStcVersion">
    <annotation>
      <documentation>
#####################################################################
			MODIFICHE VERSIONE V_1_4:
#####################################################################

	RiferimentoCatastaleType:
		&lt;element name="sezione" type="string" minOccurs="0" maxOccurs="1"/&gt;
		&lt;element name="unitaImobiliare" type="string" minOccurs="0" maxOccurs="1"/&gt;
				
		Aggiunti su campi di tipo binario aggiungere notazione {xmlns:xmime="http://www.w3.org/2005/05/xmlmime"}expectedContentTypes="application/octet-stream" per la gestione con datahandler dei file

	DettaglioPraticaType:
			&lt;element name="codiceAccreditamentoSUAP" type="string" minOccurs="0" maxOccurs="1"/&gt;
			&lt;element name="codicePraticaTelematica" type="string" minOccurs="0" maxOccurs="1"/&gt;
			&lt;element name="insegna" type="string" minOccurs="0" maxOccurs="1"/&gt;
				
				
	TipoDocumentoType: Aggiunti all'enumeration i valori (derivati da Impresa in un Giorno)
		&lt;xs:enumeration value="SUAP-PDF"&gt;
		&lt;xs:enumeration value="SUAP-XML"&gt;
		&lt;xs:enumeration value="MDA-PDF"/&gt;
		&lt;xs:enumeration value="MDA-XML"/&gt;			

#####################################################################
			MODIFICHE VERSIONE V_1_3:
#####################################################################
	PersonaGiuridicaType
	 modificata partitaiva
		da
			&lt;element name="partitaIva" type="string"&gt;&lt;/element&gt;
		a	
			&lt;element name="partitaIva" type="string" minOccurs="0"&gt;&lt;/element&gt;

	PersonaFisicaType
		aggiunto elemento corrispondenza di tipo tns:LocalizzazioneType.
			&lt;element name="corrispondenza" type="tns:LocalizzazioneType" 
					minOccurs="0" maxOccurs="1"&gt;
            	    &lt;annotation&gt;
                		&lt;documentation&gt;Le informazioni dell'indirizzo dove inviare le comunicazioni. 
				La sezione viene di solito compilata se diversa dalla sezione resid&lt;/documentation&gt;
                	&lt;/annotation&gt;
			&lt;/element&gt;	

	DettaglioPraticaType
		modificata minoccurence di richiedente da 1 (obbligatoria) a 0 non obbligatoria	
			&lt;element name="richiedente" type="tns:RichiedenteType" minOccurs="0"&gt;	     	
	
		aggiunto dopo codiceComune
			&lt;element name="domicilioElettronico" type="string" minOccurs="0" maxOccurs="1"&gt;
				&lt;annotation&gt;
					&lt;documentation&gt;E' il domicilio elettronico di riferimento (tipicamente PEC) per ricevere comunicazioni in merito 
					alla pratica da parte dei richiedenti/professionisti.&lt;/documentation&gt;
				&lt;/annotation&gt;	
			&lt;/element&gt;
			
		aggiunto elemento annotazioni
			&lt;element name="annotazioni" type="string" minOccurs="0"&gt;
				&lt;annotation&gt;
					&lt;documentation&gt;Eventuali informazioni aggiuntive o note sulla pratica.&lt;/documentation&gt;
				&lt;/annotation&gt;
	     	&lt;/element&gt;

	DettaglioPraticaBreveType
		modificata minoccurence di richiedente da 1 (obbligatoria) a 0 non obbligatoria	
			&lt;element name="richiedente" type="tns:RichiedenteType" minOccurs="0"&gt;

	DettaglioPraticaType	
	     	
	OneriType 	    
		aggiunto elemento obbligatorio
	 		&lt;element name="segno" type="tns:segnoType" maxOccurs="1" minOccurs="1"&gt;
				&lt;annotation&gt;
					&lt;documentation&gt;Determina se l'onere è in entrata o uscita&lt;/documentation&gt;
				&lt;/annotation&gt;	 		
	 		&lt;/element&gt;


		aggiunto il tipo "segnoType" enumeration (entrata/uscita) 

		&lt;simpleType name="segnoType"&gt;
			&lt;restriction base="string"&gt;
				&lt;enumeration value="ENTRATA" /&gt;
				&lt;enumeration value="USCITA" /&gt;
			&lt;/restriction&gt;
		&lt;/simpleType&gt;
	OneriPagamentiType
		modificato l'elemento "modalita"
			da 
				&lt;element name="modalita"&gt;
					&lt;simpleType&gt;
						&lt;restriction base="string"&gt;
							&lt;enumeration value="Contanti"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="Bollettino postale"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="Carta credito"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="Bancomat"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="VCY"&gt;&lt;/enumeration&gt;
							&lt;enumeration value="Altro"&gt;&lt;/enumeration&gt;
						&lt;/restriction&gt;
					&lt;/simpleType&gt;
				&lt;/element&gt;
			a
				&lt;element name="modalita" minOccurs="0" maxOccurs="1" type="string"&gt;&lt;/element&gt;
		eliminato elemento "altraModalita"		
        
     LocalizzazioneNelComuneType
             aggiunti
                     &lt;element name="fabbricato" type="string" minOccurs="0" maxOccurs="1"&gt;&lt;/element&gt;
                     &lt;element name="km" type="string" minOccurs="0" maxOccurs="1"&gt;&lt;/element&gt;
                         
 
</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="V_1_0" />
      <enumeration value="V_1_1" />
      <enumeration value="V_1_2" />
      <enumeration value="V_1_3" />
      <enumeration value="V_1_4" />
    </restriction>
  </simpleType>
  <element name="LoginRequest">
    <complexType>
      <sequence>
        <element name="username" type="string" />
        <element name="password" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="LoginResponse">
    <complexType>
      <sequence>
        <element name="result" type="boolean" />
        <element name="token" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="CheckTokenRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="CheckTokenResponse">
    <complexType>
      <sequence>
        <element name="result" type="boolean" />
      </sequence>
    </complexType>
  </element>
  <element name="DirezioneSportelloRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportello" type="types:SportelloType" />
      </sequence>
    </complexType>
  </element>
  <element name="DirezioneSportelloResponse">
    <complexType>
      <sequence>
        <element name="direzione" type="types:DirezioneType" />
      </sequence>
    </complexType>
  </element>
  <element name="NotificaAttivitaRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="datiAttivita" type="types:DettaglioAttivitaType" />
        <element minOccurs="0" maxOccurs="1" name="rifPraticaDestinatario" type="types:RiferimentiPraticaType" />
      </sequence>
    </complexType>
  </element>
  <element name="NotificaAttivitaResponse">
    <complexType>
      <choice minOccurs="1">
        <element minOccurs="0" maxOccurs="1" name="dettaglioattivita" type="types:RiferimentiAttivitaType" />
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </choice>
    </complexType>
  </element>
  <element name="AllegatoBinarioRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="riferimentiAllegato" type="types:RiferimentiAllegatoType" />
      </sequence>
    </complexType>
  </element>
  <element name="AllegatoBinarioResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="mimeType" type="string" />
        <element xmime:expectedContentTypes="application/octet-stream" name="binaryData" type="base64Binary" />
        <element name="fileName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticaRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="rifPratica" type="types:RiferimentiPraticaType" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticaResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="dettaglioPratica" type="types:DettaglioPraticaVisuraType" />
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticaCollegataRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="idPraticaMitt" type="string" />
        <element minOccurs="0" maxOccurs="1" name="idProcedimentoMitt" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticaCollegataResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="dettaglio">
          <complexType>
            <sequence>
              <element name="sportello" type="types:SportelloType" />
              <element name="dettaglioPratica" type="types:DettaglioPraticaType" />
            </sequence>
          </complexType>
        </element>
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </sequence>
    </complexType>
  </element>
  <element name="InserimentoPraticaRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element name="dettaglioPratica" type="types:DettaglioPraticaType" />
      </sequence>
    </complexType>
  </element>
  <element name="InserimentoPraticaResponse">
    <complexType>
      <choice minOccurs="1">
        <element minOccurs="0" name="dettaglioPratica" type="types:RiferimentiPraticaType" />
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </choice>
    </complexType>
  </element>
  <element name="RichiestaPraticheListaRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="sportelloMittente" type="types:SportelloType" />
        <element name="sportelloDestinatario" type="types:SportelloType" />
        <element minOccurs="0" maxOccurs="1" name="filtriUtenteConnesso" type="types:FiltriUtenteType" />
        <element minOccurs="1" maxOccurs="1" name="filtriPratica" type="types:FiltriPraticaType" />
      </sequence>
    </complexType>
  </element>
  <element name="RichiestaPraticheListaResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioPratica" type="types:DettaglioPraticaBreveType" />
        <element minOccurs="0" maxOccurs="unbounded" name="dettaglioErrore" type="types:ErroreType" />
      </sequence>
    </complexType>
  </element>
</schema>