src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/AggProtocolloRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:aggProtReq="http://insiel.it/protocollo/schemixsd/AggProtocolloRequest" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/AggProtocolloRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="AggProtocolloRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="estremiRegAgg" type="tgen:ProtocolloRequest" />
        <xs:element minOccurs="0" name="oggetto" nillable="true" type="tgen:oggetto" />
        <xs:element minOccurs="0" name="mittenti" nillable="true" type="aggProtReq:MittentiAgg" />
        <xs:element minOccurs="0" name="destinatari" nillable="true" type="aggProtReq:DestinatariAgg" />
        <xs:element minOccurs="0" name="uffici" nillable="true" type="aggProtReq:UfficiAgg" />
        <xs:element minOccurs="0" name="documenti" nillable="true" type="aggProtReq:DocumentiAgg" />
        <xs:element minOccurs="0" name="classifiche" nillable="true" type="aggProtReq:ClassificheAgg" />
        <xs:element minOccurs="0" name="estremi_documento" nillable="true" type="tgen:EstremiDocumento" />
        <xs:element minOccurs="0" name="data_ricezione_spedizione" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo_mittente_mail" nillable="true" type="tgen:tipoMittenteMail" />
        <xs:element minOccurs="0" name="Pratiche" nillable="true" type="aggProtReq:PraticheAgg" />
        <xs:element minOccurs="0" name="Provvedimento" nillable="true" type="tgen:EstremiProvvedimento" />
        <xs:element minOccurs="0" name="Precedenti" nillable="true" type="aggProtReq:PrecedentiAgg" />
        <xs:element minOccurs="0" name="oggettoProtocollo" nillable="true" type="tgen:oggetto" />
        <xs:element minOccurs="0" name="codice_ufficio_operante" nillable="true" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ClassificheAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="classifica" type="aggProtReq:ClassificaAgg" />
      <xs:element minOccurs="0" name="_virtual" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="ClassificaAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:Classifica">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MittentiAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mittente" type="aggProtReq:MittenteAgg" />
      <xs:element minOccurs="0" name="_virtual" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="MittenteAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:MittenteInsProto">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DestinatariAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Destinatario">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="aggProtReq:DestinatarioAgg" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="_virtual" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="DestinatarioAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:DestinatarioIOPInsProto">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UfficiAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Uffici" type="aggProtReq:UfficioAgg" />
      <xs:element minOccurs="0" name="_virtual" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="UfficioAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:UfficioInsProto">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentiAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documenti" type="aggProtReq:DocumentoAgg" />
      <xs:element minOccurs="0" name="_virtual" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="DocumentoAgg">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>abbigatorio in inserimento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>abbigatorio in inserimento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="isPrimario" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>abbigatorio in inserimento se iop</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="idDoc" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>facoltativo in eliminazione in altrenativa al nome</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="elimina" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="PraticheAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pratica" type="aggProtReq:PraticaAgg" />
      <xs:element minOccurs="0" name="_virtual" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="PraticaAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:PraticaRequest">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrecedentiAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrecedenteAgg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Precedente" type="tgen:ProtocolloRequest" />
            <xs:element name="tipoLegame" type="xs:string" />
            <xs:element minOccurs="0" name="elimina" nillable="true" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element name="statoParziale" type="xs:boolean" />
        <xs:element name="statoGlobale" type="xs:boolean" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>