src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/AnnullamentoProtocolloRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:annProtReq="http://insiel.it/protocollo/schemixsd/AnnullamentoProtocolloRequest" xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/AnnullamentoProtocolloRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="AnnullamentoProtocolloRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Utente" type="TipiGenerali:Utente" />
        <xs:element name="Registrazione" type="TipiGenerali:ProtocolloRequest" />
        <xs:element minOccurs="0" name="Provvedimento" nillable="true" type="TipiGenerali:EstremiProvvedimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>