src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/AnnullamentoProtocolloResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:annProtRes="http://insiel.it/protocollo/schemixsd/AnnullamentoProtocolloResponse" xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/AnnullamentoProtocolloResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="AnnullamentoProtocolloResponse">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Errore" type="TipiGenerali:Errore" />
      </xs:sequence>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>