src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/CorrelazioneAnagraficaResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:corAnaRes="http://insiel.it/protocollo/schemixsd/CorrelazioneAnagraficaResponse" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/CorrelazioneAnagraficaResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="CorrelazioneAnagraficaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Errore" type="tgen:Errore" />
      </xs:sequence>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>