src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/CorrelazioneAnagraficaRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" xmlns:corAnaReq="http://insiel.it/protocollo/schemixsd/CorrelazioneAnagraficaRequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/CorrelazioneAnagraficaRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="CorrelazioneAnagraficaRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Utente" type="tgen:Utente" />
        <xs:element name="anagrafica" type="corAnaReq:anagrafica" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="anagraficaCorrelata" type="corAnaReq:anagraficaCorrelata" />
        <xs:element name="tipoCorrelazione" type="corAnaReq:tipoCorrelazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="anagrafica">
    <xs:choice>
      <xs:element name="cod_ana" type="xs:string" />
      <xs:element name="desc_ana" type="xs:string" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="anagraficaCorrelata">
    <xs:choice>
      <xs:element name="cod_ana" nillable="true" type="xs:string" />
      <xs:element name="desc_ana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fl_no_albero" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:maxInclusive value="1" />
            <xs:minInclusive value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="vedi_sopra" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="vedi_sotto" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="vedi_abilitazioni" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="fl_ereditato" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="prog_correlato_c" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="tipoCorrelazione">
    <xs:restriction base="xs:string">
      <xs:enumeration value="livInferiore" />
      <xs:enumeration value="livSuperiore" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>