src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/getRegistriClassificaPratica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:regClasPrat="http://insiel.it/protocollo/schemixsd/getRegistriClassificaPratica" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/getRegistriClassificaPratica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="getRegistriClassificaPraticaRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Utente" type="tgen:Utente" />
        <xs:element minOccurs="0" name="Filtro" nillable="true" type="regClasPrat:FiltroRicerca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegistriClassificaPraticaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Registro" type="regClasPrat:RegistroDaClassifica" />
        <xs:element name="Errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="FiltroRicerca" type="regClasPrat:FiltroRicerca">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RegistroDaClassifica">
    <xs:sequence>
      <xs:element name="codiceUfficio" type="xs:string" />
      <xs:element name="descrizioneUfficio" type="xs:string" />
      <xs:element name="codiceRegistro" type="xs:string" />
      <xs:element name="descrizioneRegistro" type="xs:string" />
      <xs:element name="codiceRegistroLiv1" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv2" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv3" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv4" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv5" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv6" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv7" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv8" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FiltroRicerca">
    <xs:sequence>
      <xs:element name="codiceUfficio" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistro" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv1" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv2" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv3" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv4" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv5" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv6" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv7" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistroLiv8" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>