src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/getTipiDocResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" xmlns:gtdocRes="http://insiel.it/protocollo/schemixsd/getTipiDocResponse" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/getTipiDocResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="getTipiDocResponse">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element maxOccurs="unbounded" name="TipiDocumento" type="gtdocRes:TipiDocumento" />
        <xs:element name="Errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TipiDocumento">
    <xs:sequence>
      <xs:element name="codice" type="xs:string" />
      <xs:element name="descrizione" type="xs:string" />
      <xs:element name="categoria" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>