src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/DownloadDocumentoRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" xmlns:ddReq="http://insiel.it/protocollo/schemixsd/DownloadDocumentoRequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/DownloadDocumentoRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="DownloadDocumentoRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Utente" type="TipiGenerali:Utente" />
        <xs:element minOccurs="0" name="Registrazione" nillable="true" type="TipiGenerali:ProtocolloRequest" />
        <xs:element name="idDoc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>