src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/GestioneAnagraficaResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:gstAnaRes="http://insiel.it/protocollo/schemixsd/GestioneAnagraficaResponse" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/GestioneAnagraficaResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="GestioneAnagraficaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Errore" nillable="true" type="tgen:Errore" />
      </xs:sequence>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>