src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/InserimentoProtocolloRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:insProtReq="http://insiel.it/protocollo/schemixsd/InserimentoProtocolloRequest" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/InserimentoProtocolloRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="InserimentoProtocolloRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element minOccurs="0" name="codice_ufficio_operante" nillable="true" type="xs:string" />
        <xs:element name="codice_ufficio" type="xs:string" />
        <xs:element name="codice_registro" type="xs:string" />
        <xs:element name="verso" type="tgen:verso" />
        <xs:element name="oggetto" type="tgen:oggetto" />
        <xs:element minOccurs="0" name="mittenti" nillable="true" type="insProtReq:Mittenti" />
        <xs:element minOccurs="0" name="destinatari" nillable="true" type="insProtReq:Destinatari" />
        <xs:element minOccurs="0" name="uffici" nillable="true" type="insProtReq:Uffici" />
        <xs:element minOccurs="0" name="documenti" nillable="true" type="tgen:documentiInsProto" />
        <xs:element minOccurs="0" name="classifiche" nillable="true" type="insProtReq:Classifiche" />
        <xs:element minOccurs="0" name="estremi_documento" nillable="true" type="tgen:EstremiDocumento" />
        <xs:element minOccurs="0" name="data_ricezione_spedizione" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo_mittente_mail" nillable="true" type="tgen:tipoMittenteMail" />
        <xs:element minOccurs="0" name="recupero_allegati" nillable="true" type="tgen:ProtocolloRequest" />
        <xs:element minOccurs="0" name="sequenza" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codice" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="InserisciInPratica" nillable="true" type="insProtReq:Pratiche" />
        <xs:element minOccurs="0" name="iteratti" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="disattivaInvioIOP" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="Precedenti" nillable="true" type="insProtReq:Precedenti" />
        <xs:element minOccurs="0" name="oggettoProtocollo" nillable="true" type="tgen:oggetto" />
        <xs:element minOccurs="0" name="allegatiNumeroAllegati" nillable="true" type="xs:integer" />
        <xs:element minOccurs="0" name="allegatiVari" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="Mnemonici" nillable="true" type="insProtReq:Mnemonici" />
        <xs:element minOccurs="0" name="casellaAOOmittente" nillable="true" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Classifiche">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="classifica" type="tgen:Classifica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recuperoAllegati">
    <xs:sequence>
      <xs:element name="numero" type="xs:int" />
      <xs:element name="anno">
        <xs:simpleType>
          <xs:restriction base="xs:positiveInteger">
            <xs:totalDigits value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codice_ufficio" type="xs:string" />
      <xs:element name="codice_registro" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mittenti">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mittente" type="tgen:MittenteInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Destinatari">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destinatario" type="tgen:DestinatarioIOPInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Uffici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ufficio" type="tgen:UfficioInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pratiche">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pratiche" nillable="true" type="tgen:PraticaRequest">
        <xs:annotation>
          <xs:documentation>n pratiche , anche in aggiornamento</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Precedenti">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Precedente">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Precedente" type="tgen:ProtocolloRequest" />
            <xs:element name="tipoLegame" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mnemonici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mnemonico" type="tgen:MnemonicoRequest" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>