src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/InterrogazioneProtocolloResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:intProtRes="http://insiel.it/protocollo/schemixsd/InterrogazioneProtocolloResponse" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/InterrogazioneProtocolloResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="InterrogazioneProtocolloResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="intProtRes:RegistrazioneEstratta" />
        <xs:element name="Errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
      <xs:attribute name="numRegEstratte" type="xs:int" use="required" />
      <xs:attribute name="numRegTotale" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrazioneEstratta" type="tgen:DettagliProtocollo">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>