src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/RiprotocollazionePraticaRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" xmlns:rpreq="http://insiel.it/protocollo/schemixsd/RiprotPraticaRequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/RiprotPraticaRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="RiprotPraticaRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="Utente" type="TipiGenerali:Utente" />
        <xs:element name="EstremiPratica" type="TipiGenerali:PraticaRequest" />
        <xs:element minOccurs="0" name="codiceUfficioOperante" nillable="true" type="xs:string" />
        <xs:element name="codiceUfficio" type="xs:string" />
        <xs:element name="codiceRegistro" type="TipiGenerali:Classifica" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:date" />
        <xs:element name="anno" type="TipiGenerali:anno" />
        <xs:element minOccurs="0" name="numero" nillable="true" type="TipiGenerali:numero" />
        <xs:element minOccurs="0" name="subNumero" nillable="true" type="TipiGenerali:subNumero" />
        <xs:element minOccurs="0" name="numerazioneManuale" nillable="true" type="xs:boolean" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>