src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:regClasPrat="http://insiel.it/protocollo/schemixsd/getRegistriClassPrat" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/getRegistriClassPrat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="RegistriClassPratRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element minOccurs="0" maxOccurs="1" name="filtro" type="regClasPrat:RegistroDaClassifica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistriClassPratResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="registri" type="regClasPrat:RegistroDaClassificaView" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RegistroDaClassificaView">
    <xs:complexContent mixed="false">
      <xs:extension base="regClasPrat:RegistroDaClassifica">
        <xs:sequence>
          <xs:element name="descrizioneUfficio" type="xs:string" />
          <xs:element name="descrizioneRegistro" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegistroDaClassifica">
    <xs:sequence>
      <xs:element minOccurs="0" name="codiceUfficio" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistro" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistroLiv1" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistroLiv2" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistroLiv3" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistroLiv4" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistroLiv5" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistroLiv6" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistroLiv7" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistroLiv8" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>