src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v116.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:intPrec="http://insiel.it/protocollo/schemixsd/interrogaPrecedenti" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/interrogaPrecedenti" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="InterrogazionePrecedentiRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="registrazione" type="tgen:ProtocolloRequest" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterrogazionePrecedentiResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="precedenti" type="tgen:DettagliProtocollo" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
      <xs:attribute name="numRegEstratte" type="xs:int" use="required" />
      <xs:attribute name="numRegTotale" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>