src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v117.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:aperturaPratica="http://insiel.it/protocollo/schemixsd/aperturaPratica" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/aperturaPratica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="AperturaPraticaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="pratica" type="tgen:PraticaResponse" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AperturaPraticaRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="codiceUfficio" type="xs:string" />
        <xs:element name="codiceRegistro" type="tgen:Classifica" />
        <xs:element name="oggetto" type="tgen:oggetto" />
        <xs:element name="anno" type="tgen:anno" />
        <xs:element minOccurs="0" name="numero" type="tgen:numero" />
        <xs:element minOccurs="0" name="subNumero" type="tgen:subNumero" />
        <xs:element minOccurs="0" name="numerazioneManuale" type="xs:boolean" />
        <xs:element minOccurs="0" name="data" type="xs:date" />
        <xs:element minOccurs="0" name="note" type="tgen:note" />
        <xs:element minOccurs="0" name="codiceTipoPratica" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUfficioOperante" type="xs:string" />
        <xs:element minOccurs="0" name="praticaAc" type="tgen:PraticaDataAc" />
        <xs:element minOccurs="0" name="uffici" type="aperturaPratica:Uffici" />
        <xs:element minOccurs="0" name="riferimentiAnagrafici" type="aperturaPratica:RiferimentiAnagrafici" />
        <xs:element minOccurs="0" name="mnemonici" type="aperturaPratica:Mnemonici" />
        <xs:element minOccurs="0" name="iteratti" type="xs:boolean" />
        <xs:element minOccurs="0" name="livSegretezza" type="tgen:livelloSegretezza" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RiferimentiAnagrafici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="riferimentoAnagrafico" type="tgen:RiferimentoAnagrafico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Uffici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ufficio" type="tgen:UfficioPrat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mnemonici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mnemonico" type="tgen:Mnemonico" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>