src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:insProt="http://insiel.it/protocollo/schemixsd/inserisciProtocollo" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/inserisciProtocollo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="InserimentoProtocolloResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element maxOccurs="2" name="registrazione" type="tgen:ProtocolloResponse" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserimentoProtocolloRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element minOccurs="0" name="codiceUfficioOperante" type="xs:string" />
        <xs:element name="codiceUfficio" type="xs:string" />
        <xs:element name="codiceRegistro" type="xs:string" />
        <xs:element name="verso" type="tgen:verso" />
        <xs:element name="oggetto" type="tgen:oggetto" />
        <xs:element minOccurs="0" name="mittenti" type="insProt:Mittenti" />
        <xs:element minOccurs="0" name="destinatari" type="insProt:Destinatari" />
        <xs:element minOccurs="0" name="uffici" type="insProt:Uffici" />
        <xs:element minOccurs="0" name="documenti" type="insProt:DocumentiInsProto" />
        <xs:element minOccurs="0" name="classifiche" type="insProt:Classifiche" />
        <xs:element minOccurs="0" name="estremiDocumento" type="tgen:EstremiDocumento" />
        <xs:element minOccurs="0" name="dataRicezioneSpedizione" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipoMittenteMail" type="tgen:tipoMittenteMail" />
        <xs:element minOccurs="0" name="sequenza">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codice" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="inserisciInPratica" type="insProt:Pratiche" />
        <xs:element minOccurs="0" name="iterattiEsame" type="xs:boolean" />
        <xs:element minOccurs="0" name="precedenti" type="insProt:Precedenti" />
        <xs:element minOccurs="0" name="oggettoProtocollo" type="tgen:oggetto" />
        <xs:element minOccurs="0" name="allegati" type="insProt:Allegati" />
        <xs:element minOccurs="0" name="mnemonici" type="insProt:Mnemonici" />
        <xs:element minOccurs="0" name="casellaAOOmittente" type="xs:string" />
        <xs:element minOccurs="0" name="attivaInvioTelematico" type="xs:boolean" />
        <xs:element minOccurs="0" name="testoMessaggio" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Allegato">
    <xs:sequence>
      <xs:element name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="oggetto" type="xs:string" />
      <xs:element minOccurs="0" name="valuta" type="xs:string" />
      <xs:element minOccurs="0" name="importo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Allegati">
    <xs:sequence>
      <xs:element name="numeroAllegati">
        <xs:simpleType>
          <xs:restriction base="xs:nonNegativeInteger">
            <xs:maxInclusive value="999" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vari" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="allegati" type="insProt:Allegato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Classifiche">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="classifica" type="tgen:Classifica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mittenti">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mittente" type="tgen:MittenteInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Destinatari">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destinatario" type="tgen:DestinatarioIOPInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Uffici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ufficio" type="tgen:UfficioInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pratiche">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pratiche" type="tgen:PraticaRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Precedenti">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precedente" type="tgen:PrecedenteInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mnemonici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mnemonico" type="tgen:Mnemonico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentiInsProto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="documenti" type="tgen:DocumentoInsProto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>