src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://insiel.it/protocollo/schemixsd/getRicevutePec" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/getRicevutePec" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="RicevutePecRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="registrazione" type="tgen:ProtocolloRequest" />
        <xs:element name="destinatario" type="Destinatario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicevutePecResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ricevute" type="RicevutaPec" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RicevutaPec">
    <xs:sequence>
      <xs:element name="tipo" type="xs:string" />
      <xs:element name="testo" type="xs:string" />
      <xs:element name="id" type="xs:string" />
      <xs:element name="dataOra" type="xs:string" />
      <xs:element name="emailDestinatario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Destinatario">
    <xs:sequence>
      <xs:element name="codice" type="xs:string" />
      <xs:element name="decrizione" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>