src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://insiel.it/protocollo/schemixsd/interrogaAnagrafica" xmlns:anagrafica="http://insiel.it/protocollo/schemixsd/tipiAnagrafica" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/interrogaAnagrafica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiAnagrafica.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiAnagrafica" />
  <xs:element name="InterrogaAnagraficaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="anagrafica" type="anagrafica:AnagraficaView" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="InterrogaAnagraficaRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="anagrafica" type="anagrafica:AnagraficaRicerca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>