src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:dettprat="http://insiel.it/protocollo/schemixsd/dettagliPratica" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/dettagliPratica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="DettagliPraticaRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="pratica" type="tgen:PraticaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DettagliPraticaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="dettagli" type="dettprat:Dettagli" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Dettagli">
    <xs:complexContent mixed="false">
      <xs:extension base="dettprat:DettagliPratica">
        <xs:sequence>
          <xs:element minOccurs="0" name="uffici" type="dettprat:Uffici" />
          <xs:element minOccurs="0" name="riferimentiAnagrafici" type="dettprat:RiferimentiAnagrafici" />
          <xs:element minOccurs="0" name="mnemonici" type="dettprat:Mnemonici" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DettagliPratica">
    <xs:sequence>
      <xs:element minOccurs="0" name="codiceUfficio" type="xs:string" />
      <xs:element minOccurs="0" name="descrizioneUfficio" type="xs:string" />
      <xs:element minOccurs="0" name="codiceRegistro" type="xs:string" />
      <xs:element minOccurs="0" name="descrizioneRegistro" type="xs:string" />
      <xs:element minOccurs="0" name="anno" type="xs:integer" />
      <xs:element minOccurs="0" name="numero" type="xs:integer" />
      <xs:element minOccurs="0" name="subNumero" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:date" />
      <xs:element minOccurs="0" name="oggetto" type="xs:string" />
      <xs:element minOccurs="0" name="note" type="xs:string" />
      <xs:element minOccurs="0" name="codiceTipoPratica" type="xs:string" />
      <xs:element minOccurs="0" name="dataChiusura" type="xs:date" />
      <xs:element minOccurs="0" name="progDoc" type="tgen:progDoc" />
      <xs:element minOccurs="0" name="progMovi" type="tgen:progMovi" />
      <xs:element minOccurs="0" name="stato" type="xs:integer" />
      <xs:element minOccurs="0" name="moviLivSegretezza" type="xs:integer" />
      <xs:element minOccurs="0" name="docLivSegretezza" type="xs:integer" />
      <xs:element minOccurs="0" name="codiceUfficioOperante" type="xs:string" />
      <xs:element minOccurs="0" name="descUfficioOperante" type="xs:string" />
      <xs:element minOccurs="0" name="regDaClassifica" type="dettprat:RegistroDaClassfica" />
      <xs:element minOccurs="0" name="praticaAc" type="tgen:PraticaAC" />
      <xs:element minOccurs="0" name="praticaDataAc" type="xs:date" />
      <xs:element minOccurs="0" name="datiUltimoAggiornamento" type="dettprat:DatiUltimoAggiornamento" />
      <xs:element minOccurs="0" name="indCollClas" type="xs:integer" />
      <xs:element minOccurs="0" name="flAnno" type="xs:integer" />
      <xs:element minOccurs="0" name="flLegislatura" type="xs:integer" />
      <xs:element minOccurs="0" name="primoUfficio" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiferimentiAnagrafici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="riferimentoAnagrafico" type="tgen:RiferimentoAnagrafico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mnemonici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mnemonico" type="tgen:MnemonicoView" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Uffici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uffici" type="tgen:UfficioPratResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatiUltimoAggiornamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="codLoginAgg" type="xs:string" />
      <xs:element minOccurs="0" name="descLoginAgg" type="xs:string" />
      <xs:element minOccurs="0" name="dataOraAgg" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistroDaClassfica">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:ClassificaLivelli">
        <xs:sequence>
          <xs:element minOccurs="0" name="descrizione" type="xs:string" />
          <xs:element minOccurs="0" name="versione" type="xs:integer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>