src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/EGrammata2/LeggiProtocollo/Segnatura/RicercaProtocollo.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema xmlns="http://tempuri.org/RicercaProtocollo" elementFormDefault="qualified" targetNamespace="http://tempuri.org/RicercaProtocollo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:element name="RicercaProtocollo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="RegPrimaria" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NumCopia" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FlgTpReg" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DtRegDa" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DtRegA" />
        <xs:element minOccurs="0" maxOccurs="1" ref="RegEmerg" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DtArrivoDa" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DtArrivoA" />
        <xs:element minOccurs="0" maxOccurs="1" ref="UOReg" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SiglaAttoAutProtDiff" />
        <xs:element minOccurs="0" maxOccurs="1" ref="AnnoAttoAutProtDiff" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NumAttoAutProtDiff" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NominativoEsterno" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DtProv" />
        <xs:element minOccurs="0" maxOccurs="1" ref="RifProv" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ProtProv" />
        <xs:element minOccurs="0" maxOccurs="1" ref="UOProv" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IdTpFis" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DtRaccomandataDa" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DtRaccomandataA" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NroRaccomandata" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IdTpLog" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IdSttpLog" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IdTpAlleg" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DesAlleg" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DocPrec" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Oggetto" />
        <xs:element minOccurs="0" maxOccurs="1" ref="UOPresso" />
        <xs:element minOccurs="0" maxOccurs="1" ref="UO1Ass" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FlgClassif" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FlgFascicolazione" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IdIndice" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Classif_FascApp" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NoteCopia" />
      </xs:sequence>
      <xs:attribute fixed="2005-01-31" name="versione" type="xs:NMTOKEN" />
      <xs:attribute ref="xml:lang" />
      <xs:attribute default="T" name="FlgTpReg">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="E" />
            <xs:enumeration value="U" />
            <xs:enumeration value="I" />
            <xs:enumeration value="D" />
            <xs:enumeration value="T" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="T" name="FlgClassif">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="S" />
            <xs:enumeration value="SC" />
            <xs:enumeration value="SI" />
            <xs:enumeration value="N" />
            <xs:enumeration value="T" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="T" name="FlgFascicolazione">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="S" />
            <xs:enumeration value="N" />
            <xs:enumeration value="T" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="RangeEstremiReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Sigla" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Anno" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Nro" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NroA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstremiReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Sigla" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Anno" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Nro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sigla" type="xs:string" />
  <xs:element name="Anno" type="xs:string" />
  <xs:element name="Nro" type="xs:string" />
  <xs:element name="NroA" type="xs:string" />
  <xs:element name="UO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IdUO" />
        <xs:element ref="Liv1" />
        <xs:element ref="Liv2" />
        <xs:element ref="Liv3" />
        <xs:element ref="Liv4" />
        <xs:element ref="Postazione" />
      </xs:sequence>
      <xs:attribute default="0" name="FlgInclSottoUO">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdUO" type="xs:string" />
  <xs:element name="Liv1" type="xs:string" />
  <xs:element name="Liv2" type="xs:string" />
  <xs:element name="Liv3" type="xs:string" />
  <xs:element name="Liv4" type="xs:string" />
  <xs:element name="Postazione" type="xs:string" />
  <xs:element name="CLASSIFICAZIONE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Titolo" />
        <xs:element ref="Classe" />
        <xs:element ref="SottoClasse" />
        <xs:element ref="Livello4" />
        <xs:element ref="Livello5" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IdTitolazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Titolo" type="xs:string" />
  <xs:element name="Classe" type="xs:string" />
  <xs:element name="SottoClasse" type="xs:string" />
  <xs:element name="Livello4" type="xs:string" />
  <xs:element name="Livello5" type="xs:string" />
  <xs:element name="IdTitolazione" type="xs:string" />
  <xs:element name="CLASSIF_FASC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="AnnoFasc" />
        <xs:element ref="Classif" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ProgrFasc" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NumSottofasc" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IdFascicolo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnoFasc" type="xs:string" />
  <xs:element name="Classif">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASSIFICAZIONE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgrFasc" type="xs:string" />
  <xs:element name="NumSottofasc" type="xs:string" />
  <xs:element name="IdFascicolo" type="xs:string" />
  <xs:element name="NOMINATIVO_ESTERNO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IdAnag" />
        <xs:element ref="Denominazione" />
      </xs:sequence>
      <xs:attribute default="T" name="FlgTpNomEst">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="E" />
            <xs:enumeration value="D" />
            <xs:enumeration value="F" />
            <xs:enumeration value="C" />
            <xs:enumeration value="T" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdAnag" type="xs:string" />
  <xs:element name="Denominazione" type="xs:string" />
  <xs:element name="RegPrimaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RangeEstremiReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCopia" type="xs:string" />
  <xs:element name="FlgTpReg" type="xs:string" />
  <xs:element name="DtRegDa" type="xs:string" />
  <xs:element name="DtRegA" type="xs:string" />
  <xs:element name="RegEmerg">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EstremiReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DtArrivoDa" type="xs:string" />
  <xs:element name="DtArrivoA" type="xs:string" />
  <xs:element name="UOReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiglaAttoAutProtDiff" type="xs:string" />
  <xs:element name="AnnoAttoAutProtDiff" type="xs:string" />
  <xs:element name="NumAttoAutProtDiff" type="xs:string" />
  <xs:element name="NominativoEsterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NOMINATIVO_ESTERNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DtProv" type="xs:string" />
  <xs:element name="RifProv" type="xs:string" />
  <xs:element name="ProtProv" type="xs:string" />
  <xs:element name="UOProv">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdTpFis" type="xs:string" />
  <xs:element name="DtRaccomandataDa" type="xs:string" />
  <xs:element name="DtRaccomandataA" type="xs:string" />
  <xs:element name="NroRaccomandata" type="xs:string" />
  <xs:element name="IdTpLog" type="xs:string" />
  <xs:element name="IdSttpLog" type="xs:string" />
  <xs:element name="IdTpAlleg" type="xs:string" />
  <xs:element name="DesAlleg" type="xs:string" />
  <xs:element name="DocPrec">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EstremiReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Oggetto" type="xs:string" />
  <xs:element name="UOPresso">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UO1Ass">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlgClassif" type="xs:string" />
  <xs:element name="FlgFascicolazione" type="xs:string" />
  <xs:element name="IdIndice" type="xs:string" />
  <xs:element name="Classif_FascApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASSIF_FASC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteCopia" type="xs:string" />
</xs:schema>