src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloArchiFlowServiceReference/wcfInsert.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://app.regione.abruzzo.it/SuapWCF/wcfInsert.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OCardInsert">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Campi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="campoRicerca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gruppi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uffici" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="utenti" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OCardInsert" nillable="true" type="tns:OCardInsert" />
  <xs:complexType name="SuapInsertProto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataProtocolloMittente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mittente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oggetto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipologiaSpedizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protocolloMittente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servizio_destinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uffici" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="utenti" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuapInsertProto" nillable="true" type="tns:SuapInsertProto" />
  <xs:complexType name="SuapProtoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrNumber" type="xs:int" />
      <xs:element minOccurs="0" name="GuidCard" type="ser:guid" />
      <xs:element minOccurs="0" name="Numeroprotocollo" type="xs:int" />
      <xs:element minOccurs="0" name="anno" type="xs:int" />
      <xs:element minOccurs="0" name="dataProtocollo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuapProtoResponse" nillable="true" type="tns:SuapProtoResponse" />
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodEnte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error_number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="SuapInsertDocResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuapInsertDocResponse" nillable="true" type="tns:SuapInsertDocResponse" />
  <xs:complexType name="ArrayOfoAttachmentCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oAttachmentCard" nillable="true" type="tns:oAttachmentCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfoAttachmentCard" nillable="true" type="tns:ArrayOfoAttachmentCard" />
  <xs:complexType name="oAttachmentCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contenByte" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="oAttachmentCard" nillable="true" type="tns:oAttachmentCard" />
</xs:schema>