src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloArchiFlowServiceReference/wcfInsert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcfInsert" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://app.regione.abruzzo.it/SuapWCF/wcfInsert.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://app.regione.abruzzo.it/SuapWCF/wcfInsert.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://app.regione.abruzzo.it/SuapWCF/wcfInsert.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwcfInsert_InsertCard_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCard" />
  </wsdl:message>
  <wsdl:message name="IwcfInsert_InsertCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCardResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfInsert_SuapGetProto_InputMessage">
    <wsdl:part name="parameters" element="tns:SuapGetProto" />
  </wsdl:message>
  <wsdl:message name="IwcfInsert_SuapGetProto_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuapGetProtoResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfInsert_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IwcfInsert_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfInsert_SuapInsertDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:SuapInsertDoc" />
  </wsdl:message>
  <wsdl:message name="IwcfInsert_SuapInsertDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuapInsertDocResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfInsert_InsertAttchmentEx_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAttchmentEx" />
  </wsdl:message>
  <wsdl:message name="IwcfInsert_InsertAttchmentEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAttchmentExResponse" />
  </wsdl:message>
  <wsdl:portType name="IwcfInsert">
    <wsdl:operation name="InsertCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfInsert/InsertCard" message="tns:IwcfInsert_InsertCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfInsert/InsertCardResponse" message="tns:IwcfInsert_InsertCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuapGetProto">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfInsert/SuapGetProto" message="tns:IwcfInsert_SuapGetProto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfInsert/SuapGetProtoResponse" message="tns:IwcfInsert_SuapGetProto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfInsert/Login" message="tns:IwcfInsert_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfInsert/LoginResponse" message="tns:IwcfInsert_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuapInsertDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfInsert/SuapInsertDoc" message="tns:IwcfInsert_SuapInsertDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfInsert/SuapInsertDocResponse" message="tns:IwcfInsert_SuapInsertDoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAttchmentEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfInsert/InsertAttchmentEx" message="tns:IwcfInsert_InsertAttchmentEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfInsert/InsertAttchmentExResponse" message="tns:IwcfInsert_InsertAttchmentEx_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="suap" type="tns:IwcfInsert">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCard">
      <soap:operation soapAction="http://tempuri.org/IwcfInsert/InsertCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuapGetProto">
      <soap:operation soapAction="http://tempuri.org/IwcfInsert/SuapGetProto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IwcfInsert/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuapInsertDoc">
      <soap:operation soapAction="http://tempuri.org/IwcfInsert/SuapInsertDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAttchmentEx">
      <soap:operation soapAction="http://tempuri.org/IwcfInsert/InsertAttchmentEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcfInsert">
    <wsdl:port name="suap" binding="tns:suap">
      <soap:address location="http://app.regione.abruzzo.it/SuapWCF/wcfInsert.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>