src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/AllegatiPrismaService/AttachServicePort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://service.wscxf.dmServer.finmatica.it/" elementFormDefault="unqualified" targetNamespace="http://service.wscxf.dmServer.finmatica.it/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:element name="deleteAttach" type="tns:deleteAttach" />
  <xs:element name="deleteAttachResponse" type="tns:deleteAttachResponse" />
  <xs:element name="downloadAttach" type="tns:downloadAttach" />
  <xs:element name="downloadAttachResponse" type="tns:downloadAttachResponse" />
  <xs:element name="insertAttach" type="tns:insertAttach" />
  <xs:element name="insertAttachResponse" type="tns:insertAttachResponse" />
  <xs:element name="updateAttach" type="tns:updateAttach" />
  <xs:element name="updateAttachResponse" type="tns:updateAttachResponse" />
  <xs:complexType name="updateAttach">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="idObjFile" type="xs:string" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
      <xs:element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="file" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="newFileName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="acls" type="tns:acl" />
      <xs:element minOccurs="0" name="utenteApplicativo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acl">
    <xs:sequence>
      <xs:element minOccurs="0" name="accesso" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCompetenza" type="xs:string" />
      <xs:element minOccurs="0" name="utenteGruppo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAttachResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:BaseResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errStr" type="xs:string" />
      <xs:element minOccurs="0" name="result" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertAttach">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDocumento" type="xs:string" />
      <xs:element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="file" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="acls" type="tns:acl" />
      <xs:element minOccurs="0" name="utenteApplicativo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertAttachResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:InsertAttachResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertAttachResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="idObjFile" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="deleteAttach">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="idObjFile" type="xs:string" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
      <xs:element minOccurs="0" name="utenteApplicativo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAttachResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:BaseResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadAttach">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="idObjFile" type="xs:string" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
      <xs:element minOccurs="0" name="utenteApplicativo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadAttachResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:DownloadAttachResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DownloadAttachResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="contentFile" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>