src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/DettagliPraticaResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:dpratres="http://insiel.it/protocollo/schemixsd/DettagliPraticaResponse" xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/DettagliPraticaResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="DettagliPraticaResponse">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="Dettagli" type="dpratres:Dettagli" />
        <xs:element name="Errore" type="TipiGenerali:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Dettagli">
    <xs:complexContent mixed="false">
      <xs:extension base="dpratres:DettagliPratica">
        <xs:sequence>
          <xs:element name="Uffici" type="dpratres:Uffici" />
          <xs:element name="RiferimentiAnagrafici" type="dpratres:RiferimentiAnagrafici" />
          <xs:element name="Mnemonici" type="dpratres:Mnemonici" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DettagliPratica">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>copiato in parte da ricerca prat</xs:documentation>
      </xs:annotation>
      <xs:element name="codice_ufficio" nillable="true" type="xs:string" />
      <xs:element name="descrizione_ufficio" nillable="true" type="xs:string" />
      <xs:element name="codice_registro" nillable="true" type="xs:string" />
      <xs:element name="descrizione_registro" nillable="true" type="xs:string" />
      <xs:element name="anno" nillable="true" type="xs:integer" />
      <xs:element name="numero" nillable="true" type="xs:integer" />
      <xs:element name="sub_numero" nillable="true" type="xs:string" />
      <xs:element name="data" nillable="true" type="xs:date" />
      <xs:element name="oggetto" nillable="true" type="xs:string" />
      <xs:element name="note" nillable="true" type="xs:string" />
      <xs:element name="codice_tipo_pratica" nillable="true" type="xs:string" />
      <xs:element name="data_chiusura" nillable="true" type="xs:date" />
      <xs:element name="prog_doc" nillable="true" type="TipiGenerali:progDoc" />
      <xs:element name="prog_movi" nillable="true" type="TipiGenerali:progMovi" />
      <xs:element name="stato" nillable="true" type="xs:integer" />
      <xs:element name="movi_liv_segretezza" nillable="true" type="xs:integer" />
      <xs:element name="doc_liv_segretezza" nillable="true" type="xs:integer" />
      <xs:element name="codice_ufficio_operante" nillable="true" type="xs:string" />
      <xs:element name="desc_ufficio_operante" nillable="true" type="xs:string" />
      <xs:element name="reg_da_classifica" type="dpratres:RegistroDaClassfica" />
      <xs:element name="pratica_ac" nillable="true" type="TipiGenerali:PraticaAC" />
      <xs:element name="pratica_data_ac" nillable="true" type="xs:date" />
      <xs:element name="dati_ultimo_aggiornamento" type="dpratres:DatiUltimoAggiornamento" />
      <xs:element minOccurs="0" name="ind_coll_clas" nillable="true" type="xs:integer" />
      <xs:element minOccurs="0" name="fl_anno" nillable="true" type="xs:integer" />
      <xs:element minOccurs="0" name="fl_legislatura" nillable="true" type="xs:integer" />
      <xs:element minOccurs="0" name="primo_ufficio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiferimentiAnagrafici">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RiferimentoAnagrafico" type="TipiGenerali:RiferimentoAnagrafico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mnemonici">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mnemonico" type="TipiGenerali:MnemonicoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Uffici">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Uffici" type="TipiGenerali:UfficioPratResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatiUltimoAggiornamento">
    <xs:sequence>
      <xs:element name="cod_login_agg" nillable="true" type="xs:string" />
      <xs:element name="desc_login_agg" nillable="true" type="xs:string" />
      <xs:element name="data_ora_agg" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistroDaClassfica">
    <xs:sequence>
      <xs:element name="desc" nillable="true" type="xs:string" />
      <xs:element name="versione" nillable="true" type="xs:integer" />
      <xs:element name="livelli">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="livello">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="numLiv" type="xs:int" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>