src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/DettagliPraticaRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:dpratreq="http://insiel.it/protocollo/schemixsd/DettagliPraticaRequest" xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/DettagliPraticaRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="DettagliPraticaRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Utente" type="TipiGenerali:Utente" />
        <xs:element name="Pratica" type="TipiGenerali:PraticaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>