src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/InterrogazionePrecedentiResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:intPrecRes="http://insiel.it/protocollo/schemixsd/InterrogazionePrecedentiResponse" xmlns:ns1="http://insiel.it/protocollo/wsdl/protocollo" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/InterrogazionePrecedentiResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="InterrogazionePrecedentiResponse">
    <xs:annotation>
      <xs:documentation>xxxxxxxxxx da mettere anche i tipi doc col</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Precedenti" type="tgen:DettagliProtocollo" />
        <xs:element name="Errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
      <xs:attribute name="numRegEstratte" type="xs:int" use="required" />
      <xs:attribute name="numRegTotale" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>