src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/InterrogazioneAnagraficaRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:intAnaReq="http://insiel.it/protocollo/schemixsd/InterrogazioneAnagraficaRequest" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/InterrogazioneAnagraficaRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="InterrogazioneAnagraficaRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Utente" type="tgen:Utente" />
        <xs:element name="Anagrafica" type="intAnaReq:CercaAnagrafica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CercaAnagrafica">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_ana" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="valore" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="relazione" nillable="true">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="uguale" />
                  <xs:enumeration value="iniziaCon" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="desc_ana" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="valore" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="relazione" nillable="true">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="uguale" />
                  <xs:enumeration value="iniziaCon" />
                  <xs:enumeration value="contiene" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="cod_tipo_ana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codfis" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_uff" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>