src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Insiel2/WsdlInsiel/Personale.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by any (INSIEL S.p.A.) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:pers-schemi="http://insiel.it/protocollo/services/personale/schemixsd" xmlns:pers-service="http://insiel.it/protocollo/services/personale/wsdl" targetNamespace="http://insiel.it/protocollo/services/personale/wsdl">
	<types>
		<xs:schema targetNamespace="http://insiel.it/protocollo/services/personale/schemixsd">
			<xs:include schemaLocation="PersonaleTipiGenerali.xsd"/>
		</xs:schema>
	</types>
	<message name="gestioneFascicoliRequest">
		<part name="request" element="pers-schemi:GestioneFascicoloRequest"/>
	</message>
	<message name="gestioneFascicoliResponse">
		<part name="response" element="pers-schemi:GestioneFascicoloResponse"/>
	</message>
	<message name="getContenutoFascPersRequest">
		<part name="request" element="pers-schemi:ContenutoFascPersRequest"/>
	</message>
	<message name="getContenutoFascPersResponse">
		<part name="response" element="pers-schemi:ContenutoFascPersResponse"/>
	</message>
	<portType name="PersonalePt">
		<operation name="getContenutoFascPers">
			<input message="pers-service:getContenutoFascPersRequest"/>
			<output message="pers-service:getContenutoFascPersResponse"/>
		</operation>
		<operation name="gestioneFascicoli">
			<input message="pers-service:gestioneFascicoliRequest"/>
			<output message="pers-service:gestioneFascicoliResponse"/>
		</operation>
	</portType>
	<binding name="PersonaleSoapBinding" type="pers-service:PersonalePt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getContenutoFascPers">
			<soap:operation soapAction="PersonalePt#getContenutoFascPers" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="gestioneFascicoli">
			<soap:operation soapAction="PersonalePt#gestioneFascicoli" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PersonaleService">
		<port name="Personale" binding="pers-service:PersonaleSoapBinding">
			<soap:address location="http://localhost:8080/protoweb/services/Personale"/>
		</port>
	</service>
</definitions>
