src/VBG.net/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/RicercheAnagraficheWebService/WsAnagrafe2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://init.sigepro.it" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://init.sigepro.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://init.sigepro.it">
      <s:element name="getPersonaFisica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPersonaFisicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPersonaFisicaResult" type="tns:Anagrafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Anagrafe">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICEANAGRAFE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NOMINATIVO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FORMAGIURIDICA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TIPOLOGIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="INDIRIZZO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CITTA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CAP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TELEFONO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TELEFONOCELLULARE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FAX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PARTITAIVA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEFISCALE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NOTE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="REGDITTE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="REGTRIB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODCOMREGDITTE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODCOMREGTRIB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODCOMNASCITA" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATANASCITA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAREGDITTE" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAREGTRIB" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="INVIOEMAIL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SESSO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NOME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TIPOANAGRAFE" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATANOMINATIVO" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="INVIOEMAILTEC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICECITTADINANZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="COMUNERESIDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="INDIRIZZOCORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CITTACORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CAPCORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIACORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="COMUNECORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIAREA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NUMISCRREA" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAISCRREA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="FLAG_NOPROFIT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FLAG_DISABILITATO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATA_DISABILITATO" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEELENCOPRO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NUMEROELENCOPRO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIAELENCOPRO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Pec" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FoUtenteTester" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TitoloClass" type="tns:Titoli" />
              <s:element minOccurs="0" maxOccurs="1" name="ElencoProfessionale" type="tns:ElenchiProfessionaliBase" />
              <s:element minOccurs="0" maxOccurs="1" name="FormaGiuridicaClass" type="tns:FormeGiuridiche" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="AnagrafeDocumenti" type="tns:AnagrafeDocumenti" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="AnagrafeDyn2ModelliT" type="tns:AnagrafeDyn2ModelliT" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="AnagrafeDyn2Dati" type="tns:AnagrafeDyn2Dati" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneNascita" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneRegDitte" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneRegTrib" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneCorrispondenza" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneResidenza" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="Cittadinanza" type="tns:Cittadinanza" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="PresenzeStoriche" type="tns:MercatiPresenzeStorico" />
              <s:element minOccurs="0" maxOccurs="1" name="InpsMatricola" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InpsCodiceSede" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InailMatricola" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InailCodiceSede" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SedeInps" type="tns:ElencoInpsBase" />
              <s:element minOccurs="0" maxOccurs="1" name="SedeInail" type="tns:ElencoInailBase" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseDataClass">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataClass" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataClass" />
      <s:complexType name="ElencoInailBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ElencoInpsBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MercatiPresenzeStorico">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Idcomune" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Fkcodicemercato" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Fkidmercatiuso" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Codiceanagrafe" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Anno" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Numeropresenze" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentAut" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Anagrafe" type="tns:Anagrafe" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Cittadinanza">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Codice" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cf" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Disabilitato" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FlgPaeseComunitario" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="VwProvince">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SiglaProvincia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Comuni">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICECOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="COMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SIGLAPROVINCIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="REGIONE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CAP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CF" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEISTAT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEISTATREGIONE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICESTATOESTERO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProvinciaClass" type="tns:VwProvince" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AnagrafeDyn2Dati">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Idcomune" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Codiceanagrafe" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FkD2cId" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Indice" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IndiceMolteplicita" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Valore" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Valoredecodificato" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AnagrafeDyn2ModelliT">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Idcomune" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Codiceanagrafe" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FkD2mtId" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Oggetti">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICEOGGETTO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OGGETTO" type="s:base64Binary" />
              <s:element minOccurs="0" maxOccurs="1" name="NOMEFILE" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AnagrafeDocumenti">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEANAGRAFE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDTIPODOCUMENTO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAREGISTRAZIONE" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEISTANZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEOGGETTO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAINIZIOVALIDITA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="RIFDOCUMENTO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAFINEVALIDITA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ANNOTAZIONI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="tns:Oggetti" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FormeGiuridiche">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICEFORMAGIURIDICA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FORMAGIURIDICA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICECCIAA" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ElenchiProfessionaliBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="EpId" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="EpDescrizione" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Titoli">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICETITOLO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="getPersonaGiuridica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cfImpresaPartitaIva" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPersonaGiuridicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPersonaGiuridicaResult" type="tns:Anagrafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Anagrafe" nillable="true" type="tns:Anagrafe" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPersonaFisicaSoapIn">
    <wsdl:part name="parameters" element="tns:getPersonaFisica" />
  </wsdl:message>
  <wsdl:message name="getPersonaFisicaSoapOut">
    <wsdl:part name="parameters" element="tns:getPersonaFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="getPersonaGiuridicaSoapIn">
    <wsdl:part name="parameters" element="tns:getPersonaGiuridica" />
  </wsdl:message>
  <wsdl:message name="getPersonaGiuridicaSoapOut">
    <wsdl:part name="parameters" element="tns:getPersonaGiuridicaResponse" />
  </wsdl:message>
  <wsdl:message name="getPersonaFisicaHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscale" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPersonaFisicaHttpGetOut">
    <wsdl:part name="Body" element="tns:Anagrafe" />
  </wsdl:message>
  <wsdl:message name="getPersonaGiuridicaHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="cfImpresaPartitaIva" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPersonaGiuridicaHttpGetOut">
    <wsdl:part name="Body" element="tns:Anagrafe" />
  </wsdl:message>
  <wsdl:message name="getPersonaFisicaHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscale" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPersonaFisicaHttpPostOut">
    <wsdl:part name="Body" element="tns:Anagrafe" />
  </wsdl:message>
  <wsdl:message name="getPersonaGiuridicaHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="cfImpresaPartitaIva" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPersonaGiuridicaHttpPostOut">
    <wsdl:part name="Body" element="tns:Anagrafe" />
  </wsdl:message>
  <wsdl:portType name="WsAnagrafe2Soap">
    <wsdl:operation name="getPersonaFisica">
      <wsdl:input message="tns:getPersonaFisicaSoapIn" />
      <wsdl:output message="tns:getPersonaFisicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPersonaGiuridica">
      <wsdl:input message="tns:getPersonaGiuridicaSoapIn" />
      <wsdl:output message="tns:getPersonaGiuridicaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsAnagrafe2HttpGet">
    <wsdl:operation name="getPersonaFisica">
      <wsdl:input message="tns:getPersonaFisicaHttpGetIn" />
      <wsdl:output message="tns:getPersonaFisicaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPersonaGiuridica">
      <wsdl:input message="tns:getPersonaGiuridicaHttpGetIn" />
      <wsdl:output message="tns:getPersonaGiuridicaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsAnagrafe2HttpPost">
    <wsdl:operation name="getPersonaFisica">
      <wsdl:input message="tns:getPersonaFisicaHttpPostIn" />
      <wsdl:output message="tns:getPersonaFisicaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPersonaGiuridica">
      <wsdl:input message="tns:getPersonaGiuridicaHttpPostIn" />
      <wsdl:output message="tns:getPersonaGiuridicaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsAnagrafe2Soap" type="tns:WsAnagrafe2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPersonaFisica">
      <soap:operation soapAction="http://init.sigepro.it/getPersonaFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaGiuridica">
      <soap:operation soapAction="http://init.sigepro.it/getPersonaGiuridica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsAnagrafe2Soap12" type="tns:WsAnagrafe2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPersonaFisica">
      <soap12:operation soapAction="http://init.sigepro.it/getPersonaFisica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaGiuridica">
      <soap12:operation soapAction="http://init.sigepro.it/getPersonaGiuridica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsAnagrafe2HttpGet" type="tns:WsAnagrafe2HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getPersonaFisica">
      <http:operation location="/getPersonaFisica" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaGiuridica">
      <http:operation location="/getPersonaGiuridica" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsAnagrafe2HttpPost" type="tns:WsAnagrafe2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getPersonaFisica">
      <http:operation location="/getPersonaFisica" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaGiuridica">
      <http:operation location="/getPersonaGiuridica" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsAnagrafe2">
    <wsdl:port name="WsAnagrafe2Soap" binding="tns:WsAnagrafe2Soap">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/WsSIGeProAnagrafe/WsAnagrafe2.asmx" />
    </wsdl:port>
    <wsdl:port name="WsAnagrafe2Soap12" binding="tns:WsAnagrafe2Soap12">
      <soap12:address location="http://localhost:2640/sigepro.net/WebServices/WsSIGeProAnagrafe/WsAnagrafe2.asmx" />
    </wsdl:port>
    <wsdl:port name="WsAnagrafe2HttpGet" binding="tns:WsAnagrafe2HttpGet">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsSIGeProAnagrafe/WsAnagrafe2.asmx" />
    </wsdl:port>
    <wsdl:port name="WsAnagrafe2HttpPost" binding="tns:WsAnagrafe2HttpPost">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsSIGeProAnagrafe/WsAnagrafe2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>