src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/MailTipoService/mailtipo.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://gruppoinit.it/sigepro/schemas/messages/mailtipo" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/sigepro/schemas/messages/mailtipo" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="MailtipoRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="codicemailtipo" type="int" />
        <element name="codiceistanza" nillable="true" type="int" />
        <element name="codicemovimento" nillable="true" type="int" />
      </all>
    </complexType>
  </element>
  <element name="MailtipoResponse">
    <complexType>
      <all>
        <element name="oggetto" type="string" />
        <element name="corpo" type="string" />
      </all>
    </complexType>
  </element>
</schema>