src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloDocErRegistrazioneParticolareService/WSRegistrazione.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax21="http://registrazione.docer.kdm.it/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://registrazione.docer.kdm.it" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://registrazione.docer.kdm.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Servizio per la Registrazione
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax23="http://registrazione.docer.kdm.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://registrazione.docer.kdm.it">
      <xs:import namespace="http://registrazione.docer.kdm.it/xsd" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="RegistrazioneException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RegistrazioneException" nillable="true" type="ax23:RegistrazioneException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="writeConfig">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="xmlConfig" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="writeConfigResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="readConfig">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="readConfigResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registraById">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="documentoId" type="xs:long" />
            <xs:element minOccurs="0" name="registroId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="datiRegistrazione" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registraByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="codiceEnte" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logout">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logoutResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax22="http://registrazione.docer.kdm.it" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://registrazione.docer.kdm.it/xsd">
      <xs:import namespace="http://registrazione.docer.kdm.it" />
      <xs:complexType name="RegistrazioneException">
        <xs:complexContent mixed="false">
          <xs:extension base="ax22:Exception">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="parameters" element="ns:logout" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="ns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrazioneException">
    <wsdl:part name="parameters" element="ns:RegistrazioneException" />
  </wsdl:message>
  <wsdl:message name="registraByIdRequest">
    <wsdl:part name="parameters" element="ns:registraById" />
  </wsdl:message>
  <wsdl:message name="registraByIdResponse">
    <wsdl:part name="parameters" element="ns:registraByIdResponse" />
  </wsdl:message>
  <wsdl:message name="writeConfigRequest">
    <wsdl:part name="parameters" element="ns:writeConfig" />
  </wsdl:message>
  <wsdl:message name="writeConfigResponse">
    <wsdl:part name="parameters" element="ns:writeConfigResponse" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns:login" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="ns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="readConfigRequest">
    <wsdl:part name="parameters" element="ns:readConfig" />
  </wsdl:message>
  <wsdl:message name="readConfigResponse">
    <wsdl:part name="parameters" element="ns:readConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="WSRegistrazionePortType">
    <wsdl:operation name="logout">
      <wsdl:input wsaw:Action="urn:logout" message="ns:logoutRequest" />
      <wsdl:output wsaw:Action="urn:logoutResponse" message="ns:logoutResponse" />
      <wsdl:fault wsaw:Action="urn:logoutRegistrazioneException" name="RegistrazioneException" message="ns:RegistrazioneException" />
    </wsdl:operation>
    <wsdl:operation name="registraById">
      <wsdl:input wsaw:Action="urn:registraById" message="ns:registraByIdRequest" />
      <wsdl:output wsaw:Action="urn:registraByIdResponse" message="ns:registraByIdResponse" />
      <wsdl:fault wsaw:Action="urn:registraByIdRegistrazioneException" name="RegistrazioneException" message="ns:RegistrazioneException" />
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <wsdl:input wsaw:Action="urn:writeConfig" message="ns:writeConfigRequest" />
      <wsdl:output wsaw:Action="urn:writeConfigResponse" message="ns:writeConfigResponse" />
      <wsdl:fault wsaw:Action="urn:writeConfigRegistrazioneException" name="RegistrazioneException" message="ns:RegistrazioneException" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="urn:login" message="ns:loginRequest" />
      <wsdl:output wsaw:Action="urn:loginResponse" message="ns:loginResponse" />
      <wsdl:fault wsaw:Action="urn:loginRegistrazioneException" name="RegistrazioneException" message="ns:RegistrazioneException" />
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <wsdl:input wsaw:Action="urn:readConfig" message="ns:readConfigRequest" />
      <wsdl:output wsaw:Action="urn:readConfigResponse" message="ns:readConfigResponse" />
      <wsdl:fault wsaw:Action="urn:readConfigRegistrazioneException" name="RegistrazioneException" message="ns:RegistrazioneException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSRegistrazioneSoap11Binding" type="ns:WSRegistrazionePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logout">
      <soap:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registraById">
      <soap:operation soapAction="urn:registraById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <soap:operation soapAction="urn:writeConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <soap:operation soapAction="urn:readConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSRegistrazioneSoap12Binding" type="ns:WSRegistrazionePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logout">
      <soap12:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap12:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registraById">
      <soap12:operation soapAction="urn:registraById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap12:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <soap12:operation soapAction="urn:writeConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap12:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap12:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <soap12:operation soapAction="urn:readConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RegistrazioneException">
        <soap12:fault use="literal" name="RegistrazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSRegistrazioneHttpBinding" type="ns:WSRegistrazionePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="logout">
      <http:operation location="WSRegistrazione/logout" />
      <wsdl:input>
        <mime:content part="logout" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="logout" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraById">
      <http:operation location="WSRegistrazione/registraById" />
      <wsdl:input>
        <mime:content part="registraById" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="registraById" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <http:operation location="WSRegistrazione/writeConfig" />
      <wsdl:input>
        <mime:content part="writeConfig" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="writeConfig" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="WSRegistrazione/login" />
      <wsdl:input>
        <mime:content part="login" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="login" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <http:operation location="WSRegistrazione/readConfig" />
      <wsdl:input>
        <mime:content part="readConfig" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="readConfig" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSRegistrazione">
    <wsdl:port name="WSRegistrazioneHttpSoap11Endpoint" binding="ns:WSRegistrazioneSoap11Binding">
      <soap:address location="http://docer.terredargine.it:8080/WSRegistrazione/services/WSRegistrazione.WSRegistrazioneHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSRegistrazioneHttpsSoap11Endpoint" binding="ns:WSRegistrazioneSoap11Binding">
      <soap:address location="https://docer.terredargine.it:8443/WSRegistrazione/services/WSRegistrazione.WSRegistrazioneHttpsSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSRegistrazioneHttpsSoap12Endpoint" binding="ns:WSRegistrazioneSoap12Binding">
      <soap12:address location="https://docer.terredargine.it:8443/WSRegistrazione/services/WSRegistrazione.WSRegistrazioneHttpsSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSRegistrazioneHttpSoap12Endpoint" binding="ns:WSRegistrazioneSoap12Binding">
      <soap12:address location="http://docer.terredargine.it:8080/WSRegistrazione/services/WSRegistrazione.WSRegistrazioneHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSRegistrazioneHttpsEndpoint" binding="ns:WSRegistrazioneHttpBinding">
      <http:address location="https://docer.terredargine.it:8443/WSRegistrazione/services/WSRegistrazione.WSRegistrazioneHttpsEndpoint/" />
    </wsdl:port>
    <wsdl:port name="WSRegistrazioneHttpEndpoint" binding="ns:WSRegistrazioneHttpBinding">
      <http:address location="http://docer.terredargine.it:8080/WSRegistrazione/services/WSRegistrazione.WSRegistrazioneHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>