src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloDocErProtocolloService/WSProtocollazione.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax21="http://protocollazione.docer.kdm.it/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://protocollazione.docer.kdm.it" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://protocollazione.docer.kdm.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Servizio per la Protocollazione
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax22="http://protocollazione.docer.kdm.it" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://protocollazione.docer.kdm.it/xsd">
      <xs:import namespace="http://protocollazione.docer.kdm.it" />
      <xs:complexType name="ProtocollazioneException">
        <xs:complexContent mixed="false">
          <xs:extension base="ax22:Exception">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax23="http://protocollazione.docer.kdm.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://protocollazione.docer.kdm.it">
      <xs:import namespace="http://protocollazione.docer.kdm.it/xsd" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ProtocollazioneException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ProtocollazioneException" nillable="true" type="ax23:ProtocollazioneException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="writeConfig">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="xmlConfig" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="writeConfigResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="readConfig">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="readConfigResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="protocollaById">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="documentoId" type="xs:long" />
            <xs:element minOccurs="0" name="datiProtocollo" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="protocollaByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="codiceEnte" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logout">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logoutResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="parameters" element="ns:logout" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="ns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="ProtocollazioneException">
    <wsdl:part name="parameters" element="ns:ProtocollazioneException" />
  </wsdl:message>
  <wsdl:message name="protocollaByIdRequest">
    <wsdl:part name="parameters" element="ns:protocollaById" />
  </wsdl:message>
  <wsdl:message name="protocollaByIdResponse">
    <wsdl:part name="parameters" element="ns:protocollaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="writeConfigRequest">
    <wsdl:part name="parameters" element="ns:writeConfig" />
  </wsdl:message>
  <wsdl:message name="writeConfigResponse">
    <wsdl:part name="parameters" element="ns:writeConfigResponse" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns:login" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="ns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="readConfigRequest">
    <wsdl:part name="parameters" element="ns:readConfig" />
  </wsdl:message>
  <wsdl:message name="readConfigResponse">
    <wsdl:part name="parameters" element="ns:readConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="WSProtocollazionePortType">
    <wsdl:operation name="logout">
      <wsdl:input wsaw:Action="urn:logout" message="ns:logoutRequest" />
      <wsdl:output wsaw:Action="urn:logoutResponse" message="ns:logoutResponse" />
      <wsdl:fault wsaw:Action="urn:logoutProtocollazioneException" name="ProtocollazioneException" message="ns:ProtocollazioneException" />
    </wsdl:operation>
    <wsdl:operation name="protocollaById">
      <wsdl:input wsaw:Action="urn:protocollaById" message="ns:protocollaByIdRequest" />
      <wsdl:output wsaw:Action="urn:protocollaByIdResponse" message="ns:protocollaByIdResponse" />
      <wsdl:fault wsaw:Action="urn:protocollaByIdProtocollazioneException" name="ProtocollazioneException" message="ns:ProtocollazioneException" />
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <wsdl:input wsaw:Action="urn:writeConfig" message="ns:writeConfigRequest" />
      <wsdl:output wsaw:Action="urn:writeConfigResponse" message="ns:writeConfigResponse" />
      <wsdl:fault wsaw:Action="urn:writeConfigProtocollazioneException" name="ProtocollazioneException" message="ns:ProtocollazioneException" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="urn:login" message="ns:loginRequest" />
      <wsdl:output wsaw:Action="urn:loginResponse" message="ns:loginResponse" />
      <wsdl:fault wsaw:Action="urn:loginProtocollazioneException" name="ProtocollazioneException" message="ns:ProtocollazioneException" />
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <wsdl:input wsaw:Action="urn:readConfig" message="ns:readConfigRequest" />
      <wsdl:output wsaw:Action="urn:readConfigResponse" message="ns:readConfigResponse" />
      <wsdl:fault wsaw:Action="urn:readConfigProtocollazioneException" name="ProtocollazioneException" message="ns:ProtocollazioneException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSProtocollazioneSoap11Binding" type="ns:WSProtocollazionePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logout">
      <soap:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="protocollaById">
      <soap:operation soapAction="urn:protocollaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <soap:operation soapAction="urn:writeConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <soap:operation soapAction="urn:readConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSProtocollazioneSoap12Binding" type="ns:WSProtocollazionePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logout">
      <soap12:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap12:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="protocollaById">
      <soap12:operation soapAction="urn:protocollaById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap12:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <soap12:operation soapAction="urn:writeConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap12:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap12:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <soap12:operation soapAction="urn:readConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProtocollazioneException">
        <soap12:fault use="literal" name="ProtocollazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSProtocollazioneHttpBinding" type="ns:WSProtocollazionePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="logout">
      <http:operation location="WSProtocollazione/logout" />
      <wsdl:input>
        <mime:content part="logout" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="logout" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocollaById">
      <http:operation location="WSProtocollazione/protocollaById" />
      <wsdl:input>
        <mime:content part="protocollaById" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="protocollaById" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <http:operation location="WSProtocollazione/writeConfig" />
      <wsdl:input>
        <mime:content part="writeConfig" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="writeConfig" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="WSProtocollazione/login" />
      <wsdl:input>
        <mime:content part="login" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="login" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <http:operation location="WSProtocollazione/readConfig" />
      <wsdl:input>
        <mime:content part="readConfig" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="readConfig" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSProtocollazione">
    <wsdl:port name="WSProtocollazioneHttpSoap11Endpoint" binding="ns:WSProtocollazioneSoap11Binding">
      <soap:address location="http://95.110.167.145:8080/WSProtocollazione/services/WSProtocollazione.WSProtocollazioneHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSProtocollazioneHttpSoap12Endpoint" binding="ns:WSProtocollazioneSoap12Binding">
      <soap12:address location="http://95.110.167.145:8080/WSProtocollazione/services/WSProtocollazione.WSProtocollazioneHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSProtocollazioneHttpEndpoint" binding="ns:WSProtocollazioneHttpBinding">
      <http:address location="http://95.110.167.145:8080/WSProtocollazione/services/WSProtocollazione.WSProtocollazioneHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>