src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:regRic="http://insiel.it/protocollo/schemixsd/getRegistriRicerca" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/getRegistriRicerca" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="RegistriRicercaRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utente" type="tgen:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistriRicercaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="registri" type="regRic:Registro" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Registro">
    <xs:sequence>
      <xs:element name="codiceUfficio" type="xs:string" />
      <xs:element name="descrizioneUfficio" type="xs:string" />
      <xs:element name="codiceRegistro" type="xs:string" />
      <xs:element name="descrizioneRegistro" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>