src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v115.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:intProt="http://insiel.it/protocollo/schemixsd/interrogaProtocollo" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/interrogaProtocollo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="InterrogazioneProtocolloResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="registrazioni" type="tgen:DettagliProtocollo" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
      <xs:attribute name="numRegEstratte" type="xs:int" use="required" />
      <xs:attribute name="numRegTotale" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="InterrogazioneProtocolloRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="registri" type="intProt:RegistriRicerca" />
        <xs:element minOccurs="0" name="anno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" type="tgen:anno" />
              <xs:element minOccurs="0" name="a" type="tgen:anno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="numero">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" type="tgen:numero" />
              <xs:element minOccurs="0" name="a" type="tgen:numero" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="verso" type="tgen:verso" />
        <xs:element minOccurs="0" name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" type="xs:date" />
              <xs:element minOccurs="0" name="a" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="oggetto">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="valore" type="tgen:oggetto" />
              <xs:element minOccurs="0" name="relazione" type="tgen:operatoreRelazionaleUIC" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="corrispondente" type="intProt:CorrispondenteRicerca" />
        <xs:element minOccurs="0" name="classifica" type="tgen:Classifica" />
        <xs:element minOccurs="0" name="ricercaInPratica" type="intProt:RicercaInPratica" />
        <xs:element minOccurs="0" name="codiceUffOpRicerca" type="xs:string" />
        <xs:element minOccurs="0" name="note" type="tgen:note" />
        <xs:element minOccurs="0" name="ordinamentoRisultati">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="dataNum" />
              <xs:enumeration value="corrispData" />
              <xs:enumeration value="dataCorrisp" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="oggettoProtocollo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="valore" type="tgen:oggetto" />
              <xs:element minOccurs="0" name="relazione" type="tgen:operatoreRelazionaleUICF" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="estremiDocumento" type="intProt:EstremiDocumentoRicerca" />
        <xs:element name="viaTelematica" type="xs:boolean" />
        <xs:element name="conImmagini" type="xs:boolean" />
        <xs:element name="conAllegatiInformatici" type="xs:boolean" />
        <xs:element minOccurs="0" name="annullate">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="SOLO_ANNULLATE" />
              <xs:enumeration value="ESCLUDI_ANNULLATE" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="scartate">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="SOLO_SCARTATE" />
              <xs:enumeration value="ESCLUDI_SCARTATE" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RegistriRicerca">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="registro">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="codiceUfficio" type="xs:string" />
            <xs:element name="codiceRegistro" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RicercaInPratica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pratica" type="tgen:PraticaRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorrispondenteRicerca">
    <xs:sequence>
      <xs:element minOccurs="0" name="codice">
        <xs:complexType>
          <xs:all>
            <xs:element name="valore" type="xs:string" />
            <xs:element name="relazione" type="tgen:operatoreRelazionaleUIC" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="descrizione">
        <xs:complexType>
          <xs:all>
            <xs:element name="valore" type="xs:string" />
            <xs:element name="relazione" type="tgen:operatoreRelazionaleUIC" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="tipo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="tutti" />
            <xs:enumeration value="mittente" />
            <xs:enumeration value="destinatario" />
            <xs:enumeration value="ufficio" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EstremiDocumentoRicerca">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="anno" type="tgen:anno" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>