src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:aggprat="http://insiel.it/protocollo/schemixsd/aggiornaPratica" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/aggiornaPratica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="AggiornamentoPraticaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errore" type="tgen:Errore" />
      </xs:sequence>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornamentoPraticaRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="pratica" type="tgen:PraticaRequest" />
        <xs:element minOccurs="0" name="data" type="xs:date" />
        <xs:element minOccurs="0" name="note" type="aggprat:NoteAgg" />
        <xs:element minOccurs="0" name="oggetto" type="tgen:oggetto" />
        <xs:element minOccurs="0" name="codiceTipoPratica" type="xs:string" />
        <xs:element minOccurs="0" name="uffici" type="aggprat:UfficiAggPrat" />
        <xs:element minOccurs="0" name="praticaAc" type="tgen:PraticaDataAc" />
        <xs:element minOccurs="0" name="dataChiusura">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:date">
                <xs:attribute name="isNull" type="xs:boolean" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stato" type="tgen:stato" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UfficiAggPrat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ufficio" type="aggprat:UfficioAggPrat" />
      <xs:element minOccurs="0" name="_virtual" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="UfficioAggPrat">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:UfficioPrat">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NoteAgg">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="isNull" type="xs:boolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>