src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v122.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:riprot="http://insiel.it/protocollo/schemixsd/riprotocolla" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/riprotocolla" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="RiprotocollazioneResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="registrazione" type="tgen:ProtocolloResponse" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RiprotocollazioneRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="registrazione" type="tgen:ProtocolloRequest" />
        <xs:element minOccurs="0" name="codiceUfficioOperante" type="xs:string" />
        <xs:element name="codiceUfficio" type="xs:string" />
        <xs:element name="codiceRegistro" type="xs:string" />
        <xs:element name="verso" type="tgen:verso" />
        <xs:element minOccurs="0" name="mittenti" type="riprot:Mittenti" />
        <xs:element minOccurs="0" name="destinatari" type="riprot:Destinatari" />
        <xs:element minOccurs="0" name="uffici" type="riprot:Uffici" />
        <xs:element minOccurs="0" name="classifiche" type="riprot:Classifiche" />
        <xs:element minOccurs="0" name="dataRicezioneSpedizione" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipoMittenteMail" type="tgen:tipoMittenteMail" />
        <xs:element minOccurs="0" name="inserisciInPratica" type="riprot:Pratiche" />
        <xs:element minOccurs="0" name="mnemonici" type="riprot:Mnemonici" />
        <xs:element minOccurs="0" name="oggettoProtocollo" type="tgen:oggetto" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Mittenti">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mittente" type="tgen:MittenteInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Destinatari">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destinatario" type="tgen:DestinatarioInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Uffici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ufficio" type="tgen:UfficioInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Classifiche">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="classifica" type="tgen:Classifica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pratiche">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pratiche" type="tgen:PraticaRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mnemonici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mnemonico" type="tgen:Mnemonico" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>