src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v125.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:etic="http://insiel.it/protocollo/schemixsd/getEtichetta" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/getEtichetta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="EtichettaRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="registrazione" type="tgen:ProtocolloRequest" />
        <xs:element minOccurs="0" name="codiceSequenza" type="xs:string" />
        <xs:element minOccurs="0" name="doppiaProtocollazione" type="xs:boolean" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="EtichettaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" name="etichetta" type="xs:base64Binary" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>