src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/CreazioneAnagrafeService/anagrafe1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://gruppoinit.it/sigepro/schemas/messages/anagrafe" xmlns:tns="http://gruppoinit.it/sigepro/definitions/anagrafe" targetNamespace="http://gruppoinit.it/sigepro/definitions/anagrafe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://devel9:8081/backend/services/anagrafe?xsd=anagrafe.xsd" namespace="http://gruppoinit.it/sigepro/schemas/messages/anagrafe" />
    </schema>
  </wsdl:types>
  <wsdl:message name="InserimentoAnagrafeRequest">
    <wsdl:part name="InserimentoAnagrafeRequest" element="sch:InserimentoAnagrafeRequest" />
  </wsdl:message>
  <wsdl:message name="InserimentoAnagrafeResponse">
    <wsdl:part name="InserimentoAnagrafeResponse" element="sch:InserimentoAnagrafeResponse" />
  </wsdl:message>
  <wsdl:message name="InserimentoPersonaGiuridicaRequest">
    <wsdl:part name="InserimentoPersonaGiuridicaRequest" element="sch:InserimentoPersonaGiuridicaRequest" />
  </wsdl:message>
  <wsdl:message name="InserimentoPersonaGiuridicaResponse">
    <wsdl:part name="InserimentoAnagrafeResponse" element="sch:InserimentoAnagrafeResponse" />
  </wsdl:message>
  <wsdl:portType name="Anagrafe">
    <wsdl:operation name="InserimentoAnagrafe">
      <wsdl:input name="InserimentoAnagrafeRequest" message="tns:InserimentoAnagrafeRequest" />
      <wsdl:output name="InserimentoAnagrafeResponse" message="tns:InserimentoAnagrafeResponse" />
    </wsdl:operation>
    <wsdl:operation name="InserimentoPersonaGiuridica">
      <wsdl:input name="InserimentoPersonaGiuridicaRequest" message="tns:InserimentoPersonaGiuridicaRequest" />
      <wsdl:output name="InserimentoPersonaGiuridicaResponse" message="tns:InserimentoPersonaGiuridicaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnagrafeSoap11" type="tns:Anagrafe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserimentoAnagrafe">
      <soap:operation soapAction="inserimentoAnagrafe" />
      <wsdl:input name="InserimentoAnagrafeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InserimentoAnagrafeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserimentoPersonaGiuridica">
      <soap:operation soapAction="InserimentoPersonaGiuridica" />
      <wsdl:input name="InserimentoPersonaGiuridicaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InserimentoPersonaGiuridicaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnagrafeService">
    <wsdl:port name="AnagrafeSoap11" binding="tns:AnagrafeSoap11">
      <soap:address location="http://devel9:8081/backend/services/anagrafe" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>