src/vbg.net/areariservata/projects/Backoffice/SIGePro.Manager/Service References/ParixGateService/gate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://parixgate.infocamere.it/services/gate" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://parixgate.infocamere.it/services/gate" targetNamespace="http://parixgate.infocamere.it/services/gate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="RicercaPersonePerCodiceFiscaleRequest">
    <wsdl:part name="codice_fiscale" type="soapenc:string" />
    <wsdl:part name="codice_carica" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNonCessatePerCodiceFiscaleRequest">
    <wsdl:part name="codice_fiscale" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioCompletoImpresaResponse">
    <wsdl:part name="DettaglioCompletoImpresaReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNonCessatePerCodiceFiscaleResponse">
    <wsdl:part name="RicercaImpreseNonCessatePerCodiceFiscaleReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerCodiceFiscaleRequest">
    <wsdl:part name="codice_fiscale" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioUnitaLocaleImpresaResponse">
    <wsdl:part name="DettaglioUnitaLocaleImpresaReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioPersonaConCaricaResponse">
    <wsdl:part name="DettaglioPersonaConCaricaReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaPersoneNonCessatePerCodiceFiscaleResponse">
    <wsdl:part name="RicercaPersoneNonCessatePerCodiceFiscaleReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioUnitaLocaliImpresaResponse">
    <wsdl:part name="DettaglioUnitaLocaliImpresaReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNonCessatePerDenominazioneResponse">
    <wsdl:part name="RicercaImpreseNonCessatePerDenominazioneReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioPersonaConCaricaRequest">
    <wsdl:part name="fk_pri_cciaa_regz" type="soapenc:string" />
    <wsdl:part name="fk_pri_n_rea" type="soapenc:string" />
    <wsdl:part name="pro_persona" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioPersoneConCaricaResponse">
    <wsdl:part name="DettaglioPersoneConCaricaReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioPersoneConCaricaRequest">
    <wsdl:part name="fk_pri_cciaa_regz" type="soapenc:string" />
    <wsdl:part name="fk_pri_n_rea" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioRidottoImpresaRequest">
    <wsdl:part name="sgl_prv_sede" type="soapenc:string" />
    <wsdl:part name="n_rea_sede" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerCodiceFiscaleResponse">
    <wsdl:part name="RicercaImpresePerCodiceFiscaleReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaPersoneNonCessatePerCodiceFiscaleRequest">
    <wsdl:part name="codice_fiscale" type="soapenc:string" />
    <wsdl:part name="codice_carica" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaPersonePerCodiceFiscaleResponse">
    <wsdl:part name="RicercaPersonePerCodiceFiscaleReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerDenominazioneRequest">
    <wsdl:part name="denominazione_sede" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerPeriodoVariazioneRequest">
    <wsdl:part name="dt_ult_agg_ri_1" type="soapenc:string" />
    <wsdl:part name="dt_ult_agg_ri_2" type="soapenc:string" />
    <wsdl:part name="cciaa_regz" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerDenominazioneResponse">
    <wsdl:part name="RicercaImpresePerDenominazioneReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioUnitaLocaliImpresaRequest">
    <wsdl:part name="fk_rea_cciaa_regz" type="soapenc:string" />
    <wsdl:part name="fk_rea_n_rea" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioRidottoImpresaResponse">
    <wsdl:part name="DettaglioRidottoImpresaReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioUnitaLocaleImpresaRequest">
    <wsdl:part name="fk_rea_cciaa_regz" type="soapenc:string" />
    <wsdl:part name="fk_rea_n_rea" type="soapenc:string" />
    <wsdl:part name="pro_localizzazione" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpreseNonCessatePerDenominazioneRequest">
    <wsdl:part name="denominazione_sede" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="DettaglioCompletoImpresaRequest">
    <wsdl:part name="sgl_prv_sede" type="soapenc:string" />
    <wsdl:part name="n_rea_sede" type="soapenc:string" />
    <wsdl:part name="switch_control" type="soapenc:string" />
    <wsdl:part name="user" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="RicercaImpresePerPeriodoVariazioneResponse">
    <wsdl:part name="RicercaImpresePerPeriodoVariazioneReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:portType name="ICRSimpleWSImpl">
    <wsdl:operation name="RicercaImpreseNonCessatePerCodiceFiscale" parameterOrder="codice_fiscale switch_control user password">
      <wsdl:input name="RicercaImpreseNonCessatePerCodiceFiscaleRequest" message="impl:RicercaImpreseNonCessatePerCodiceFiscaleRequest" />
      <wsdl:output name="RicercaImpreseNonCessatePerCodiceFiscaleResponse" message="impl:RicercaImpreseNonCessatePerCodiceFiscaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerCodiceFiscale" parameterOrder="codice_fiscale switch_control user password">
      <wsdl:input name="RicercaImpresePerCodiceFiscaleRequest" message="impl:RicercaImpresePerCodiceFiscaleRequest" />
      <wsdl:output name="RicercaImpresePerCodiceFiscaleResponse" message="impl:RicercaImpresePerCodiceFiscaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaImpreseNonCessatePerDenominazione" parameterOrder="denominazione_sede switch_control user password">
      <wsdl:input name="RicercaImpreseNonCessatePerDenominazioneRequest" message="impl:RicercaImpreseNonCessatePerDenominazioneRequest" />
      <wsdl:output name="RicercaImpreseNonCessatePerDenominazioneResponse" message="impl:RicercaImpreseNonCessatePerDenominazioneResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerDenominazione" parameterOrder="denominazione_sede switch_control user password">
      <wsdl:input name="RicercaImpresePerDenominazioneRequest" message="impl:RicercaImpresePerDenominazioneRequest" />
      <wsdl:output name="RicercaImpresePerDenominazioneResponse" message="impl:RicercaImpresePerDenominazioneResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaPersoneNonCessatePerCodiceFiscale" parameterOrder="codice_fiscale codice_carica user password">
      <wsdl:input name="RicercaPersoneNonCessatePerCodiceFiscaleRequest" message="impl:RicercaPersoneNonCessatePerCodiceFiscaleRequest" />
      <wsdl:output name="RicercaPersoneNonCessatePerCodiceFiscaleResponse" message="impl:RicercaPersoneNonCessatePerCodiceFiscaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaPersonePerCodiceFiscale" parameterOrder="codice_fiscale codice_carica user password">
      <wsdl:input name="RicercaPersonePerCodiceFiscaleRequest" message="impl:RicercaPersonePerCodiceFiscaleRequest" />
      <wsdl:output name="RicercaPersonePerCodiceFiscaleResponse" message="impl:RicercaPersonePerCodiceFiscaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerPeriodoVariazione" parameterOrder="dt_ult_agg_ri_1 dt_ult_agg_ri_2 cciaa_regz user password">
      <wsdl:input name="RicercaImpresePerPeriodoVariazioneRequest" message="impl:RicercaImpresePerPeriodoVariazioneRequest" />
      <wsdl:output name="RicercaImpresePerPeriodoVariazioneResponse" message="impl:RicercaImpresePerPeriodoVariazioneResponse" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioCompletoImpresa" parameterOrder="sgl_prv_sede n_rea_sede switch_control user password">
      <wsdl:input name="DettaglioCompletoImpresaRequest" message="impl:DettaglioCompletoImpresaRequest" />
      <wsdl:output name="DettaglioCompletoImpresaResponse" message="impl:DettaglioCompletoImpresaResponse" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioRidottoImpresa" parameterOrder="sgl_prv_sede n_rea_sede switch_control user password">
      <wsdl:input name="DettaglioRidottoImpresaRequest" message="impl:DettaglioRidottoImpresaRequest" />
      <wsdl:output name="DettaglioRidottoImpresaResponse" message="impl:DettaglioRidottoImpresaResponse" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioUnitaLocaliImpresa" parameterOrder="fk_rea_cciaa_regz fk_rea_n_rea switch_control user password">
      <wsdl:input name="DettaglioUnitaLocaliImpresaRequest" message="impl:DettaglioUnitaLocaliImpresaRequest" />
      <wsdl:output name="DettaglioUnitaLocaliImpresaResponse" message="impl:DettaglioUnitaLocaliImpresaResponse" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioUnitaLocaleImpresa" parameterOrder="fk_rea_cciaa_regz fk_rea_n_rea pro_localizzazione switch_control user password">
      <wsdl:input name="DettaglioUnitaLocaleImpresaRequest" message="impl:DettaglioUnitaLocaleImpresaRequest" />
      <wsdl:output name="DettaglioUnitaLocaleImpresaResponse" message="impl:DettaglioUnitaLocaleImpresaResponse" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioPersoneConCarica" parameterOrder="fk_pri_cciaa_regz fk_pri_n_rea switch_control user password">
      <wsdl:input name="DettaglioPersoneConCaricaRequest" message="impl:DettaglioPersoneConCaricaRequest" />
      <wsdl:output name="DettaglioPersoneConCaricaResponse" message="impl:DettaglioPersoneConCaricaResponse" />
    </wsdl:operation>
    <wsdl:operation name="DettaglioPersonaConCarica" parameterOrder="fk_pri_cciaa_regz fk_pri_n_rea pro_persona switch_control user password">
      <wsdl:input name="DettaglioPersonaConCaricaRequest" message="impl:DettaglioPersonaConCaricaRequest" />
      <wsdl:output name="DettaglioPersonaConCaricaResponse" message="impl:DettaglioPersonaConCaricaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="gateSoapBinding" type="impl:ICRSimpleWSImpl">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="RicercaImpreseNonCessatePerCodiceFiscale">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpreseNonCessatePerCodiceFiscaleRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpreseNonCessatePerCodiceFiscaleResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerCodiceFiscale">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpresePerCodiceFiscaleRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpresePerCodiceFiscaleResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaImpreseNonCessatePerDenominazione">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpreseNonCessatePerDenominazioneRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpreseNonCessatePerDenominazioneResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerDenominazione">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpresePerDenominazioneRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpresePerDenominazioneResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaPersoneNonCessatePerCodiceFiscale">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaPersoneNonCessatePerCodiceFiscaleRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaPersoneNonCessatePerCodiceFiscaleResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaPersonePerCodiceFiscale">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaPersonePerCodiceFiscaleRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaPersonePerCodiceFiscaleResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaImpresePerPeriodoVariazione">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RicercaImpresePerPeriodoVariazioneRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RicercaImpresePerPeriodoVariazioneResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioCompletoImpresa">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioCompletoImpresaRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioCompletoImpresaResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioRidottoImpresa">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioRidottoImpresaRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioRidottoImpresaResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioUnitaLocaliImpresa">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioUnitaLocaliImpresaRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioUnitaLocaliImpresaResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioUnitaLocaleImpresa">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioUnitaLocaleImpresaRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioUnitaLocaleImpresaResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioPersoneConCarica">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioPersoneConCaricaRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioPersoneConCaricaResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettaglioPersonaConCarica">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="DettaglioPersonaConCaricaRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.icr.ic.it" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="DettaglioPersonaConCaricaResponse">
        <wsdlsoap:body use="encoded" namespace="http://parixgate.infocamere.it/services/gate" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICRSimpleWSImplService">
    <wsdl:port name="gate" binding="impl:gateSoapBinding">
      <wsdlsoap:address location="https://servizicner.regione.emilia-romagna.it/parixgate/services/gate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>