src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/GestioneOggettiService/oggetti.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/sigepro/schemas/messages/oggetti" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="OggettiFindRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="id" type="integer" />
      </sequence>
    </complexType>
  </element>
  <element name="OggettiFindResponse">
    <complexType>
      <sequence>
        <element name="fileName" type="string" />
        <element minOccurs="0" maxOccurs="1" name="mimeType" type="string" />
        <element name="binaryData" type="base64Binary" />
      </sequence>
    </complexType>
  </element>
  <element name="OggettiFindNomeRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="id" type="integer" />
      </sequence>
    </complexType>
  </element>
  <element name="OggettiFindNomeResponse">
    <complexType>
      <sequence>
        <element name="fileName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OggettiInsertRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="fileName" type="string" />
        <element minOccurs="0" maxOccurs="1" name="mimeType" type="string" />
        <element name="binaryData" type="base64Binary" />
      </sequence>
    </complexType>
  </element>
  <element name="OggettiInsertResponse">
    <complexType>
      <sequence>
        <element name="id" type="integer" />
      </sequence>
    </complexType>
  </element>
  <element name="OggettiUpdateRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="id" type="integer" />
        <element minOccurs="0" maxOccurs="1" name="fileName" type="string" />
        <element minOccurs="0" maxOccurs="1" name="mimeType" type="string" />
        <element minOccurs="0" maxOccurs="1" name="binaryData" type="base64Binary" />
      </sequence>
    </complexType>
  </element>
  <element name="OggettiUpdateResponse">
    <complexType>
      <sequence>
        <element name="result" type="boolean" />
      </sequence>
    </complexType>
  </element>
  <element name="OggettiDeleteRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="id" type="integer" />
      </sequence>
    </complexType>
  </element>
  <element name="OggettiDeleteResponse">
    <complexType>
      <sequence>
        <element name="result" type="boolean" />
      </sequence>
    </complexType>
  </element>
</schema>