src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloFilesInsielService2/protocolloFiles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tgener="http://insiel.it/protocollo/schemixsd/TipiGenerali" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://insiel.it/protocolloFiles" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://insiel.it/protocolloFiles" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>Versione del web service che usa MTOM</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocolloFiles">
      <xs:import schemaLocation="protocolloFiles?xsd=xsd0.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
      <xs:element name="UploadRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="documento" nillable="true" type="impl:AttachmentData" />
            <xs:element minOccurs="0" name="codiceUtente" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="passwordUtente" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UploadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="idDocumento" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Errore" nillable="true" type="impl:Errore" />
            <xs:element minOccurs="0" name="esito" nillable="true" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DownloadRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="tipoFile" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="idDocumento" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="codiceUtente" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="passwordUtente" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DownloadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Errore" nillable="true" type="impl:Errore" />
            <xs:element minOccurs="0" name="documento" nillable="true" type="impl:AttachmentData" />
            <xs:element minOccurs="0" name="esito" nillable="true" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DownloadDocumentoRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Utente" type="tgener:Utente" />
            <xs:element minOccurs="0" name="Registrazione" nillable="true" type="tgener:ProtocolloRequest" />
            <xs:element name="idDoc" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="AttachmentData">
        <xs:sequence>
          <xs:element minOccurs="0" name="tipoFile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="binaryData" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Errore">
        <xs:sequence>
          <xs:element minOccurs="0" name="codice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="downloadResponse">
    <wsdl:part name="response" element="impl:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="uploadResponse">
    <wsdl:part name="response" element="impl:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="downloadRequest">
    <wsdl:part name="request" element="impl:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="downloadDocRequest">
    <wsdl:part name="request" element="impl:DownloadDocumentoRequest" />
  </wsdl:message>
  <wsdl:message name="uploadRequest">
    <wsdl:part name="request" element="impl:UploadRequest" />
  </wsdl:message>
  <wsdl:portType name="ProtocolloFilesPortType">
    <wsdl:operation name="upload">
      <wsdl:input wsaw:Action="urn:UploadRequest" message="impl:uploadRequest" />
      <wsdl:output wsaw:Action="urn:UploadResponse" message="impl:uploadResponse" />
    </wsdl:operation>
    <wsdl:operation name="download">
      <wsdl:input wsaw:Action="urn:DownloadRequest" message="impl:downloadRequest" />
      <wsdl:output wsaw:Action="urn:DownloadResponse" message="impl:downloadResponse" />
    </wsdl:operation>
    <wsdl:operation name="downloadDocumento">
      <wsdl:input wsaw:Action="urn:DownloadDocRequest" message="impl:downloadDocRequest" />
      <wsdl:output wsaw:Action="urn:DownloadResponse" message="impl:downloadResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProtocolloFilesHttpBinding" type="impl:ProtocolloFilesPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="upload">
      <http:operation location="GestisceFiles/upload" />
      <wsdl:input>
        <mime:content part="upload" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="upload" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="download">
      <http:operation location="GestisceFiles/download" />
      <wsdl:input>
        <mime:content part="download" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="download" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDocumento">
      <http:operation location="GestisceFiles/downloadDocumento" />
      <wsdl:input>
        <mime:content part="downloadDocumento" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="downloadDocumento" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProtocolloFilesSoapBinding" type="impl:ProtocolloFilesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="upload">
      <soap:operation soapAction="urn:upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="download">
      <soap:operation soapAction="urn:download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDocumento">
      <soap:operation soapAction="urn:downloadDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProtocolloFilesSOAP12Binding" type="impl:ProtocolloFilesPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="upload">
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="download">
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDocumento">
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="protocolloFiles">
    <wsdl:port name="protocolloFilesHttpSoap12Endpoint" binding="impl:ProtocolloFilesSOAP12Binding">
      <soap12:address location="http://192.168.20.46:8082/ProtocolloFilesDocWs/services/protocolloFiles.protocolloFilesHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="protocolloFilesHttpEndpoint" binding="impl:ProtocolloFilesHttpBinding">
      <http:address location="http://192.168.20.46:8082/ProtocolloFilesDocWs/services/protocolloFiles.protocolloFilesHttpEndpoint/" />
    </wsdl:port>
    <wsdl:port name="protocolloFilesHttpSoap11Endpoint" binding="impl:ProtocolloFilesSoapBinding">
      <soap:address location="http://192.168.20.46:8082/ProtocolloFilesDocWs/services/protocolloFiles.protocolloFilesHttpSoap11Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>