src/vbg.net/areariservata/projects/Backoffice/SIGePro.Manager/Service References/WsMercatiService/mercati1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://gruppoinit.it/sigepro/schemas/messages/mercati" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/sigepro/schemas/messages/mercati" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="PresenzeProprietarioRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="codIstanza" type="int" />
        <element name="estremiAut" type="tns:EstremiAut" />
        <element name="catMerc" type="string" />
        <element name="inserisciAutSeNonTrovata" type="boolean" />
      </all>
    </complexType>
  </element>
  <element name="PresenzeProprietarioResponse">
    <complexType>
      <all>
        <element name="numeroPresenzeProp" type="int" />
      </all>
    </complexType>
  </element>
  <element name="PresenzeRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="codiceIstanza" type="int" />
        <element name="estremiAut" type="tns:EstremiAut" />
        <element name="catMerc" type="string" />
        <element name="inserisciAutSeNonTrovata" type="boolean" />
      </all>
    </complexType>
  </element>
  <element name="PresenzeResponse">
    <complexType>
      <all>
        <element name="numeroPresenze" type="int" />
      </all>
    </complexType>
  </element>
  <element name="PresenzePosteggioRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="codIstanza" type="int" />
        <element name="codPosteggio" type="string" />
        <element name="estremiAut" type="tns:EstremiAut" />
        <element name="catMerc" type="string" />
        <element name="inserisciAutSeNonTrovata" type="boolean" />
      </all>
    </complexType>
  </element>
  <element name="PresenzePosteggioResponse">
    <complexType>
      <all>
        <element name="numeroPresenze" type="int" />
        <element name="numeroPresenzeProp" type="int" />
      </all>
    </complexType>
  </element>
  <element name="PresenzeManifestazioneRequest">
    <complexType>
      <all>
        <element minOccurs="1" maxOccurs="1" name="token" type="string" />
        <element minOccurs="1" maxOccurs="1" name="codiceIstanza" type="int" />
        <element minOccurs="1" maxOccurs="1" name="codiceManifestazione" type="int" />
        <element minOccurs="0" maxOccurs="1" name="codiceUso" type="int" />
        <element name="estremiAut" type="tns:EstremiAut" />
        <element minOccurs="0" maxOccurs="1" name="catMerc" type="string" />
        <element name="inserisciAutSeNonTrovata" type="boolean" />
      </all>
    </complexType>
  </element>
  <element name="PresenzeManifestazioneResponse">
    <complexType>
      <all>
        <element name="numeroPresenze" type="int" />
        <element name="numeroPresenzeProp" type="int" />
      </all>
    </complexType>
  </element>
  <complexType name="EstremiAut">
    <all>
      <element name="autoriznumero" type="string" />
      <element name="autorizdata" type="string" />
      <element name="codiceAutorizcomune" type="string" />
      <element name="codiceAutorizregistro" type="int" />
    </all>
  </complexType>
</schema>