src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsEntiTerzi/ws-enti-terzi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sigepro.it/scrivania-enti-terzi" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sigepro.it/scrivania-enti-terzi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sigepro.it/scrivania-enti-terzi">
      <s:element name="GetDatiAmministrazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceAnagrafe" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatiAmministrazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatiAmministrazioneResult" type="tns:ETDatiAmministrazione" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ETDatiAmministrazione">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codice" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartitaIva" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PuoEffettuareMovimenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceAnagrafe" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PuoEffettuareMovimentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PuoEffettuareMovimentiResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListaPratiche">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filtri" type="tns:ETFiltriPraticheEntiTerzi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ETFiltriPraticheEntiTerzi">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodiceAnagrafe" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DallaData" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AllaData" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroProtocollo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroIstanza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modulo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Elaborata" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListaPraticheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListaPraticheResult" type="tns:ArrayOfETPraticaEnteTerzo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETPraticaEnteTerzo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETPraticaEnteTerzo" nillable="true" type="tns:ETPraticaEnteTerzo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETPraticaEnteTerzo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroProtocollo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataProtocollo" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CodiceIstanza" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Localizzazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Richiedente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoIntervento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPresentazione" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StatoLavorazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroIstanza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoftwareCodice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoftwareDescrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListaSoftwareConPratiche">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceAnagrafe" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListaSoftwareConPraticheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListaSoftwareConPraticheResult" type="tns:ArrayOfETSoftware" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfETSoftware">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ETSoftware" nillable="true" type="tns:ETSoftware" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETSoftware">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MarcaPraticaComeElaborata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceIstanza" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceAnagrafe" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarcaPraticaComeElaborataResponse">
        <s:complexType />
      </s:element>
      <s:element name="MarcaPraticaComeNonElaborata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceIstanza" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceAnagrafe" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarcaPraticaComeNonElaborataResponse">
        <s:complexType />
      </s:element>
      <s:element name="PraticaElaborata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceIstanza" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceAnagrafe" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PraticaElaborataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PraticaElaborataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETDatiAmministrazione" nillable="true" type="tns:ETDatiAmministrazione" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="ArrayOfETSoftware" nillable="true" type="tns:ArrayOfETSoftware" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDatiAmministrazioneSoapIn">
    <wsdl:part name="parameters" element="tns:GetDatiAmministrazione" />
  </wsdl:message>
  <wsdl:message name="GetDatiAmministrazioneSoapOut">
    <wsdl:part name="parameters" element="tns:GetDatiAmministrazioneResponse" />
  </wsdl:message>
  <wsdl:message name="PuoEffettuareMovimentiSoapIn">
    <wsdl:part name="parameters" element="tns:PuoEffettuareMovimenti" />
  </wsdl:message>
  <wsdl:message name="PuoEffettuareMovimentiSoapOut">
    <wsdl:part name="parameters" element="tns:PuoEffettuareMovimentiResponse" />
  </wsdl:message>
  <wsdl:message name="GetListaPraticheSoapIn">
    <wsdl:part name="parameters" element="tns:GetListaPratiche" />
  </wsdl:message>
  <wsdl:message name="GetListaPraticheSoapOut">
    <wsdl:part name="parameters" element="tns:GetListaPraticheResponse" />
  </wsdl:message>
  <wsdl:message name="GetListaSoftwareConPraticheSoapIn">
    <wsdl:part name="parameters" element="tns:GetListaSoftwareConPratiche" />
  </wsdl:message>
  <wsdl:message name="GetListaSoftwareConPraticheSoapOut">
    <wsdl:part name="parameters" element="tns:GetListaSoftwareConPraticheResponse" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeElaborataSoapIn">
    <wsdl:part name="parameters" element="tns:MarcaPraticaComeElaborata" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeElaborataSoapOut">
    <wsdl:part name="parameters" element="tns:MarcaPraticaComeElaborataResponse" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeNonElaborataSoapIn">
    <wsdl:part name="parameters" element="tns:MarcaPraticaComeNonElaborata" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeNonElaborataSoapOut">
    <wsdl:part name="parameters" element="tns:MarcaPraticaComeNonElaborataResponse" />
  </wsdl:message>
  <wsdl:message name="PraticaElaborataSoapIn">
    <wsdl:part name="parameters" element="tns:PraticaElaborata" />
  </wsdl:message>
  <wsdl:message name="PraticaElaborataSoapOut">
    <wsdl:part name="parameters" element="tns:PraticaElaborataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDatiAmministrazioneHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDatiAmministrazioneHttpGetOut">
    <wsdl:part name="Body" element="tns:ETDatiAmministrazione" />
  </wsdl:message>
  <wsdl:message name="PuoEffettuareMovimentiHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PuoEffettuareMovimentiHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetListaSoftwareConPraticheHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetListaSoftwareConPraticheHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfETSoftware" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeElaborataHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceIstanza" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeElaborataHttpGetOut" />
  <wsdl:message name="MarcaPraticaComeNonElaborataHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceIstanza" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeNonElaborataHttpGetOut" />
  <wsdl:message name="PraticaElaborataHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceIstanza" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PraticaElaborataHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetDatiAmministrazioneHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDatiAmministrazioneHttpPostOut">
    <wsdl:part name="Body" element="tns:ETDatiAmministrazione" />
  </wsdl:message>
  <wsdl:message name="PuoEffettuareMovimentiHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PuoEffettuareMovimentiHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetListaSoftwareConPraticheHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetListaSoftwareConPraticheHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfETSoftware" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeElaborataHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceIstanza" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeElaborataHttpPostOut" />
  <wsdl:message name="MarcaPraticaComeNonElaborataHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceIstanza" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MarcaPraticaComeNonElaborataHttpPostOut" />
  <wsdl:message name="PraticaElaborataHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceIstanza" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PraticaElaborataHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="ws_enti_terziSoap">
    <wsdl:operation name="GetDatiAmministrazione">
      <wsdl:input message="tns:GetDatiAmministrazioneSoapIn" />
      <wsdl:output message="tns:GetDatiAmministrazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PuoEffettuareMovimenti">
      <wsdl:input message="tns:PuoEffettuareMovimentiSoapIn" />
      <wsdl:output message="tns:PuoEffettuareMovimentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListaPratiche">
      <wsdl:input message="tns:GetListaPraticheSoapIn" />
      <wsdl:output message="tns:GetListaPraticheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListaSoftwareConPratiche">
      <wsdl:input message="tns:GetListaSoftwareConPraticheSoapIn" />
      <wsdl:output message="tns:GetListaSoftwareConPraticheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeElaborata">
      <wsdl:input message="tns:MarcaPraticaComeElaborataSoapIn" />
      <wsdl:output message="tns:MarcaPraticaComeElaborataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeNonElaborata">
      <wsdl:input message="tns:MarcaPraticaComeNonElaborataSoapIn" />
      <wsdl:output message="tns:MarcaPraticaComeNonElaborataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PraticaElaborata">
      <wsdl:input message="tns:PraticaElaborataSoapIn" />
      <wsdl:output message="tns:PraticaElaborataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ws_enti_terziHttpGet">
    <wsdl:operation name="GetDatiAmministrazione">
      <wsdl:input message="tns:GetDatiAmministrazioneHttpGetIn" />
      <wsdl:output message="tns:GetDatiAmministrazioneHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PuoEffettuareMovimenti">
      <wsdl:input message="tns:PuoEffettuareMovimentiHttpGetIn" />
      <wsdl:output message="tns:PuoEffettuareMovimentiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListaSoftwareConPratiche">
      <wsdl:input message="tns:GetListaSoftwareConPraticheHttpGetIn" />
      <wsdl:output message="tns:GetListaSoftwareConPraticheHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeElaborata">
      <wsdl:input message="tns:MarcaPraticaComeElaborataHttpGetIn" />
      <wsdl:output message="tns:MarcaPraticaComeElaborataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeNonElaborata">
      <wsdl:input message="tns:MarcaPraticaComeNonElaborataHttpGetIn" />
      <wsdl:output message="tns:MarcaPraticaComeNonElaborataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PraticaElaborata">
      <wsdl:input message="tns:PraticaElaborataHttpGetIn" />
      <wsdl:output message="tns:PraticaElaborataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ws_enti_terziHttpPost">
    <wsdl:operation name="GetDatiAmministrazione">
      <wsdl:input message="tns:GetDatiAmministrazioneHttpPostIn" />
      <wsdl:output message="tns:GetDatiAmministrazioneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PuoEffettuareMovimenti">
      <wsdl:input message="tns:PuoEffettuareMovimentiHttpPostIn" />
      <wsdl:output message="tns:PuoEffettuareMovimentiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListaSoftwareConPratiche">
      <wsdl:input message="tns:GetListaSoftwareConPraticheHttpPostIn" />
      <wsdl:output message="tns:GetListaSoftwareConPraticheHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeElaborata">
      <wsdl:input message="tns:MarcaPraticaComeElaborataHttpPostIn" />
      <wsdl:output message="tns:MarcaPraticaComeElaborataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeNonElaborata">
      <wsdl:input message="tns:MarcaPraticaComeNonElaborataHttpPostIn" />
      <wsdl:output message="tns:MarcaPraticaComeNonElaborataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PraticaElaborata">
      <wsdl:input message="tns:PraticaElaborataHttpPostIn" />
      <wsdl:output message="tns:PraticaElaborataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_enti_terziSoap" type="tns:ws_enti_terziSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDatiAmministrazione">
      <soap:operation soapAction="http://sigepro.it/scrivania-enti-terzi/GetDatiAmministrazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PuoEffettuareMovimenti">
      <soap:operation soapAction="http://sigepro.it/scrivania-enti-terzi/PuoEffettuareMovimenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaPratiche">
      <soap:operation soapAction="http://sigepro.it/scrivania-enti-terzi/GetListaPratiche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaSoftwareConPratiche">
      <soap:operation soapAction="http://sigepro.it/scrivania-enti-terzi/GetListaSoftwareConPratiche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeElaborata">
      <soap:operation soapAction="http://sigepro.it/scrivania-enti-terzi/MarcaPraticaComeElaborata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeNonElaborata">
      <soap:operation soapAction="http://sigepro.it/scrivania-enti-terzi/MarcaPraticaComeNonElaborata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraticaElaborata">
      <soap:operation soapAction="http://sigepro.it/scrivania-enti-terzi/PraticaElaborata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_enti_terziSoap12" type="tns:ws_enti_terziSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDatiAmministrazione">
      <soap12:operation soapAction="http://sigepro.it/scrivania-enti-terzi/GetDatiAmministrazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PuoEffettuareMovimenti">
      <soap12:operation soapAction="http://sigepro.it/scrivania-enti-terzi/PuoEffettuareMovimenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaPratiche">
      <soap12:operation soapAction="http://sigepro.it/scrivania-enti-terzi/GetListaPratiche" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaSoftwareConPratiche">
      <soap12:operation soapAction="http://sigepro.it/scrivania-enti-terzi/GetListaSoftwareConPratiche" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeElaborata">
      <soap12:operation soapAction="http://sigepro.it/scrivania-enti-terzi/MarcaPraticaComeElaborata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeNonElaborata">
      <soap12:operation soapAction="http://sigepro.it/scrivania-enti-terzi/MarcaPraticaComeNonElaborata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PraticaElaborata">
      <soap12:operation soapAction="http://sigepro.it/scrivania-enti-terzi/PraticaElaborata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_enti_terziHttpGet" type="tns:ws_enti_terziHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetDatiAmministrazione">
      <http:operation location="/GetDatiAmministrazione" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PuoEffettuareMovimenti">
      <http:operation location="/PuoEffettuareMovimenti" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaSoftwareConPratiche">
      <http:operation location="/GetListaSoftwareConPratiche" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeElaborata">
      <http:operation location="/MarcaPraticaComeElaborata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeNonElaborata">
      <http:operation location="/MarcaPraticaComeNonElaborata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="PraticaElaborata">
      <http:operation location="/PraticaElaborata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_enti_terziHttpPost" type="tns:ws_enti_terziHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetDatiAmministrazione">
      <http:operation location="/GetDatiAmministrazione" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PuoEffettuareMovimenti">
      <http:operation location="/PuoEffettuareMovimenti" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaSoftwareConPratiche">
      <http:operation location="/GetListaSoftwareConPratiche" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeElaborata">
      <http:operation location="/MarcaPraticaComeElaborata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="MarcaPraticaComeNonElaborata">
      <http:operation location="/MarcaPraticaComeNonElaborata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="PraticaElaborata">
      <http:operation location="/PraticaElaborata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_enti_terzi">
    <wsdl:port name="ws_enti_terziSoap" binding="tns:ws_enti_terziSoap">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/enti-terzi/ws-enti-terzi.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_enti_terziSoap12" binding="tns:ws_enti_terziSoap12">
      <soap12:address location="http://localhost:2640/sigepro.net/WebServices/enti-terzi/ws-enti-terzi.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_enti_terziHttpGet" binding="tns:ws_enti_terziHttpGet">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/enti-terzi/ws-enti-terzi.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_enti_terziHttpPost" binding="tns:ws_enti_terziHttpPost">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/enti-terzi/ws-enti-terzi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>