src/VBG.net/projects/UI/Sigepro.net/WebServices/WsSIGeProSistematica/Schema/ListaIstanze.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NumeroIstanza" type="xs:string"/>

  <xs:element name="ListaIstanze">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Istanza" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="versione" type="xs:NMTOKEN" use="required" fixed="2005-04-11" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Istanza">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NumeroIstanza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>