src/vbg.net/console/projects/UI/Sigepro.net/WebServices/WsSIGePro/Schema/ConfigFasc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DatiFasc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NumeroFascicolo" type="xs:string" minOccurs="0"/>
        <xs:element name="DataFascicolo" type="xs:string" minOccurs="0"/>
        <xs:element name="ClassificaFascicolo" type="xs:string" minOccurs="0"/>
        <xs:element name="OggettoFascicolo" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
