src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsAccessoAtti/ws-accesso-atti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetListaAtti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceAnagrafe" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="software" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListaAttiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListaAttiResult" type="tns:ArrayOfPraticaAccessoAtti" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPraticaAccessoAtti">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PraticaAccessoAtti" nillable="true" type="tns:PraticaAccessoAtti" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PraticaAccessoAtti">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroProtocollo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataProtocollo" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CodiceIstanza" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Localizzazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Richiedente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoIntervento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPresentazione" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StatoLavorazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroIstanza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoftwareCodice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoftwareDescrizione" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MostraDocumentiNonValidi" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IdAccessoAtti" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceIstanzaAccessoAtti" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataIstanzaAccessoAtti" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrizioneAccessoAtti" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogAccessoAtti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idAccessoAtti" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceAnagrafe" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codiceIstanza" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogAccessoAttiResponse">
        <s:complexType />
      </s:element>
      <s:element name="ArrayOfPraticaAccessoAtti" nillable="true" type="tns:ArrayOfPraticaAccessoAtti" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListaAttiSoapIn">
    <wsdl:part name="parameters" element="tns:GetListaAtti" />
  </wsdl:message>
  <wsdl:message name="GetListaAttiSoapOut">
    <wsdl:part name="parameters" element="tns:GetListaAttiResponse" />
  </wsdl:message>
  <wsdl:message name="LogAccessoAttiSoapIn">
    <wsdl:part name="parameters" element="tns:LogAccessoAtti" />
  </wsdl:message>
  <wsdl:message name="LogAccessoAttiSoapOut">
    <wsdl:part name="parameters" element="tns:LogAccessoAttiResponse" />
  </wsdl:message>
  <wsdl:message name="GetListaAttiHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
    <wsdl:part name="software" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetListaAttiHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPraticaAccessoAtti" />
  </wsdl:message>
  <wsdl:message name="LogAccessoAttiHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="idAccessoAtti" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
    <wsdl:part name="codiceIstanza" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogAccessoAttiHttpGetOut" />
  <wsdl:message name="GetListaAttiHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
    <wsdl:part name="software" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetListaAttiHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPraticaAccessoAtti" />
  </wsdl:message>
  <wsdl:message name="LogAccessoAttiHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="idAccessoAtti" type="s:string" />
    <wsdl:part name="codiceAnagrafe" type="s:string" />
    <wsdl:part name="codiceIstanza" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogAccessoAttiHttpPostOut" />
  <wsdl:portType name="ws_accesso_attiSoap">
    <wsdl:operation name="GetListaAtti">
      <wsdl:input message="tns:GetListaAttiSoapIn" />
      <wsdl:output message="tns:GetListaAttiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogAccessoAtti">
      <wsdl:input message="tns:LogAccessoAttiSoapIn" />
      <wsdl:output message="tns:LogAccessoAttiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ws_accesso_attiHttpGet">
    <wsdl:operation name="GetListaAtti">
      <wsdl:input message="tns:GetListaAttiHttpGetIn" />
      <wsdl:output message="tns:GetListaAttiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogAccessoAtti">
      <wsdl:input message="tns:LogAccessoAttiHttpGetIn" />
      <wsdl:output message="tns:LogAccessoAttiHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ws_accesso_attiHttpPost">
    <wsdl:operation name="GetListaAtti">
      <wsdl:input message="tns:GetListaAttiHttpPostIn" />
      <wsdl:output message="tns:GetListaAttiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogAccessoAtti">
      <wsdl:input message="tns:LogAccessoAttiHttpPostIn" />
      <wsdl:output message="tns:LogAccessoAttiHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_accesso_attiSoap" type="tns:ws_accesso_attiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListaAtti">
      <soap:operation soapAction="http://tempuri.org/GetListaAtti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogAccessoAtti">
      <soap:operation soapAction="http://tempuri.org/LogAccessoAtti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_accesso_attiSoap12" type="tns:ws_accesso_attiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListaAtti">
      <soap12:operation soapAction="http://tempuri.org/GetListaAtti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogAccessoAtti">
      <soap12:operation soapAction="http://tempuri.org/LogAccessoAtti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_accesso_attiHttpGet" type="tns:ws_accesso_attiHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetListaAtti">
      <http:operation location="/GetListaAtti" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogAccessoAtti">
      <http:operation location="/LogAccessoAtti" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_accesso_attiHttpPost" type="tns:ws_accesso_attiHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetListaAtti">
      <http:operation location="/GetListaAtti" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogAccessoAtti">
      <http:operation location="/LogAccessoAtti" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_accesso_atti">
    <wsdl:port name="ws_accesso_attiSoap" binding="tns:ws_accesso_attiSoap">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/accesso-atti/ws-accesso-atti.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_accesso_attiSoap12" binding="tns:ws_accesso_attiSoap12">
      <soap12:address location="http://localhost:2640/sigepro.net/WebServices/accesso-atti/ws-accesso-atti.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_accesso_attiHttpGet" binding="tns:ws_accesso_attiHttpGet">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/accesso-atti/ws-accesso-atti.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_accesso_attiHttpPost" binding="tns:ws_accesso_attiHttpPost">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/accesso-atti/ws-accesso-atti.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>