src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/FVGWebService/FormService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://forms.insiel.it/FormService/servizi/FormService" xmlns:ns2="http://forms.insiel.it/FormService/schemixsd/FormService" name="FormService" targetNamespace="http://forms.insiel.it/FormService/servizi/FormService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://forms.insiel.it/FormService/schemixsd/FormService" xmlns:ns1="http://forms.insiel.it/FormService/common/ws" elementFormDefault="qualified" targetNamespace="http://forms.insiel.it/FormService/schemixsd/FormService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://forms.insiel.it/FormService/common/ws" />
      <xs:element name="Richiesta_getManagedDataFromIdIstanza" type="tns:Richiesta_getManagedDataFromIdIstanza" />
      <xs:element name="Richiesta_getXMLModulo" type="tns:Richiesta_getXMLModulo" />
      <xs:element name="Richiesta_salvaBinaryContent" type="tns:Richiesta_salvaBinaryContent" />
      <xs:element name="Risposta_getManagedDataFromIdIstanza" type="tns:Risposta_getManagedDataFromIdIstanza" />
      <xs:element name="Risposta_getXMLModulo" type="tns:Risposta_getXMLModulo" />
      <xs:element name="Risposta_salvaBinaryContent" type="tns:Risposta_salvaBinaryContent" />
      <xs:complexType name="Richiesta_getManagedDataFromIdIstanza">
        <xs:sequence>
          <xs:element name="idIstanza" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Risposta_getManagedDataFromIdIstanza">
        <xs:sequence>
          <xs:element name="esito" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Avvertimento" type="ns1:Avvertimento" />
          <xs:element minOccurs="0" name="managedData" type="ns1:BinaryContent" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Errore" type="ns1:Errore" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Richiesta_getXMLModulo">
        <xs:sequence>
          <xs:element name="idIstanza" type="xs:long" />
          <xs:element name="codiceModulo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Risposta_getXMLModulo">
        <xs:sequence>
          <xs:element name="esito" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Avvertimento" type="ns1:Avvertimento" />
          <xs:element minOccurs="0" name="XMLModulo" type="ns1:BinaryContent" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Errore" type="ns1:Errore" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Richiesta_salvaBinaryContent">
        <xs:sequence>
          <xs:element name="idIstanza" type="xs:long" />
          <xs:element name="codiceModulo" type="xs:string" />
          <xs:element name="xml" type="ns1:BinaryContent" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Risposta_salvaBinaryContent">
        <xs:sequence>
          <xs:element name="esito" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Avvertimento" type="ns1:Avvertimento" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Errore" type="ns1:Errore" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://forms.insiel.it/FormService/common/ws" elementFormDefault="qualified" targetNamespace="http://forms.insiel.it/FormService/common/ws" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="avvertimento" type="tns:Avvertimento" />
      <xs:element name="binaryContent" type="tns:BinaryContent" />
      <xs:element name="errore" type="tns:Errore" />
      <xs:complexType name="Avvertimento">
        <xs:sequence>
          <xs:element name="Codice" type="xs:string" />
          <xs:element name="Descrizione" type="xs:string" />
          <xs:element name="infoAvanzata" type="tns:InfoAvanzataSuProblema" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InfoAvanzataSuProblema">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Risorse" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Suggerimenti" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BinaryContent">
        <xs:sequence>
          <xs:element name="content">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" ns1:expectedContentTypes="application/octet-stream" minOccurs="0" name="binaryData" type="xs:base64Binary" />
                <xs:element minOccurs="0" name="URI" type="xs:string" />
                <xs:element minOccurs="0" name="other" type="tns:otherType" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="contentType" type="xs:string" />
          <xs:element minOccurs="0" name="fileExtension" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="otherType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Errore">
        <xs:sequence>
          <xs:element name="Codice" type="xs:string" />
          <xs:element name="Descrizione" type="xs:string" />
          <xs:element name="infoAvanzata" type="tns:InfoAvanzataSuProblema" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getManagedDataFromIdIstanza">
    <wsdl:part name="parameters" element="ns2:Richiesta_getManagedDataFromIdIstanza" />
  </wsdl:message>
  <wsdl:message name="getXMLModulo">
    <wsdl:part name="parameters" element="ns2:Richiesta_getXMLModulo" />
  </wsdl:message>
  <wsdl:message name="salvaBinaryContentResponse">
    <wsdl:part name="parameters" element="ns2:Risposta_salvaBinaryContent" />
  </wsdl:message>
  <wsdl:message name="getXMLModuloResponse">
    <wsdl:part name="parameters" element="ns2:Risposta_getXMLModulo" />
  </wsdl:message>
  <wsdl:message name="salvaBinaryContent">
    <wsdl:part name="parameters" element="ns2:Richiesta_salvaBinaryContent" />
  </wsdl:message>
  <wsdl:message name="getManagedDataFromIdIstanzaResponse">
    <wsdl:part name="parameters" element="ns2:Risposta_getManagedDataFromIdIstanza" />
  </wsdl:message>
  <wsdl:portType name="FormService">
    <wsdl:operation name="getManagedDataFromIdIstanza">
      <wsdl:input name="getManagedDataFromIdIstanza" message="ns1:getManagedDataFromIdIstanza" />
      <wsdl:output name="getManagedDataFromIdIstanzaResponse" message="ns1:getManagedDataFromIdIstanzaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getXMLModulo">
      <wsdl:input name="getXMLModulo" message="ns1:getXMLModulo" />
      <wsdl:output name="getXMLModuloResponse" message="ns1:getXMLModuloResponse" />
    </wsdl:operation>
    <wsdl:operation name="salvaBinaryContent">
      <wsdl:input name="salvaBinaryContent" message="ns1:salvaBinaryContent" />
      <wsdl:output name="salvaBinaryContentResponse" message="ns1:salvaBinaryContentResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>