src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/EGrammata2/Wsdl/WSProtocollazioneAllegati.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.1.1.31:8080/egrammata/services/WSProtocollazioneAllegati" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://10.1.1.31:8080/egrammata/services/WSProtocollazioneAllegati" xmlns:intf="http://10.1.1.31:8080/egrammata/services/WSProtocollazioneAllegati" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="protocollaResponse">

      <wsdl:part name="protocollaReturn" type="soapenc:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="protocollaRequest">

      <wsdl:part name="codEnte" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="username" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="password" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="indirizzoIP" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="xml" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="hash" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="userApp" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="postazione" type="soapenc:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="protocollaNSRequest">

      <wsdl:part name="codEnte" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="username" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="password" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="indirizzoIP" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="xml" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="hash" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="userApp" type="soapenc:string">

      </wsdl:part>

      <wsdl:part name="postazione" type="soapenc:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="protocollaNSResponse">

      <wsdl:part name="protocollaNSReturn" type="soapenc:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSProtocollazioneAllegati">

      <wsdl:operation name="protocolla" parameterOrder="codEnte username password indirizzoIP xml hash userApp postazione">

         <wsdl:input message="impl:protocollaRequest" name="protocollaRequest">

       </wsdl:input>

         <wsdl:output message="impl:protocollaResponse" name="protocollaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protocollaNS" parameterOrder="codEnte username password indirizzoIP xml hash userApp postazione">

         <wsdl:input message="impl:protocollaNSRequest" name="protocollaNSRequest">

       </wsdl:input>

         <wsdl:output message="impl:protocollaNSResponse" name="protocollaNSResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSProtocollazioneAllegatiSoapBinding" type="impl:WSProtocollazioneAllegati">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="protocolla">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protocollaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://protocollo.webservices.eng" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="protocollaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.1.31:8080/egrammata/services/WSProtocollazioneAllegati" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protocollaNS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protocollaNSRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://protocollo.webservices.eng" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="protocollaNSResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.1.1.31:8080/egrammata/services/WSProtocollazioneAllegati" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSProtocollazioneAllegatiService">

      <wsdl:port binding="impl:WSProtocollazioneAllegatiSoapBinding" name="WSProtocollazioneAllegati">

         <wsdlsoap:address location="http://10.1.1.31:8080/egrammata/services/WSProtocollazioneAllegati"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>