src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsiel3FilesTransferService/v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://insiel.it/filetransfer/schemixsd/uploadFile" xmlns:tgen="http://insiel.it/filetransfer/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/filetransfer/schemixsd/uploadFile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/filetransfer/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/filetransfer/schemixsd/tipiGenerali" />
  <xs:element name="UploadFileRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="tgen:AttachmentDataType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="UploadedFile" type="UploadedFileType" />
        <xs:element name="Errore" type="tgen:ErroreType" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UploadedFileType">
    <xs:sequence>
      <xs:element name="idFile" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>