src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/BookmarksWebService/BookmarksService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBookmark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeLink" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookmarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookmarkResult" type="tns:BookmarkInterventoDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BookmarkInterventoDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IdComune" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Anonimo" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IdIntervento" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NodoDestinatario" type="tns:NodoDestinazioneDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NodoDestinazioneDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IdComune" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdNodo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdEnte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdSportello" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pec" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Parametri" type="tns:NodoDestinazioneParameteriDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NodoDestinazioneParameteriDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BookmarkInterventoDto" nillable="true" type="tns:BookmarkInterventoDto" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBookmarkSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookmark" />
  </wsdl:message>
  <wsdl:message name="GetBookmarkSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookmarkResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookmarkHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="nomeLink" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBookmarkHttpGetOut">
    <wsdl:part name="Body" element="tns:BookmarkInterventoDto" />
  </wsdl:message>
  <wsdl:message name="GetBookmarkHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="nomeLink" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBookmarkHttpPostOut">
    <wsdl:part name="Body" element="tns:BookmarkInterventoDto" />
  </wsdl:message>
  <wsdl:portType name="BookmarksServiceSoap">
    <wsdl:operation name="GetBookmark">
      <wsdl:input message="tns:GetBookmarkSoapIn" />
      <wsdl:output message="tns:GetBookmarkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BookmarksServiceHttpGet">
    <wsdl:operation name="GetBookmark">
      <wsdl:input message="tns:GetBookmarkHttpGetIn" />
      <wsdl:output message="tns:GetBookmarkHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BookmarksServiceHttpPost">
    <wsdl:operation name="GetBookmark">
      <wsdl:input message="tns:GetBookmarkHttpPostIn" />
      <wsdl:output message="tns:GetBookmarkHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookmarksServiceSoap" type="tns:BookmarksServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBookmark">
      <soap:operation soapAction="http://tempuri.org/GetBookmark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookmarksServiceSoap12" type="tns:BookmarksServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBookmark">
      <soap12:operation soapAction="http://tempuri.org/GetBookmark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookmarksServiceHttpGet" type="tns:BookmarksServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetBookmark">
      <http:operation location="/GetBookmark" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookmarksServiceHttpPost" type="tns:BookmarksServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetBookmark">
      <http:operation location="/GetBookmark" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookmarksService">
    <wsdl:port name="BookmarksServiceSoap" binding="tns:BookmarksServiceSoap">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/BookmarksService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookmarksServiceSoap12" binding="tns:BookmarksServiceSoap12">
      <soap12:address location="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/BookmarksService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookmarksServiceHttpGet" binding="tns:BookmarksServiceHttpGet">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/BookmarksService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookmarksServiceHttpPost" binding="tns:BookmarksServiceHttpPost">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/BookmarksService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>