src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielMercatoService/protocolloService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://insielmercato.it/protocollo-ws/services/protocolloService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="protocolloService" targetNamespace="http://insielmercato.it/protocollo-ws/services/protocolloService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://insielmercato.it/protocollo-ws/data/protocol" xmlns:ns1="http://insielmercato.it/protocollo-ws/data/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insielmercato.it/protocollo-ws/data/protocol" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://insielmercato.it/protocollo-ws/data/common" />
      <xs:complexType name="protocolUpdateRequest">
        <xs:sequence>
          <xs:element name="user" type="ns1:user" />
          <xs:element name="recordIdentifier" type="ns1:recordIdentifier" />
          <xs:element minOccurs="0" name="subjectProtocol" type="xs:string" />
          <xs:element minOccurs="0" name="receptionSendingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="typeSenderMail" type="xs:int" />
          <xs:element minOccurs="0" name="documentDetails" type="ns1:documentDetails" />
          <xs:element minOccurs="0" name="measureDetails" type="ns1:measureDetails" />
          <xs:element minOccurs="0" name="officePartialUpdate" type="xs:boolean" />
          <xs:element minOccurs="0" name="mnemonicPartialUpdate" type="xs:boolean" />
          <xs:element minOccurs="0" name="previousPartialUpdate" type="xs:boolean" />
          <xs:element minOccurs="0" name="filingPartialUpdate" type="xs:boolean" />
          <xs:element minOccurs="0" name="documentPartialUpdate" type="xs:boolean" />
          <xs:element minOccurs="0" name="dossierPartialUpdate" type="xs:boolean" />
          <xs:element minOccurs="0" name="officeList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="office" type="ns1:office" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="documentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="document" type="ns1:document" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="externalDocumentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="externalDocument" type="ns1:externalDocument" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="filingList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="filing" type="ns1:filing" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="mnemonicList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="mnemonic" type="ns1:mnemonic" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="previousList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="previous" type="ns1:previous" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="dossierList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="dossier" type="ns1:dossier" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="secrecyLevel" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="protocolResponse">
        <xs:sequence>
          <xs:element name="result" type="xs:boolean" />
          <xs:element minOccurs="0" name="error" type="ns1:error" />
          <xs:element minOccurs="0" name="recordIdentifierList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="recordIdentifier" type="ns1:recordIdentifier" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="availableOfficesAndRegistriesRequest">
        <xs:sequence>
          <xs:element name="user" type="ns1:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="availableOfficesAndRegistriesResponse">
        <xs:sequence>
          <xs:element name="user" type="ns1:user" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
          <xs:element minOccurs="0" name="error" type="ns1:error" />
          <xs:element minOccurs="0" name="operatingOfficeList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="operatingOffice" type="ns1:operatingOfficeBasicInformation" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="protocolInsertRequest">
        <xs:sequence>
          <xs:element name="user" type="ns1:user" />
          <xs:element name="operatingOfficeCode" type="xs:string" />
          <xs:element name="officeCode" type="xs:string" />
          <xs:element name="registerCode" type="xs:string" />
          <xs:element name="direction" type="tns:direction" />
          <xs:element name="sequenceCode" type="xs:string" />
          <xs:element minOccurs="0" name="subjectDocument" type="xs:string" />
          <xs:element minOccurs="0" name="subjectProtocol" type="xs:string" />
          <xs:element minOccurs="0" name="receptionSendingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="typeSenderMail" type="xs:int" />
          <xs:element minOccurs="0" name="documentDetails" type="ns1:documentDetails" />
          <xs:element minOccurs="0" name="processAct" type="xs:boolean" />
          <xs:element minOccurs="0" name="retrieveAttachments" type="ns1:recordIdentifier" />
          <xs:element minOccurs="0" name="senderList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="sender" type="ns1:sender" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="recipientList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="recipient" type="ns1:recipient" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="officeList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="office" type="ns1:office" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="documentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="document" type="ns1:document" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="externalDocumentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="externalDocument" type="ns1:externalDocument" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="filingList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="filing" type="ns1:filing" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="mnemonicList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="mnemonic" type="ns1:mnemonic" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="previousList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="previous" type="ns1:previous" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="dossierList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="dossier" type="ns1:dossier" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="secrecyLevel" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="protocolDetailRequest">
        <xs:sequence>
          <xs:element name="user" type="ns1:user" />
          <xs:element name="recordIdentifier" type="ns1:recordIdentifier" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="protocolDetailResponse">
        <xs:sequence>
          <xs:element name="result" type="xs:boolean" />
          <xs:element minOccurs="0" name="error" type="ns1:error" />
          <xs:element name="protocolDetail" type="ns1:protocolDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="protocolListRequest">
        <xs:sequence>
          <xs:element name="user" type="ns1:user" />
          <xs:element name="officeCode" type="xs:string" />
          <xs:element name="registerCode" type="xs:string" />
          <xs:element minOccurs="0" name="intervalYearBegin" type="xs:int" />
          <xs:element minOccurs="0" name="intervalYearEnd" type="xs:int" />
          <xs:element minOccurs="0" name="intervalNumberBegin" type="xs:int" />
          <xs:element minOccurs="0" name="intervalNumberEnd" type="xs:int" />
          <xs:element minOccurs="0" name="intervalDateBegin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="intervalDateEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="search" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="direction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="A" />
          <xs:enumeration value="P" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns="http://insielmercato.it/protocollo-ws/data/filing" xmlns:ns1="http://insielmercato.it/protocollo-ws/data/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insielmercato.it/protocollo-ws/data/filing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://insielmercato.it/protocollo-ws/data/common" />
      <xs:complexType name="filingRequest">
        <xs:sequence>
          <xs:element name="user" type="ns1:user" />
          <xs:element minOccurs="0" name="filing" type="ns1:filing" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="filingResponse">
        <xs:sequence>
          <xs:element name="result" type="xs:boolean" />
          <xs:element minOccurs="0" name="error" type="ns1:error" />
          <xs:element minOccurs="0" name="filingList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="filing" type="ns1:filing" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://insielmercato.it/protocollo-ws/data/common" elementFormDefault="qualified" targetNamespace="http://insielmercato.it/protocollo-ws/data/common" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="user">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="externalCode" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element minOccurs="0" name="token" type="xs:string" />
          <xs:element minOccurs="0" name="applicationUserCode" type="xs:string" />
          <xs:element minOccurs="0" name="application" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="filing">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="disabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="codeParent" type="xs:string" />
          <xs:element minOccurs="0" name="remove" type="xs:boolean" />
          <xs:element minOccurs="0" name="levelList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="level" type="tns:level" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="level">
        <xs:sequence>
          <xs:element name="index" type="xs:int" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="error">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="recordIdentifier">
        <xs:sequence>
          <xs:element minOccurs="0" name="anagraficProgR" type="xs:long" />
          <xs:element minOccurs="0" name="direction" type="tns:direction" />
          <xs:element minOccurs="0" name="documentProg" type="xs:long" />
          <xs:element minOccurs="0" name="moveProg" type="xs:int" />
          <xs:element minOccurs="0" name="number" type="xs:int" />
          <xs:element minOccurs="0" name="officeCode" type="xs:string" />
          <xs:element minOccurs="0" name="registrationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="registryCode" type="xs:string" />
          <xs:element minOccurs="0" name="year" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="number" type="xs:string" />
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="year" type="xs:int" />
          <xs:element minOccurs="0" name="documentTypeCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="measureDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="details" type="xs:string" />
          <xs:element minOccurs="0" name="cause" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="office">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:correspondent">
            <xs:sequence>
              <xs:element minOccurs="0" name="mailSend" type="xs:boolean" />
              <xs:element minOccurs="0" name="mailAttachment" type="xs:boolean" />
              <xs:element minOccurs="0" name="mailCarbonCopy" type="xs:boolean" />
              <xs:element minOccurs="0" name="mailConfirmationReceipt" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="correspondent">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="referenceDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="referenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="note" type="xs:string" />
          <xs:element minOccurs="0" name="transmissionMode" type="xs:string" />
          <xs:element minOccurs="0" name="typeCode" type="xs:string" />
          <xs:element minOccurs="0" name="typeDesc" type="xs:string" />
          <xs:element minOccurs="0" name="remove" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="document">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="primary" type="xs:boolean" />
          <xs:element minOccurs="0" name="documentRepositoryId" type="xs:long" />
          <xs:element minOccurs="0" name="remove" type="xs:boolean" />
          <xs:element minOccurs="0" name="mirror" type="xs:boolean" />
          <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" ns1:expectedContentTypes="application/octet-stream" minOccurs="0" name="file" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="externalDocument">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="primary" type="xs:boolean" />
          <xs:element minOccurs="0" name="documentRepositoryId" type="xs:string" />
          <xs:element minOccurs="0" name="documentRepositoryPath" type="xs:string" />
          <xs:element minOccurs="0" name="remove" type="xs:boolean" />
          <xs:element minOccurs="0" name="mirror" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mnemonic">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="typeCode" type="xs:string" />
          <xs:element minOccurs="0" name="mnemonicLevelList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="mnemonicLevel" type="tns:mnemonicLevel" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mnemonicLevel">
        <xs:sequence>
          <xs:element name="index" type="xs:int" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="previous">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:recordIdentifier">
            <xs:sequence>
              <xs:element minOccurs="0" name="linkType" type="xs:string" />
              <xs:element minOccurs="0" name="remove" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dossier">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:recordIdentifier">
            <xs:sequence>
              <xs:element minOccurs="0" name="remove" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="operatingOfficeBasicInformation">
        <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element minOccurs="0" name="officeList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="office" type="tns:officeBasicInformation" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="officeBasicInformation">
        <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element minOccurs="0" name="registryList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="registry" type="tns:registry" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="defaultOffice" type="xs:boolean" use="required" />
      </xs:complexType>
      <xs:complexType name="registry">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="defaultRegistry" type="xs:boolean" use="required" />
      </xs:complexType>
      <xs:complexType name="sender">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:correspondent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="recipient">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:correspondent">
            <xs:sequence>
              <xs:element minOccurs="0" name="iopSend" type="xs:boolean" />
              <xs:element minOccurs="0" name="iopUpdateNotification" type="xs:boolean" />
              <xs:element minOccurs="0" name="iopConfirmationReceipt" type="xs:boolean" />
              <xs:element minOccurs="0" name="mailSend" type="xs:boolean" />
              <xs:element minOccurs="0" name="mailAttachment" type="xs:boolean" />
              <xs:element minOccurs="0" name="mailCarbonCopy" type="xs:boolean" />
              <xs:element minOccurs="0" name="mailConfirmationReceipt" type="xs:boolean" />
              <xs:element minOccurs="0" name="pecSend" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="protocolDetail">
        <xs:sequence>
          <xs:element name="recordIdentifier" type="tns:recordIdentifier" />
          <xs:element minOccurs="0" name="subjectDocument" type="xs:string" />
          <xs:element minOccurs="0" name="subjectProtocol" type="xs:string" />
          <xs:element minOccurs="0" name="receptionSendingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="typeSenderMail" type="xs:int" />
          <xs:element minOccurs="0" name="measureDetails" type="tns:measureDetails" />
          <xs:element minOccurs="0" name="senderList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="sender" type="tns:sender" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="recipientList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="recipient" type="tns:recipient" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="officeList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="office" type="tns:office" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="documentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="document" type="tns:document" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="externalDocumentList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="externalDocument" type="tns:externalDocument" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="filingList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="filing" type="tns:filing" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="mnemonicList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="mnemonic" type="tns:mnemonic" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="previousList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="previous" type="tns:previous" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="dossierList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="dossier" type="tns:dossier" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="secrecyLevel" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anagrafic">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" name="alias" type="xs:string" />
          <xs:element minOccurs="0" name="anagraficAggCode" type="xs:string" />
          <xs:element minOccurs="0" name="anagraficAggDescription" type="xs:string" />
          <xs:element minOccurs="0" name="anagraficCode" type="xs:string" />
          <xs:element minOccurs="0" name="anagraficDescription" type="xs:string" />
          <xs:element minOccurs="0" name="anagraficDescription2" type="xs:string" />
          <xs:element minOccurs="0" name="anagraficTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="anagraficTypologyCode" type="xs:string" />
          <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="birthPlace" type="xs:string" />
          <xs:element minOccurs="0" name="birthProvince" type="xs:string" />
          <xs:element minOccurs="0" name="cap" type="xs:int" />
          <xs:element minOccurs="0" name="cf" type="xs:string" />
          <xs:element minOccurs="0" name="disabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="xs:string" />
          <xs:element minOccurs="0" name="importGd" type="xs:boolean" />
          <xs:element minOccurs="0" name="initials" type="xs:string" />
          <xs:element minOccurs="0" name="livAbil" type="xs:boolean" />
          <xs:element minOccurs="0" name="locality" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="noTree" type="xs:boolean" />
          <xs:element minOccurs="0" name="piva" type="xs:long" />
          <xs:element minOccurs="0" name="province" type="xs:string" />
          <xs:element minOccurs="0" name="qualifyEmployeeCode" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="surname" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="useProt" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="direction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="A" />
          <xs:enumeration value="P" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:tns="http://insielmercato.it/protocollo-ws/data/anagrafic" xmlns:ns1="http://insielmercato.it/protocollo-ws/data/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insielmercato.it/protocollo-ws/data/anagrafic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://insielmercato.it/protocollo-ws/data/common" />
      <xs:complexType name="anagraficRequest">
        <xs:sequence>
          <xs:element name="user" type="ns1:user" />
          <xs:element minOccurs="0" name="anagrafic" type="ns1:anagrafic" />
          <xs:element minOccurs="0" name="emailAccreditation" type="tns:emailAccreditation" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="anagraficResponse">
        <xs:sequence>
          <xs:element name="result" type="xs:boolean" />
          <xs:element minOccurs="0" name="error" type="ns1:error" />
          <xs:element minOccurs="0" name="anagraficList">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="anagrafic" type="ns1:anagrafic" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="emailAccreditation">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PEC" />
          <xs:enumeration value="ADE" />
          <xs:enumeration value="IPA" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xsd:schema xmlns:ns0="http://insielmercato.it/protocollo-ws/data/filing" xmlns:ns2="http://insielmercato.it/protocollo-ws/data/anagrafic" xmlns:ns1="http://insielmercato.it/protocollo-ws/data/protocol" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insielmercato.it/protocollo-ws/services/protocolloService">
      <xsd:import namespace="http://insielmercato.it/protocollo-ws/data/filing" />
      <xsd:import namespace="http://insielmercato.it/protocollo-ws/data/protocol" />
      <xsd:import namespace="http://insielmercato.it/protocollo-ws/data/anagrafic" />
      <xsd:element name="filingList" nillable="true" type="ns0:filingRequest" />
      <xsd:element name="filingListResponse" nillable="true" type="ns0:filingResponse" />
      <xsd:element name="protocolUpdate" nillable="true" type="ns1:protocolUpdateRequest" />
      <xsd:element name="protocolUpdateResponse" nillable="true" type="ns1:protocolResponse" />
      <xsd:element name="availableOfficesAndRegistries" nillable="true" type="ns1:availableOfficesAndRegistriesRequest" />
      <xsd:element name="availableOfficesAndRegistriesResponse" nillable="true" type="ns1:availableOfficesAndRegistriesResponse" />
      <xsd:element name="protocolInsert" nillable="true" type="ns1:protocolInsertRequest" />
      <xsd:element name="protocolInsertResponse" nillable="true" type="ns1:protocolResponse" />
      <xsd:element name="protocolDetail" nillable="true" type="ns1:protocolDetailRequest" />
      <xsd:element name="protocolDetailResponse" nillable="true" type="ns1:protocolDetailResponse" />
      <xsd:element name="anagraficList" nillable="true" type="ns2:anagraficRequest" />
      <xsd:element name="anagraficListResponse" nillable="true" type="ns2:anagraficResponse" />
      <xsd:element name="protocolList" nillable="true" type="ns1:protocolListRequest" />
      <xsd:element name="protocolListResponse" nillable="true" type="ns1:protocolResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="protocolList">
    <wsdl:part name="protocolList" element="tns:protocolList" />
  </wsdl:message>
  <wsdl:message name="filingList">
    <wsdl:part name="filingList" element="tns:filingList" />
  </wsdl:message>
  <wsdl:message name="protocolInsert">
    <wsdl:part name="protocolInsert" element="tns:protocolInsert" />
  </wsdl:message>
  <wsdl:message name="protocolListResponse">
    <wsdl:part name="protocolListResponse" element="tns:protocolListResponse" />
  </wsdl:message>
  <wsdl:message name="protocolUpdateResponse">
    <wsdl:part name="protocolUpdateResponse" element="tns:protocolUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="protocolUpdate">
    <wsdl:part name="protocolUpdate" element="tns:protocolUpdate" />
  </wsdl:message>
  <wsdl:message name="protocolDetailResponse">
    <wsdl:part name="protocolDetailResponse" element="tns:protocolDetailResponse" />
  </wsdl:message>
  <wsdl:message name="protocolDetail">
    <wsdl:part name="protocolDetail" element="tns:protocolDetail" />
  </wsdl:message>
  <wsdl:message name="protocolInsertResponse">
    <wsdl:part name="protocolInsertResponse" element="tns:protocolInsertResponse" />
  </wsdl:message>
  <wsdl:message name="filingListResponse">
    <wsdl:part name="filingListResponse" element="tns:filingListResponse" />
  </wsdl:message>
  <wsdl:message name="anagraficListResponse">
    <wsdl:part name="anagraficListResponse" element="tns:anagraficListResponse" />
  </wsdl:message>
  <wsdl:message name="anagraficList">
    <wsdl:part name="anagraficList" element="tns:anagraficList" />
  </wsdl:message>
  <wsdl:message name="availableOfficesAndRegistries">
    <wsdl:part name="availableOfficesAndRegistries" element="tns:availableOfficesAndRegistries" />
  </wsdl:message>
  <wsdl:message name="availableOfficesAndRegistriesResponse">
    <wsdl:part name="availableOfficesAndRegistriesResponse" element="tns:availableOfficesAndRegistriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ProtocolloServicePortType">
    <wsdl:operation name="filingList">
      <wsdl:input name="filingList" message="tns:filingList" />
      <wsdl:output name="filingListResponse" message="tns:filingListResponse" />
    </wsdl:operation>
    <wsdl:operation name="protocolUpdate">
      <wsdl:input name="protocolUpdate" message="tns:protocolUpdate" />
      <wsdl:output name="protocolUpdateResponse" message="tns:protocolUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="availableOfficesAndRegistries">
      <wsdl:input name="availableOfficesAndRegistries" message="tns:availableOfficesAndRegistries" />
      <wsdl:output name="availableOfficesAndRegistriesResponse" message="tns:availableOfficesAndRegistriesResponse" />
    </wsdl:operation>
    <wsdl:operation name="protocolInsert">
      <wsdl:input name="protocolInsert" message="tns:protocolInsert" />
      <wsdl:output name="protocolInsertResponse" message="tns:protocolInsertResponse" />
    </wsdl:operation>
    <wsdl:operation name="protocolDetail">
      <wsdl:input name="protocolDetail" message="tns:protocolDetail" />
      <wsdl:output name="protocolDetailResponse" message="tns:protocolDetailResponse" />
    </wsdl:operation>
    <wsdl:operation name="anagraficList">
      <wsdl:input name="anagraficList" message="tns:anagraficList" />
      <wsdl:output name="anagraficListResponse" message="tns:anagraficListResponse" />
    </wsdl:operation>
    <wsdl:operation name="protocolList">
      <wsdl:input name="protocolList" message="tns:protocolList" />
      <wsdl:output name="protocolListResponse" message="tns:protocolListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="protocolloServiceSoapBinding" type="tns:ProtocolloServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="filingList">
      <soap:operation soapAction="ProtocolloServicePortType#filingList" style="document" />
      <wsdl:input name="filingList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="filingListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocolUpdate">
      <soap:operation soapAction="ProtocolloServicePortType#protocolUpdate" style="document" />
      <wsdl:input name="protocolUpdate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="protocolUpdateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="availableOfficesAndRegistries">
      <soap:operation soapAction="ProtocolloServicePortType#availableOfficesAndRegistries" style="document" />
      <wsdl:input name="availableOfficesAndRegistries">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="availableOfficesAndRegistriesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocolDetail">
      <soap:operation soapAction="ProtocolloServicePortType#protocolDetail" style="document" />
      <wsdl:input name="protocolDetail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="protocolDetailResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocolInsert">
      <soap:operation soapAction="ProtocolloServicePortType#protocolInsert" style="document" />
      <wsdl:input name="protocolInsert">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="protocolInsertResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anagraficList">
      <soap:operation soapAction="ProtocolloServicePortType#anagraficList" style="document" />
      <wsdl:input name="anagraficList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="anagraficListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocolList">
      <soap:operation soapAction="ProtocolloServicePortType#protocolList" style="document" />
      <wsdl:input name="protocolList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="protocolListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="protocolloService">
    <wsdl:port name="protocollo" binding="tns:protocolloServiceSoapBinding">
      <soap:address location="http://demo.insielmercato.it/protocollo-ws/services/protocolloService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>