src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloFilesInsielService2/protocolloFiles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="progMovi">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:simpleType name="progDoc">
    <xs:restriction base="xs:long" />
  </xs:simpleType>
  <xs:simpleType name="oggetto">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="note">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="anno">
    <xs:restriction base="xs:nonNegativeInteger" />
  </xs:simpleType>
  <xs:simpleType name="numero">
    <xs:restriction base="xs:positiveInteger" />
  </xs:simpleType>
  <xs:simpleType name="subNumero">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="verso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="P" />
      <xs:enumeration value="A" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PraticaAC">
    <xs:restriction base="xs:string">
      <xs:enumeration value="agliAtti" />
      <xs:enumeration value="inEvidenza" />
      <xs:enumeration value="altro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stato">
    <xs:annotation>
      <xs:documentation>0 attivo, 1 disattivato/annullato</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:simpleType name="tipoMittenteMail">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="1" />
      <xs:minInclusive value="-1" />
      <xs:maxInclusive value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="operatoreRelazionale">
    <xs:restriction base="xs:string">
      <xs:enumeration value="uguale" />
      <xs:enumeration value="iniziaCon" />
      <xs:enumeration value="contiene" />
      <xs:enumeration value="finisceCon" />
      <xs:enumeration value="minore" />
      <xs:enumeration value="minoreUguale" />
      <xs:enumeration value="maggiore" />
      <xs:enumeration value="maggioreUguale" />
      <xs:enumeration value="compresoTra" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RegistrazioneEstratta">
    <xs:sequence>
      <xs:element name="codiceUfficio" type="xs:string" />
      <xs:element name="descUfficio" nillable="true" type="xs:string" />
      <xs:element name="codiceRegistro" type="xs:string" />
      <xs:element name="descRegistro" nillable="true" type="xs:string" />
      <xs:element name="anno" type="tgen:anno" />
      <xs:element name="numero" type="tgen:numero" />
      <xs:element name="subNumero" type="tgen:subNumero" />
      <xs:element name="verso" type="tgen:verso" />
      <xs:element name="data" type="xs:date" />
      <xs:element minOccurs="0" name="dataAP" nillable="true" type="xs:dateTime" />
      <xs:element name="oggetto" type="tgen:oggetto" />
      <xs:element name="corrispondente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ufficio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="classifica" nillable="true" type="xs:string" />
      <xs:element name="idProtocollo" type="tgen:IdProtocollo" />
      <xs:element name="estremiDocumento">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="docAnno" nillable="true" type="xs:integer" />
            <xs:element name="docNumero" nillable="true" type="xs:string" />
            <xs:element name="docNumeroN" nillable="true" type="xs:integer" />
            <xs:element name="docData" nillable="true" type="xs:date" />
            <xs:element name="docTipo" nillable="true" type="xs:string" />
            <xs:element name="docDescTipo" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="isImmagini" nillable="true" type="xs:boolean" />
      <xs:element name="isDocumenti" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isIOP" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isAnnullato" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="livSegretezza" nillable="true" type="xs:integer" />
      <xs:element name="dati_ultimo_aggiornamento">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cod_login_agg" nillable="true" type="xs:string" />
            <xs:element name="data_ora_agg" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="primaPratica">
        <xs:complexType />
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DettagliProtocollo">
    <xs:sequence>
      <xs:element minOccurs="0" name="clasCodClas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasLiv1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasLiv2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasLiv3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasLiv4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasLiv5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasLiv6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasLiv7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasLiv8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="corrCodTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="corrDataRiferim" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="corrDescAna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="corrNumRiferim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dest2ProgInteressa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="docAnnoDoc" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="docCntMovi" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="docCodCatDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docCodTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docDataDoc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="docDataFirma" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="docDescOgge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docFlIop" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="docImporto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="docNumDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docNumDocN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="docSubnDoc" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="docTotAlle" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="docValuta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docVariAlle" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="eccezioni" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="estSigla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileEstDocProgDoc" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="fileEstOleDocProgDoc" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="fileEstOleProgDoc" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="fileEstProgDoc" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="flCopiaBlob" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="flPerConoscenza" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="flScarto" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="legato2ProgLegato" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="logMoviVersione" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="minimoStato" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="mitt2ProgInteressa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="opeSigla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pratAnnoProt" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="pratCodAna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pratCodReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pratDescOgge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pratNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pratNumProt" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="pratPraticaAc" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="pratPraticaDataAc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pratProgDoc" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="pratProgInPrat" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="pratProgLegato" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="pratSubnProt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precedentePrimoProgDocP" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="precedenteProgDocP" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="protoAnnoProt" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="protoApProt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protoCodLoginAgg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protoCodReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protoCollEmergenza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protoDataAp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="protoDataAtti" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="protoDataMovi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="protoDataOraAgg" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="protoDescOgge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protoFlAtti" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="protoFlImmDocumatic" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="protoLivSegretezza" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="protoNoteAtti" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protoNoteRiservate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protoNumProt" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="protoProgAnaUff" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="protoProgDoc" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="protoProgMovi" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="protoStato" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="protoSubnProt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qualRegProgQualReg" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="regCodAna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regCodAnaInterr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regCodReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regCodRegInterr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regDescAna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regDescReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regNoApProtInterr" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="regProgAna" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ricevuteArrivate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ricevuteRichieste" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="tipoDocColoreSfondo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDocColoreTesto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDocDescTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uffFlNonVedo" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="uffOpeCodAna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uffOpeDescAna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uffi2ProgInteressa" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="uffiDataRiferim" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="uffiDescAna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valuteSimbolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isImmagini" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isDocumenti" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Errore">
    <xs:sequence>
      <xs:element name="codice" nillable="true" type="xs:string" />
      <xs:element name="descrizione" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Classifica">
    <xs:choice>
      <xs:element name="codice" type="xs:string" />
      <xs:element name="livelli">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="8" name="livello">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="numero" type="xs:int" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClassificaResponse">
    <xs:sequence>
      <xs:element name="codice" nillable="true" type="xs:string" />
      <xs:element name="livelli">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="livello" nillable="true">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="numero" type="xs:int" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Utente">
    <xs:sequence>
      <xs:element name="codice" type="xs:string" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentoVisura">
    <xs:sequence>
      <xs:element name="nome" type="xs:string" />
      <xs:element name="idDoc" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProtocolloRequest">
    <xs:choice>
      <xs:element name="IdentificatoreProt">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CodiceUfficio" type="xs:string" />
            <xs:element name="CodiceRegistro" type="xs:string" />
            <xs:element name="Anno" type="tgen:anno" />
            <xs:element name="Numero" type="tgen:numero" />
            <xs:element name="verso" type="tgen:verso" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IdProt" type="tgen:IdProtocollo" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ProtocolloResponse">
    <xs:sequence>
      <xs:element name="CodiceUfficio" type="xs:string" />
      <xs:element name="CodiceRegistro" type="xs:string" />
      <xs:element name="Anno" type="tgen:anno" />
      <xs:element name="Numero" type="tgen:numero" />
      <xs:element name="verso" type="tgen:verso" />
      <xs:element name="Data" type="xs:date" />
      <xs:element name="ProgDoc" type="tgen:progDoc" />
      <xs:element name="ProgMovi" type="tgen:progMovi" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdProtocollo">
    <xs:sequence>
      <xs:element name="ProgDoc" type="tgen:progDoc" />
      <xs:element name="ProgMovi" type="tgen:progMovi" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PraticaRequest">
    <xs:choice>
      <xs:element name="IdPrat" type="tgen:IdProtocollo" />
      <xs:element name="Identificatore">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CodiceUfficio" type="xs:string" />
            <xs:element name="CodiceRegistro" type="xs:string" />
            <xs:element name="Anno" type="tgen:anno" />
            <xs:element name="Numero" type="tgen:numero" />
            <xs:element name="SubNumero" type="tgen:subNumero" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PraticaResponse">
    <xs:sequence>
      <xs:element name="CodiceUfficio" type="xs:string" />
      <xs:element name="CodiceRegistro" type="xs:string" />
      <xs:element name="Anno" type="tgen:anno" />
      <xs:element name="Numero" type="tgen:numero" />
      <xs:element name="SubNumero" type="tgen:subNumero" />
      <xs:element name="ProgDoc" type="tgen:progDoc" />
      <xs:element name="ProgMovi" type="tgen:progMovi" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UfficioPrat">
    <xs:sequence>
      <xs:element minOccurs="0" name="codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_riferim" nillable="true" type="xs:date" />
      <xs:element minOccurs="0" name="modalita_trasmissione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="note" nillable="true" type="tgen:note" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiferimentoAnagrafico">
    <xs:sequence>
      <xs:element minOccurs="0" name="codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UfficioPratResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_riferim" nillable="true" type="xs:date" />
      <xs:element minOccurs="0" name="modalita_trasmissione_cod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modalita_trasmissione_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="note" nillable="true" type="tgen:note" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PraticaAcPlusData">
    <xs:all>
      <xs:element minOccurs="0" name="data" type="xs:date" />
      <xs:element name="valore" type="tgen:PraticaAC" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DatiAnagrafica">
    <xs:all>
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="denominaz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="indirizzo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="localita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provincia" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="cap" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codfis" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="piva" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="11" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="EstremiDocumento">
    <xs:all>
      <xs:element minOccurs="0" name="numero" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:date" />
      <xs:element minOccurs="0" name="anno" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:unsignedShort">
            <xs:totalDigits value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="MittenteInsProto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inserisci" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="dati_anagrafica" type="tgen:DatiAnagrafica" />
      <xs:element minOccurs="0" name="data_riferim" nillable="true" type="xs:date" />
      <xs:element minOccurs="0" name="num_riferim" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="note" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="modalita_trasmissione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinatarioIOPInsProto">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:DestinatarioInsProto">
        <xs:sequence>
          <xs:element minOccurs="0" name="iop" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="iop_ra" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="iop_rc" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DestinatarioInsProto">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:MittenteInsProto">
        <xs:sequence>
          <xs:element minOccurs="0" name="invio_mail" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="invio_mail_allegati" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="invio_mail_cc" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="invio_mail_rr" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UfficioInsProto">
    <xs:all>
      <xs:element minOccurs="0" name="codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_riferim" nillable="true" type="xs:date" />
      <xs:element minOccurs="0" name="num_riferim" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="note" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="modalita_trasmissione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invio_mail" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="invio_mail_allegati" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="invio_mail_cc" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="invio_mail_rr" nillable="true" type="xs:boolean" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="documentiInsProto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="documenti" type="tgen:documentoInsProto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentoInsProto">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="nome" type="xs:string" />
      <xs:element minOccurs="0" name="is_primario" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EstremiProvvedimento">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:date" />
      <xs:element minOccurs="0" name="estremi" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="motivo" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValoreRelazioneType">
    <xs:sequence>
      <xs:element name="valore" type="xs:string" />
      <xs:element minOccurs="0" name="relazione" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="uguale" />
            <xs:enumeration value="iniziaCon" />
            <xs:enumeration value="contiene" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MnemonicoRequest">
    <xs:choice>
      <xs:element name="codiceTipo" type="xs:string" />
      <xs:element maxOccurs="8" name="livello">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="numero" type="xs:int" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="MnemonicoResponse">
    <xs:choice>
      <xs:element name="codiceTipo" type="xs:string" />
      <xs:element name="descTipo" type="xs:string" />
      <xs:element name="codiceMnem" type="xs:string" />
      <xs:element maxOccurs="8" name="livello">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="numero" type="xs:int" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="8" name="descLivello">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="numero" type="xs:int" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>