src/vbg.net/areariservata/projects/UI/Sigepro.net/WebServices/WsSIGePro/Schema/Etichette.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://init.sigepro.it"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://init.sigepro.it">
  <xs:element name="DatiEtichette">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Warning" type="xs:string" minOccurs="0"/>
        <xs:element name="IdEtichetta" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>