src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsiel3FilesTransferService/v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:uplfl="http://insiel.it/filetransfer/schemixsd/uploadFile" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:dwnfl="http://insiel.it/filetransfer/schemixsd/downloadFile" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:impl="http://insiel.it/filetransfer/services" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://insiel.it/filetransfer/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:protocollo-schema="http://insiel.it/protocollo/wsdl/filetransfer" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://insiel.it/protocollo/wsdl/filetransfer">
      <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/filetransfer/v1?xsd=downloadFile.xsd" namespace="http://insiel.it/filetransfer/schemixsd/downloadFile" />
      <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/filetransfer/v1?xsd=uploadFile.xsd" namespace="http://insiel.it/filetransfer/schemixsd/uploadFile" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="downloadFileResponse">
    <wsdl:part name="response" element="dwnfl:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="uploadFileRequest">
    <wsdl:part name="request" element="uplfl:UploadFileRequest" />
  </wsdl:message>
  <wsdl:message name="uploadFileResponse">
    <wsdl:part name="response" element="uplfl:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="downloadFileRequest">
    <wsdl:part name="request" element="dwnfl:DownloadFileRequest" />
  </wsdl:message>
  <wsdl:portType name="FileTransferPT">
    <wsdl:operation name="uploadFile">
      <wsdl:input message="impl:uploadFileRequest" />
      <wsdl:output message="impl:uploadFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="downloadFile">
      <wsdl:input message="impl:downloadFileRequest" />
      <wsdl:output message="impl:downloadFileResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileTransferSoapBinding" type="impl:FileTransferPT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="FileTransferPT#uploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadFile">
      <soap:operation soapAction="FileTransferPT#downloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileTransferSoap12Binding" type="impl:FileTransferPT">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uploadFile">
      <soap12:operation soapAction="FileTransferPT#uploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadFile">
      <soap12:operation soapAction="FileTransferPT#downloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fileTransferService">
    <wsdl:port name="fileTransferHttpSoap12Endpoint" binding="impl:FileTransferSoap12Binding">
      <soap12:address location="http://localhost:8080/protoweb/services/fileTransfer.FileTransferHttpSoap12Endpoint" />
    </wsdl:port>
    <wsdl:port name="fileTransferHttpSoap11Endpoint" binding="impl:FileTransferSoapBinding">
      <soap:address location="http://193.42.71.39:8082/protows2-collaudoPN/services/filetransfer/v1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>