src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsiel3FilesTransferService/v12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://insiel.it/filetransfer/schemixsd/downloadFile" xmlns:tgen="http://insiel.it/filetransfer/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/filetransfer/schemixsd/downloadFile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/filetransfer/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/filetransfer/schemixsd/tipiGenerali" />
  <xs:element name="DownloadFileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="idFile" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="DownloadFile" type="DownloadFileType" />
        <xs:element name="Errore" type="tgen:ErroreType" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DownloadFileType">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:AttachmentDataType" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>