src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v114.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:aggProt="http://insiel.it/protocollo/schemixsd/aggiornaProtocollo" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/aggiornaProtocollo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="AggiornamentoProtocolloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errore" type="tgen:Errore" />
      </xs:sequence>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornamentoProtocolloRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="registrazione" type="tgen:ProtocolloRequest" />
        <xs:element minOccurs="0" name="oggetto" type="tgen:oggetto" />
        <xs:element minOccurs="0" name="mittenti" type="aggProt:MittentiAgg" />
        <xs:element minOccurs="0" name="destinatari" type="aggProt:DestinatariAgg" />
        <xs:element minOccurs="0" name="uffici" type="aggProt:UfficiAgg" />
        <xs:element minOccurs="0" name="documenti" type="aggProt:DocumentiAgg" />
        <xs:element minOccurs="0" name="classifiche" type="aggProt:ClassificheAgg" />
        <xs:element minOccurs="0" name="estremiDocumento" type="tgen:EstremiDocumento" />
        <xs:element minOccurs="0" name="dataRicezioneSpedizione" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipoMittenteMail" type="tgen:tipoMittenteMail" />
        <xs:element minOccurs="0" name="pratiche" type="aggProt:PraticheAgg" />
        <xs:element minOccurs="0" name="provvedimento" type="tgen:EstremiProvvedimento" />
        <xs:element minOccurs="0" name="precedenti" type="aggProt:PrecedentiAgg" />
        <xs:element minOccurs="0" name="oggettoProtocollo" type="tgen:oggetto" />
        <xs:element minOccurs="0" name="codiceUfficioOperante" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ClassificheAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="classifica" type="aggProt:ClassificaAgg" />
      <xs:element minOccurs="0" name="_virtual" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="ClassificaAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:Classifica">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MittentiAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mittente" type="aggProt:MittenteAgg" />
      <xs:element minOccurs="0" name="_virtual" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="MittenteAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:MittenteInsProto">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DestinatariAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destinatario">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="aggProt:DestinatarioAgg" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="_virtual" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="DestinatarioAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:DestinatarioIOPInsProto">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UfficiAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uffici" type="aggProt:UfficioAgg" />
      <xs:element minOccurs="0" name="_virtual" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="UfficioAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:UfficioInsProto">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentiAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="documenti" type="aggProt:DocumentoAgg" />
      <xs:element minOccurs="0" name="_virtual" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="DocumentoAgg">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>abbigatorio in inserimento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>abbigatorio in inserimento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="isPrimario" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>abbigatorio in inserimento se iop</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="idDoc" type="xs:long">
        <xs:annotation>
          <xs:documentation>facoltativo in eliminazione in altrenativa al nome</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="elimina" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="PraticheAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pratica" type="aggProt:PraticaAgg" />
      <xs:element minOccurs="0" name="_virtual" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="statoParziale" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="PraticaAgg">
    <xs:complexContent mixed="false">
      <xs:extension base="tgen:PraticaRequest">
        <xs:attribute name="elimina" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrecedentiAgg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrecedenteAgg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="precedente" type="tgen:ProtocolloRequest" />
            <xs:element name="tipoLegame" type="xs:string" />
            <xs:element minOccurs="0" name="elimina" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element name="statoParziale" type="xs:boolean" />
        <xs:element name="statoGlobale" type="xs:boolean" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>