src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v118.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:rpreq="http://insiel.it/protocollo/schemixsd/riprotPratica" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/riprotPratica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="RiprotPraticaRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="pratica" type="tgen:PraticaRequest" />
        <xs:element minOccurs="0" name="codiceUfficioOperante" type="xs:string" />
        <xs:element name="codiceUfficio" type="xs:string" />
        <xs:element name="codiceRegistro" type="tgen:Classifica" />
        <xs:element minOccurs="0" name="data" type="xs:date" />
        <xs:element name="anno" type="tgen:anno" />
        <xs:element minOccurs="0" name="numero" type="tgen:numero" />
        <xs:element minOccurs="0" name="subNumero" type="tgen:subNumero" />
        <xs:element minOccurs="0" name="numerazioneManuale" type="xs:boolean" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiprotPraticaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="pratica" type="tgen:PraticaResponse" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>