src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v123.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:dettPrat="http://insiel.it/protocollo/schemixsd/dettagliPratica" xmlns:interrPrat="http://insiel.it/protocollo/schemixsd/interrogaPratiche" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/interrogaPratiche" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=dettagliPratica.xsd" namespace="http://insiel.it/protocollo/schemixsd/dettagliPratica" />
  <xs:element name="InterrogazionePraticheResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="pratiche" type="dettPrat:DettagliPratica" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
      <xs:attribute name="numPrat" type="xs:integer" use="required" />
      <xs:attribute name="numPratTotale" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="InterrogazionePraticheRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element minOccurs="0" name="oggetto">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="valore" type="tgen:oggetto" />
              <xs:element name="relazione" type="tgen:operatoreRelazionaleIC" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="note" type="tgen:note" />
        <xs:element minOccurs="0" name="codiceUfficio" type="xs:string" />
        <xs:element minOccurs="0" name="codiceRegistro" type="tgen:Classifica" />
        <xs:element minOccurs="0" name="anno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" type="tgen:anno" />
              <xs:element minOccurs="0" name="a" type="tgen:anno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="numero">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" type="tgen:numero" />
              <xs:element minOccurs="0" name="a" type="tgen:numero" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="subNumero">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" type="tgen:subNumero" />
              <xs:element minOccurs="0" name="a" type="tgen:subNumero" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" type="xs:date" />
              <xs:element minOccurs="0" name="a" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="codiceTipoPratica" type="xs:string" />
        <xs:element minOccurs="0" name="dataChiusura">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" type="xs:date" />
              <xs:element minOccurs="0" name="a" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="praticaDataAc">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" type="xs:date" />
              <xs:element minOccurs="0" name="a" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stato" type="tgen:stato" />
        <xs:element minOccurs="0" name="codiceUffOpRicerca" type="xs:string" />
        <xs:element minOccurs="0" name="praticaAc" type="tgen:PraticaAC" />
        <xs:element minOccurs="0" name="uffici" type="interrPrat:UfficiRicerca" />
        <xs:element minOccurs="0" name="riferimentiAna" type="interrPrat:RiferimentiAnaRicerca" />
        <xs:element minOccurs="0" name="mnemonici" type="interrPrat:MnemoniciRicerca" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UfficiRicerca">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="list" type="interrPrat:AnagraficaRicerca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiferimentiAnaRicerca">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="list" type="interrPrat:AnagraficaRicerca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MnemoniciRicerca">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="list" type="tgen:MnemonicoRicerca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnagraficaRicerca">
    <xs:sequence>
      <xs:element minOccurs="0" name="codice" type="tgen:ValoreRelazioneUIC" />
      <xs:element minOccurs="0" name="descrizione" type="tgen:ValoreRelazioneUIC" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>