src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService3/v14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://insiel.it/protocollo/schemixsd/abilAperturaPratica" xmlns:tgen="http://insiel.it/protocollo/schemixsd/tipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/abilAperturaPratica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.42.71.39:8082/protows2-collaudoPN/services/protocollo/v1?xsd=tipiGenerali.xsd" namespace="http://insiel.it/protocollo/schemixsd/tipiGenerali" />
  <xs:element name="AbilAperturaPraticaRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element minOccurs="0" name="codiceUfficioOperante" type="xs:string" />
        <xs:element name="codiceUfficio" type="xs:string" />
        <xs:element name="codiceRegistro" type="tgen:Classifica" />
        <xs:element name="anno" type="tgen:anno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbilAperturaPraticaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="abilitato" type="xs:boolean" />
        <xs:element name="errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>