src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloExtendedPrismaService/ProtocolloExtendedServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://protocolloextended.finmatica.it/" name="ProtocolloExtendedServiceService" targetNamespace="http://protocolloextended.finmatica.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://protocolloextended.finmatica.it/" version="1.0">
      <xs:element name="addFilePrincipale" type="tns:addFilePrincipale" />
      <xs:element name="addFilePrincipaleResponse" type="tns:addFilePrincipaleResponse" />
      <xs:element name="addRapporto" type="tns:addRapporto" />
      <xs:element name="addRapportoResponse" type="tns:addRapportoResponse" />
      <xs:element name="addSmistamento" type="tns:addSmistamento" />
      <xs:element name="addSmistamentoResponse" type="tns:addSmistamentoResponse" />
      <xs:element name="collegaDocumenti" type="tns:collegaDocumenti" />
      <xs:element name="collegaDocumentiResponse" type="tns:collegaDocumentiResponse" />
      <xs:element name="collegaFascicoli" type="tns:collegaFascicoli" />
      <xs:element name="collegaFascicoliResponse" type="tns:collegaFascicoliResponse" />
      <xs:element name="creaDocumento" type="tns:creaDocumento" />
      <xs:element name="creaDocumentoResponse" type="tns:creaDocumentoResponse" />
      <xs:element name="creaFascicolo" type="tns:creaFascicolo" />
      <xs:element name="creaFascicoloResponse" type="tns:creaFascicoloResponse" />
      <xs:element name="delDocumento" type="tns:delDocumento" />
      <xs:element name="delDocumentoResponse" type="tns:delDocumentoResponse" />
      <xs:element name="delFascicolo" type="tns:delFascicolo" />
      <xs:element name="delFascicoloResponse" type="tns:delFascicoloResponse" />
      <xs:element name="delFilePrincipale" type="tns:delFilePrincipale" />
      <xs:element name="delFilePrincipaleResponse" type="tns:delFilePrincipaleResponse" />
      <xs:element name="delRapporto" type="tns:delRapporto" />
      <xs:element name="delRapportoResponse" type="tns:delRapportoResponse" />
      <xs:element name="delSmistamento" type="tns:delSmistamento" />
      <xs:element name="delSmistamentoResponse" type="tns:delSmistamentoResponse" />
      <xs:element name="getClassifiche" type="tns:getClassifiche" />
      <xs:element name="getClassificheResponse" type="tns:getClassificheResponse" />
      <xs:element name="getDocumentiNonProtocollati" type="tns:getDocumentiNonProtocollati" />
      <xs:element name="getDocumentiNonProtocollatiResponse" type="tns:getDocumentiNonProtocollatiResponse" />
      <xs:element name="getDocumentiProtocollati" type="tns:getDocumentiProtocollati" />
      <xs:element name="getDocumentiProtocollatiResponse" type="tns:getDocumentiProtocollatiResponse" />
      <xs:element name="getDocumento" type="tns:getDocumento" />
      <xs:element name="getDocumentoResponse" type="tns:getDocumentoResponse" />
      <xs:element name="getFascicoli" type="tns:getFascicoli" />
      <xs:element name="getFascicoliResponse" type="tns:getFascicoliResponse" />
      <xs:element name="getInfoPec" type="tns:getInfoPec" />
      <xs:element name="getInfoPecResponse" type="tns:getInfoPecResponse" />
      <xs:element name="inserisciDocumentoInFascicolo" type="tns:inserisciDocumentoInFascicolo" />
      <xs:element name="inserisciDocumentoInFascicoloResponse" type="tns:inserisciDocumentoInFascicoloResponse" />
      <xs:element name="modDocumento" type="tns:modDocumento" />
      <xs:element name="modDocumentoResponse" type="tns:modDocumentoResponse" />
      <xs:element name="modFascicolo" type="tns:modFascicolo" />
      <xs:element name="modFascicoloResponse" type="tns:modFascicoloResponse" />
      <xs:element name="modProtocollo" type="tns:modProtocollo" />
      <xs:element name="modProtocolloResponse" type="tns:modProtocolloResponse" />
      <xs:element name="rimuoviDocumentoDalFascicolo" type="tns:rimuoviDocumentoDalFascicolo" />
      <xs:element name="rimuoviDocumentoDalFascicoloResponse" type="tns:rimuoviDocumentoDalFascicoloResponse" />
      <xs:complexType name="getDocumentiProtocollati">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDocumentiProtocollatiResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modFascicolo">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modFascicoloResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFascicoli">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFascicoliResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modProtocollo">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modProtocolloResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="collegaFascicoli">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="collegaFascicoliResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInfoPec">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInfoPecResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addFilePrincipale">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addFilePrincipaleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delFilePrincipale">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delFilePrincipaleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delDocumento">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delDocumentoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getClassifiche">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getClassificheResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addRapporto">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addRapportoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDocumentiNonProtocollati">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDocumentiNonProtocollatiResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="collegaDocumenti">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="collegaDocumentiResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="creaFascicolo">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="creaFascicoloResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="rimuoviDocumentoDalFascicolo">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="rimuoviDocumentoDalFascicoloResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="inserisciDocumentoInFascicolo">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="inserisciDocumentoInFascicoloResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDocumento">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDocumentoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="creaDocumento">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="creaDocumentoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delFascicolo">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delFascicoloResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modDocumento">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modDocumentoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delRapporto">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delRapportoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addSmistamento">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addSmistamentoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delSmistamento">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="DST" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delSmistamentoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="delSmistamento">
    <wsdl:part name="parameters" element="tns:delSmistamento" />
  </wsdl:message>
  <wsdl:message name="creaDocumento">
    <wsdl:part name="parameters" element="tns:creaDocumento" />
  </wsdl:message>
  <wsdl:message name="modDocumento">
    <wsdl:part name="parameters" element="tns:modDocumento" />
  </wsdl:message>
  <wsdl:message name="collegaDocumentiResponse">
    <wsdl:part name="parameters" element="tns:collegaDocumentiResponse" />
  </wsdl:message>
  <wsdl:message name="getDocumento">
    <wsdl:part name="parameters" element="tns:getDocumento" />
  </wsdl:message>
  <wsdl:message name="delSmistamentoResponse">
    <wsdl:part name="parameters" element="tns:delSmistamentoResponse" />
  </wsdl:message>
  <wsdl:message name="delDocumentoResponse">
    <wsdl:part name="parameters" element="tns:delDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="addFilePrincipaleResponse">
    <wsdl:part name="parameters" element="tns:addFilePrincipaleResponse" />
  </wsdl:message>
  <wsdl:message name="delRapportoResponse">
    <wsdl:part name="parameters" element="tns:delRapportoResponse" />
  </wsdl:message>
  <wsdl:message name="collegaDocumenti">
    <wsdl:part name="parameters" element="tns:collegaDocumenti" />
  </wsdl:message>
  <wsdl:message name="rimuoviDocumentoDalFascicoloResponse">
    <wsdl:part name="parameters" element="tns:rimuoviDocumentoDalFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="addFilePrincipale">
    <wsdl:part name="parameters" element="tns:addFilePrincipale" />
  </wsdl:message>
  <wsdl:message name="creaFascicoloResponse">
    <wsdl:part name="parameters" element="tns:creaFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="getDocumentoResponse">
    <wsdl:part name="parameters" element="tns:getDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="delFilePrincipale">
    <wsdl:part name="parameters" element="tns:delFilePrincipale" />
  </wsdl:message>
  <wsdl:message name="getFascicoli">
    <wsdl:part name="parameters" element="tns:getFascicoli" />
  </wsdl:message>
  <wsdl:message name="modFascicoloResponse">
    <wsdl:part name="parameters" element="tns:modFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="delDocumento">
    <wsdl:part name="parameters" element="tns:delDocumento" />
  </wsdl:message>
  <wsdl:message name="delFascicolo">
    <wsdl:part name="parameters" element="tns:delFascicolo" />
  </wsdl:message>
  <wsdl:message name="inserisciDocumentoInFascicoloResponse">
    <wsdl:part name="parameters" element="tns:inserisciDocumentoInFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="collegaFascicoli">
    <wsdl:part name="parameters" element="tns:collegaFascicoli" />
  </wsdl:message>
  <wsdl:message name="rimuoviDocumentoDalFascicolo">
    <wsdl:part name="parameters" element="tns:rimuoviDocumentoDalFascicolo" />
  </wsdl:message>
  <wsdl:message name="collegaFascicoliResponse">
    <wsdl:part name="parameters" element="tns:collegaFascicoliResponse" />
  </wsdl:message>
  <wsdl:message name="addRapporto">
    <wsdl:part name="parameters" element="tns:addRapporto" />
  </wsdl:message>
  <wsdl:message name="getInfoPec">
    <wsdl:part name="parameters" element="tns:getInfoPec" />
  </wsdl:message>
  <wsdl:message name="modProtocolloResponse">
    <wsdl:part name="parameters" element="tns:modProtocolloResponse" />
  </wsdl:message>
  <wsdl:message name="getInfoPecResponse">
    <wsdl:part name="parameters" element="tns:getInfoPecResponse" />
  </wsdl:message>
  <wsdl:message name="delRapporto">
    <wsdl:part name="parameters" element="tns:delRapporto" />
  </wsdl:message>
  <wsdl:message name="modProtocollo">
    <wsdl:part name="parameters" element="tns:modProtocollo" />
  </wsdl:message>
  <wsdl:message name="getClassifiche">
    <wsdl:part name="parameters" element="tns:getClassifiche" />
  </wsdl:message>
  <wsdl:message name="addRapportoResponse">
    <wsdl:part name="parameters" element="tns:addRapportoResponse" />
  </wsdl:message>
  <wsdl:message name="creaFascicolo">
    <wsdl:part name="parameters" element="tns:creaFascicolo" />
  </wsdl:message>
  <wsdl:message name="getClassificheResponse">
    <wsdl:part name="parameters" element="tns:getClassificheResponse" />
  </wsdl:message>
  <wsdl:message name="inserisciDocumentoInFascicolo">
    <wsdl:part name="parameters" element="tns:inserisciDocumentoInFascicolo" />
  </wsdl:message>
  <wsdl:message name="addSmistamentoResponse">
    <wsdl:part name="parameters" element="tns:addSmistamentoResponse" />
  </wsdl:message>
  <wsdl:message name="getFascicoliResponse">
    <wsdl:part name="parameters" element="tns:getFascicoliResponse" />
  </wsdl:message>
  <wsdl:message name="getDocumentiNonProtocollatiResponse">
    <wsdl:part name="parameters" element="tns:getDocumentiNonProtocollatiResponse" />
  </wsdl:message>
  <wsdl:message name="getDocumentiProtocollati">
    <wsdl:part name="parameters" element="tns:getDocumentiProtocollati" />
  </wsdl:message>
  <wsdl:message name="modFascicolo">
    <wsdl:part name="parameters" element="tns:modFascicolo" />
  </wsdl:message>
  <wsdl:message name="getDocumentiNonProtocollati">
    <wsdl:part name="parameters" element="tns:getDocumentiNonProtocollati" />
  </wsdl:message>
  <wsdl:message name="getDocumentiProtocollatiResponse">
    <wsdl:part name="parameters" element="tns:getDocumentiProtocollatiResponse" />
  </wsdl:message>
  <wsdl:message name="delFascicoloResponse">
    <wsdl:part name="parameters" element="tns:delFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="creaDocumentoResponse">
    <wsdl:part name="parameters" element="tns:creaDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="modDocumentoResponse">
    <wsdl:part name="parameters" element="tns:modDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="addSmistamento">
    <wsdl:part name="parameters" element="tns:addSmistamento" />
  </wsdl:message>
  <wsdl:message name="delFilePrincipaleResponse">
    <wsdl:part name="parameters" element="tns:delFilePrincipaleResponse" />
  </wsdl:message>
  <wsdl:portType name="ProtocolloExtendedService">
    <wsdl:operation name="getDocumentiProtocollati">
      <wsdl:input name="getDocumentiProtocollati" message="tns:getDocumentiProtocollati" />
      <wsdl:output name="getDocumentiProtocollatiResponse" message="tns:getDocumentiProtocollatiResponse" />
    </wsdl:operation>
    <wsdl:operation name="modFascicolo">
      <wsdl:input name="modFascicolo" message="tns:modFascicolo" />
      <wsdl:output name="modFascicoloResponse" message="tns:modFascicoloResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFascicoli">
      <wsdl:input name="getFascicoli" message="tns:getFascicoli" />
      <wsdl:output name="getFascicoliResponse" message="tns:getFascicoliResponse" />
    </wsdl:operation>
    <wsdl:operation name="modProtocollo">
      <wsdl:input name="modProtocollo" message="tns:modProtocollo" />
      <wsdl:output name="modProtocolloResponse" message="tns:modProtocolloResponse" />
    </wsdl:operation>
    <wsdl:operation name="collegaFascicoli">
      <wsdl:input name="collegaFascicoli" message="tns:collegaFascicoli" />
      <wsdl:output name="collegaFascicoliResponse" message="tns:collegaFascicoliResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInfoPec">
      <wsdl:input name="getInfoPec" message="tns:getInfoPec" />
      <wsdl:output name="getInfoPecResponse" message="tns:getInfoPecResponse" />
    </wsdl:operation>
    <wsdl:operation name="addFilePrincipale">
      <wsdl:input name="addFilePrincipale" message="tns:addFilePrincipale" />
      <wsdl:output name="addFilePrincipaleResponse" message="tns:addFilePrincipaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="delFilePrincipale">
      <wsdl:input name="delFilePrincipale" message="tns:delFilePrincipale" />
      <wsdl:output name="delFilePrincipaleResponse" message="tns:delFilePrincipaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="delDocumento">
      <wsdl:input name="delDocumento" message="tns:delDocumento" />
      <wsdl:output name="delDocumentoResponse" message="tns:delDocumentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getClassifiche">
      <wsdl:input name="getClassifiche" message="tns:getClassifiche" />
      <wsdl:output name="getClassificheResponse" message="tns:getClassificheResponse" />
    </wsdl:operation>
    <wsdl:operation name="addRapporto">
      <wsdl:input name="addRapporto" message="tns:addRapporto" />
      <wsdl:output name="addRapportoResponse" message="tns:addRapportoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentiNonProtocollati">
      <wsdl:input name="getDocumentiNonProtocollati" message="tns:getDocumentiNonProtocollati" />
      <wsdl:output name="getDocumentiNonProtocollatiResponse" message="tns:getDocumentiNonProtocollatiResponse" />
    </wsdl:operation>
    <wsdl:operation name="collegaDocumenti">
      <wsdl:input name="collegaDocumenti" message="tns:collegaDocumenti" />
      <wsdl:output name="collegaDocumentiResponse" message="tns:collegaDocumentiResponse" />
    </wsdl:operation>
    <wsdl:operation name="creaFascicolo">
      <wsdl:input name="creaFascicolo" message="tns:creaFascicolo" />
      <wsdl:output name="creaFascicoloResponse" message="tns:creaFascicoloResponse" />
    </wsdl:operation>
    <wsdl:operation name="rimuoviDocumentoDalFascicolo">
      <wsdl:input name="rimuoviDocumentoDalFascicolo" message="tns:rimuoviDocumentoDalFascicolo" />
      <wsdl:output name="rimuoviDocumentoDalFascicoloResponse" message="tns:rimuoviDocumentoDalFascicoloResponse" />
    </wsdl:operation>
    <wsdl:operation name="inserisciDocumentoInFascicolo">
      <wsdl:input name="inserisciDocumentoInFascicolo" message="tns:inserisciDocumentoInFascicolo" />
      <wsdl:output name="inserisciDocumentoInFascicoloResponse" message="tns:inserisciDocumentoInFascicoloResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDocumento">
      <wsdl:input name="getDocumento" message="tns:getDocumento" />
      <wsdl:output name="getDocumentoResponse" message="tns:getDocumentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="creaDocumento">
      <wsdl:input name="creaDocumento" message="tns:creaDocumento" />
      <wsdl:output name="creaDocumentoResponse" message="tns:creaDocumentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="delFascicolo">
      <wsdl:input name="delFascicolo" message="tns:delFascicolo" />
      <wsdl:output name="delFascicoloResponse" message="tns:delFascicoloResponse" />
    </wsdl:operation>
    <wsdl:operation name="modDocumento">
      <wsdl:input name="modDocumento" message="tns:modDocumento" />
      <wsdl:output name="modDocumentoResponse" message="tns:modDocumentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="delRapporto">
      <wsdl:input name="delRapporto" message="tns:delRapporto" />
      <wsdl:output name="delRapportoResponse" message="tns:delRapportoResponse" />
    </wsdl:operation>
    <wsdl:operation name="addSmistamento">
      <wsdl:input name="addSmistamento" message="tns:addSmistamento" />
      <wsdl:output name="addSmistamentoResponse" message="tns:addSmistamentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="delSmistamento">
      <wsdl:input name="delSmistamento" message="tns:delSmistamento" />
      <wsdl:output name="delSmistamentoResponse" message="tns:delSmistamentoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProtocolloExtendedServiceServiceSoapBinding" type="tns:ProtocolloExtendedService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocumentiProtocollati">
      <soap:operation soapAction="getDocumentiProtocollati" style="document" />
      <wsdl:input name="getDocumentiProtocollati">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDocumentiProtocollatiResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modFascicolo">
      <soap:operation soapAction="modFascicolo" style="document" />
      <wsdl:input name="modFascicolo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modFascicoloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFascicoli">
      <soap:operation soapAction="urn:GetFascicoli" style="document" />
      <wsdl:input name="getFascicoli">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getFascicoliResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modProtocollo">
      <soap:operation soapAction="modProtocollo" style="document" />
      <wsdl:input name="modProtocollo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modProtocolloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="collegaFascicoli">
      <soap:operation soapAction="collegaFascicoli" style="document" />
      <wsdl:input name="collegaFascicoli">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="collegaFascicoliResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoPec">
      <soap:operation soapAction="getInfoPec" style="document" />
      <wsdl:input name="getInfoPec">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInfoPecResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFilePrincipale">
      <soap:operation soapAction="addFilePrincipale" style="document" />
      <wsdl:input name="addFilePrincipale">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addFilePrincipaleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delFilePrincipale">
      <soap:operation soapAction="delFilePrincipale" style="document" />
      <wsdl:input name="delFilePrincipale">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="delFilePrincipaleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delDocumento">
      <soap:operation soapAction="delDocumento" style="document" />
      <wsdl:input name="delDocumento">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="delDocumentoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassifiche">
      <soap:operation soapAction="getClassifiche" style="document" />
      <wsdl:input name="getClassifiche">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getClassificheResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRapporto">
      <soap:operation soapAction="addRapporto" style="document" />
      <wsdl:input name="addRapporto">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addRapportoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentiNonProtocollati">
      <soap:operation soapAction="getDocumentiNonProtocollati" style="document" />
      <wsdl:input name="getDocumentiNonProtocollati">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDocumentiNonProtocollatiResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="collegaDocumenti">
      <soap:operation soapAction="collegaDocumenti" style="document" />
      <wsdl:input name="collegaDocumenti">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="collegaDocumentiResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaFascicolo">
      <soap:operation soapAction="creaFascicolo" style="document" />
      <wsdl:input name="creaFascicolo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="creaFascicoloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rimuoviDocumentoDalFascicolo">
      <soap:operation soapAction="rimuoviDocumentoDalFascicolo" style="document" />
      <wsdl:input name="rimuoviDocumentoDalFascicolo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="rimuoviDocumentoDalFascicoloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserisciDocumentoInFascicolo">
      <soap:operation soapAction="inserisciDocumentoInFascicolo" style="document" />
      <wsdl:input name="inserisciDocumentoInFascicolo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="inserisciDocumentoInFascicoloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumento">
      <soap:operation soapAction="getDocumento" style="document" />
      <wsdl:input name="getDocumento">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDocumentoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaDocumento">
      <soap:operation soapAction="creaDocumento" style="document" />
      <wsdl:input name="creaDocumento">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="creaDocumentoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delFascicolo">
      <soap:operation soapAction="delFascicolo" style="document" />
      <wsdl:input name="delFascicolo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="delFascicoloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modDocumento">
      <soap:operation soapAction="modDocumento" style="document" />
      <wsdl:input name="modDocumento">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modDocumentoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delRapporto">
      <soap:operation soapAction="delSmistamento" style="document" />
      <wsdl:input name="delRapporto">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="delRapportoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSmistamento">
      <soap:operation soapAction="addSmistamento" style="document" />
      <wsdl:input name="addSmistamento">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addSmistamentoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delSmistamento">
      <soap:operation soapAction="delSmistamento" style="document" />
      <wsdl:input name="delSmistamento">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="delSmistamentoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtocolloExtendedServiceService">
    <wsdl:port name="ProtocolloExtendedServicePort" binding="tns:ProtocolloExtendedServiceServiceSoapBinding">
      <soap:address location="http://10.8.1.73:8080/agspr/services/ProtocolloExtendedServicePort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>