src/VBG.net/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/AlboPretorioService/alboPretorio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://gruppoinit.it/sigepro/schemas/messages/albopretorio" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/sigepro/schemas/messages/albopretorio" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="ListaCategorieRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="software" type="string" />
      </all>
    </complexType>
  </element>
  <element name="ListaCategorieResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="ListaCategorie" type="tns:ListaCategorie" />
      </sequence>
    </complexType>
  </element>
  <complexType name="ListaCategorie">
    <all>
      <element name="ID" type="int" />
      <element name="DESCRIZIONE" type="string" />
      <element name="ORDINE" type="int" />
    </all>
  </complexType>
  <element name="ListaPubblicazioniFiltriRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="software" type="string" />
        <element name="oggetto" nillable="true" type="string" />
        <element name="categoria" nillable="true" type="int" />
        <element name="valido_dal" nillable="true" type="date" />
        <element name="valido_al" nillable="true" type="date" />
        <element name="da" nillable="true" type="int" />
        <element name="a" nillable="true" type="int" />
      </all>
    </complexType>
  </element>
  <element name="ListaPubblicazioniFiltriResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="listaPubblicazioniFiltri" type="tns:ListaPubblicazioniFiltri" />
      </sequence>
    </complexType>
  </element>
  <complexType name="ListaPubblicazioniFiltri">
    <all>
      <element name="ID" type="int" />
      <element name="ALBO_CATEGORIE_ID" nillable="true" type="int" />
      <element name="CODICEAMMINISTRAZIONE" nillable="true" type="int" />
      <element name="ALBO_CATEGORIE_DESCR" nillable="true" type="string" />
      <element name="AMMINISTRAZIONE_DESCR" nillable="true" type="string" />
      <element name="CODICEUFFICIO" nillable="true" type="int" />
      <element name="CODICERESPONSABILE" nillable="true" type="int" />
      <element name="NUMERO_PUBBLICAZIONE" nillable="true" type="string" />
      <element name="DATA_PUBBLICAZIONE" nillable="true" type="date" />
      <element name="DESCRIZIONE" nillable="true" type="string" />
      <element name="DATA_CREAZIONE" nillable="true" type="date" />
      <element name="VALIDA_DAL" nillable="true" type="date" />
      <element name="VALIDA_AL" nillable="true" type="date" />
      <element name="NUMERO_PROTOCOLLO" nillable="true" type="string" />
      <element name="DATA_PROTOCOLLO" nillable="true" type="date" />
      <element name="NOTE" nillable="true" type="string" />
    </all>
  </complexType>
  <element name="ListaPubblicazioniMaxResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="listaPubblicazioniMax" type="tns:ListaPubblicazioniMax" />
      </sequence>
    </complexType>
  </element>
  <complexType name="ListaPubblicazioniMax">
    <all>
      <element name="ID" type="int" />
      <element name="ALBO_CATEGORIE_ID" nillable="true" type="int" />
      <element name="CODICEAMMINISTRAZIONE" nillable="true" type="int" />
      <element name="ALBO_CATEGORIE_DESCR" nillable="true" type="string" />
      <element name="AMMINISTRAZIONE_DESCR" nillable="true" type="string" />
      <element name="CODICEUFFICIO" nillable="true" type="int" />
      <element name="CODICERESPONSABILE" nillable="true" type="int" />
      <element name="NUMERO_PUBBLICAZIONE" nillable="true" type="string" />
      <element name="DATA_PUBBLICAZIONE" nillable="true" type="date" />
      <element name="DESCRIZIONE" nillable="true" type="string" />
      <element name="DATA_CREAZIONE" nillable="true" type="date" />
      <element name="VALIDA_DAL" nillable="true" type="date" />
      <element name="VALIDA_AL" nillable="true" type="date" />
      <element name="NUMERO_PROTOCOLLO" nillable="true" type="string" />
      <element name="DATA_PROTOCOLLO" nillable="true" type="date" />
      <element name="NOTE" nillable="true" type="string" />
    </all>
  </complexType>
  <element name="ListaPubblicazioniTotResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="listaPubblicazioniTot" type="tns:ListaPubblicazioniTot" />
      </sequence>
    </complexType>
  </element>
  <complexType name="ListaPubblicazioniTot">
    <all>
      <element name="ID" type="int" />
      <element name="ALBO_CATEGORIE_ID" nillable="true" type="int" />
      <element name="CODICEAMMINISTRAZIONE" nillable="true" type="int" />
      <element name="ALBO_CATEGORIE_DESCR" nillable="true" type="string" />
      <element name="AMMINISTRAZIONE_DESCR" nillable="true" type="string" />
      <element name="CODICEUFFICIO" nillable="true" type="int" />
      <element name="CODICERESPONSABILE" nillable="true" type="int" />
      <element name="NUMERO_PUBBLICAZIONE" nillable="true" type="string" />
      <element name="DATA_PUBBLICAZIONE" nillable="true" type="date" />
      <element name="DESCRIZIONE" nillable="true" type="string" />
      <element name="DATA_CREAZIONE" nillable="true" type="date" />
      <element name="VALIDA_DAL" nillable="true" type="date" />
      <element name="VALIDA_AL" nillable="true" type="date" />
      <element name="NUMERO_PROTOCOLLO" nillable="true" type="string" />
      <element name="DATA_PROTOCOLLO" nillable="true" type="date" />
      <element name="NOTE" nillable="true" type="string" />
    </all>
  </complexType>
  <element name="ListaPubblicazioniMaxRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="software" type="string" />
        <element name="maxResult" type="int" />
        <element name="da" type="int" />
        <element name="a" type="int" />
      </all>
    </complexType>
  </element>
  <element name="ListaPubblicazioniTotRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="software" type="string" />
      </all>
    </complexType>
  </element>
  <element name="DettaglioPubblicazioneRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="software" type="string" />
        <element name="idPubblicazione" type="int" />
      </all>
    </complexType>
  </element>
  <element name="DettaglioPubblicazioneResponse">
    <complexType>
      <all>
        <element name="ID" type="int" />
        <element name="ALBO_CATEGORIE_ID" nillable="true" type="int" />
        <element name="CODICEAMMINISTRAZIONE" nillable="true" type="int" />
        <element name="ALBO_CATEGORIE_DESCR" nillable="true" type="string" />
        <element name="AMMINISTRAZIONE_DESCR" nillable="true" type="string" />
        <element name="CODICEUFFICIO" nillable="true" type="int" />
        <element name="CODICERESPONSABILE" nillable="true" type="int" />
        <element name="NUMERO_PUBBLICAZIONE" nillable="true" type="string" />
        <element name="DATA_PUBBLICAZIONE" nillable="true" type="date" />
        <element name="DESCRIZIONE" nillable="true" type="string" />
        <element name="DATA_CREAZIONE" nillable="true" type="date" />
        <element name="VALIDA_DAL" nillable="true" type="date" />
        <element name="VALIDA_AL" nillable="true" type="date" />
        <element name="NUMERO_PROTOCOLLO" nillable="true" type="string" />
        <element name="DATA_PROTOCOLLO" nillable="true" type="date" />
        <element name="NOTE" nillable="true" type="string" />
        <element name="ListaPubblicazioniAllegati" type="tns:ListaPubblicazioniAllegati" />
      </all>
    </complexType>
  </element>
  <complexType name="ListaPubblicazioniAllegati">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="pubblicazioniAllegati" type="tns:pubblicazioniAllegati" />
    </sequence>
  </complexType>
  <complexType name="pubblicazioniAllegati">
    <all>
      <element name="CODICEALLEGATO" type="int" />
      <element name="CODICEOGGETTO" type="int" />
      <element name="NOMEFILE" type="string" />
      <element name="DIMENSIONEFILE" type="string" />
      <element name="DESCRIZIONE" type="string" />
      <element name="ORDINE" type="int" />
    </all>
  </complexType>
  <element name="ScaricaAllegatoPubblicazioneRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="software" type="string" />
        <element name="codicePubblicazione" type="int" />
        <element name="codiceOggetto" type="int" />
      </all>
    </complexType>
  </element>
  <element name="ScaricaAllegatoPubblicazioneResponse">
    <complexType>
      <all>
        <element name="oggetto" type="tns:Oggetto" />
      </all>
    </complexType>
  </element>
  <complexType name="Oggetto">
    <all>
      <element minOccurs="1" name="mime" type="string" />
      <element xmime:expectedContentTypes="application/octet-stream" minOccurs="1" name="filecontent" type="base64Binary" />
      <element minOccurs="1" name="nomefile" type="string" />
      <element minOccurs="1" name="dimensioneFile" type="string" />
    </all>
  </complexType>
  <element name="PubblicazioniValideAlRequest">
    <complexType>
      <all>
        <element name="token" type="string" />
        <element name="software" type="string" />
        <element name="oggetto" nillable="true" type="string" />
        <element name="categoria" nillable="true" type="int" />
        <element name="dataValiditaAl" nillable="true" type="date" />
      </all>
    </complexType>
  </element>
  <element name="PubblicazioniValideAlResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="listaPubblicazioniValideAl" type="tns:ListaPubblicazioniValideAl" />
      </sequence>
    </complexType>
  </element>
  <complexType name="ListaPubblicazioniValideAl">
    <all>
      <element name="ID" type="int" />
      <element name="ALBO_CATEGORIE_ID" nillable="true" type="int" />
      <element name="CODICEAMMINISTRAZIONE" nillable="true" type="int" />
      <element name="ALBO_CATEGORIE_DESCR" nillable="true" type="string" />
      <element name="AMMINISTRAZIONE_DESCR" nillable="true" type="string" />
      <element name="CODICEUFFICIO" nillable="true" type="int" />
      <element name="CODICERESPONSABILE" nillable="true" type="int" />
      <element name="NUMERO_PUBBLICAZIONE" nillable="true" type="string" />
      <element name="DATA_PUBBLICAZIONE" nillable="true" type="date" />
      <element name="DESCRIZIONE" nillable="true" type="string" />
      <element name="DATA_CREAZIONE" nillable="true" type="date" />
      <element name="VALIDA_DAL" nillable="true" type="date" />
      <element name="VALIDA_AL" nillable="true" type="date" />
      <element name="NUMERO_PROTOCOLLO" nillable="true" type="string" />
      <element name="DATA_PROTOCOLLO" nillable="true" type="date" />
      <element name="NOTE" nillable="true" type="string" />
    </all>
  </complexType>
</schema>