src/VBG.net/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/AlboPretorioService/alboPretorio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sch="http://gruppoinit.it/sigepro/schemas/messages/albopretorio" xmlns:tns="http://gruppoinit.it/sigepro/definitions/albopretorio" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://gruppoinit.it/sigepro/definitions/albopretorio" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://devel3.init.gruppoinit.it/vbg/services/alboPretorio?xsd=alboPretorio.xsd" namespace="http://gruppoinit.it/sigepro/schemas/messages/albopretorio" />
    </schema>
  </wsdl:types>
  <wsdl:message name="ListaPubblicazioniTotResponse">
    <wsdl:part name="ListaPubblicazioniTotResponse" element="sch:ListaPubblicazioniTotResponse" />
  </wsdl:message>
  <wsdl:message name="ListaPubblicazioniTotRequest">
    <wsdl:part name="ListaPubblicazioniTotRequest" element="sch:ListaPubblicazioniTotRequest" />
  </wsdl:message>
  <wsdl:message name="ScaricaAllegatoPubblicazioneResponse">
    <wsdl:part name="ScaricaAllegatoPubblicazioneResponse" element="sch:ScaricaAllegatoPubblicazioneResponse" />
  </wsdl:message>
  <wsdl:message name="ListaPubblicazioniMaxResponse">
    <wsdl:part name="ListaPubblicazioniMaxResponse" element="sch:ListaPubblicazioniMaxResponse" />
  </wsdl:message>
  <wsdl:message name="PubblicazioniValideAlResponse">
    <wsdl:part name="PubblicazioniValideAlResponse" element="sch:PubblicazioniValideAlResponse" />
  </wsdl:message>
  <wsdl:message name="ListaPubblicazioniFiltriRequest">
    <wsdl:part name="ListaPubblicazioniFiltriRequest" element="sch:ListaPubblicazioniFiltriRequest" />
  </wsdl:message>
  <wsdl:message name="ListaCategorieRequest">
    <wsdl:part name="ListaCategorieRequest" element="sch:ListaCategorieRequest" />
  </wsdl:message>
  <wsdl:message name="ListaCategorieResponse">
    <wsdl:part name="ListaCategorieResponse" element="sch:ListaCategorieResponse" />
  </wsdl:message>
  <wsdl:message name="ListaPubblicazioniFiltriResponse">
    <wsdl:part name="ListaPubblicazioniFiltriResponse" element="sch:ListaPubblicazioniFiltriResponse" />
  </wsdl:message>
  <wsdl:message name="ScaricaAllegatoPubblicazioneRequest">
    <wsdl:part name="ScaricaAllegatoPubblicazioneRequest" element="sch:ScaricaAllegatoPubblicazioneRequest" />
  </wsdl:message>
  <wsdl:message name="DettaglioPubblicazioneRequest">
    <wsdl:part name="DettaglioPubblicazioneRequest" element="sch:DettaglioPubblicazioneRequest" />
  </wsdl:message>
  <wsdl:message name="DettaglioPubblicazioneResponse">
    <wsdl:part name="DettaglioPubblicazioneResponse" element="sch:DettaglioPubblicazioneResponse" />
  </wsdl:message>
  <wsdl:message name="ListaPubblicazioniMaxRequest">
    <wsdl:part name="ListaPubblicazioniMaxRequest" element="sch:ListaPubblicazioniMaxRequest" />
  </wsdl:message>
  <wsdl:message name="PubblicazioniValideAlRequest">
    <wsdl:part name="PubblicazioniValideAlRequest" element="sch:PubblicazioniValideAlRequest" />
  </wsdl:message>
  <wsdl:portType name="AlboPretorio">
    <wsdl:operation name="DettaglioPubblicazione">
      <wsdl:input name="DettaglioPubblicazioneRequest" message="tns:DettaglioPubblicazioneRequest" />
      <wsdl:output name="DettaglioPubblicazioneResponse" message="tns:DettaglioPubblicazioneResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListaCategorie">
      <wsdl:input name="ListaCategorieRequest" message="tns:ListaCategorieRequest" />
      <wsdl:output name="ListaCategorieResponse" message="tns:ListaCategorieResponse" />
    </wsdl:operation>
    <wsdl:operation name="PubblicazioniValideAl">
      <wsdl:input name="PubblicazioniValideAlRequest" message="tns:PubblicazioniValideAlRequest" />
      <wsdl:output name="PubblicazioniValideAlResponse" message="tns:PubblicazioniValideAlResponse" />
    </wsdl:operation>
    <wsdl:operation name="ScaricaAllegatoPubblicazione">
      <wsdl:input name="ScaricaAllegatoPubblicazioneRequest" message="tns:ScaricaAllegatoPubblicazioneRequest" />
      <wsdl:output name="ScaricaAllegatoPubblicazioneResponse" message="tns:ScaricaAllegatoPubblicazioneResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListaPubblicazioniMax">
      <wsdl:input name="ListaPubblicazioniMaxRequest" message="tns:ListaPubblicazioniMaxRequest" />
      <wsdl:output name="ListaPubblicazioniMaxResponse" message="tns:ListaPubblicazioniMaxResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListaPubblicazioniFiltri">
      <wsdl:input name="ListaPubblicazioniFiltriRequest" message="tns:ListaPubblicazioniFiltriRequest" />
      <wsdl:output name="ListaPubblicazioniFiltriResponse" message="tns:ListaPubblicazioniFiltriResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListaPubblicazioniTot">
      <wsdl:input name="ListaPubblicazioniTotRequest" message="tns:ListaPubblicazioniTotRequest" />
      <wsdl:output name="ListaPubblicazioniTotResponse" message="tns:ListaPubblicazioniTotResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlboPretorioSoap11" type="tns:AlboPretorio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DettaglioPubblicazione">
      <soap:operation soapAction="dettaglioPubblicazione" />
      <wsdl:input name="DettaglioPubblicazioneRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DettaglioPubblicazioneResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCategorie">
      <soap:operation soapAction="listaCategorie" />
      <wsdl:input name="ListaCategorieRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListaCategorieResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PubblicazioniValideAl">
      <soap:operation soapAction="listaPubblicazioniValideAl" />
      <wsdl:input name="PubblicazioniValideAlRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PubblicazioniValideAlResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScaricaAllegatoPubblicazione">
      <soap:operation soapAction="scaricaAllegatoPubblicazione" />
      <wsdl:input name="ScaricaAllegatoPubblicazioneRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ScaricaAllegatoPubblicazioneResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPubblicazioniMax">
      <soap:operation soapAction="listaPubblicazioniMax" />
      <wsdl:input name="ListaPubblicazioniMaxRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListaPubblicazioniMaxResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPubblicazioniFiltri">
      <soap:operation soapAction="listaPubblicazioniFiltri" />
      <wsdl:input name="ListaPubblicazioniFiltriRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListaPubblicazioniFiltriResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPubblicazioniTot">
      <soap:operation soapAction="listaPubblicazioniTot" />
      <wsdl:input name="ListaPubblicazioniTotRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListaPubblicazioniTotResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlboPretorioService">
    <wsdl:port name="AlboPretorioSoap11" binding="tns:AlboPretorioSoap11">
      <soap:address location="http://devel3.init.gruppoinit.it/vbg/services/alboPretorio" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>