src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/AIDAProtService/AIDAProt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:stk="http://schemas.microsoft.com/soap-toolkit/wsdl-extension" xmlns:content="http://schemas.xmlsoap.org/ws/2002/04/content-type/" xmlns:ref="http://schemas.xmlsoap.org/ws/2002/04/reference/" xmlns:dime="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/" xmlns:wsdlns="http://project.com/AIDAProt/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typens="http://project.com/AIDAProt/type/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="AIDAProt" targetNamespace="http://project.com/AIDAProt/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://project.com/AIDAProt/type/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/reference/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/content-type/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AIDAProt.GETDOCNPROT">
    <wsdl:part name="XMLIN" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AIDAProt.GETDOCNPROTResponse">
    <wsdl:part name="Result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AIDAProt.GETPROT">
    <wsdl:part name="XMLIN" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AIDAProt.GETPROTResponse">
    <wsdl:part name="Result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AIDAProt.GETNPROT">
    <wsdl:part name="XMLIN" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AIDAProt.GETNPROTResponse">
    <wsdl:part name="Result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AIDAProt.SETDOCNPROT">
    <wsdl:part name="XMLIN" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AIDAProt.SETDOCNPROTResponse">
    <wsdl:part name="Result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AIDAProt.GETASSEGNATARI">
    <wsdl:part name="XMLIN" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AIDAProt.GETASSEGNATARIResponse">
    <wsdl:part name="Result" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="AIDAProtSoapPort">
    <wsdl:operation name="GETDOCNPROT" parameterOrder="XMLIN">
      <wsdl:input message="wsdlns:AIDAProt.GETDOCNPROT" />
      <wsdl:output message="wsdlns:AIDAProt.GETDOCNPROTResponse" />
    </wsdl:operation>
    <wsdl:operation name="GETPROT" parameterOrder="XMLIN">
      <wsdl:input message="wsdlns:AIDAProt.GETPROT" />
      <wsdl:output message="wsdlns:AIDAProt.GETPROTResponse" />
    </wsdl:operation>
    <wsdl:operation name="GETNPROT" parameterOrder="XMLIN">
      <wsdl:input message="wsdlns:AIDAProt.GETNPROT" />
      <wsdl:output message="wsdlns:AIDAProt.GETNPROTResponse" />
    </wsdl:operation>
    <wsdl:operation name="SETDOCNPROT" parameterOrder="XMLIN">
      <wsdl:input message="wsdlns:AIDAProt.SETDOCNPROT" />
      <wsdl:output message="wsdlns:AIDAProt.SETDOCNPROTResponse" />
    </wsdl:operation>
    <wsdl:operation name="GETASSEGNATARI" parameterOrder="XMLIN">
      <wsdl:input message="wsdlns:AIDAProt.GETASSEGNATARI" />
      <wsdl:output message="wsdlns:AIDAProt.GETASSEGNATARIResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AIDAProtSoapBinding" type="wsdlns:AIDAProtSoapPort">
    <stk:binding preferredEncoding="UTF-8" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GETDOCNPROT">
      <soap:operation soapAction="http://project.com/AIDAProt/action/AIDAProt.GETDOCNPROT" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="XMLIN" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="Result" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETPROT">
      <soap:operation soapAction="http://project.com/AIDAProt/action/AIDAProt.GETPROT" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="XMLIN" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="Result" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETNPROT">
      <soap:operation soapAction="http://project.com/AIDAProt/action/AIDAProt.GETNPROT" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="XMLIN" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="Result" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SETDOCNPROT">
      <soap:operation soapAction="http://project.com/AIDAProt/action/AIDAProt.SETDOCNPROT" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="XMLIN" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="Result" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETASSEGNATARI">
      <soap:operation soapAction="http://project.com/AIDAProt/action/AIDAProt.GETASSEGNATARI" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="XMLIN" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://project.com/AIDAProt/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="Result" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AIDAProt">
    <wsdl:port name="AIDAProtSoapPort" binding="wsdlns:AIDAProtSoapBinding">
      <soap:address location="http://172.16.20.41/AIDAProt/AIDAProt.ASP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>