src/vbg.net/console/projects/Backoffice/SIGePro.Manager/Logic/Livorno/VerificaPagamenti/ws_dia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://www.comune.livorno.it/aida" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.comune.livorno.it/aida" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.comune.livorno.it/aida">
			<s:element name="wm_dia">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="1" name="codiceDia" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="wm_diaResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="wm_diaResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="wm_diaSoapIn">
		<wsdl:part name="parameters" element="tns:wm_dia">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="wm_diaSoapOut">
		<wsdl:part name="parameters" element="tns:wm_diaResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="ws_diaSoap">
		<wsdl:operation name="wm_dia">
			<wsdl:input message="tns:wm_diaSoapIn">
			</wsdl:input>
			<wsdl:output message="tns:wm_diaSoapOut">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ws_diaSoap" type="tns:ws_diaSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="wm_dia">
			<soap:operation soapAction="http://www.comune.livorno.it/aida/wm_dia" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ws_dia">
		<wsdl:port name="ws_diaSoap" binding="tns:ws_diaSoap">
			<soap:address location="http://192.168.1.16:8080/axis2/services/ws_dia/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
