src/vbg.net/console/projects/Backoffice/SIGePro.Manager/Service References/WsMailService/MailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://gruppoinit.it/mailService/schemas/messages" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/mailService/schemas/messages" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="MessageRequest">
    <complexType>
      <sequence>
        <element name="token" type="string" />
        <element name="software" type="string" />
        <element minOccurs="0" name="codicemovimento" type="string" />
        <element name="mailMessage" type="tns:MailMessageType" />
      </sequence>
    </complexType>
  </element>
  <element name="MessageResponse">
    <complexType>
      <sequence>
        <element name="esito" type="string" />
      </sequence>
    </complexType>
  </element>
  <complexType name="AttachmentType">
    <sequence>
      <element minOccurs="0" name="id" type="string" />
      <element minOccurs="0" name="descrizione" type="string" />
      <element name="mimeType" type="string" />
      <element name="fileName" type="string" />
      <element minOccurs="0" name="binaryData" type="base64Binary" />
    </sequence>
  </complexType>
  <complexType name="AttachmentsType">
    <sequence>
      <element maxOccurs="unbounded" name="attachment" type="tns:AttachmentType" />
    </sequence>
  </complexType>
  <complexType name="MailMessageType">
    <sequence>
      <element minOccurs="0" name="inviaComeHtml" type="boolean" />
      <element minOccurs="0" name="mittente" type="string" />
      <element name="corpoMail" type="string" />
      <element name="oggetto" type="string" />
      <element name="destinatari" type="string" />
      <element minOccurs="0" name="destinatariInCopia" type="string" />
      <element minOccurs="0" name="destinatariInCopiaNascosta" type="string" />
      <element minOccurs="0" name="messageID" type="string" />
      <element minOccurs="0" name="attachments" type="tns:AttachmentsType" />
    </sequence>
  </complexType>
</schema>