src/VBG.net/projects/Backoffice/SIGePro.Protocollo/Sicraweb/wsdl/ProWSApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:ProWSApi" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:ProWSApi" xmlns:intf="urn:ProWSApi" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://impl.webservices.protocollo.pubblici.saga.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://impl.webservices.protocollo.pubblici.saga.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ProtocollazioneRet">
    <sequence>
     <element name="lngNumPG" type="xsd:long"/>
     <element name="lngAnnoPG" type="xsd:long"/>
     <element name="lngErrNumber" type="xsd:long"/>
     <element maxOccurs="1" minOccurs="0" name="strErrString" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="InserimentoRet">
    <sequence>
     <element name="lngDocID" type="xsd:long"/>
     <element name="lngErrNumber" type="xsd:long"/>
     <element maxOccurs="1" minOccurs="0" name="strErrString" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertDocumentoResponse">

      <wsdl:part name="insertDocumentoReturn" type="tns1:InserimentoRet"/>

   </wsdl:message>

   <wsdl:message name="insertDocumentoRequest">

      <wsdl:part name="connectionString" type="xsd:string"/>

      <wsdl:part name="documentName" type="xsd:string"/>

      <wsdl:part name="documentDescription" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="registraProtocolloResponse">

      <wsdl:part name="registraProtocolloReturn" type="tns1:ProtocollazioneRet"/>

   </wsdl:message>

   <wsdl:message name="infoProtocolloRequest">

      <wsdl:part name="connectionString" type="xsd:string"/>

      <wsdl:part name="numProt" type="xsd:long"/>

      <wsdl:part name="annoProt" type="xsd:long"/>

      <wsdl:part name="aoo" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="registraProtocolloRequest">

      <wsdl:part name="connectionString" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="infoProtocolloResponse">

      <wsdl:part name="infoProtocolloReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="ProWSApi">

      <wsdl:operation name="infoProtocollo" parameterOrder="connectionString numProt annoProt aoo">

         <wsdl:input message="impl:infoProtocolloRequest" name="infoProtocolloRequest"/>

         <wsdl:output message="impl:infoProtocolloResponse" name="infoProtocolloResponse"/>

      </wsdl:operation>

      <wsdl:operation name="registraProtocollo" parameterOrder="connectionString">

         <wsdl:input message="impl:registraProtocolloRequest" name="registraProtocolloRequest"/>

         <wsdl:output message="impl:registraProtocolloResponse" name="registraProtocolloResponse"/>

      </wsdl:operation>

      <wsdl:operation name="insertDocumento" parameterOrder="connectionString documentName documentDescription">

         <wsdl:input message="impl:insertDocumentoRequest" name="insertDocumentoRequest"/>

         <wsdl:output message="impl:insertDocumentoResponse" name="insertDocumentoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProWSApiSoapBinding" type="impl:ProWSApi">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="infoProtocollo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="infoProtocolloRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ProWSApi" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="infoProtocolloResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ProWSApi" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registraProtocollo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registraProtocolloRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ProWSApi" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="registraProtocolloResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ProWSApi" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertDocumento">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertDocumentoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ProWSApi" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="insertDocumentoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ProWSApi" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProWSApiService">

      <wsdl:port binding="impl:ProWSApiSoapBinding" name="ProWSApi">

         <wsdlsoap:address location="http://www.studiok.it:9091/ws_sici"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
