src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsFileConverterService/fileconverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://gruppoinit.it/fileconverter/definitions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://gruppoinit.it/fileconverter" targetNamespace="http://gruppoinit.it/fileconverter/definitions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema xmlns:tns="http://gruppoinit.it/fileconverter" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/fileconverter" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="ConvertRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" name="token">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="content">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="contentType">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="conversionType">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ConvertResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" name="mimeType" type="string" />
            <element minOccurs="1" name="binaryData" type="base64Binary" />
            <element minOccurs="1" name="fileName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ConvertBinaryRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" name="token">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="binaryData">
              <simpleType>
                <restriction base="base64Binary">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="contentType">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="conversionType">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ConvertBinaryResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" name="mimeType" type="string" />
            <element minOccurs="1" name="binaryData" type="base64Binary" />
            <element minOccurs="1" name="fileName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="MergeDataRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" name="token">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="rtfBinaryData">
              <simpleType>
                <restriction base="base64Binary">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="xmlBinaryData">
              <simpleType>
                <restriction base="base64Binary">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="MergeDataResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" name="mimeType" type="string" />
            <element minOccurs="1" name="binaryData" type="base64Binary" />
            <element minOccurs="1" name="fileName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="MergeDataAndConvertRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" name="token">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="rtfBinaryData">
              <simpleType>
                <restriction base="base64Binary">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="xmlBinaryData">
              <simpleType>
                <restriction base="base64Binary">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="1" name="conversionType">
              <simpleType>
                <restriction base="string">
                  <minLength value="1" />
                </restriction>
              </simpleType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="MergeDataAndConvertResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" name="mimeType" type="string" />
            <element minOccurs="1" name="binaryData" type="base64Binary" />
            <element minOccurs="1" name="fileName" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="ConvertResponse">
    <wsdl:part name="ConvertResponse" element="sch:ConvertResponse" />
  </wsdl:message>
  <wsdl:message name="MergeDataRequest">
    <wsdl:part name="MergeDataRequest" element="sch:MergeDataRequest" />
  </wsdl:message>
  <wsdl:message name="ConvertBinaryRequest">
    <wsdl:part name="ConvertBinaryRequest" element="sch:ConvertBinaryRequest" />
  </wsdl:message>
  <wsdl:message name="ConvertRequest">
    <wsdl:part name="ConvertRequest" element="sch:ConvertRequest" />
  </wsdl:message>
  <wsdl:message name="MergeDataAndConvertResponse">
    <wsdl:part name="MergeDataAndConvertResponse" element="sch:MergeDataAndConvertResponse" />
  </wsdl:message>
  <wsdl:message name="MergeDataResponse">
    <wsdl:part name="MergeDataResponse" element="sch:MergeDataResponse" />
  </wsdl:message>
  <wsdl:message name="MergeDataAndConvertRequest">
    <wsdl:part name="MergeDataAndConvertRequest" element="sch:MergeDataAndConvertRequest" />
  </wsdl:message>
  <wsdl:message name="ConvertBinaryResponse">
    <wsdl:part name="ConvertBinaryResponse" element="sch:ConvertBinaryResponse" />
  </wsdl:message>
  <wsdl:portType name="fileconverter">
    <wsdl:operation name="MergeDataAndConvert">
      <wsdl:input name="MergeDataAndConvertRequest" message="tns:MergeDataAndConvertRequest" />
      <wsdl:output name="MergeDataAndConvertResponse" message="tns:MergeDataAndConvertResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConvertBinary">
      <wsdl:input name="ConvertBinaryRequest" message="tns:ConvertBinaryRequest" />
      <wsdl:output name="ConvertBinaryResponse" message="tns:ConvertBinaryResponse" />
    </wsdl:operation>
    <wsdl:operation name="MergeData">
      <wsdl:input name="MergeDataRequest" message="tns:MergeDataRequest" />
      <wsdl:output name="MergeDataResponse" message="tns:MergeDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <wsdl:input name="ConvertRequest" message="tns:ConvertRequest" />
      <wsdl:output name="ConvertResponse" message="tns:ConvertResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="fileconverterSoap11" type="tns:fileconverter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MergeDataAndConvert">
      <soap:operation soapAction="" />
      <wsdl:input name="MergeDataAndConvertRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MergeDataAndConvertResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertBinary">
      <soap:operation soapAction="" />
      <wsdl:input name="ConvertBinaryRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConvertBinaryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeData">
      <soap:operation soapAction="" />
      <wsdl:input name="MergeDataRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MergeDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <soap:operation soapAction="" />
      <wsdl:input name="ConvertRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConvertResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fileconverterService">
    <wsdl:port name="fileconverterSoap11" binding="tns:fileconverterSoap11">
      <soap:address location="http://sigeprodemo:8080/fileconverter/services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>