src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/AbilitazioniAperturaPraticaRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" xmlns:aapreq="http://insiel.it/protocollo/schemixsd/AbilitazioniAperturaPraticaRequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/AbilitazioniAperturaPraticaRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="AbilitazioniAperturaPraticaRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="Utente" type="TipiGenerali:Utente" />
        <xs:element name="codiceUfficio" type="xs:string" />
        <xs:element name="codiceRegistro" type="TipiGenerali:Classifica" />
        <xs:element name="oggetto" type="TipiGenerali:oggetto" />
        <xs:element name="anno" type="TipiGenerali:anno" />
        <xs:element minOccurs="0" name="codiceUfficioOperante" nillable="true" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>