src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/getEtichetta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:etic="http://insiel.it/protocollo/schemixsd/Etichetta" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/Etichetta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="EtichettaRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="Utente" type="tgen:Utente" />
        <xs:element name="Registrazione" type="tgen:ProtocolloRequest" />
        <xs:element minOccurs="0" name="codiceSequenza" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doppiaProtocollazione" nillable="true" type="xs:boolean" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="EtichettaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="Etichetta" nillable="true" type="xs:base64Binary" />
        <xs:element name="Errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>