src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/getRegistriRicercaResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" xmlns:regRicRes="http://insiel.it/protocollo/schemixsd/RegistriRicercaResponse" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/RegistriRicercaResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:complexType name="Registro">
    <xs:sequence>
      <xs:element name="codiceUfficio" type="xs:string" />
      <xs:element name="descrizioneUfficio" type="xs:string" />
      <xs:element name="codiceRegistro" type="xs:string" />
      <xs:element name="descrizioneRegistro" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistriRicercaResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Registro" type="regRicRes:Registro" />
        <xs:element name="Errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>