src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/InterrogazioneProtocolloRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:intProtReq="http://insiel.it/protocollo/schemixsd/InterrogazioneProtocolloRequest" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/InterrogazioneProtocolloRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="InterrogazioneProtocolloRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="registri" type="intProtReq:RegistriRicerca" />
        <xs:element minOccurs="0" name="anno" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" nillable="true" type="tgen:anno" />
              <xs:element minOccurs="0" name="a" nillable="true" type="tgen:anno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="numero" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" nillable="true" type="tgen:numero" />
              <xs:element minOccurs="0" name="a" nillable="true" type="tgen:numero" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="verso" nillable="true" type="tgen:verso" />
        <xs:element minOccurs="0" name="data" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="da" nillable="true" type="xs:date" />
              <xs:element minOccurs="0" name="a" nillable="true" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="oggetto" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="valore" nillable="true" type="tgen:oggetto" />
              <xs:element minOccurs="0" name="relazione" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="iniziaCon" />
                    <xs:enumeration value="contiene" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="corrispondente" nillable="true" type="intProtReq:CorrispondenteRicerca" />
        <xs:element minOccurs="0" name="classifica" nillable="true" type="tgen:Classifica" />
        <xs:element minOccurs="0" name="ricercaInPratica" nillable="true" type="intProtReq:RicercaInPratica" />
        <xs:element minOccurs="0" name="RicercaInPratiche" type="intProtReq:RicercaInPratiche" />
        <xs:element minOccurs="0" name="codiceUffOpRicerca" nillable="true" type="xs:string">
          <xs:annotation>
            <xs:documentation>codice ufficio operante ricerca</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="note" nillable="true" type="tgen:note">
          <xs:annotation>
            <xs:documentation>contiene</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="stato" nillable="true" type="tgen:stato" />
        <xs:element minOccurs="0" name="ordinamentoRisultati" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="dataNum" />
              <xs:enumeration value="corrispData" />
              <xs:enumeration value="dataCorrisp" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="oggettoProtocollo" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="valore" nillable="true" type="tgen:oggetto" />
              <xs:element minOccurs="0" name="relazione" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="iniziaCon" />
                    <xs:enumeration value="contiene" />
                    <xs:enumeration value="uguale" />
                    <xs:enumeration value="finisceCon" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estremiDocumento" nillable="true" type="intProtReq:EstremiDocumentoRicerca" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RegistriRicerca">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="registro">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="codiceUfficio" type="xs:string" />
            <xs:element name="codiceRegistro" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RicercaInPratica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pratica" nillable="true">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tgen:PraticaRequest">
              <xs:attribute name="escludi" type="xs:boolean" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="nonInPratica" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="RicercaInPratiche">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pratica" nillable="true">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tgen:PraticaRequest" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorrispondenteRicerca">
    <xs:all minOccurs="0">
      <xs:element minOccurs="0" name="codice" nillable="true">
        <xs:complexType>
          <xs:all>
            <xs:element name="valore" type="xs:string" />
            <xs:element minOccurs="0" name="relazione" nillable="true">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="uguale" />
                  <xs:enumeration value="iniziaCon" />
                  <xs:enumeration value="contiene" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="descrizione" nillable="true">
        <xs:complexType>
          <xs:all>
            <xs:element name="valore" type="xs:string" />
            <xs:element minOccurs="0" name="relazione" nillable="true">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="uguale" />
                  <xs:enumeration value="iniziaCon" />
                  <xs:enumeration value="contiene" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="tipo" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="tutti" />
            <xs:enumeration value="mittente" />
            <xs:enumeration value="destinatario" />
            <xs:enumeration value="ufficio" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="EstremiDocumentoRicerca">
    <xs:sequence>
      <xs:element minOccurs="0" name="anno" nillable="true" type="tgen:anno" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>