src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/RiprotocollazioneResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:riprotRes="http://insiel.it/protocollo/schemixsd/RiprotocollazioneResponse" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/RiprotocollazioneResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="RiprotocollazioneResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="EsitoRiprotocollazione" type="tgen:ProtocolloResponse">
          <xs:annotation>
            <xs:documentation>questo deve diventare RegistrazioenResponse</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>