src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/PECJIrideService/PostaWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://tempuri.org/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://tempuri.org/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="VerificaInvio">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="strXML" type="xsd:string" />
            <xsd:element name="CodiceAmministrazione" type="xsd:string" />
            <xsd:element name="CodiceAOO" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="VerificaInvioResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="VerificaInvioResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InviaMailInterop">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="strXML" type="xsd:string" />
            <xsd:element name="CodiceAmministrazione" type="xsd:string" />
            <xsd:element name="CodiceAOO" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InviaMailInteropResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InviaMailInteropResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InviaMail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="strXML" type="xsd:string" />
            <xsd:element name="CodiceAmministrazione" type="xsd:string" />
            <xsd:element name="CodiceAOO" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InviaMailResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InviaMailResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InviaMailRequest">
    <wsdl:part name="parameters" element="impl:InviaMail" />
  </wsdl:message>
  <wsdl:message name="InviaMailResponse">
    <wsdl:part name="parameters" element="impl:InviaMailResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaInvioResponse">
    <wsdl:part name="parameters" element="impl:VerificaInvioResponse" />
  </wsdl:message>
  <wsdl:message name="InviaMailInteropResponse">
    <wsdl:part name="parameters" element="impl:InviaMailInteropResponse" />
  </wsdl:message>
  <wsdl:message name="InviaMailInteropRequest">
    <wsdl:part name="parameters" element="impl:InviaMailInterop" />
  </wsdl:message>
  <wsdl:message name="VerificaInvioRequest">
    <wsdl:part name="parameters" element="impl:VerificaInvio" />
  </wsdl:message>
  <wsdl:portType name="WsPostaWebSoap">
    <wsdl:operation name="VerificaInvio">
      <wsdl:input name="VerificaInvioRequest" message="impl:VerificaInvioRequest" />
      <wsdl:output name="VerificaInvioResponse" message="impl:VerificaInvioResponse" />
    </wsdl:operation>
    <wsdl:operation name="InviaMailInterop">
      <wsdl:input name="InviaMailInteropRequest" message="impl:InviaMailInteropRequest" />
      <wsdl:output name="InviaMailInteropResponse" message="impl:InviaMailInteropResponse" />
    </wsdl:operation>
    <wsdl:operation name="InviaMail">
      <wsdl:input name="InviaMailRequest" message="impl:InviaMailRequest" />
      <wsdl:output name="InviaMailResponse" message="impl:InviaMailResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsPostaWebSoapSoapBinding" type="impl:WsPostaWebSoap">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificaInvio">
      <wsdlsoap:operation soapAction="http://tempuri.org/VerificaInvio" />
      <wsdl:input name="VerificaInvioRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VerificaInvioResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviaMailInterop">
      <wsdlsoap:operation soapAction="http://tempuri.org/InviaMailInterop" />
      <wsdl:input name="InviaMailInteropRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InviaMailInteropResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviaMail">
      <wsdlsoap:operation soapAction="http://tempuri.org/InviaMail" />
      <wsdl:input name="InviaMailRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InviaMailResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsPostaWeb">
    <wsdl:port name="WsPostaWebSoap" binding="impl:WsPostaWebSoapSoapBinding">
      <wsdlsoap:address location="http://jiridetest:58080/client/services/WsPostaWebSoap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>