src/VBG.net/projects/Backoffice/SIGePro.Manager/Service References/IstanzeOneriService/istanzeoneri.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://gruppoinit.it/sigepro/schemas/messages/istanzeoneri" xmlns:tns="http://gruppoinit.it/sigepro/definitions/istanzeoneri" xmlns:p="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gruppoinit.it/sigepro/definitions/istanzeoneri" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <p:schema xmlns="http://www.w3.org/2001/XMLSchema">
      <p:import schemaLocation="http://devel9:8081/backend/services/istanzeoneri?xsd=istanzeoneri.xsd" namespace="http://gruppoinit.it/sigepro/schemas/messages/istanzeoneri" />
    </p:schema>
  </wsdl:types>
  <wsdl:message name="RegistraPagamentoRataRequest">
    <wsdl:part name="RegistraPagamentoRataRequest" element="sch:RegistraPagamentoRataRequest" />
  </wsdl:message>
  <wsdl:message name="RegistraPagamentoRataResponse">
    <wsdl:part name="RegistraPagamentoResponse" element="sch:RegistraPagamentoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertOnereRequest">
    <wsdl:part name="InsertOnereRequest" element="sch:InsertOnereRequest" />
  </wsdl:message>
  <wsdl:message name="RegistraPagamentoResponse">
    <wsdl:part name="RegistraPagamentoResponse" element="sch:RegistraPagamentoResponse" />
  </wsdl:message>
  <wsdl:message name="RegistraPagamentoRequest">
    <wsdl:part name="RegistraPagamentoRequest" element="sch:RegistraPagamentoRequest" />
  </wsdl:message>
  <wsdl:message name="InsertOnereResponse">
    <wsdl:part name="InsertOnereResponse" element="sch:InsertOnereResponse" />
  </wsdl:message>
  <wsdl:portType name="Istanzeoneri">
    <wsdl:operation name="RegistraPagamento">
      <wsdl:input name="RegistraPagamentoRequest" message="tns:RegistraPagamentoRequest" />
      <wsdl:output name="RegistraPagamentoResponse" message="tns:RegistraPagamentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="RegistraPagamentoRata">
      <wsdl:input name="RegistraPagamentoRataRequest" message="tns:RegistraPagamentoRataRequest" />
      <wsdl:output name="RegistraPagamentoRataResponse" message="tns:RegistraPagamentoRataResponse" />
    </wsdl:operation>
    <wsdl:operation name="InsertOnere">
      <wsdl:input name="InsertOnereRequest" message="tns:InsertOnereRequest" />
      <wsdl:output name="InsertOnereResponse" message="tns:InsertOnereResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IstanzeoneriSoap11" type="tns:Istanzeoneri">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistraPagamento">
      <soap:operation soapAction="RegistraPagamento" />
      <wsdl:input name="RegistraPagamentoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RegistraPagamentoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraPagamentoRata">
      <soap:operation soapAction="RegistraPagamentoRata" />
      <wsdl:input name="RegistraPagamentoRataRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RegistraPagamentoRataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOnere">
      <soap:operation soapAction="InsertOnere" />
      <wsdl:input name="InsertOnereRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InsertOnereResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IstanzeoneriWsService">
    <wsdl:port name="IstanzeoneriSoap11" binding="tns:IstanzeoneriSoap11">
      <soap:address location="http://devel9:8081/backend/services/istanzeoneri" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>