src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocollaAllegatiEGrammata2/ProtocollaAllegatiWsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://gruppoinit.it/schemas/messages/protocollaAllegati" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/schemas/messages/protocollaAllegati" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="ProtocollaAllegatiRequest" type="tns:ProtocollaAllegatiRequestType" />
  <element name="ProtocollaAllegatiResponse" type="tns:ProtocollaAllegatiResponseType" />
  <complexType name="ProtocollaAllegatiRequestType">
    <sequence>
      <element name="token" type="string" />
      <element name="codiceEnte" type="string" />
      <element name="userName" type="string" />
      <element name="password" type="string" />
      <element name="indirizzoIP" type="string" />
      <element name="xml" type="string" />
      <element minOccurs="0" name="hash" type="string" />
      <element name="userApp" type="string" />
      <element name="postazione" type="string" />
      <element minOccurs="0" maxOccurs="unbounded" name="codiciOggetto" type="int" />
      <element name="wsURLEGrammata" type="string" />
    </sequence>
  </complexType>
  <complexType name="ProtocollaAllegatiResponseType">
    <sequence>
      <element name="code" type="int" />
      <element name="message" type="string" />
    </sequence>
  </complexType>
</schema>