src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/DettagliProtocollo2Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:dProt2Res="http://insiel.it/protocollo/schemixsd/DettagliProtocollo2Response" xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/DettagliProtocollo2Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="DettagliProtocolloResponse">
    <xs:complexType>
      <xs:choice>
        <xs:element name="DettagliProtocollo" type="dProt2Res:DettagliProtocollo" />
        <xs:element name="Errore" type="TipiGenerali:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DettagliProtocollo">
    <xs:sequence>
      <xs:element name="InfoGenerali" type="TipiGenerali:DettagliProtocollo" />
      <xs:element minOccurs="0" name="Mittenti" type="dProt2Res:Mittenti" />
      <xs:element minOccurs="0" name="Destinatari" type="dProt2Res:Destinatari" />
      <xs:element minOccurs="0" name="Uffici" type="dProt2Res:Uffici" />
      <xs:element minOccurs="0" name="Precedenti" type="dProt2Res:Precedenti" />
      <xs:element minOccurs="0" name="Classifiche" type="dProt2Res:Classifiche" />
      <xs:element minOccurs="0" name="Documenti" type="dProt2Res:DocumentiAllegati" />
      <xs:element minOccurs="0" name="DocumentoInCarico" type="dProt2Res:DocumentoInCarico" />
      <xs:element minOccurs="0" name="Pratiche" type="dProt2Res:Pratiche" />
      <xs:element minOccurs="0" name="Mnemonici" type="dProt2Res:Mnemonici" />
      <xs:element minOccurs="0" name="Sigle" type="dProt2Res:Sigle" />
      <xs:element minOccurs="0" name="Allegati" type="dProt2Res:Allegati" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mittenti">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mittente" type="dProt2Res:Corrispondente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Destinatari">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Destinatario" type="dProt2Res:Corrispondente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Uffici">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ufficio" type="dProt2Res:Corrispondente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Precedenti">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Precedente" type="dProt2Res:Precedente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Precedente">
    <xs:sequence>
      <xs:element name="codUff" nillable="true" type="xs:string" />
      <xs:element name="codReg" nillable="true" type="xs:string" />
      <xs:element name="anno" nillable="true" type="TipiGenerali:anno" />
      <xs:element name="num" nillable="true" type="TipiGenerali:numero" />
      <xs:element name="subn" nillable="true" type="TipiGenerali:subNumero" />
      <xs:element name="verso" nillable="true" type="TipiGenerali:verso" />
      <xs:element name="tipoLegame" nillable="true" type="xs:string" />
      <xs:element name="tipoLegameDesc" nillable="true" type="xs:string" />
      <xs:element name="estremiProto" nillable="true" type="xs:string" />
      <xs:element name="idProt" nillable="true" type="TipiGenerali:IdProtocollo" />
      <xs:element name="progPrecedente" nillable="true" type="xs:integer" />
      <xs:element name="descTipoRife" nillable="true" type="xs:string" />
      <xs:element name="codTipoRife" nillable="true" type="xs:string" />
      <xs:element name="codTipoRifeCol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Corrispondente">
    <xs:sequence>
      <xs:element name="codUff" nillable="true" type="xs:string" />
      <xs:element name="descUff" nillable="true" type="xs:string" />
      <xs:element name="codCatRife" nillable="true" type="xs:string" />
      <xs:element name="codTipoRife" nillable="true" type="xs:string" />
      <xs:element name="descTipoRife" nillable="true" type="xs:string" />
      <xs:element name="codTipoDoc" nillable="true" type="xs:string" />
      <xs:element name="descTipoDoc" nillable="true" type="xs:string" />
      <xs:element name="dataRiferim" nillable="true" type="xs:date" />
      <xs:element name="numRiferim" nillable="true" type="xs:string" />
      <xs:element name="numCopie" nillable="true" type="xs:integer" />
      <xs:element name="note" nillable="true" type="xs:string" />
      <xs:element name="giaInviato" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Classifiche">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Classifica" type="TipiGenerali:ClassificaView" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentoInCarico">
    <xs:sequence>
      <xs:element minOccurs="0" name="descUff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descAna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dataCarico" nillable="true" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pratica">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>copiato in parte da ricerca prat</xs:documentation>
      </xs:annotation>
      <xs:element name="codice_ufficio" nillable="true" type="xs:string" />
      <xs:element name="codice_registro" nillable="true" type="TipiGenerali:ClassificaResponse" />
      <xs:element name="anno" nillable="true" type="xs:integer" />
      <xs:element name="numero" nillable="true" type="xs:integer" />
      <xs:element name="sub_numero" nillable="true" type="xs:string" />
      <xs:element name="data" nillable="true" type="xs:date" />
      <xs:element name="oggetto" nillable="true" type="xs:string" />
      <xs:element name="prog_doc" nillable="true" type="TipiGenerali:progDoc" />
      <xs:element name="prog_movi" nillable="true" type="TipiGenerali:progMovi" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pratiche">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pratica" type="dProt2Res:Pratica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentiAllegati">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documento" type="dProt2Res:DocumentoAllegato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentoAllegato">
    <xs:sequence>
      <xs:element name="nome" nillable="true" type="xs:string" />
      <xs:element name="idDoc" nillable="true" type="xs:long" />
      <xs:element name="tipoDoc" nillable="true" type="xs:string" />
      <xs:element name="tipo" nillable="true" type="xs:short" />
      <xs:element name="impronta" nillable="true" type="xs:string" />
      <xs:element name="flIop" nillable="true" type="xs:short" />
      <xs:element name="flDgr" nillable="true" type="xs:short" />
      <xs:element name="gestDocId" nillable="true" type="xs:long" />
      <xs:element name="flPrincipale" nillable="true" type="xs:short" />
      <xs:element name="gestDocIndir" nillable="true" type="xs:string" />
      <xs:element name="lungh" nillable="true" type="xs:long" />
      <xs:element name="est" nillable="true" type="xs:string" />
      <xs:element name="crc" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mnemonici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mnemonico" type="TipiGenerali:MnemonicoView" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Allegati">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Allegato" type="dProt2Res:Allegato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sigle">
    <xs:sequence>
      <xs:element name="operatoreCodice" nillable="true" type="xs:string" />
      <xs:element name="operatoreDescrizione" nillable="true" type="xs:string" />
      <xs:element name="estensoreCodice" nillable="true" type="xs:string" />
      <xs:element name="estensoreDescrizione" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Allegato">
    <xs:sequence>
      <xs:element name="oggetto" nillable="true" type="xs:string" />
      <xs:element name="importo" nillable="true" type="xs:decimal" />
      <xs:element name="valuta" nillable="true" type="xs:string" />
      <xs:element name="valutaDesc" nillable="true" type="xs:string" />
      <xs:element name="tipoAllegato" nillable="true" type="xs:string" />
      <xs:element name="tipoAllegatoDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>