src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/getTipiDocRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:gtdocReq="http://insiel.it/protocollo/schemixsd/getTipiDocRequest" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/getTipiDocRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="getTipiDocRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Utente" type="tgen:Utente" />
        <xs:element minOccurs="0" name="categoria" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="POST" />
              <xs:enumeration value="PRAT" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>