src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService/InterrogazioneAnagraficaResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:intAnaRes="http://insiel.it/protocollo/schemixsd/InterrogazioneAnagraficaResponse" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/InterrogazioneAnagraficaResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="InterrogazioneAnagraficaResponse">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="intAnaRes:Anagrafica" />
        <xs:element name="Errore" type="tgen:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Anagrafica">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cod_ana" nillable="true" type="xs:string" />
        <xs:element name="desc_ana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cod_tipo_ana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="denominaz" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indirizzo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localita" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codfis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="piva" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cod_qual_dipe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sigla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datanasc" nillable="true" type="xs:date" />
        <xs:element minOccurs="0" name="locnasc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provnasc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="e_mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cod_tipol_ana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cod_iop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cod_amm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="e_mail_iop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="disattivato" nillable="true" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>