src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/AperturaPraticaResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:apres="http://insiel.it/protocollo/schemixsd/AperturaPraticaResponse" xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/AperturaPraticaResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="AperturaPraticaResponse">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="PraticaAperta" type="apres:PraticaAperta" />
        <xs:element name="Errore" type="TipiGenerali:Errore" />
      </xs:choice>
      <xs:attribute name="esito" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PraticaAperta">
    <xs:complexContent mixed="false">
      <xs:extension base="TipiGenerali:PraticaResponse">
        <xs:sequence>
          <xs:element name="dataApertura" type="xs:date" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>