src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/DettagliProtocollo3Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:TipiGenerali="http://insiel.it/protocollo/schemixsd/TipiGenerali" xmlns:dProt3Req="http://insiel.it/protocollo/schemixsd/DettagliProtocollo3Request" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/DettagliProtocollo3Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="DettagliProtocolloRequest">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Utente" type="TipiGenerali:Utente" />
        <xs:element name="Registrazione" type="TipiGenerali:ProtocolloRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>