src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloInsielService2/InterrogazionePrecedentiRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:intPrecReq="http://insiel.it/protocollo/schemixsd/InterrogazionePrecedentiRequest" xmlns:tgen="http://insiel.it/protocollo/schemixsd/TipiGenerali" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://insiel.it/protocollo/schemixsd/InterrogazionePrecedentiRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tipi_generali.xsd" namespace="http://insiel.it/protocollo/schemixsd/TipiGenerali" />
  <xs:element name="InterrogazionePrecedentiRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="utente" type="tgen:Utente" />
        <xs:element name="Registrazione" type="tgen:ProtocolloRequest" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>