src/vbg.net/areariservata/projects/UI/WSSigeproExport/Web References/login/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://init.sigepro.it" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://init.sigepro.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://init.sigepro.it">
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idComune" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="adminOption" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SSOAuthenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idComune" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anagrafica" type="tns:Anagrafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Anagrafe">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICEANAGRAFE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NOMINATIVO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="REFERENTE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FORMAGIURIDICA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TIPOLOGIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="INDIRIZZO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CITTA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CAP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TELEFONO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TELEFONOCELLULARE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FAX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PARTITAIVA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEFISCALE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NOTE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="REGDITTE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="REGTRIB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODCOMREGDITTE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODCOMREGTRIB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODCOMNASCITA" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATANASCITA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAREGDITTE" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAREGTRIB" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="INVIOEMAIL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SESSO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NOME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TIPOANAGRAFE" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATANOMINATIVO" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="INVIOEMAILTEC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICECITTADINANZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="COMUNERESIDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="INDIRIZZOCORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CITTACORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CAPCORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIACORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="COMUNECORRISPONDENZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIAREA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NUMISCRREA" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAISCRREA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="FLAG_NOPROFIT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FLAG_DISABILITATO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATA_DISABILITATO" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEELENCOPRO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NUMEROELENCOPRO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIAELENCOPRO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TitoloClass" type="tns:Titoli" />
              <s:element minOccurs="0" maxOccurs="1" name="ElencoProfessionale" type="tns:ElenchiProfessionaliBase" />
              <s:element minOccurs="0" maxOccurs="1" name="FormaGiuridicaClass" type="tns:FormeGiuridiche" />
              <s:element minOccurs="0" maxOccurs="1" name="AnagrafeDocumenti" type="tns:ArrayOfAnagrafeDocumenti" />
              <s:element minOccurs="0" maxOccurs="1" name="AnagrafeDyn2ModelliT" type="tns:ArrayOfAnagrafeDyn2ModelliT" />
              <s:element minOccurs="0" maxOccurs="1" name="AnagrafeDyn2Dati" type="tns:ArrayOfAnagrafeDyn2Dati" />
              <s:element minOccurs="0" maxOccurs="1" name="DynDati" type="tns:ArrayOfDynDati" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneNascita" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneRegDitte" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneRegTrib" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneCorrispondenza" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="ComuneResidenza" type="tns:Comuni" />
              <s:element minOccurs="0" maxOccurs="1" name="Cittadinanza" type="tns:Cittadinanza" />
              <s:element minOccurs="0" maxOccurs="1" name="PresenzeStoriche" type="tns:ArrayOfMercatiPresenzeStorico" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseDataClass">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataClass" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataClass" />
      <s:complexType name="MercatiPresenzeStorico">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Idcomune" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Fkcodicemercato" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Fkidmercatiuso" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Codiceanagrafe" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Anno" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Numeropresenze" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentAut" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Anagrafe" type="tns:Anagrafe" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Cittadinanza">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CITTADINANZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CF" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DISABILITATO" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="VwProvince">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SiglaProvincia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Comuni">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICECOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="COMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SIGLAPROVINCIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PROVINCIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="REGIONE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CAP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CF" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEISTAT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEISTATREGIONE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICESTATOESTERO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProvinciaClass" type="tns:VwProvince" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DynDati">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICERECORDCORRELATO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICECAMPO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FKIDTESTATA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VALORE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="tns:Oggetti" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Oggetti">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICEOGGETTO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OGGETTO" type="s:base64Binary" />
              <s:element minOccurs="0" maxOccurs="1" name="NOMEFILE" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AnagrafeDyn2Dati">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Idcomune" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Codiceanagrafe" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FkD2cId" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Indice" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Valore" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AnagrafeDyn2ModelliT">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Idcomune" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Codiceanagrafe" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FkD2mtId" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AnagrafeDocumenti">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEANAGRAFE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDTIPODOCUMENTO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAREGISTRAZIONE" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEISTANZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICEOGGETTO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAINIZIOVALIDITA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="RIFDOCUMENTO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATAFINEVALIDITA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ANNOTAZIONI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="tns:Oggetti" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FormeGiuridiche">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICEFORMAGIURIDICA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FORMAGIURIDICA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CODICECCIAA" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ElenchiProfessionaliBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EP_ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EP_DESCRIZIONE" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Titoli">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CODICETITOLO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDCOMUNE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAnagrafeDocumenti">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AnagrafeDocumenti" nillable="true" type="tns:AnagrafeDocumenti" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnagrafeDyn2ModelliT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AnagrafeDyn2ModelliT" nillable="true" type="tns:AnagrafeDyn2ModelliT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnagrafeDyn2Dati">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AnagrafeDyn2Dati" nillable="true" type="tns:AnagrafeDyn2Dati" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDynDati">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DynDati" nillable="true" type="tns:DynDati" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMercatiPresenzeStorico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MercatiPresenzeStorico" nillable="true" type="tns:MercatiPresenzeStorico" />
        </s:sequence>
      </s:complexType>
      <s:element name="SSOAuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SSOAuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ambiente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenInfoResult" type="tns:AuthenticationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticationInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataClass">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdComune" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LastRequest" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ConnectionString" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CodiceResponsabile" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Provider" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Ambiente" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DBUser" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DBPassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DBOwner" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DBMSName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SoftwareAttivi" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SoftwareAttiviFO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SecurityList">
        <s:complexType />
      </s:element>
      <s:element name="SecurityListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateContext">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idComune" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoContesto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateContextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateContextResult" type="tns:AuthenticationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:Anagrafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertUserResult" type="tns:AnagrafeResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AnagrafeResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceAnagrafe" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePasswordResult" type="tns:AnagrafeResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="AuthenticationInfo" nillable="true" type="tns:AuthenticationInfo" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnagrafeResponse" nillable="true" type="tns:AnagrafeResponse" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="SSOAuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:SSOAuthenticate" />
  </wsdl:message>
  <wsdl:message name="SSOAuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:SSOAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTokenSoapIn">
    <wsdl:part name="parameters" element="tns:CheckToken" />
  </wsdl:message>
  <wsdl:message name="CheckTokenSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTokenInfo" />
  </wsdl:message>
  <wsdl:message name="GetTokenInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityListSoapIn">
    <wsdl:part name="parameters" element="tns:SecurityList" />
  </wsdl:message>
  <wsdl:message name="SecurityListSoapOut">
    <wsdl:part name="parameters" element="tns:SecurityListResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateContextSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateContext" />
  </wsdl:message>
  <wsdl:message name="AuthenticateContextSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateContextResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetIn">
    <wsdl:part name="idComune" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="adminOption" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckTokenHttpGetIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenInfoHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="ambiente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:AuthenticationInfo" />
  </wsdl:message>
  <wsdl:message name="SecurityListHttpGetIn" />
  <wsdl:message name="SecurityListHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="AuthenticateContextHttpGetIn">
    <wsdl:part name="idComune" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="tipoContesto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateContextHttpGetOut">
    <wsdl:part name="Body" element="tns:AuthenticationInfo" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:AnagrafeResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostIn">
    <wsdl:part name="idComune" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="adminOption" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckTokenHttpPostIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenInfoHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="ambiente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:AuthenticationInfo" />
  </wsdl:message>
  <wsdl:message name="SecurityListHttpPostIn" />
  <wsdl:message name="SecurityListHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="AuthenticateContextHttpPostIn">
    <wsdl:part name="idComune" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="tipoContesto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateContextHttpPostOut">
    <wsdl:part name="Body" element="tns:AuthenticationInfo" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:AnagrafeResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginSoap">
    <wsdl:operation name="Authenticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare l'autenticazione di un utente del comune o di un utente esterno (ad es. FO)</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SSOAuthenticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo utilizzato per autenticare un richiedente/tecnico nel front-office </wsdl:documentation>
      <wsdl:input message="tns:SSOAuthenticateSoapIn" />
      <wsdl:output message="tns:SSOAuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per verificare la validità di un token di autenticazione</wsdl:documentation>
      <wsdl:input message="tns:CheckTokenSoapIn" />
      <wsdl:output message="tns:CheckTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per ottenere tutte le informazioni utili per la connessione</wsdl:documentation>
      <wsdl:input message="tns:GetTokenInfoSoapIn" />
      <wsdl:output message="tns:GetTokenInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SecurityList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per ottenere la lista dei comuni installati</wsdl:documentation>
      <wsdl:input message="tns:SecurityListSoapIn" />
      <wsdl:output message="tns:SecurityListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateContext">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare l'autenticazione di un utente del comune, di un tecnico o di un utente esterno (ad es. FO)</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateContextSoapIn" />
      <wsdl:output message="tns:AuthenticateContextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare la registrazione di un tecnico</wsdl:documentation>
      <wsdl:input message="tns:InsertUserSoapIn" />
      <wsdl:output message="tns:InsertUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare l'aggiornamento della password di un tecnico</wsdl:documentation>
      <wsdl:input message="tns:UpdatePasswordSoapIn" />
      <wsdl:output message="tns:UpdatePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginHttpGet">
    <wsdl:operation name="Authenticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare l'autenticazione di un utente del comune o di un utente esterno (ad es. FO)</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateHttpGetIn" />
      <wsdl:output message="tns:AuthenticateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per verificare la validità di un token di autenticazione</wsdl:documentation>
      <wsdl:input message="tns:CheckTokenHttpGetIn" />
      <wsdl:output message="tns:CheckTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per ottenere tutte le informazioni utili per la connessione</wsdl:documentation>
      <wsdl:input message="tns:GetTokenInfoHttpGetIn" />
      <wsdl:output message="tns:GetTokenInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SecurityList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per ottenere la lista dei comuni installati</wsdl:documentation>
      <wsdl:input message="tns:SecurityListHttpGetIn" />
      <wsdl:output message="tns:SecurityListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateContext">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare l'autenticazione di un utente del comune, di un tecnico o di un utente esterno (ad es. FO)</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateContextHttpGetIn" />
      <wsdl:output message="tns:AuthenticateContextHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare l'aggiornamento della password di un tecnico</wsdl:documentation>
      <wsdl:input message="tns:UpdatePasswordHttpGetIn" />
      <wsdl:output message="tns:UpdatePasswordHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginHttpPost">
    <wsdl:operation name="Authenticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare l'autenticazione di un utente del comune o di un utente esterno (ad es. FO)</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateHttpPostIn" />
      <wsdl:output message="tns:AuthenticateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per verificare la validità di un token di autenticazione</wsdl:documentation>
      <wsdl:input message="tns:CheckTokenHttpPostIn" />
      <wsdl:output message="tns:CheckTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per ottenere tutte le informazioni utili per la connessione</wsdl:documentation>
      <wsdl:input message="tns:GetTokenInfoHttpPostIn" />
      <wsdl:output message="tns:GetTokenInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SecurityList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per ottenere la lista dei comuni installati</wsdl:documentation>
      <wsdl:input message="tns:SecurityListHttpPostIn" />
      <wsdl:output message="tns:SecurityListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateContext">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare l'autenticazione di un utente del comune, di un tecnico o di un utente esterno (ad es. FO)</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateContextHttpPostIn" />
      <wsdl:output message="tns:AuthenticateContextHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo usato per effettuare l'aggiornamento della password di un tecnico</wsdl:documentation>
      <wsdl:input message="tns:UpdatePasswordHttpPostIn" />
      <wsdl:output message="tns:UpdatePasswordHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginSoap" type="tns:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://init.sigepro.it/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SSOAuthenticate">
      <soap:operation soapAction="http://init.sigepro.it/SSOAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <soap:operation soapAction="http://init.sigepro.it/CheckToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenInfo">
      <soap:operation soapAction="http://init.sigepro.it/GetTokenInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityList">
      <soap:operation soapAction="http://init.sigepro.it/SecurityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateContext">
      <soap:operation soapAction="http://init.sigepro.it/AuthenticateContext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://init.sigepro.it/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://init.sigepro.it/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://init.sigepro.it/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SSOAuthenticate">
      <soap12:operation soapAction="http://init.sigepro.it/SSOAuthenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <soap12:operation soapAction="http://init.sigepro.it/CheckToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenInfo">
      <soap12:operation soapAction="http://init.sigepro.it/GetTokenInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityList">
      <soap12:operation soapAction="http://init.sigepro.it/SecurityList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateContext">
      <soap12:operation soapAction="http://init.sigepro.it/AuthenticateContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap12:operation soapAction="http://init.sigepro.it/InsertUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://init.sigepro.it/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginHttpGet" type="tns:LoginHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <http:operation location="/CheckToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenInfo">
      <http:operation location="/GetTokenInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityList">
      <http:operation location="/SecurityList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateContext">
      <http:operation location="/AuthenticateContext" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <http:operation location="/UpdatePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginHttpPost" type="tns:LoginHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <http:operation location="/CheckToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenInfo">
      <http:operation location="/GetTokenInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityList">
      <http:operation location="/SecurityList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateContext">
      <http:operation location="/AuthenticateContext" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <http:operation location="/UpdatePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="LoginSoap" binding="tns:LoginSoap">
      <soap:address location="http://devel3/aspnet/webservices/wssigeprologin/login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
      <soap12:address location="http://devel3/aspnet/webservices/wssigeprologin/login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginHttpGet" binding="tns:LoginHttpGet">
      <http:address location="http://devel3/aspnet/webservices/wssigeprologin/login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginHttpPost" binding="tns:LoginHttpPost">
      <http:address location="http://devel3/aspnet/webservices/wssigeprologin/login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>