src/vbg.net/areariservata/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloDatagraphService/protocollazioneDatagraph.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodEnte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginRet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Inserimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InserimentoResult" type="tns:InserimentoRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InserimentoRet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="lngDocID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Protocollazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProtocollazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProtocollazioneResult" type="tns:ProtocollazioneRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProtocollazioneRet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="lngNumPG" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="lngAnnoPG" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strDataPG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestInvioSegnalazioni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestInvioSegnalazioniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestInvioSegnalazioniResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggiungiDocumento2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnnoReg" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroReg" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NomeFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggiungiDocumento2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AggiungiDocumento2Result" type="tns:InserimentoRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggiungiDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnnoReg" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroReg" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" ref="DescDoc" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggiungiDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AggiungiDocumentoResult" type="tns:InserimentoRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegistrazioni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FiltroUO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FiltroTitolario" type="tns:VoceTitolario" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VoceTitolario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Titolo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Classe" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sottoclasse" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRegistrazioniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegistrazioniResult" type="tns:RegistrazioniRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegistrazioniRet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfSegnatura" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSegnatura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Segnatura" nillable="true" type="Segnatura" />
        </s:sequence>
      </s:complexType>
      <s:element name="CercaRegistrazioni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Criteri" type="tns:CriteriRicerca" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CriteriRicerca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Flusso" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DaAnno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdAnno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DaNumero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ANumero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DaDataReg" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ADataReg" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Fascicolo" type="tns:FascicoloNet" />
          <s:element minOccurs="0" maxOccurs="1" name="FiltroUO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Persona" type="Persona" />
          <s:element minOccurs="1" maxOccurs="1" name="Fascicolati" type="tns:enFiltroFasc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FascicoloNet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Titolario" type="tns:VoceTitolario" />
          <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SottoFasc" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataApertura" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="enFiltroFasc">
        <s:restriction base="s:string">
          <s:enumeration value="NonDefinito" />
          <s:enumeration value="SoloFascicolati" />
          <s:enumeration value="SoloNonFascicolati" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CercaRegistrazioniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CercaRegistrazioniResult" type="tns:RegistrazioniRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegistrazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Accetta" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegistrazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegistrazioneResult" type="tns:RegistrazioneRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegistrazioneRet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Registrazione" type="Segnatura" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRegistrazione2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Accetta" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegistrazione2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegistrazione2Result" type="tns:RegistrazioneRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificaFascicoloRegistrazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NuovoFascicolo" type="tns:FascicoloNet" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificaFascicoloRegistrazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificaFascicoloRegistrazioneResult" type="tns:RegistrazioneRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVociTitolario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Titolo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Classe" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVociTitolarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVociTitolarioResult" type="tns:VociTitolarioRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VociTitolarioRet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Voci" type="tns:ArrayOfVoceTitolario" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVoceTitolario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VoceTitolario" nillable="true" type="tns:VoceTitolario" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerificaFascicolo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatiFascicolo" type="tns:FascicoloNet" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaFascicoloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificaFascicoloResult" type="tns:InserimentoRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFascicoli">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FiltroUO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FiltroTitolario" type="tns:VoceTitolario" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFascicoliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFascicoliResult" type="tns:FascicoliRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FascicoliRet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfFascicoloNet" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFascicoloNet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FascicoloNet" nillable="true" type="tns:FascicoloNet" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFascicolo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoFasc" type="tns:FascicoloNet" />
            <s:element minOccurs="1" maxOccurs="1" name="includiDocInformali" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFascicoloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFascicoloResult" type="tns:FascicoloRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FascicoloRet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fascicolo" type="tns:FascicoloNetDettaglio" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FascicoloNetDettaglio">
        <s:complexContent mixed="false">
          <s:extension base="tns:FascicoloNet">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CountRegistrazioni" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ListaRegistrazioni" type="tns:ArrayOfSegnatura" />
              <s:element minOccurs="1" maxOccurs="1" name="CountSottoFasc" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ListaSottoFasc" type="tns:ArrayOfFascicoloNet" />
              <s:element minOccurs="1" maxOccurs="1" name="CountDocumenti" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ListaDocumenti" type="tns:ArrayOfDocumento" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="Documento" />
        </s:sequence>
      </s:complexType>
      <s:element name="FascicolaDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FascDest" type="tns:FascicoloNet" />
            <s:element minOccurs="0" maxOccurs="1" ref="DescDoc" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FascicolaDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FascicolaDocumentoResult" type="tns:InserimentoRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificaFascicoloDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDDoc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FascDest" type="tns:FascicoloNet" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificaFascicoloDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificaFascicoloDocumentoResult" type="tns:InserimentoRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDDoc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentoResult" type="tns:DocumentoRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DocumentoRet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DescDoc" type="Documento" />
          <s:element minOccurs="0" maxOccurs="1" name="Fascicolo" type="tns:FascicoloNet" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDocumentoReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDDoc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentoRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentoRegResult" type="tns:DocumentoRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FiltroFasc" type="tns:FascicoloNet" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentiResult" type="tns:DocumentiRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DocumentiRet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfDocumento" />
          <s:element minOccurs="1" maxOccurs="1" name="lngErrNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="strErrString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreaFascicolo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatiFascicolo" type="tns:FascicoloNet" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreaFascicoloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreaFascicoloResult" type="tns:InserimentoRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InviaMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TestoMail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="WithSegnaturaXML" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InviaMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InviaMailResult" type="tns:RegistrazioneRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InviaMail2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TestoMail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="WithSegnaturaXML" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountMailMittente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InviaMail2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InviaMail2Result" type="tns:RegistrazioneRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RichiediPubblicazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DataIniPub" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="GiorniPubb" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoAtto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RichiediPubblicazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RichiediPubblicazioneResult" type="tns:RegistrazioneRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RichiediNotifica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DataIniNot" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="GiorniScadenza" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoAtto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RichiediNotificaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RichiediNotificaResult" type="tns:RegistrazioneRet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified">
      <s:element name="DescDoc" type="Documento" />
      <s:complexType name="Documento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DescrizioneDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
        </s:sequence>
        <s:attribute name="id" type="s:long" use="required" />
        <s:attribute name="nome" type="s:string" />
      </s:complexType>
      <s:complexType name="Segnatura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Intestazione" type="Intestazione" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="Descrizione" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicativoProtocollo" type="ApplicativoProtocollo" />
        </s:sequence>
        <s:attribute name="noNamespaceSchemaLocation" type="s:string" />
      </s:complexType>
      <s:complexType name="Intestazione">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identificatore" type="Identificatore" />
          <s:element minOccurs="0" maxOccurs="1" name="Mittente" type="Mittente" />
          <s:element minOccurs="0" maxOccurs="1" name="Destinatario" type="Destinatario" />
          <s:element minOccurs="0" maxOccurs="1" name="Classifica" type="Classifica" />
          <s:element minOccurs="0" maxOccurs="1" name="Fascicolo" type="Fascicolo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Identificatore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroRegistrazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataRegistrazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Flusso" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mittente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Amministrazione" type="Amministrazione" />
          <s:element minOccurs="0" maxOccurs="1" name="AOO" type="AOO" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Persona" type="Persona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Amministrazione">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Denominazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndirizzoTelematico" type="IndirizzoTelematico" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitaOrganizzativa" type="UnitaOrganizzativa" />
          <s:element minOccurs="0" maxOccurs="1" name="IndirizzoPostale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Persona" type="Persona" />
          <s:element minOccurs="0" maxOccurs="1" name="Ruolo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IndirizzoTelematico">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="tipo" type="s:string" />
            <s:attribute name="note" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="UnitaOrganizzativa">
        <s:attribute name="id" type="s:string" />
      </s:complexType>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identificativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Denominazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndirizzoTelematico" type="IndirizzoTelematico" />
        </s:sequence>
        <s:attribute name="id" type="s:string" />
      </s:complexType>
      <s:complexType name="AOO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Denominazione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Destinatario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Persona" type="Persona" />
          <s:element minOccurs="0" maxOccurs="1" name="AOO" type="AOO" />
          <s:element minOccurs="0" maxOccurs="1" name="Amministrazione" type="Amministrazione" />
          <s:element minOccurs="0" maxOccurs="1" name="IndirizzoTelematico" type="IndirizzoTelematico" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndirizzoPostale" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Classifica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceAmministrazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceAOO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceTitolario" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fascicolo">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="numero" type="s:string" />
            <s:attribute name="anno" type="s:string" />
            <s:attribute name="sottofascicolo" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="Descrizione">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="Documento" />
          <s:element minOccurs="0" maxOccurs="1" name="Allegati" type="Allegati" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Allegati">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Documento" type="Documento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplicativoProtocollo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Parametro" type="Parametro" />
        </s:sequence>
        <s:attribute name="nome" type="s:string" />
      </s:complexType>
      <s:complexType name="Parametro">
        <s:attribute name="nome" type="s:string" />
        <s:attribute name="valore" type="s:string" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="InserimentoSoapIn">
    <wsdl:part name="parameters" element="tns:Inserimento" />
  </wsdl:message>
  <wsdl:message name="InserimentoSoapOut">
    <wsdl:part name="parameters" element="tns:InserimentoResponse" />
  </wsdl:message>
  <wsdl:message name="ProtocollazioneSoapIn">
    <wsdl:part name="parameters" element="tns:Protocollazione" />
  </wsdl:message>
  <wsdl:message name="ProtocollazioneSoapOut">
    <wsdl:part name="parameters" element="tns:ProtocollazioneResponse" />
  </wsdl:message>
  <wsdl:message name="TestInvioSegnalazioniSoapIn">
    <wsdl:part name="parameters" element="tns:TestInvioSegnalazioni" />
  </wsdl:message>
  <wsdl:message name="TestInvioSegnalazioniSoapOut">
    <wsdl:part name="parameters" element="tns:TestInvioSegnalazioniResponse" />
  </wsdl:message>
  <wsdl:message name="AggiungiDocumento2SoapIn">
    <wsdl:part name="parameters" element="tns:AggiungiDocumento2" />
  </wsdl:message>
  <wsdl:message name="AggiungiDocumento2SoapOut">
    <wsdl:part name="parameters" element="tns:AggiungiDocumento2Response" />
  </wsdl:message>
  <wsdl:message name="AggiungiDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:AggiungiDocumento" />
  </wsdl:message>
  <wsdl:message name="AggiungiDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:AggiungiDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegistrazioniSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegistrazioni" />
  </wsdl:message>
  <wsdl:message name="GetRegistrazioniSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegistrazioniResponse" />
  </wsdl:message>
  <wsdl:message name="CercaRegistrazioniSoapIn">
    <wsdl:part name="parameters" element="tns:CercaRegistrazioni" />
  </wsdl:message>
  <wsdl:message name="CercaRegistrazioniSoapOut">
    <wsdl:part name="parameters" element="tns:CercaRegistrazioniResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegistrazioneSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegistrazione" />
  </wsdl:message>
  <wsdl:message name="GetRegistrazioneSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegistrazioneResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegistrazione2SoapIn">
    <wsdl:part name="parameters" element="tns:GetRegistrazione2" />
  </wsdl:message>
  <wsdl:message name="GetRegistrazione2SoapOut">
    <wsdl:part name="parameters" element="tns:GetRegistrazione2Response" />
  </wsdl:message>
  <wsdl:message name="ModificaFascicoloRegistrazioneSoapIn">
    <wsdl:part name="parameters" element="tns:ModificaFascicoloRegistrazione" />
  </wsdl:message>
  <wsdl:message name="ModificaFascicoloRegistrazioneSoapOut">
    <wsdl:part name="parameters" element="tns:ModificaFascicoloRegistrazioneResponse" />
  </wsdl:message>
  <wsdl:message name="GetVociTitolarioSoapIn">
    <wsdl:part name="parameters" element="tns:GetVociTitolario" />
  </wsdl:message>
  <wsdl:message name="GetVociTitolarioSoapOut">
    <wsdl:part name="parameters" element="tns:GetVociTitolarioResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaFascicoloSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaFascicolo" />
  </wsdl:message>
  <wsdl:message name="VerificaFascicoloSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="GetFascicoliSoapIn">
    <wsdl:part name="parameters" element="tns:GetFascicoli" />
  </wsdl:message>
  <wsdl:message name="GetFascicoliSoapOut">
    <wsdl:part name="parameters" element="tns:GetFascicoliResponse" />
  </wsdl:message>
  <wsdl:message name="GetFascicoloSoapIn">
    <wsdl:part name="parameters" element="tns:GetFascicolo" />
  </wsdl:message>
  <wsdl:message name="GetFascicoloSoapOut">
    <wsdl:part name="parameters" element="tns:GetFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="FascicolaDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:FascicolaDocumento" />
  </wsdl:message>
  <wsdl:message name="FascicolaDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:FascicolaDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificaFascicoloDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:ModificaFascicoloDocumento" />
  </wsdl:message>
  <wsdl:message name="ModificaFascicoloDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:ModificaFascicoloDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumento" />
  </wsdl:message>
  <wsdl:message name="GetDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentoRegSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentoReg" />
  </wsdl:message>
  <wsdl:message name="GetDocumentoRegSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentoRegResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentiSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumenti" />
  </wsdl:message>
  <wsdl:message name="GetDocumentiSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentiResponse" />
  </wsdl:message>
  <wsdl:message name="CreaFascicoloSoapIn">
    <wsdl:part name="parameters" element="tns:CreaFascicolo" />
  </wsdl:message>
  <wsdl:message name="CreaFascicoloSoapOut">
    <wsdl:part name="parameters" element="tns:CreaFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="InviaMailSoapIn">
    <wsdl:part name="parameters" element="tns:InviaMail" />
  </wsdl:message>
  <wsdl:message name="InviaMailSoapOut">
    <wsdl:part name="parameters" element="tns:InviaMailResponse" />
  </wsdl:message>
  <wsdl:message name="InviaMail2SoapIn">
    <wsdl:part name="parameters" element="tns:InviaMail2" />
  </wsdl:message>
  <wsdl:message name="InviaMail2SoapOut">
    <wsdl:part name="parameters" element="tns:InviaMail2Response" />
  </wsdl:message>
  <wsdl:message name="RichiediPubblicazioneSoapIn">
    <wsdl:part name="parameters" element="tns:RichiediPubblicazione" />
  </wsdl:message>
  <wsdl:message name="RichiediPubblicazioneSoapOut">
    <wsdl:part name="parameters" element="tns:RichiediPubblicazioneResponse" />
  </wsdl:message>
  <wsdl:message name="RichiediNotificaSoapIn">
    <wsdl:part name="parameters" element="tns:RichiediNotifica" />
  </wsdl:message>
  <wsdl:message name="RichiediNotificaSoapOut">
    <wsdl:part name="parameters" element="tns:RichiediNotificaResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:portType name="DOCAREAprotoSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login per Servizio di Protocollazione DOCAREA</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inserimento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserimento di documenti per la registrazione in preparazione</wsdl:documentation>
      <wsdl:input message="tns:InserimentoSoapIn" />
      <wsdl:output message="tns:InserimentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Protocollazione">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Protocollazione del documento</wsdl:documentation>
      <wsdl:input message="tns:ProtocollazioneSoapIn" />
      <wsdl:output message="tns:ProtocollazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestInvioSegnalazioni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ottiene una registrazione di protocollo comprensiva dei sui allegati e se necessario ne conferma la 'presa in carico'</wsdl:documentation>
      <wsdl:input message="tns:TestInvioSegnalazioniSoapIn" />
      <wsdl:output message="tns:TestInvioSegnalazioniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiDocumento2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aggiunta di un documento ad una registrazione di Protocollo</wsdl:documentation>
      <wsdl:input message="tns:AggiungiDocumento2SoapIn" />
      <wsdl:output message="tns:AggiungiDocumento2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aggiunta di un documento ad una registrazione di Protocollo</wsdl:documentation>
      <wsdl:input message="tns:AggiungiDocumentoSoapIn" />
      <wsdl:output message="tns:AggiungiDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrazioni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce l'elenco delle registrazioni assegnate. Possibilità di specificare filtro per UO e/o Voce di Classificazione</wsdl:documentation>
      <wsdl:input message="tns:GetRegistrazioniSoapIn" />
      <wsdl:output message="tns:GetRegistrazioniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CercaRegistrazioni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce un elenco di registrazioni in base a dei criteri di ricerca.</wsdl:documentation>
      <wsdl:input message="tns:CercaRegistrazioniSoapIn" />
      <wsdl:output message="tns:CercaRegistrazioniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrazione">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ottiene una registrazione di protocollo comprensiva dei sui allegati e se necessario ne conferma la 'presa in carico'</wsdl:documentation>
      <wsdl:input message="tns:GetRegistrazioneSoapIn" />
      <wsdl:output message="tns:GetRegistrazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrazione2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ottiene una registrazione di protocollo SENZA allegati e se necessario ne conferma la 'presa in carico'</wsdl:documentation>
      <wsdl:input message="tns:GetRegistrazione2SoapIn" />
      <wsdl:output message="tns:GetRegistrazione2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificaFascicoloRegistrazione">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permette di modificare il Fascicolo di Archiviazione di una Registrazione di Protocollo</wsdl:documentation>
      <wsdl:input message="tns:ModificaFascicoloRegistrazioneSoapIn" />
      <wsdl:output message="tns:ModificaFascicoloRegistrazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVociTitolario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce l'elenco di voci di ramo del titolario</wsdl:documentation>
      <wsdl:input message="tns:GetVociTitolarioSoapIn" />
      <wsdl:output message="tns:GetVociTitolarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaFascicolo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifica l'esistenza e l'accessibilità del Fascicolo</wsdl:documentation>
      <wsdl:input message="tns:VerificaFascicoloSoapIn" />
      <wsdl:output message="tns:VerificaFascicoloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFascicoli">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce l'elenco dei fascicoli con la possibilità di filtrare per UO e/o classificazione</wsdl:documentation>
      <wsdl:input message="tns:GetFascicoliSoapIn" />
      <wsdl:output message="tns:GetFascicoliSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFascicolo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce il Dettaglio di un Fascicolo, compreso elenco Registrazioni, ElencoSottofascicoli ed elenco documenti informali</wsdl:documentation>
      <wsdl:input message="tns:GetFascicoloSoapIn" />
      <wsdl:output message="tns:GetFascicoloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FascicolaDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Fascicolazione di un documento che non richiede protocollazione</wsdl:documentation>
      <wsdl:input message="tns:FascicolaDocumentoSoapIn" />
      <wsdl:output message="tns:FascicolaDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificaFascicoloDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permette di spostare un documento già fascicolato in un fascicolo differente</wsdl:documentation>
      <wsdl:input message="tns:ModificaFascicoloDocumentoSoapIn" />
      <wsdl:output message="tns:ModificaFascicoloDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permette di recuperare un documento fascicolato in base all'ID univoco</wsdl:documentation>
      <wsdl:input message="tns:GetDocumentoSoapIn" />
      <wsdl:output message="tns:GetDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentoReg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permette di recuperare un documento di una Registrazione in base all'ID univoco</wsdl:documentation>
      <wsdl:input message="tns:GetDocumentoRegSoapIn" />
      <wsdl:output message="tns:GetDocumentoRegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumenti">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permette di recuperare la lista dei documenti informali di un fascicolo</wsdl:documentation>
      <wsdl:input message="tns:GetDocumentiSoapIn" />
      <wsdl:output message="tns:GetDocumentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreaFascicolo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creazione di un fascicolo</wsdl:documentation>
      <wsdl:input message="tns:CreaFascicoloSoapIn" />
      <wsdl:output message="tns:CreaFascicoloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InviaMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Esegue l'invio tramite mail di una registrazione di Protocollo</wsdl:documentation>
      <wsdl:input message="tns:InviaMailSoapIn" />
      <wsdl:output message="tns:InviaMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InviaMail2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Esegue l'invio tramite mail di una registrazione di Protocollo</wsdl:documentation>
      <wsdl:input message="tns:InviaMail2SoapIn" />
      <wsdl:output message="tns:InviaMail2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RichiediPubblicazione">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiede la prenotazione di Pubblicazione di una registrazione</wsdl:documentation>
      <wsdl:input message="tns:RichiediPubblicazioneSoapIn" />
      <wsdl:output message="tns:RichiediPubblicazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RichiediNotifica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiede la prenotazione di Notifica per tutti i destinatari di una registrazione in Partenza</wsdl:documentation>
      <wsdl:input message="tns:RichiediNotificaSoapIn" />
      <wsdl:output message="tns:RichiediNotificaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Esegue il LogOut e libera risorse e file temporanei dal server</wsdl:documentation>
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOCAREAprotoSoap" type="tns:DOCAREAprotoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inserimento">
      <soap:operation soapAction="http://tempuri.org/Inserimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Protocollazione">
      <soap:operation soapAction="http://tempuri.org/Protocollazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestInvioSegnalazioni">
      <soap:operation soapAction="http://tempuri.org/TestInvioSegnalazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiDocumento2">
      <soap:operation soapAction="http://tempuri.org/AggiungiDocumento2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiDocumento">
      <soap:operation soapAction="http://tempuri.org/AggiungiDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrazioni">
      <soap:operation soapAction="http://tempuri.org/GetRegistrazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CercaRegistrazioni">
      <soap:operation soapAction="http://tempuri.org/CercaRegistrazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrazione">
      <soap:operation soapAction="http://tempuri.org/GetRegistrazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrazione2">
      <soap:operation soapAction="http://tempuri.org/GetRegistrazione2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaFascicoloRegistrazione">
      <soap:operation soapAction="http://tempuri.org/ModificaFascicoloRegistrazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVociTitolario">
      <soap:operation soapAction="http://tempuri.org/GetVociTitolario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaFascicolo">
      <soap:operation soapAction="http://tempuri.org/VerificaFascicolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFascicoli">
      <soap:operation soapAction="http://tempuri.org/GetFascicoli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFascicolo">
      <soap:operation soapAction="http://tempuri.org/GetFascicolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FascicolaDocumento">
      <soap:operation soapAction="http://tempuri.org/FascicolaDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaFascicoloDocumento">
      <soap:operation soapAction="http://tempuri.org/ModificaFascicoloDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumento">
      <soap:operation soapAction="http://tempuri.org/GetDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentoReg">
      <soap:operation soapAction="http://tempuri.org/GetDocumentoReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumenti">
      <soap:operation soapAction="http://tempuri.org/GetDocumenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaFascicolo">
      <soap:operation soapAction="http://tempuri.org/CreaFascicolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviaMail">
      <soap:operation soapAction="http://tempuri.org/InviaMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviaMail2">
      <soap:operation soapAction="http://tempuri.org/InviaMail2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiediPubblicazione">
      <soap:operation soapAction="http://tempuri.org/RichiediPubblicazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiediNotifica">
      <soap:operation soapAction="http://tempuri.org/RichiediNotifica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DOCAREAprotoSoap12" type="tns:DOCAREAprotoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inserimento">
      <soap12:operation soapAction="http://tempuri.org/Inserimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Protocollazione">
      <soap12:operation soapAction="http://tempuri.org/Protocollazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestInvioSegnalazioni">
      <soap12:operation soapAction="http://tempuri.org/TestInvioSegnalazioni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiDocumento2">
      <soap12:operation soapAction="http://tempuri.org/AggiungiDocumento2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiDocumento">
      <soap12:operation soapAction="http://tempuri.org/AggiungiDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrazioni">
      <soap12:operation soapAction="http://tempuri.org/GetRegistrazioni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CercaRegistrazioni">
      <soap12:operation soapAction="http://tempuri.org/CercaRegistrazioni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrazione">
      <soap12:operation soapAction="http://tempuri.org/GetRegistrazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrazione2">
      <soap12:operation soapAction="http://tempuri.org/GetRegistrazione2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaFascicoloRegistrazione">
      <soap12:operation soapAction="http://tempuri.org/ModificaFascicoloRegistrazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVociTitolario">
      <soap12:operation soapAction="http://tempuri.org/GetVociTitolario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaFascicolo">
      <soap12:operation soapAction="http://tempuri.org/VerificaFascicolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFascicoli">
      <soap12:operation soapAction="http://tempuri.org/GetFascicoli" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFascicolo">
      <soap12:operation soapAction="http://tempuri.org/GetFascicolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FascicolaDocumento">
      <soap12:operation soapAction="http://tempuri.org/FascicolaDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaFascicoloDocumento">
      <soap12:operation soapAction="http://tempuri.org/ModificaFascicoloDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumento">
      <soap12:operation soapAction="http://tempuri.org/GetDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentoReg">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentoReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumenti">
      <soap12:operation soapAction="http://tempuri.org/GetDocumenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaFascicolo">
      <soap12:operation soapAction="http://tempuri.org/CreaFascicolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviaMail">
      <soap12:operation soapAction="http://tempuri.org/InviaMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviaMail2">
      <soap12:operation soapAction="http://tempuri.org/InviaMail2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiediPubblicazione">
      <soap12:operation soapAction="http://tempuri.org/RichiediPubblicazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiediNotifica">
      <soap12:operation soapAction="http://tempuri.org/RichiediNotifica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOCAREAproto">
    <wsdl:port name="DOCAREAprotoSoap" binding="tns:DOCAREAprotoSoap">
      <soap:address location="https://195.62.177.146/wsprotocollo/docareaproto.asmx" />
    </wsdl:port>
    <wsdl:port name="DOCAREAprotoSoap12" binding="tns:DOCAREAprotoSoap12">
      <soap12:address location="https://195.62.177.146/wsprotocollo/docareaproto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>