src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloDocErFascicolazioneService/WSFascicolazione.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax21="http://fascicolazione.docer.kdm.it/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax24="http://classes.sdk.docer.kdm.it/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://fascicolazione.docer.kdm.it" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://fascicolazione.docer.kdm.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Servizio per la Fascicolazione
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax25="http://classes.sdk.docer.kdm.it/xsd" xmlns:ax23="http://fascicolazione.docer.kdm.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fascicolazione.docer.kdm.it">
      <xs:import namespace="http://fascicolazione.docer.kdm.it/xsd" />
      <xs:import namespace="http://classes.sdk.docer.kdm.it/xsd" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="FascicolazioneException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="FascicolazioneException" nillable="true" type="ax23:FascicolazioneException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="writeConfig">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="xmlConfig" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="writeConfigResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="readConfig">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="readConfigResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateFascicolo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="fascicoloid" nillable="true" type="ax25:KeyValuePair" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="metadati" nillable="true" type="ax25:KeyValuePair" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateFascicoloResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="forzaNuovoFascicolo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="metadati" nillable="true" type="ax25:KeyValuePair" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="forzaNuovoFascicoloResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateACLFascicolo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="fascicoloid" nillable="true" type="ax25:KeyValuePair" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="acl" nillable="true" type="ax25:KeyValuePair" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateACLFascicoloResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="fascicolaById">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="documentId" type="xs:long" />
            <xs:element minOccurs="0" name="datiFascicolo" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="fascicolaByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creaFascicolo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="metadati" nillable="true" type="ax25:KeyValuePair" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creaFascicoloResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="codiceEnte" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logout">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logoutResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax22="http://fascicolazione.docer.kdm.it" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fascicolazione.docer.kdm.it/xsd">
      <xs:import namespace="http://fascicolazione.docer.kdm.it" />
      <xs:complexType name="FascicolazioneException">
        <xs:complexContent mixed="false">
          <xs:extension base="ax22:Exception">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://classes.sdk.docer.kdm.it/xsd">
      <xs:complexType name="KeyValuePair">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="forzaNuovoFascicoloRequest">
    <wsdl:part name="parameters" element="ns:forzaNuovoFascicolo" />
  </wsdl:message>
  <wsdl:message name="forzaNuovoFascicoloResponse">
    <wsdl:part name="parameters" element="ns:forzaNuovoFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="FascicolazioneException">
    <wsdl:part name="parameters" element="ns:FascicolazioneException" />
  </wsdl:message>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="parameters" element="ns:logout" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="ns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="creaFascicoloRequest">
    <wsdl:part name="parameters" element="ns:creaFascicolo" />
  </wsdl:message>
  <wsdl:message name="creaFascicoloResponse">
    <wsdl:part name="parameters" element="ns:creaFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="fascicolaByIdRequest">
    <wsdl:part name="parameters" element="ns:fascicolaById" />
  </wsdl:message>
  <wsdl:message name="fascicolaByIdResponse">
    <wsdl:part name="parameters" element="ns:fascicolaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="updateACLFascicoloRequest">
    <wsdl:part name="parameters" element="ns:updateACLFascicolo" />
  </wsdl:message>
  <wsdl:message name="updateACLFascicoloResponse">
    <wsdl:part name="parameters" element="ns:updateACLFascicoloResponse" />
  </wsdl:message>
  <wsdl:message name="writeConfigRequest">
    <wsdl:part name="parameters" element="ns:writeConfig" />
  </wsdl:message>
  <wsdl:message name="writeConfigResponse">
    <wsdl:part name="parameters" element="ns:writeConfigResponse" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns:login" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="ns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="readConfigRequest">
    <wsdl:part name="parameters" element="ns:readConfig" />
  </wsdl:message>
  <wsdl:message name="readConfigResponse">
    <wsdl:part name="parameters" element="ns:readConfigResponse" />
  </wsdl:message>
  <wsdl:message name="updateFascicoloRequest">
    <wsdl:part name="parameters" element="ns:updateFascicolo" />
  </wsdl:message>
  <wsdl:message name="updateFascicoloResponse">
    <wsdl:part name="parameters" element="ns:updateFascicoloResponse" />
  </wsdl:message>
  <wsdl:portType name="WSFascicolazionePortType">
    <wsdl:operation name="forzaNuovoFascicolo">
      <wsdl:input wsaw:Action="urn:forzaNuovoFascicolo" message="ns:forzaNuovoFascicoloRequest" />
      <wsdl:output wsaw:Action="urn:forzaNuovoFascicoloResponse" message="ns:forzaNuovoFascicoloResponse" />
      <wsdl:fault wsaw:Action="urn:forzaNuovoFascicoloFascicolazioneException" name="FascicolazioneException" message="ns:FascicolazioneException" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input wsaw:Action="urn:logout" message="ns:logoutRequest" />
      <wsdl:output wsaw:Action="urn:logoutResponse" message="ns:logoutResponse" />
      <wsdl:fault wsaw:Action="urn:logoutFascicolazioneException" name="FascicolazioneException" message="ns:FascicolazioneException" />
    </wsdl:operation>
    <wsdl:operation name="creaFascicolo">
      <wsdl:input wsaw:Action="urn:creaFascicolo" message="ns:creaFascicoloRequest" />
      <wsdl:output wsaw:Action="urn:creaFascicoloResponse" message="ns:creaFascicoloResponse" />
      <wsdl:fault wsaw:Action="urn:creaFascicoloFascicolazioneException" name="FascicolazioneException" message="ns:FascicolazioneException" />
    </wsdl:operation>
    <wsdl:operation name="fascicolaById">
      <wsdl:input wsaw:Action="urn:fascicolaById" message="ns:fascicolaByIdRequest" />
      <wsdl:output wsaw:Action="urn:fascicolaByIdResponse" message="ns:fascicolaByIdResponse" />
      <wsdl:fault wsaw:Action="urn:fascicolaByIdFascicolazioneException" name="FascicolazioneException" message="ns:FascicolazioneException" />
    </wsdl:operation>
    <wsdl:operation name="updateACLFascicolo">
      <wsdl:input wsaw:Action="urn:updateACLFascicolo" message="ns:updateACLFascicoloRequest" />
      <wsdl:output wsaw:Action="urn:updateACLFascicoloResponse" message="ns:updateACLFascicoloResponse" />
      <wsdl:fault wsaw:Action="urn:updateACLFascicoloFascicolazioneException" name="FascicolazioneException" message="ns:FascicolazioneException" />
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <wsdl:input wsaw:Action="urn:writeConfig" message="ns:writeConfigRequest" />
      <wsdl:output wsaw:Action="urn:writeConfigResponse" message="ns:writeConfigResponse" />
      <wsdl:fault wsaw:Action="urn:writeConfigFascicolazioneException" name="FascicolazioneException" message="ns:FascicolazioneException" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="urn:login" message="ns:loginRequest" />
      <wsdl:output wsaw:Action="urn:loginResponse" message="ns:loginResponse" />
      <wsdl:fault wsaw:Action="urn:loginFascicolazioneException" name="FascicolazioneException" message="ns:FascicolazioneException" />
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <wsdl:input wsaw:Action="urn:readConfig" message="ns:readConfigRequest" />
      <wsdl:output wsaw:Action="urn:readConfigResponse" message="ns:readConfigResponse" />
      <wsdl:fault wsaw:Action="urn:readConfigFascicolazioneException" name="FascicolazioneException" message="ns:FascicolazioneException" />
    </wsdl:operation>
    <wsdl:operation name="updateFascicolo">
      <wsdl:input wsaw:Action="urn:updateFascicolo" message="ns:updateFascicoloRequest" />
      <wsdl:output wsaw:Action="urn:updateFascicoloResponse" message="ns:updateFascicoloResponse" />
      <wsdl:fault wsaw:Action="urn:updateFascicoloFascicolazioneException" name="FascicolazioneException" message="ns:FascicolazioneException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSFascicolazioneSoap11Binding" type="ns:WSFascicolazionePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="forzaNuovoFascicolo">
      <soap:operation soapAction="urn:forzaNuovoFascicolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creaFascicolo">
      <soap:operation soapAction="urn:creaFascicolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fascicolaById">
      <soap:operation soapAction="urn:fascicolaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateACLFascicolo">
      <soap:operation soapAction="urn:updateACLFascicolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <soap:operation soapAction="urn:writeConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <soap:operation soapAction="urn:readConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateFascicolo">
      <soap:operation soapAction="urn:updateFascicolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFascicolazioneSoap12Binding" type="ns:WSFascicolazionePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="forzaNuovoFascicolo">
      <soap12:operation soapAction="urn:forzaNuovoFascicolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap12:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap12:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap12:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creaFascicolo">
      <soap12:operation soapAction="urn:creaFascicolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap12:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fascicolaById">
      <soap12:operation soapAction="urn:fascicolaById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap12:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateACLFascicolo">
      <soap12:operation soapAction="urn:updateACLFascicolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap12:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <soap12:operation soapAction="urn:writeConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap12:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap12:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <soap12:operation soapAction="urn:readConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap12:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateFascicolo">
      <soap12:operation soapAction="urn:updateFascicolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FascicolazioneException">
        <soap12:fault use="literal" name="FascicolazioneException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFascicolazioneHttpBinding" type="ns:WSFascicolazionePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="forzaNuovoFascicolo">
      <http:operation location="WSFascicolazione/forzaNuovoFascicolo" />
      <wsdl:input>
        <mime:content part="forzaNuovoFascicolo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="forzaNuovoFascicolo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <http:operation location="WSFascicolazione/logout" />
      <wsdl:input>
        <mime:content part="logout" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="logout" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaFascicolo">
      <http:operation location="WSFascicolazione/creaFascicolo" />
      <wsdl:input>
        <mime:content part="creaFascicolo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="creaFascicolo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fascicolaById">
      <http:operation location="WSFascicolazione/fascicolaById" />
      <wsdl:input>
        <mime:content part="fascicolaById" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="fascicolaById" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateACLFascicolo">
      <http:operation location="WSFascicolazione/updateACLFascicolo" />
      <wsdl:input>
        <mime:content part="updateACLFascicolo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="updateACLFascicolo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeConfig">
      <http:operation location="WSFascicolazione/writeConfig" />
      <wsdl:input>
        <mime:content part="writeConfig" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="writeConfig" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="WSFascicolazione/login" />
      <wsdl:input>
        <mime:content part="login" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="login" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readConfig">
      <http:operation location="WSFascicolazione/readConfig" />
      <wsdl:input>
        <mime:content part="readConfig" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="readConfig" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFascicolo">
      <http:operation location="WSFascicolazione/updateFascicolo" />
      <wsdl:input>
        <mime:content part="updateFascicolo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="updateFascicolo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFascicolazione">
    <wsdl:port name="WSFascicolazioneHttpSoap11Endpoint" binding="ns:WSFascicolazioneSoap11Binding">
      <soap:address location="http://95.110.167.145:8080/WSFascicolazione/services/WSFascicolazione.WSFascicolazioneHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSFascicolazioneHttpSoap12Endpoint" binding="ns:WSFascicolazioneSoap12Binding">
      <soap12:address location="http://95.110.167.145:8080/WSFascicolazione/services/WSFascicolazione.WSFascicolazioneHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WSFascicolazioneHttpEndpoint" binding="ns:WSFascicolazioneHttpBinding">
      <http:address location="http://95.110.167.145:8080/WSFascicolazione/services/WSFascicolazione.WSFascicolazioneHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>