src/vbg.net/console/projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloDocErLoginService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax21="http://keyvalue.collections.commons.apache.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://authentication.core.docer.kdm.it" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://authentication.core.docer.kdm.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://keyvalue.collections.commons.apache.org/xsd">
      <xs:complexType name="AbstractKeyValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DefaultKeyValue">
        <xs:complexContent mixed="false">
          <xs:extension base="ax21:AbstractKeyValue">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax22="http://keyvalue.collections.commons.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://authentication.core.docer.kdm.it">
      <xs:import namespace="http://keyvalue.collections.commons.apache.org/xsd" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="verifyToken">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="verifyTokenResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUserInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUserInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax22:DefaultKeyValue" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="codiceEnte" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logout">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logoutResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="parameters" element="ns:logout" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="ns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="parameters" element="ns:Exception" />
  </wsdl:message>
  <wsdl:message name="verifyTokenRequest">
    <wsdl:part name="parameters" element="ns:verifyToken" />
  </wsdl:message>
  <wsdl:message name="verifyTokenResponse">
    <wsdl:part name="parameters" element="ns:verifyTokenResponse" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns:login" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="ns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="getUserInfoRequest">
    <wsdl:part name="parameters" element="ns:getUserInfo" />
  </wsdl:message>
  <wsdl:message name="getUserInfoResponse">
    <wsdl:part name="parameters" element="ns:getUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationServicePortType">
    <wsdl:operation name="logout">
      <wsdl:input wsaw:Action="urn:logout" message="ns:logoutRequest" />
      <wsdl:output wsaw:Action="urn:logoutResponse" message="ns:logoutResponse" />
      <wsdl:fault wsaw:Action="urn:logoutException" name="Exception" message="ns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="verifyToken">
      <wsdl:input wsaw:Action="urn:verifyToken" message="ns:verifyTokenRequest" />
      <wsdl:output wsaw:Action="urn:verifyTokenResponse" message="ns:verifyTokenResponse" />
      <wsdl:fault wsaw:Action="urn:verifyTokenException" name="Exception" message="ns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="urn:login" message="ns:loginRequest" />
      <wsdl:output wsaw:Action="urn:loginResponse" message="ns:loginResponse" />
      <wsdl:fault wsaw:Action="urn:loginException" name="Exception" message="ns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <wsdl:input wsaw:Action="urn:getUserInfo" message="ns:getUserInfoRequest" />
      <wsdl:output wsaw:Action="urn:getUserInfoResponse" message="ns:getUserInfoResponse" />
      <wsdl:fault wsaw:Action="urn:getUserInfoException" name="Exception" message="ns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationServiceSoap11Binding" type="ns:AuthenticationServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logout">
      <soap:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verifyToken">
      <soap:operation soapAction="urn:verifyToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <soap:operation soapAction="urn:getUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationServiceSoap12Binding" type="ns:AuthenticationServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logout">
      <soap12:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap12:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verifyToken">
      <soap12:operation soapAction="urn:verifyToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap12:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap12:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <soap12:operation soapAction="urn:getUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap12:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationServiceHttpBinding" type="ns:AuthenticationServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="logout">
      <http:operation location="AuthenticationService/logout" />
      <wsdl:input>
        <mime:content part="logout" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="logout" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyToken">
      <http:operation location="AuthenticationService/verifyToken" />
      <wsdl:input>
        <mime:content part="verifyToken" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="verifyToken" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="AuthenticationService/login" />
      <wsdl:input>
        <mime:content part="login" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="login" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <http:operation location="AuthenticationService/getUserInfo" />
      <wsdl:input>
        <mime:content part="getUserInfo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getUserInfo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="AuthenticationServiceHttpSoap11Endpoint" binding="ns:AuthenticationServiceSoap11Binding">
      <soap:address location="http://95.110.167.145:8080/docersystem/services/AuthenticationService.AuthenticationServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="AuthenticationServiceHttpSoap12Endpoint" binding="ns:AuthenticationServiceSoap12Binding">
      <soap12:address location="http://95.110.167.145:8080/docersystem/services/AuthenticationService.AuthenticationServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="AuthenticationServiceHttpEndpoint" binding="ns:AuthenticationServiceHttpBinding">
      <http:address location="http://95.110.167.145:8080/docersystem/services/AuthenticationService.AuthenticationServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>