src/vbg.net/console/projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/VisuraMobileServices/StcMobileWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gruppoinit.it/stcmobile/" name="StcMobileWS" targetNamespace="http://gruppoinit.it/stcmobile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gruppoinit.it/stcmobile/">
      <xsd:element name="registraProfilo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="shortid">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:length value="6" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="nome">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="64" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="cognome">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="64" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="codiceFiscale">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="32" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="aliasSportello">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="16" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registraProfiloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:int" />
            <xsd:element name="message" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registraProfiloRequest">
    <wsdl:part name="parameters" element="tns:registraProfilo" />
  </wsdl:message>
  <wsdl:message name="registraProfiloResponse">
    <wsdl:part name="parameters" element="tns:registraProfiloResponse" />
  </wsdl:message>
  <wsdl:portType name="StcMobileWS">
    <wsdl:operation name="registraProfilo">
      <wsdl:input message="tns:registraProfiloRequest" />
      <wsdl:output message="tns:registraProfiloResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StcMobileWSSOAP" type="tns:StcMobileWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registraProfilo">
      <soap:operation soapAction="http://gruppoinit.it/stcmobile/registraProfilo" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StcMobileWS">
    <wsdl:port name="StcMobileWSSOAP" binding="tns:StcMobileWSSOAP">
      <soap:address location="http://devel9:8080/stc-mobile-services/services/stcMobile" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>