src/VBG.net/projects/Frontoffice/Init.Sigepro.FrontEnd.Bari/Service References/BariTaresSigeproServiceReference/TaresService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OperatoreAppartieneACaf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscaleOperatore" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperatoreAppartieneACafResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OperatoreAppartieneACafResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodiceFiscaleCafDaCodiceFiscaleOperatore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscaleOperatore" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodiceFiscaleCafDaCodiceFiscaleOperatoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCodiceFiscaleCafDaCodiceFiscaleOperatoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRiferimentiCafDaCodiceFiscaleoperatore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscaleOperatore" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRiferimentiCafDaCodiceFiscaleoperatoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRiferimentiCafDaCodiceFiscaleoperatoreResult" type="tns:RiferimentiCaf" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RiferimentiCaf">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceFiscale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndirizzoPec" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="RiferimentiCaf" nillable="true" type="tns:RiferimentiCaf" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OperatoreAppartieneACafSoapIn">
    <wsdl:part name="parameters" element="tns:OperatoreAppartieneACaf" />
  </wsdl:message>
  <wsdl:message name="OperatoreAppartieneACafSoapOut">
    <wsdl:part name="parameters" element="tns:OperatoreAppartieneACafResponse" />
  </wsdl:message>
  <wsdl:message name="GetCodiceFiscaleCafDaCodiceFiscaleOperatoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetCodiceFiscaleCafDaCodiceFiscaleOperatore" />
  </wsdl:message>
  <wsdl:message name="GetCodiceFiscaleCafDaCodiceFiscaleOperatoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetCodiceFiscaleCafDaCodiceFiscaleOperatoreResponse" />
  </wsdl:message>
  <wsdl:message name="GetRiferimentiCafDaCodiceFiscaleoperatoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetRiferimentiCafDaCodiceFiscaleoperatore" />
  </wsdl:message>
  <wsdl:message name="GetRiferimentiCafDaCodiceFiscaleoperatoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetRiferimentiCafDaCodiceFiscaleoperatoreResponse" />
  </wsdl:message>
  <wsdl:message name="OperatoreAppartieneACafHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscaleOperatore" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OperatoreAppartieneACafHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCodiceFiscaleCafDaCodiceFiscaleOperatoreHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscaleOperatore" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCodiceFiscaleCafDaCodiceFiscaleOperatoreHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRiferimentiCafDaCodiceFiscaleoperatoreHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscaleOperatore" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRiferimentiCafDaCodiceFiscaleoperatoreHttpGetOut">
    <wsdl:part name="Body" element="tns:RiferimentiCaf" />
  </wsdl:message>
  <wsdl:message name="OperatoreAppartieneACafHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscaleOperatore" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OperatoreAppartieneACafHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCodiceFiscaleCafDaCodiceFiscaleOperatoreHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscaleOperatore" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCodiceFiscaleCafDaCodiceFiscaleOperatoreHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRiferimentiCafDaCodiceFiscaleoperatoreHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscaleOperatore" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRiferimentiCafDaCodiceFiscaleoperatoreHttpPostOut">
    <wsdl:part name="Body" element="tns:RiferimentiCaf" />
  </wsdl:message>
  <wsdl:portType name="TaresServiceSoap">
    <wsdl:operation name="OperatoreAppartieneACaf">
      <wsdl:input message="tns:OperatoreAppartieneACafSoapIn" />
      <wsdl:output message="tns:OperatoreAppartieneACafSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodiceFiscaleCafDaCodiceFiscaleOperatore">
      <wsdl:input message="tns:GetCodiceFiscaleCafDaCodiceFiscaleOperatoreSoapIn" />
      <wsdl:output message="tns:GetCodiceFiscaleCafDaCodiceFiscaleOperatoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRiferimentiCafDaCodiceFiscaleoperatore">
      <wsdl:input message="tns:GetRiferimentiCafDaCodiceFiscaleoperatoreSoapIn" />
      <wsdl:output message="tns:GetRiferimentiCafDaCodiceFiscaleoperatoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TaresServiceHttpGet">
    <wsdl:operation name="OperatoreAppartieneACaf">
      <wsdl:input message="tns:OperatoreAppartieneACafHttpGetIn" />
      <wsdl:output message="tns:OperatoreAppartieneACafHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodiceFiscaleCafDaCodiceFiscaleOperatore">
      <wsdl:input message="tns:GetCodiceFiscaleCafDaCodiceFiscaleOperatoreHttpGetIn" />
      <wsdl:output message="tns:GetCodiceFiscaleCafDaCodiceFiscaleOperatoreHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRiferimentiCafDaCodiceFiscaleoperatore">
      <wsdl:input message="tns:GetRiferimentiCafDaCodiceFiscaleoperatoreHttpGetIn" />
      <wsdl:output message="tns:GetRiferimentiCafDaCodiceFiscaleoperatoreHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TaresServiceHttpPost">
    <wsdl:operation name="OperatoreAppartieneACaf">
      <wsdl:input message="tns:OperatoreAppartieneACafHttpPostIn" />
      <wsdl:output message="tns:OperatoreAppartieneACafHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodiceFiscaleCafDaCodiceFiscaleOperatore">
      <wsdl:input message="tns:GetCodiceFiscaleCafDaCodiceFiscaleOperatoreHttpPostIn" />
      <wsdl:output message="tns:GetCodiceFiscaleCafDaCodiceFiscaleOperatoreHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRiferimentiCafDaCodiceFiscaleoperatore">
      <wsdl:input message="tns:GetRiferimentiCafDaCodiceFiscaleoperatoreHttpPostIn" />
      <wsdl:output message="tns:GetRiferimentiCafDaCodiceFiscaleoperatoreHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaresServiceSoap" type="tns:TaresServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperatoreAppartieneACaf">
      <soap:operation soapAction="http://tempuri.org/OperatoreAppartieneACaf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodiceFiscaleCafDaCodiceFiscaleOperatore">
      <soap:operation soapAction="http://tempuri.org/GetCodiceFiscaleCafDaCodiceFiscaleOperatore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiferimentiCafDaCodiceFiscaleoperatore">
      <soap:operation soapAction="http://tempuri.org/GetRiferimentiCafDaCodiceFiscaleoperatore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TaresServiceSoap12" type="tns:TaresServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperatoreAppartieneACaf">
      <soap12:operation soapAction="http://tempuri.org/OperatoreAppartieneACaf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodiceFiscaleCafDaCodiceFiscaleOperatore">
      <soap12:operation soapAction="http://tempuri.org/GetCodiceFiscaleCafDaCodiceFiscaleOperatore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiferimentiCafDaCodiceFiscaleoperatore">
      <soap12:operation soapAction="http://tempuri.org/GetRiferimentiCafDaCodiceFiscaleoperatore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TaresServiceHttpGet" type="tns:TaresServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="OperatoreAppartieneACaf">
      <http:operation location="/OperatoreAppartieneACaf" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodiceFiscaleCafDaCodiceFiscaleOperatore">
      <http:operation location="/GetCodiceFiscaleCafDaCodiceFiscaleOperatore" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiferimentiCafDaCodiceFiscaleoperatore">
      <http:operation location="/GetRiferimentiCafDaCodiceFiscaleoperatore" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TaresServiceHttpPost" type="tns:TaresServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="OperatoreAppartieneACaf">
      <http:operation location="/OperatoreAppartieneACaf" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodiceFiscaleCafDaCodiceFiscaleOperatore">
      <http:operation location="/GetCodiceFiscaleCafDaCodiceFiscaleOperatore" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiferimentiCafDaCodiceFiscaleoperatore">
      <http:operation location="/GetRiferimentiCafDaCodiceFiscaleoperatore" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaresService">
    <wsdl:port name="TaresServiceSoap" binding="tns:TaresServiceSoap">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/WsTaresBari/TaresService.asmx" />
    </wsdl:port>
    <wsdl:port name="TaresServiceSoap12" binding="tns:TaresServiceSoap12">
      <soap12:address location="http://localhost:2640/sigepro.net/WebServices/WsTaresBari/TaresService.asmx" />
    </wsdl:port>
    <wsdl:port name="TaresServiceHttpGet" binding="tns:TaresServiceHttpGet">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsTaresBari/TaresService.asmx" />
    </wsdl:port>
    <wsdl:port name="TaresServiceHttpPost" binding="tns:TaresServiceHttpPost">
      <http:address location="http://localhost:2640/sigepro.net/WebServices/WsTaresBari/TaresService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>