src/VBG.net/projects/Backoffice/SIGePro.Manager/Service References/EventiAttivitaWebService/attivita.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://gruppoinit.it/sigepro/schemas/messages/attivita" xmlns:base="http://gruppoinit.it/sigepro/schemas/messages/base" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/sigepro/schemas/messages/attivita" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="backoffice_oggetti_base.xsd" id="oggettiBase" namespace="http://gruppoinit.it/sigepro/schemas/messages/base" />
  <element name="SnapShotResponse">
    <complexType>
      <sequence>
        <element name="esito" type="base:EsitoOperazioneType" />
      </sequence>
    </complexType>
  </element>
  <element name="SnapShotRequest" type="tns:SnapShotRequestType" />
  <complexType name="SnapShotRequestType">
    <sequence>
      <element name="token" type="string" />
      <element name="software" type="string" />
      <element name="codiceAttivita" type="int" />
    </sequence>
  </complexType>
  <element name="AggiornaCampiSchedeResponse">
    <complexType>
      <sequence>
        <element name="esito" type="base:EsitoOperazioneType" />
      </sequence>
    </complexType>
  </element>
  <element name="AggiornaCampiSchedeRequest" type="tns:AggiornaCampiSchedeRequestType" />
  <complexType name="AggiornaCampiSchedeRequestType">
    <sequence>
      <element name="token" type="string" />
      <element name="software" type="string" />
      <element name="codiceAttivita" type="int" />
      <element name="codiceIstanza" nillable="true" type="int" />
      <element name="codiceScheda" nillable="true" type="int" />
    </sequence>
  </complexType>
</schema>