src/vbg.net/areariservata/projects/Frontoffice/Init.Sigepro.FrontEnd.Bari/IMU/wsdl/ImuService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://www.comune.bari.it/serviziTributi" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.comune.bari.it/serviziTributi">

<xs:element name="getDatiContribuenteRequest" type="tns:getDatiContribuenteRequestType"/>

<xs:element name="getDatiContribuenteResponse" type="tns:getDatiContribuenteResponseType"/>

<xs:element name="setRichiestaAgevolazioneRequest" type="tns:setRichiestaAgevolazioneRequestType"/>

<xs:element name="setRichiestaAgevolazioneResponse" type="tns:setRichiestaAgevolazioneResponseType"/>

<xs:complexType name="getDatiContribuenteRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di una richiesta del servizio web IMU getDatiContribuente</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="datiAutorizzazione" type="tns:datiAutorizzazioneImuType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati necessari alla verifica dell'autorizzazione del sistema chiamante all'accesso al servizio</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiIdentificativi" type="tns:datiIdentificativiImuType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati identificativi del contribuente e del Caf facente da tramite</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiAutorizzazioneImuType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di autorizzazzione all'accesso di un servizio web IMU</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="identificativoUtente">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo dell'utente (sistema) richiedente il servizio</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-fA-F0-9]{40}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="password">
<xs:annotation>
<xs:documentation xml:lang="it">Password dell'utente (sistema) richiedente il servizio</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-fA-F0-9]{64}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="identificativoServizio">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo del servizio richiesto: I01 - getDatiContribuente, I02 - setRichiestaAgevolazione</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="I01"/>
<xs:enumeration value="I02"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataRichiesta" type="tns:dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Data di richiesta del servizio, nel formato GG/MM/AAAA</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="oraRichiesta">
<xs:annotation>
<xs:documentation xml:lang="it">Ora di richiesta del servizio, nel formato HH:MM:SS</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="([0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9]).[0-9]{3}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="idRichiesta">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo della richiesta</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-fA-F0-9]{64}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per una data nel formato gg/mm/aaaa</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19[0-9]{2}|20[0-9]{2})"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiIdentificativiImuType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati identificativi di un contribuente per il servizio getDatiImmobili</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="tns:datiCafImuType">
<xs:choice>
<xs:element name="codiceFiscaleContribuente" type="tns:codiceFiscaleType">
<xs:annotation>
<xs:documentation xml:lang="it">Codice fiscale Contribuente oppure partita IVA Contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="partitaIVAContribuente" type="tns:partitaIVAType">
<xs:annotation>
<xs:documentation xml:lang="it">Codice fiscale Contribuente oppure partita IVA Contribuente</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datiCafImuType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati utili al tracciamento di una richiesta di un servizio</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:choice>
<xs:element name="codiceFiscale" type="tns:codiceFiscaleType"/>
<xs:element name="partitaIVA" type="tns:partitaIVAType"/>
</xs:choice>
<xs:element name="indirizzoPec">
<xs:annotation>
<xs:documentation xml:lang="it">Indirizzo di Posta Elettronica Certificata del CAF</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="([a-zA-Z0-9]+[\-._+])*[a-zA-Z0-9]+@([\-0-9a-zA-Z]+[.])+[a-zA-Z]{2,6}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="codiceFiscaleType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il codice fiscale di una persona fisica</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]{6}([0-9]|[l-vL-V]){2}[a-zA-Z]{1}([0-9]|[l-vL-V]){2}[a-zA-Z]{1}([0-9]|[l-vL-V]){3}[a-zA-Z]{1}"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="partitaIVAType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la partita IVA</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{11}"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="getDatiContribuenteResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di risposta del servizio web IMU getDatiContribuente</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="return" type="tns:datiContribuenteResponseType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiContribuenteResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati specifici di una risposta del servizio web IMU getDatiContribuente</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="tns:commonResponseType">
<xs:sequence>
<xs:element name="datiContribuente" type="tns:datiContribuenteImuResponseType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Dati anagrafici del contribuente e degli immobili posseduti</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="commonResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati comuni di una risposta di un servizio web Tares</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="idRichiesta">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo della richiesta</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-fA-F0-9]{64}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="code" type="xs:unsignedShort">
<xs:annotation>
<xs:documentation xml:lang="it">Codice di ritorno della risposta del servizio: 100 = Utente e/o password errati, 101 = Utente non abilitato all'uso del servizio, 110 = Richiesta non valida, 111 = Si e' verificato un errore durante la validazione della richiesta, 112 = Richiesta di agevolazione gia' esistente, 120 = L'elaborazione della richiesta non ha prodotto risultati, 999 = Si e' verificato un errore imprevisto nel collegamento con il backend</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="messaggio" type="xs:string" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Messaggio di errore. Presente solo se code diverso da 0</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiContribuenteImuResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di un contribuente IMU</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="idContribuente" type="tns:identificativoContribuenteType">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo univoco contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="personaFisica" type="tns:personaFisicaType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati anagrafici del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="societa" type="tns:societaResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati anagrafici del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="indirizzoPec" type="tns:emailType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Indirizzo di Posta Elettronica Certificata del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiResidenza" type="tns:datiIndirizzoResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati della residenza del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="immobili">
<xs:complexType>
<xs:sequence>
<xs:element name="datiImmobile" type="tns:datiImmobileResponseType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation xml:lang="it">Dati di un immobile o pertinenza posseduti dal contribuente</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="identificativoContribuenteType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per l'identificativo univoco di un contribuente</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:int">
<xs:maxInclusive value="999999"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="personaFisicaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati anagrafici di un contribuente IMU di tipo persona fisica</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="cognome">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="150"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nome">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="156"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="codiceFiscale" type="tns:codiceFiscaleType"/>
<xs:element name="sesso" type="tns:sessoType" minOccurs="0"/>
<xs:element name="comuneNascita" type="tns:comuneNascitaType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Comune italiano o stato estero di nascita del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="provinciaNascita" type="tns:siglaProvinciaType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Provincia di nascita del contribuente. Sarà presente solo se nato in Italia</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="comuneEsteroNascita" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione del comune estero di nascita del contribuente. Sarà presente solo se nato all'estero</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataNascita" type="tns:dataType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="comuneNascitaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il comune di nascita di una persona fisica codificato tramite il codice ISTAT dei comuni italiani o tramite codice ISTAT degli stati esteri (se nato all'estero)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{6}|[0-9]{3}"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="siglaProvinciaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la sigla di una provincia italiana</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2}"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="societaResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati anagrafici di un contribuente IMU di tipo persona giuridica</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="denominazione">
<xs:annotation>
<xs:documentation xml:lang="it">Denominazione della società</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="306"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="partitaIva" type="tns:partitaIVAType"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="emailType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per un indirizzo email</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="254"/>
<xs:pattern value="([a-zA-Z0-9]+[\-._+])*[a-zA-Z0-9]+@([\-0-9a-zA-Z]+[.])+[a-zA-Z]{2,6}"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiIndirizzoResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per un indirizzo di residenza di un un contribuente del Comune di Bari</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="descResidenza" type="xs:string">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione del comune italiano o dello Stato estero di residenza</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="provincia" type="tns:siglaProvinciaType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Sigla della provincia di residenza</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="cap" type="tns:capType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Codice Avviamento Postale</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="viaCodificata" type="tns:viaCodificataType">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione della via. Specificare viaCodificata se trattasi di via codificata secondo il SIT comunale, altrimenti viaNonCodificata</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="viaNonCodificata" type="tns:viaNonCodificataType">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione della via. Specificare viaCodificata se trattasi di via codificata secondo il SIT comunale, altrimenti viaNonCodificata</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="numeroCivico" type="tns:civicoType" minOccurs="0"/>
<xs:element name="esponente" type="tns:esponenteCivicoType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Esponente del numero civico (es. /H)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="palazzina" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="7"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="scala" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="piano" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="interno" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="suffisso" type="tns:suffissoType" minOccurs="0"/>
<xs:element name="frazione" type="tns:frazioneType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="capType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il Codice di Avviamento Postale (C.A.P.)</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{5}"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="viaCodificataType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per una via del comune di Bari codificata secondo il SIT comunale</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,9}"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="viaNonCodificataType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per una via tramite una descrizione testuale</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="200"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="civicoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per un numero civico</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:int">
<xs:maxInclusive value="99999"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="esponenteCivicoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per un esponente di un numero civico</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="suffissoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il suffisso in un indirizzo</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="frazioneType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la frazione in un indirizzo</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiImmobileResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di un immobile</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="idImmobile" type="tns:identificativoImmobileType">
<xs:annotation>
<xs:documentation xml:lang="it">Codice identificativo dell'immobile</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ubicazione" type="tns:datiIndirizzoImmobileResponse">
<xs:annotation>
<xs:documentation xml:lang="it">Ubicazione dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiCatastali" type="tns:datiCatastaliType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati catastali dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="categoriaCatastale" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Categoria catastale dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="percentualePossesso" type="tns:percentualePossessoType">
<xs:annotation>
<xs:documentation xml:lang="it">Percentuale di possesso dell'immobile/fabbricato/area</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="identificativoImmobileType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il codice identificativo di un immobile</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:integer">
<xs:maxInclusive value="9999999999"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiIndirizzoImmobileResponse">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per un indirizzo di un immobile</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="cap" type="tns:capType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Codice Avviamento Postale</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="viaCodificata" type="tns:viaCodificataType"/>
<xs:element name="viaNonCodificata" type="tns:viaNonCodificataType"/>
</xs:choice>
<xs:element name="civico" type="tns:civicoType" minOccurs="0"/>
<xs:element name="esponente" type="tns:esponenteCivicoType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Esponente del numero civico</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="palazzina" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="7"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="scala" type="tns:scalaType" minOccurs="0"/>
<xs:element name="piano" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="9"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="interno" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="9"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="suffisso" type="tns:suffissoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="scalaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la scala in un indirizzo</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="3"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiCatastaliType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati catastali di un immobile/fabbricato/area</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="sezione" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="foglio">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="5"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="particella">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="5"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="subalterno" minOccurs="0">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="percentualePossessoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per la percentuale di possesso di un immobile</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="1"/>
<xs:maxInclusive value="100.0"/>
<xs:minInclusive value="0.0"/>
<xs:totalDigits value="4"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="setRichiestaAgevolazioneRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di una richiesta del servizio web IMU setRichiestaAgevolazione</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="datiAutorizzazione" type="tns:datiAutorizzazioneImuType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati necessari alla verifica dell'autorizzazione del sistema chiamante all'accesso al servizio</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiTracciamento" type="tns:datiCafImuType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati necessari al tracciamento della richiesta da parte di un CAF abilitato</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiRichiesta" type="tns:datiRichiestaAgevolazioneRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati della richiesta di aliquota agevolata IMU</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiRichiestaAgevolazioneRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di una dichiarazione di aliquota agevolata IMU</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="dataDichiarazione" type="tns:dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Data di presentazione della dichiarazione, nel formato GG/MM/AAAA</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="numeroProtocollo">
<xs:annotation>
<xs:documentation xml:lang="it">Numero di protocollo della richiesta di agevolazione</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataProtocollo" type="tns:dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Data di protocollo della richiesta di agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiContribuente" type="tns:datiContribuenteRequest">
<xs:annotation>
<xs:documentation xml:lang="it">Dati del contribuente richiedente l'agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiImmobili" type="tns:datiImmobiliRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati degli immobili in possesso del contribuente per cui è richiesta l'aliquota agevolata</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="dataInizioDecorrenza" type="tns:dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Data di inizio decorrenza dell'agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="dataFineDecorrenza" type="tns:dataType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Data di fine decorrenza dell'agevolazione</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="aliquotaAgevolata" type="tns:datiAliquotaAgevolataRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati descriventi l'aliquota agevolata richiesta</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="codiceFiscaleCAF" type="tns:codiceFiscaleType"/>
<xs:element name="partitaIVACAF" type="tns:partitaIVAType"/>
</xs:choice>
<xs:element name="nominativoCAF">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="presaVisione">
<xs:annotation>
<xs:documentation xml:lang="it">Indicatore dichiarazione di presa visione. Valore costante: 1</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="presenzaDocumentoIdentitaAllegato" type="xs:boolean" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Presenza di documento d'identit&amp;agrave; allegato. Valori possibili: true, false</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="presenzaDocumentoIdentitaDelegatoAllegato" type="xs:boolean" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Presenza di documento d'identit&amp;agrave; allegato della persona delegata. Valori possibili: true, false</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiContribuenteRequest">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di un contribuente richiedente l'aliquota agevolata IMU</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="idContribuente" type="tns:identificativoContribuenteType">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo univoco contribuente</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="datiRappresentante" type="tns:datiRappresentanteRequestType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Dati del rappresentante di una attività economica</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="indirizzoPec" type="tns:emailType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Indirizzo di Posta Elettronica Certificata del contribuente</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiRappresentanteRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di un rappresentante legale di un'attività economica</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="cognome">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nome">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="comuneNascita" type="tns:comuneNascitaType">
<xs:annotation>
<xs:documentation xml:lang="it">Comune di nascita codificato tramite il codice ISTAT o se nato all'estero codifica ISTAT dello stato estero</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="comuneEsteroNascita" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione del comune estero di nascita. Da specificare solo se nato all'estero</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="60"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataNascita" type="tns:dataType"/>
<xs:element name="sesso" type="tns:sessoType"/>
<xs:element name="codiceFiscale" type="tns:codiceFiscaleType"/>
<xs:element name="qualifica">
<xs:annotation>
<xs:documentation xml:lang="it">Descrizione della qualifica della persona fisica rappresentante legalmente un'attività economica</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="60"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="indirizzoPEC" type="tns:emailType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Indirizzo di Posta Elettronica Certificata (P.E.C.) del rappresentante</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="telefono" type="tns:telefonoType" minOccurs="0">
<xs:annotation>
<xs:documentation xml:lang="it">Numero di telefono di contatto del rappresentante</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="telefonoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato per il sesso di una persona: M o F</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="datiImmobiliRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati dell'immobile e delle eventuali pertinenze per cui viene richiesta l'aliquota agevolata IMU</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="idImmobile" type="tns:identificativoImmobileType">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo univoco immobile principale</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="idPertinenza" type="tns:identificativoImmobileType" minOccurs="0" maxOccurs="3">
<xs:annotation>
<xs:documentation xml:lang="it">Identificativo univoco pertinenza</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datiAliquotaAgevolataRequestType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati dell'aliquota agevolata richiesta in una dichiarazione di agevolazione IMU</xs:documentation>
</xs:annotation>
<xs:choice>
<xs:element name="locazioneStudenti" type="tns:agevolazioneLocazioneStudentiType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati dell'aliquota agevolata</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="locazione" type="tns:agevolazioneLocazioneType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati dell'aliquota agevolata</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="comodato" type="tns:agevolazioneComodatoType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati dell'aliquota agevolata</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="nonAgibile" type="tns:agevolazioneNonAgibileType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati dell'aliquota agevolata</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="spettacolo" type="tns:agevolazioneSpettacoloType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati dell'aliquota agevolata</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:complexType>

<xs:complexType name="agevolazioneLocazioneStudentiType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati dell'aliquota agevolata IMU del 4 per mille per un immobile, con eventuali pertinenze, locato a studenti universitari</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="tns:agevolazioneLocazioneType">
<xs:sequence>
<xs:element name="numeroStudenti">
<xs:annotation>
<xs:documentation xml:lang="it">Numero di studenti universitari intestatari del contratto</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:maxInclusive value="8"/>
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="studenti">
<xs:complexType>
<xs:sequence>
<xs:element name="codiceFiscale" type="tns:codiceFiscaleType" minOccurs="1" maxOccurs="8">
<xs:annotation>
<xs:documentation xml:lang="it">Codice fiscale dello studente universitario</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="agevolazioneLocazioneType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati dell'aliquota agevolata IMU del 4 per mille per un immobile, con eventuali pertinenze, locato</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="dataContratto" type="tns:dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Data di inizio del contratto</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="dataRegistrazione" type="tns:dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Data di registrazione del contratto</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="numContratto">
<xs:annotation>
<xs:documentation xml:lang="it">Numero di registro del contratto</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:minInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agevolazioneComodatoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati dell'aliquota agevolata IMU del 7,6 per mille per un immobile, con eventuali pertinenze, concesso in comodato d’uso gratuito ad un parente del possessore</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="comodatario">
<xs:annotation>
<xs:documentation xml:lang="it">Nome e cognome del comodatario</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="codiceFiscale" type="tns:codiceFiscaleType">
<xs:annotation>
<xs:documentation xml:lang="it">Codice fiscale del comodatario</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="parentela" type="tns:gradoParentelaType">
<xs:annotation>
<xs:documentation xml:lang="it">Grado di parentela del comodatario con il comodante</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agevolazioneNonAgibileType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati dell'aliquota agevolata IMU del 4,6 per mille per un immobile appartenente ad una cooperativa edilizia in cui non sono ancora ultimate le procedure per il rilascio del certificato di agibilità e non è pertanto possibile l’utilizzo come abitazione principale</xs:documentation>
</xs:annotation>
<xs:sequence/>
</xs:complexType>

<xs:complexType name="agevolazioneSpettacoloType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati dell'aliquota agevolata IMU del 7,6 per mille per un immobile adibito a teatro, cinema, sala per concerti o sala per spettacoli dal vivo e che per tali attività è stata rilasciata licenza di pubblico spettacolo in corso di validità</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="ente">
<xs:annotation>
<xs:documentation xml:lang="it">Ente emanante la licenza di pubblico spettacolo</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="numeroLicenza">
<xs:annotation>
<xs:documentation xml:lang="it">Numero di licenza di pubblico spettacolo</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dataLicenza" type="tns:dataType">
<xs:annotation>
<xs:documentation xml:lang="it">Data di rilascio della licenza di pubblico spettacolo</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setRichiestaAgevolazioneResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato complesso per i dati di una risposta del servizio web IMU setRichiestaAgevolazione</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="return" type="tns:commonResponseType">
<xs:annotation>
<xs:documentation xml:lang="it">Dati di risposta</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="sessoType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il sesso di una persona: M o F</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="M"/>
<xs:enumeration value="F"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="gradoParentelaType">
<xs:annotation>
<xs:documentation xml:lang="it">Tipo di dato semplice per il grado di parentela: FIGLIO o GENITORE</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="FIGLIO"/>
<xs:enumeration value="GENITORE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>